/* header styles */
#headerWrapper .container {
	position:relative;
}
#headerWrapper .container .row {
	margin:0;
}

.ahalogo {
	border-right: 1px solid #b0b0b0;
	padding: 3px;
}
.hwlogo {
	padding: 0 10px;
	position: absolute;
}
.partname {
	font-size:14px;
}
.button {
	background-color: #e21b21;
	border: none;
	color: white;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: relative;
	right:0;
	margin-left:20px;
	line-height:10px;
}
.button a {
	color: white;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	vertical-align:top;
}
.loggedin,
.loggedout {
  margin-top: -20px;
}
.btn-group {
	margin-left: 0;
	font-size: 40px;
	background: none;
	color: #e21b21;
}
.additionalHeaderLinks {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top:20px;
}
.additionalHeaderLinks a {
	text-decoration: none;
	display:block;
}
.additionalHeaderLinks a > div {
	color: #555555;
	font-size: 10px;
	font-weight: normal;
}
.additionalHeaderLinks-mobile {
	padding-bottom: 20px;
	margin-bottom: 20px;
	max-height: 50px;
}
.dropdown-menu {
  background-color: #fff;
  border: medium none;
  color: #e21b21;
  display: block;
  float: none;
  height: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  overflow:hidden;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dropdown-menu li {
  background-color: #e6e6e6;
  color: #e21b21;
  font-size:14px;
  font-weight:normal;
}
.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: bold;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none; !important;
    font-size: 16px;
}
.dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #fff;
}
.aha-mobile-header.open .dropdown-menu {
	height:auto;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#headerWrapper {
	padding: 20px 0;
}
#search_part_team div.ui-tabs-panel {
    border-top: 3px solid #e0e0e0 !important;
    background-color:#fff; !important
    padding: 20px 5px 10px 10px;
    margin-top: -1px;
}

#search_part_team input.ghost-text.active {
    color: #c8cccb;
    font-style: normal;
    font-weight: lighter !important;
    font-size: 14px !important;
    border: 1px solid #c8cccb !important;
}

#search_part_team ul li {
    padding: 3px 10px;
    margin: 0;
    list-style: none outside none;
    float: left;
    color: #eb1c24 !important;
    background-color: #fff !important;
    border-left: 4px solid #eb1c24;
}

#search_part_team ul li.ui-tabs-selected {
background-color: #e6e6e6 !important;
color: #898d8c;
}

div#find_participant input[type="text"], div#find_participant select {
    display: table;
    float: left;
}

div.progress-bar-step-current div.progress-bar-step-number-container {
    background: #dd1c21 !important;
}
div.registration-page-container div.section-header {
font-weight: bold; !important;
font-size: 1em;  !important;
}

div.progress-bar-step-container {
    padding-right: 18px;
    margin: 10px;     !important;
    padding-left: 20px;  !important;
}

#fr_find_search {
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-weight: bold !important;
}
div.responsive input[type="text"], div.responsive input[type="number"], div.responsive input[type="password"], div.responsive textarea {
border: 1px solid #d9d6cf !important;
border-radius: 1px !important;
box-shadow: none !important;
}

div.responsive button.action-button {
    border: 1px solid #b5cbd9  !important;
    background-color: #d4e8f3  !important;
    background-image: -moz-linear-gradient(top, #e51c22, #cd181d)  !important;
    color: #fff;
    background-color: #890707  !important;
    border-color: #890707  !important;
}

div.responsive a.step-button:hover, div.responsive button.step-button:hover, div.responsive input.step-button:hover {
background-image: -moz-linear-gradient(top, #e51c22, #cd181d)  !important;
}

div#team_find_search_results_container div.list-component-cell-column-join-link a {
    display: inline-block;
   border: border: 1px solid #b5cbd9  !important;
   background-color: #d4e8f3  !important;
   background-image: -moz-linear-gradient(top, #e51c22, #cd181d)  !important;
    color: #fff  !important;
    text-align: center;
    font-weight: bold;
}

#team_find_page div.list-component-row {
border-radius: 1px  !important;
background-image: -moz-linear-gradient(top, #ffffff, #fff)  !important;
border-top: 1px solid #e0e0e0  !important;
}

div.registration-page-container div.section-container {
    color: #333;  !important;
    font-size:16px  !important;
}

#login-div-content a, #login-div-content a:link, #login-div-content a:visited, a, a:link, a:visited, div.responsive a, div.responsive a:link, div.responsive a:visited {
margin: 10px; 
font-size: 16px !important;

}

div#team_find_search_results_container div.list-component-cell span.list-component-cell-title-text {
    display: inline-block  !important;
    font-size: 16px     !important;
    font-style: normal !important;
}
div.responsive button.next-step {
    border: 1px solid #d9d6cf !important;
    background-color: #d4e8f3  !important;
    color: #fff;
}
div.part-type-container.selected {
border-radius: 1px !important;
border-color: #eb1c24 !important;

}

div.donation-level-row-decoration-container {
    display: inline !important;
    margin: 10px !important;
}
