<div ng-controller="HomeCtrl">
  <div class="ym-hero-top__find-your-school text-center visible-xs">
    <a href="#scroll#JumpSearch" class="btn btn-primary btn-lg" role="button">
      Studends &amp; Parents:<br />Find Your School to Sign Up
    </a>
  </div>
  <t:if test="banner_image.length>0">
  <div class="ym-hero__owl-carousel owl-carousel owl-theme">
  <t:list id="banner_image">
    <div class="ym-hero item" style="background-image:url(${url});">
      <t:if test="overlay_location.length>0">
        <section>
          <t:list id="overlay_location">
              <t:if test="name=='bottom-left'">
              <div class="ym-hero__text ym-hero__text--left hidden-xs">
              </t:if>
              <t:else>
              <div class="ym-hero__text ym-hero__text--right hidden-xs">
              </t:else>
          </t:list>   
          <h1>${title}</h1>
          <p>${description}</p>
          </div>
        </section>
      </t:if>
    </div>
    <t:if test="overlay_location.length>0">
    <div class="ym-hero__text hidden-sm hidden-md hidden-lg">
      <section>
        <h1>${title}</h1>
        <p>${description}</p>
      </section>  
    </div>
    </t:if>
  </t:list>
  </div>
  </t:if>
  <t:if test="!isNull(body)">
  <div class="ym-page-section ym-page-section__block ym-page-section__block--slim">
   <div class="col-sm-12">
   ${body}
  </div>
  </div>
  </t:if>
  <t:if test="full_width_promo_1.length>0">
  <t:list id="full_width_promo_1">
  ${body}
  </t:list>
  </t:if>
  <t:if test="full_width_promo_2.length>0">
  <t:list id="full_width_promo_2">
  ${body}
  </t:list>
  </t:if>
  <!-- School Search starts --> 
    <a name="JumpSearch"></a> 
    <div class="ym-school-search" id="school-search" ng-controller="SchoolSearchCtrl" ng-cloak>
      <div class="form-group">
        <img class="img-responsive hidden-xs" src="http://heart.pub30.convio.net/../assets/images/hoops-jump-search-graphic.png" alt="Find your school" />
        <img class="img-responsive hidden-sm hidden-md hidden-lg" src="http://heart.pub30.convio.net/../assets/images/hoops-jump-search-graphic-mobile.jpg" alt="Find your school" />
        <div class="form-inline text-center">
          <label for="school-name-filter" class="sr-only">Start typing your school's name:</label>
          <input type="text" id="school-name-filter" name="school-name-filter" class="form-control" maxlength="40" placeholder="Start typing your school's name"
            uib-typeahead="school.SCHOOL_NAME for school in schools | unique: 'school.SCHOOL_NAME' | filter: {SCHOOL_NAME:$viewValue}"
            typeahead-min-length="3"
            typeahead-editable="false"
            typeahead-focus-first="false"
            typeahead-select-on-exact="true"
            typeahead-no-results="schoolList.typeaheadNoResults"
            typeahead-on-select="typeaheadFilter($item, $model, $label, $event)"
            ng-model="schoolList.nameFilter"
            ng-minlength="3"
            >
        </div>
      </div>
      <div class="ym-page-section ym-page-section__roster" ng-class="schoolList.totalItems > 0 || schoolList.nameFilter.length > 2 || schoolList.typeaheadNoResults ? 'show' : 'hidden'">
        <div ng-show="!schoolList.typeaheadNoResults">
          <div class="ym-page-section__header">
            <section>
              <h2 class="h5 school-list__header">Results Matching Your School's Name</h2>
              <select id="school-state-filter" class="btn btn-sm btn-secondary" name="school-state-filter" title="School State Filter"
                ng-model="schoolList.stateFilter"
                ng-change="filterSchools()"
                ng-options="state as state.label for state in states | orderBy:'id' track by state.id"
                >
              </select>
            </section>  
          </div>
          <div class="text-center pb-lg visible-xs-block">
            <em>Scroll right to view all information</em>
          </div>
          <div class="ym-list__school-list-wrpr mb-lg">
            <table class="table table-responsive table-striped ym-list ym-list--school-list"
              summary="Results Matching Your School's Name">
              <thead class="ym-list__header">
                <th class="ym-list__column ym-list__column--school">
                    <a href="" ng-click="orderSchools('SCHOOL_NAME')">
                        School
                        <span ng-show="filtered.length && schoolList.sortProp == 'SCHOOL_NAME' && !schoolList.sortDesc" class="fa fa-caret-down"></span>
                        <span ng-show="filtered.length && schoolList.sortProp == 'SCHOOL_NAME' && schoolList.sortDesc" class="fa fa-caret-up"></span>
                        <span ng-show="filtered.length && schoolList.sortProp != 'SCHOOL_NAME'" class="fa fa-caret-down inactive"></span>
                    </a>
                </td>
                </th>
                <th class="ym-list__column ym-list__column--city">
                    <a href="" ng-click="orderSchools('SCHOOL_CITY')">
                        City
                        <span ng-show="filtered.length && schoolList.sortProp == 'SCHOOL_CITY' && !schoolList.sortDesc" class="fa fa-caret-down"></span>
                        <span ng-show="filtered.length && schoolList.sortProp == 'SCHOOL_CITY' && schoolList.sortDesc" class="fa fa-caret-up"></span>
                        <span ng-show="filtered.length && schoolList.sortProp != 'SCHOOL_CITY'" class="fa fa-caret-down inactive"></span>
                    </a>
                </th>
                <th class="ym-list__column ym-list__column--state">
                    <a href="" ng-click="orderSchools('SCHOOL_STATE')">
                        State
                        <span ng-show="filtered.length && schoolList.sortProp == 'SCHOOL_STATE' && !schoolList.sortDesc" class="fa fa-caret-down"></span>
                        <span ng-show="filtered.length && schoolList.sortProp == 'SCHOOL_STATE' && schoolList.sortDesc" class="fa fa-caret-up"></span>
                        <span ng-show="filtered.length && schoolList.sortProp != 'SCHOOL_STATE'" class="fa fa-caret-down inactive"></span>
                    </a>
                </th>
                <th class="ym-list__column ym-list__column--team-leader text-right">
                    <a href="" ng-click="orderSchools('COORDINATOR_LAST_NAME')">
                        Team Leader
                        <span ng-show="filtered.length && schoolList.sortProp == 'COORDINATOR_LAST_NAME' && !schoolList.sortDesc" class="fa fa-caret-down"></span>
                        <span ng-show="filtered.length && schoolList.sortProp == 'COORDINATOR_LAST_NAME' && schoolList.sortDesc" class="fa fa-caret-up"></span>
                        <span ng-show="filtered.length && schoolList.sortProp != 'COORDINATOR_LAST_NAME'" class="fa fa-caret-down inactive"></span
                    </a>
                </th>
              </thead>
              <tbody>
                <tr class="ym-list__row"
                  ng-repeat="school in filtered | filter:paginate"
                  >
                  <td class="ym-list__column ym-list__column--school">
                   <a ng-href="http://www2.heart.org/site/TR?pg=company&fr_id={{school.FR_ID}}&company_id={{school.COMPANY_ID}}">{{school.SCHOOL_NAME}}</a><br />
                    <a class="btn btn-primary btn-md mt-sm" ng-href="http://www2.heart.org/site/TRR?fr_id={{school.FR_ID}}&pg=tfind&fr_tm_opt=existing&company_id={{school.COMPANY_ID}}">Sign Up</a>
                  </td>
                  <td class="ym-list__column ym-list__column--city">
                    {{school.SCHOOL_CITY}}
                  </td>
                  <td class="ym-list__column ym-list__column--state">
                    {{school.SCHOOL_STATE}}
                  </td>
                  <td class="ym-list__column ym-list__column--team-leader text-right">
                    {{school.COORDINATOR_LAST_NAME}}, {{school.COORDINATOR_FIRST_NAME}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ym-pagination text-center">
            <ul uib-pagination total-items="schoolList.totalItems" items-per-page="schoolList.numPerPage"
              ng-show="filtered.length > schoolList.numPerPage"
              ng-model="schoolList.currentPage"
              >
            </ul>
          </div>
        </div>  
        <div ng-show="schoolList.showHelp" class="text-center">
          Click <a ng-href="{{noSchoolLink}}">here</a> to sign up for “Jump Rope and Hoops for Heart” and a school coordinator will get in touch with you soon to confirm you’ve been properly signed up with your school.
        </div>
        <div ng-show="schoolList.showHelp == false" class="text-center">
          <a ng-click="schoolList.showHelp = true;" class="btn btn-md btn-secondary ym-list--school-list--help">Can't Find Your School</a>
        </div>
      </div>
    </div>
    <!-- School Search ends -->
    <div class="ym-home-feature ym-carousel--home event-accent">
    <t:if test="!isNull(section_title) && !isNull(section_intro_text)">
      <div class="container">
        <section>
           <t:if test="!isNull(section_title)"><h2 class="text-center">${section_title}</h2></t:if>
           <t:if test="!isNull(section_intro_text)"><p class="text-center">${section_intro_text}</p></t:if>
        </section>   
      </div>
    </t:if>
    <!-- Stories Carousel -->
        <t:include id="templatelist-800141387" />
    </div>
  <t:if test="display_footer_promos.length>0">
  <t:list id="display_footer_promos">
  <t:if test="name != 'no'">
    <!-- Our Impact --> 
    <div class="ym-page-section ym-page-section__main" ng-cloak ng-show="showStats == true">
      <div class="container">
        <div class="ym-stats ym-promo-block">
          <section>
            <h2 class="text-center">Your Impact</h2>
            <div class="ym-promo-block__item ym-promo-block__item--participants ym-promo-block--circle">
              <section>
                <h2 class="ym-headline">{{totalStudents}}</h2>
                <p>participants</p>
              </section>
            </div>
            <div class="ym-promo-block__item ym-promo-block__item--pledges ym-promo-block--circle">
              <section>
                <h2 class="ym-headline">{{totalChallenges}}</h2>
                <p>pledges taken</p>
              </section>
            </div>
            <div class="ym-promo-block__item ym-promo-block__item--schools ym-promo-block--circle">
              <section>
                <h2 class="ym-headline">{{totalSchools}}</h2>
                <p>participating schools</p>
              </section>  
            </div>
          </section>    
        </div>
      </div>
    </div>
    <!-- Our Impact ends -->
  </t:if>
  </t:list>
  </t:if>
  <!-- National Sponsor -->
  <t:if test="footer_promos.length>0">
  <t:list id="footer_promos">
     ${body}
  </t:list>
  </t:if>
  <div class="modal fade" id="noRegModal" tabindex="-1" role="dialog" aria-labelledby="roRegModelLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="noRegModalLabel">Welcome, ${cons.name.first}</h3>
        </div>
        <div class="modal-body">
          <p class="text-center">
            ${modal_text}
          </p>
        </div>
        <div class="modal-footer text-center">
          <a class="btn btn-primary btn-lg" href="#school-search" ng-click="closeModal();"> ${modal_btn}</a>
        </div>
      </div>
    </div>
  </div>
</div>
