<div cg-busy="dashboardPromises">
  <div ng-if="participantRegistration.companyInformation.isCompanyCoordinator != 'true'" ng-cloak>
    <section class="ym-pc-dashboard-progress-section">
      <div class="ym-pc-dashboard-section-header">
        <h2 class="h3">
          My Fundraising
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 ym-pc-dashboard-progress-section__column event-secondary-medium">
          <div class="ym-pc-dashboard-progress-box">
            <div class="ym-pc-dashboard-section-header">
              <h3 class="h5">
                Progress
              </h3>
            </div>
            <div class="ym-pc-dashboard-progress-types">
              <div class="clearfix">
                <div class="ym-pc-dashboard-progress-type" ng-class="{'active': dashboardProgressType == 'personal'}">
                  <a ng-click="toggleProgressType('personal')">
                    <strong>Personal</strong>
                  </a>
                </div>
                <div class="ym-pc-dashboard-progress-type" ng-class="{'active': dashboardProgressType == 'company'}">
                  <a ng-click="toggleProgressType('company')">
                    <strong>School</strong>
                  </a>
                </div>
                <div class="ym-pc-dashboard-progress-type" ng-class="{'active': dashboardProgressType == 'team'}">
                  <a ng-click="toggleProgressType('team')">
                    <strong>Team</strong>
                  </a>
                </div>
              </div>
            </div>
            <div ng-class="{'hidden': dashboardProgressType != 'personal'}" ng-cloak>
              <div class="ym-progress__thermometer">
                <div class="ym-progress__thermometer--fill" ng-style="{'width': participantProgress.percent + '%'}"></div>
              </div>
              <a class="btn btn-primary btn-lg" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">
                <strong>Donate to Personal Page</strong>
              </a>
              <div class="pull-right">
                <p><strong><span ng-bind-html="participantProgress.raisedFormatted"></span></strong> raised</p>
                <div ng-if="participantProgress.goalFormatted && participantProgress.goalFormatted != '$0'" ng-cloak>
                  <p><strong><span ng-bind-html="participantProgress.goalFormatted"></span></strong> goal</p>
                </div>
                <a ng-click="editPersonalGoal()">
                  <strong>Update Personal Goal</strong>
                </a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div ng-class="{'hidden': dashboardProgressType != 'company'}" ng-cloak>
              <div class="ym-progress__thermometer">
                <div class="ym-progress__thermometer--fill" ng-style="{'width': companyProgress.percent + '%'}"></div>
              </div>
              <div class="pull-right">
                <p><strong><span ng-bind-html="companyProgress.raisedFormatted"></span></strong> raised</p>
                <div ng-if="companyProgress.goalFormatted && companyProgress.goalFormatted != '$0'" ng-cloak>
                  <p><strong><span ng-bind-html="companyProgress.goalFormatted"></span></strong> goal</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div ng-class="{'hidden': dashboardProgressType != 'team'}" ng-cloak>
              <div class="ym-progress__thermometer">
                <div class="ym-progress__thermometer--fill" ng-style="{'width': teamProgress.percent + '%'}"></div>
              </div>
              <div class="pull-right">
                <p><strong><span ng-bind-html="teamProgress.raisedFormatted"></span></strong> raised</p>
                <div ng-if="teamProgress.goalFormatted && teamProgress.goalFormatted != '$0'" ng-cloak>
                  <p><strong><span ng-bind-html="teamProgress.goalFormatted"></span></strong> goal</p>
                </div>
                <div ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
                  <a ng-click="editTeamGoal()">
                    <strong>Update Team Goal</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 ym-pc-dashboard-progress-section__column event-secondary-medium">
          <div class="ym-pc-dashboard-email-challenge-box">
            <div class="ym-pc-dashboard-section-header">
              <h3 class="h5">
                Email Challenge
              </h3>
            </div>
            <div class="text-center">
              <p>Send 10 eCards to Earn your Rory badge!</p>
              <p><a class="btn btn-md-wide btn-primary" ng-href="{{baseUrl}}#/email"><strong>Send Email</strong></a>
              <a target="_blank" class="btn btn-md-wide btn-primary" href=" http://hearttools.heart.org/aha_ym18/?eid={{frId}}&sid={{consId}}&name={{consName}}"><strong>Send eCard</strong></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-badges-section" ng-if="participantBadges && participantBadges.length > 0" ng-cloak>
      <div class="ym-pc-dashboard-section-header">
        <h2 class="h5">
          Badges
        </h2>
      </div>
      <div class="ym-pc-dashboard-badges-icons">
        <div class="ym-pc-dashboard-badges-icon" ng-repeat="participantBadge in participantBadges">
          <div>
            <img src="" alt="{{participantBadge.label}}">
          </div>
          <div ng-bind-html="participantBadge.label"></div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-activities-section">
      <div class="ym-pc-dashboard-section-header">
        <h2 class="h3">
          My Activities
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 ym-activity-box ym-activity-box--next-step">
          <h3 class="h5">
            My Donors
          </h3>
          <div class="ym-next-step" ng-if="donorContactCounts.email_rpt_show_unthanked_donors > 0" ng-cloak>            
              <div class="ym-next-step__step">
                You have new donors who haven't received a thank-you email!
              </div>
              <div class="ym-next-step__action">
                <a class="btn btn-md-wide btn-primary">
                  <strong>Say Thanks</strong> <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
              </div>
          </div>
          <div class="ym-next-step" ng-if="donorContactCounts.email_rpt_show_nondonors_followup > 0" ng-cloak>
            <div class="ym-next-step__step">
              Great job sending emails. Some of your friends haven't donated!
            </div>
            <div class="ym-next-step__action">
              <a class="btn btn-md-wide btn-primary">
                <strong>Follow Up</strong> <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="ym-next-step" ng-if="donorContactCounts.email_rpt_show_donors > 0" ng-cloak>
            <div class="ym-next-step__step">
              Review all of your donations on the Reports page.
            </div>
            <div class="ym-next-step__action">
              <a class="btn btn-md-wide btn-primary">
                <strong>View All</strong> <i class="fa fa-eye" aria-hidden="true"></i>
              </a> 
            </div>  
          </div>
          <div class="ym-next-step" ng-if="donorContactCounts.email_rpt_show_donors == 0" ng-cloak>
            <div class="ym-next-step__step">
              You have not received any donations yet. Use the email tool to ask for support. 
            </div>
            <div class="ym-next-step__action">
              <a class="btn btn-md-wide btn-primary">
                <strong>Email</strong> <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>  
            </div>
          </div>
        </div>
        <div class="col-sm-6 ym-activity-box ym-activity-box--page">
          <h3 class="h5">
            My Page
          </h3>
          <p>
            Personalize your fundraising page to share your heart-healthy journey. Students who personalize their page raise more money!
          </p>
          <div class="text-center">
            <a title="View and Edit Your Page" class="btn btn-md-wide btn-primary" ng-href="TR?fr_id={{frId}}&amp;pg=personal&amp;px={{consId}}&hasSecureSession=true">
              <strong>View and Edit Your Page</strong>
            </a>
          </div>
          <div class="col-sm-6">
            <p class="small">
              <strong>Personal Page URL:</strong>
            </p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="small ">
              <strong>Share My Personal Page:</strong>
            </p>
            <a href="" class="addthis_button_facebook"  title="Facebook">
              <img class="img-responsive" alt="Facebook" src="../aha-luminate/dist/youth-markets/image/facebook-logo.png" />
            </a>
            <a href="" class="addthis_button_twitter"  title="Twitter">
              <img class="img-responsive" alt="Twitter" src="../aha-luminate/dist/youth-markets/image/twitter-logo.png" />
            </a>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 ym-activity-box ym-activity-box--challenge" ng-model="personalChallenge">
          <h3 class="h5">
            Daily Heart-Healthy Challenge
          </h3>
          <div class="ym_my_challenge__current" ng-if="personalChallenge.id">
            <div class="col-sm-8">
              <p class="ym_my_challenge__description">  
                <strong>{{personalChallenge.name}}</strong>
              </p>
              <p class="ym_my_challenge__stats" ng-if="personalChallenge.completed == 1">
                I've met my challenge <span>1</span> day!
              </p>
              <p class="ym_my_challenge__stats" ng-if="personalChallenge.completed != 1">
                I've met my challenge <span>{{personalChallenge.completed}}</span> days!
              </p>
            </div>
            <div class="col-sm-4">
              <img class="img-responsive" ng-if="personalChallenge.id == 1 || personalChallenge.id == 4" src="../aha-luminate/dist/jump-hoops/image/my-challenge-exercise.png" alt="{{personalChallenge.name}}" />
              <img class="img-responsive" ng-if="personalChallenge.id == 2" src="../aha-luminate/dist/jump-hoops/image/my-challenge-water.png" alt="{{personalChallenge.name}}" />
              <img class="img-responsive" ng-if="personalChallenge.id == 3" src="../aha-luminate/dist/jump-hoops/image/my-challenge-food.png" alt="{{personalChallenge.name}}" />          
            </div>
            <div class="clearfix"></div>
            <div class="ym_my_challenge__actions text-center">
              <a ng-click="logChallenge()" class="btn btn-md-wide btn-primary">
                <strong>I have met this challenge!</strong> <i class="fa fa-check" aria-hidden="true"></i>
              </a>
              <a ng-click="skipChallenge()" class="btn btn-md-wide btn-outline">
                <strong>Skip</strong> <i class="fa fa-times" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="ym_my_challenge__update">
            <form method="post" novalidate ng-submit="updateChallenge()">
              <label for="ym-update-challenge">Take or update my challenge</label>
              <h1>test {{personalChallenge.id}}</h1>
              <h1>test {{challenges.id}}</h1>
              <select class="form-control" name="ym-update-challenge" model="personalChallenge.id">
                <option ng-repeat="challenge in challenges" value="{{challenge.id}}">{{challenge.name}}</option>
              </select>

              <button type="submit" class="btn btn-md-wide btn-primary"><strong>Update Challenge</strong></button>
            </form>
          </div>
        </div>
        <div class="col-sm-6 ym-activity-box ym-activity-box--virtual">
          <h3 class="h5">
            My Virtual World
          </h3>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-coordinators-message-section" ng-if="coordinatorsMessage.message && coordinatorsMessage.message != ''" ng-cloak>
      <div class="ym-pc-dashboard-section-header">
        <h2 class="h5">
          Note From Your Teacher
        </h2>
        <div ng-bind-html="coordinatorsMessage.message"></div>
      </div>
    </section>
  </div>
  <div ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
    <section class="ym-pc-dashboard-coordinator-progress-section">
      <div class="row">
        <div class="col-sm-6">
          <div class="ym-pc-dashboard-coordinator-progress-box">
            <div class="ym-pc-dashboard-section-header">
              <h3>
                Fundraising
              </h3>
            </div>
            <div class="ym-pc-dashboard-progress-types">
              <div class="clearfix">
                <div class="ym-pc-dashboard-progress-type" ng-class="{'active': dashboardProgressType == 'company'}">
                  <a ng-click="toggleProgressType('company')">
                    <strong>School</strong>
                  </a>
                </div>
                <div class="ym-pc-dashboard-progress-type" ng-class="{'active': dashboardProgressType == 'team'}">
                  <a ng-click="toggleProgressType('team')">
                    <strong>Team</strong>
                  </a>
                </div>
                <div class="ym-pc-dashboard-progress-type" ng-class="{'active': dashboardProgressType == 'personal'}">
                  <a ng-click="toggleProgressType('personal')">
                    <strong>Personal</strong>
                  </a>
                </div>
              </div>
            </div>
            <div ng-class="{'hidden': dashboardProgressType != 'personal'}" ng-cloak>
              <div class="ym-progress__thermometer">
                <div class="ym-progress__thermometer--fill" ng-style="{'width': participantProgress.percent + '%'}"></div>
              </div>
              <a class="btn btn-primary" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">
                <strong>Donate to Personal Page</strong>
              </a>
              <div>
                <strong><span ng-bind-html="participantProgress.raisedFormatted"></span></strong>
              </div>
              <div ng-if="participantProgress.goalFormatted && participantProgress.goalFormatted != '$0'" ng-cloak>
                <strong><span ng-bind-html="participantProgress.goalFormatted"></span></strong>
              </div>
              <a ng-click="editPersonalGoal()">
                Update Personal Goal
              </a>
            </div>
            <div ng-class="{'hidden': dashboardProgressType != 'company'}" ng-cloak>
              <div class="ym-progress__thermometer">
                <div class="ym-progress__thermometer--fill" ng-style="{'width': companyProgress.percent + '%'}"></div>
              </div>
              <div>
                <strong><span ng-bind-html="companyProgress.raisedFormatted"></span></strong>
              </div>
              <div ng-if="companyProgress.goalFormatted && companyProgress.goalFormatted != '$0'" ng-cloak>
                <strong><span ng-bind-html="companyProgress.goalFormatted"></span></strong>
              </div>
            </div>
            <div ng-class="{'hidden': dashboardProgressType != 'team'}" ng-cloak>
              <div class="ym-progress__thermometer">
                <div class="ym-progress__thermometer--fill" ng-style="{'width': teamProgress.percent + '%'}"></div>
              </div>
              <div>
                <strong><span ng-bind-html="teamProgress.raisedFormatted"></span></strong>
              </div>
              <div ng-if="teamProgress.goalFormatted && teamProgress.goalFormatted != '$0'" ng-cloak>
                <strong><span ng-bind-html="teamProgress.goalFormatted"></span></strong>
              </div>
              <div ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
                <a ng-click="editTeamGoal()">
                  Update Team Goal
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="ym-pc-dashboard-coordinator-students-box">
            <div class="ym-pc-dashboard-section-header">
              <h3>
                My Students
              </h3>
            </div>
            <p>
              You have <strong></strong> students registered. Keep recruiting to meet your goal of <strong></strong> students!
            </p>
            <a class="btn btn-primary">
              <strong>Send Emails</strong>
            </a>
            <p>
              Create/Update an <strong>encouraging message</strong> for your student in their Headquarters.
            </p>
            <a class="btn btn-primary">
              <strong>Create Message</strong>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-coordinator-steps-section">
      <div class="ym-pc-dashboard-section-header">
        <h2 class="h3">
          Coordinator Fundraising Steps
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="h5">
                  Edit My Pages
                </h3>
                <p>
                  Edit your pages to encourage students and parents to join and donate!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="h5">
                  Show your Students
                </h3>
                <p>
                  Use the "Student View" to show your students all of the great tools and games in their Headquarters and encourage them to fundraise!
                </p>
                <a class="btn btn-primary">
                  <strong>Student View</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="h5">
                  Check Progress
                </h3>
                <p>
                  Check out the reports page to see which students have completed challenges and who has earned donations.
                </p>
                <a class="btn btn-primary">
                  <strong>View Reports</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="h5">
                  Order Thank-You Gifts
                </h3>
                <p>
                  Visit our Thank-You Gift portal to manage and order gifts for your students.
                </p>
                <a class="btn btn-primary">
                  <strong>Thank You Gifts</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-coordinator-resources-section">
      <div class="ym-pc-dashboard-section-header">
        <h2 class="h3">
          Coordinator Resources
        </h2>
      </div>
      <div class="ym-pc-dashboard-coordinator-resources-options">
        <div class="row">
          <div class="col-sm-4">
            <div class="ym-pc-dashboard-section-header">
              <h3 class="h5">
                Educational Resources
              </h3>
            </div>
            <p>
              Download resources by state to share with your students.
            </p>
            <a class="btn btn-primary">
              <strong>Download Resources</strong>
            </a>
          </div>
          <div class="col-sm-4">
            <div class="ym-pc-dashboard-section-header">
              <h3 class="h5">
                Online Assignment
              </h3>
            </div>
            <p>
              Download a worksheet for an in-class assignment.
            </p>
            <a class="btn btn-primary">
              <strong>Download Assignment</strong>
            </a>
          </div>
          <div class="col-sm-4">
            <div class="ym-pc-dashboard-section-header">
              <h3 class="h5">
                Homework with Heart
              </h3>
            </div>
            <p>
              Download a worksheet for a take-home assignment.
            </p>
            <a class="btn btn-primary">
              <strong>Download Homework</strong>
            </a>
          </div>
        </div>
      </div>
      <div class="ym-pc-dashboard-coordinator-resources-more">
        <a>
          <strong>View All Resources</strong>
        </a>
      </div>
    </section>
  </div>
  <section class="ym-pc-dashboard-spread-section event-secondary-medium--diagonal">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h3">
        Spread the Word
      </h2>
    </div>
    <div class="ym-pc-dashboard-spread-options">
      <div class="row">
        <div class="col-sm-4">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Download Mobile App
            </h3>
            <p>
              Download our Mobile Fundraising App today!
            </p>
            <p class="text-center">
              <a href=""><img src="../aha-luminate/dist/youth-markets/image/apple-store-logo.png" class="img-responsive" alt="Download the iPhone App" /></a>
              <a href=""><img src="../aha-luminate/dist/youth-markets/image/google-play-logo.png" class="img-responsive" alt="Download the Android App" /></a>
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Facebook Fundraising
            </h3>
            <p>
              Use our Facebook app to raise even more!
            </p>
            <p class="text-center"><a href=""><img src="../aha-luminate/dist/youth-markets/image/fundraise-with-facebook.png" class="img-responsive" alt="Fundraise with Facebook" /></a></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Email Signature
            </h3>
            <p>
              Download a signature for your email!
            </p>
            <p class="text-center">
              <a class="btn btn-secondary btn-md-wide">
                <strong>PC Instructions</strong>
              </a>
              <a class="btn btn-secondary btn-md-wide">
                <strong>Mac Instructions</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>