<div cg-busy="dashboardPromises">
  <section class="ym-pc-dashboard-progress-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h3">
        My Fundraising
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="ym-pc-dashboard-progress-box">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Progress
            </h3>
          </div>
          <a class="btn btn-primary" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">
            Donate to Personal Page
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ym-pc-dashboard-email-challenge-box">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Email Challenge
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ym-pc-dashboard-badges-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h5">
        Badges
      </h2>
    </div>
  </section>
  <section class="ym-pc-dashboard-activities-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h3">
        My Activities
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <div class="">
            <div class="">
              <h3 class="h5">
                My Donors
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="">
          <div class="">
            <div class="">
              <h3 class="h5">
                My Page
              </h3>
              <p>
                Personalize your fundraising page to share your heart-healthy journey. Students who personalize their page raise more money!
              </p>
              <a class="btn btn-primary" ng-href="TR?fr_id={{frId}}&amp;pg=personal&amp;px={{consId}}">
                View and Edit Your Page
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <div class="">
            <div class="">
              <h3 class="h5">
                Daily Heart-Healthy Challenge
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="">
          <div class="">
            <div class="">
              <h3 class="h5">
                My Virtual World
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ym-pc-dashboard-captains-message-section" ng-if="teamCaptainsMessage.message && teamCaptainsMessage.message != ''" ng-cloak>
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h5">
        Note From Your Teacher
      </h2>
      <div ng-bind-html="teamCaptainsMessage.message"></div>
    </div>
  </section>
  <section class="ym-pc-dashboard-spread-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h3">
        Spread the Word
      </h2>
    </div>
    <div class="ym-pc-dashboard-spread-options">
      <div class="row">
        <div class="col-sm-4">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Download Mobile App
            </h3>
            <p>
              Download our Mobile Fundraising App today!
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Facebook Fundraising
            </h3>
            <p>
              Use our Facebook app to raise even more!
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Email Signature
            </h3>
            <p>
              Download a signature for your email!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>