<div cg-busy="dashboardPromises">
  <section class="ym-pc-dashboard-progress-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h3">
        My Fundraising
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="ym-pc-dashboard-progress-box">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Progress
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ym-pc-dashboard-email-challenge-box">
          <div class="ym-pc-dashboard-section-header">
            <h3 class="h5">
              Email Challenge
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ym-pc-dashboard-badges-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h5">
        Badges
      </h2>
    </div>
  </section>
  <section class="ym-pc-dashboard-activities-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h3">
        My Activities
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <h3 class="h5">
            My Donors
          </h3>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="">
          <h3 class="h5">
            My Page
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <h3 class="h5">
            Daily Heart-Healthy Challenge
          </h3>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="">
          <h3 class="h5">
            My Virtual World
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="ym-pc-dashboard-captains-message-section" ng-if="teamCaptainsMessage.message && teamCaptainsMessage.message != ''" ng-cloak>
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h5">
        Note From Your Teacher
      </h2>
      <div ng-bind-html="teamCaptainsMessage.message"></div>
    </div>
  </section>
  <section class="ym-pc-dashboard-spread-section">
    <div class="ym-pc-dashboard-section-header">
      <h2 class="h3">
        Spread the Word
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </section>
</div>