<div>
  <h2 class="h5">
    Resources
  </h2>
  <ul>
    <li>
      <a href="" target="_blank">
        Kids You Are Helping
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        Ideas On How To Get Your Friends and Family To Donate
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        Tips To Help You Fundraise
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        Videos and Tricks To Be An Online Heart Hero
      </a>
    </li>
    <li>
      <a href="http://www.heart.org/HEARTORG/HealthyLiving/HealthyKids/HowtoMakeaHealthyHome/How-to-Make-a-Healthy-Home_UCM_304154_SubHomePage.jsp" target="_blank">
        Ideas On How To Be A Healthy Family
      </a>
    </li>
    <li>
      <a href="https://jumphoops.zendesk.com/hc/en-us" target="_blank">
        Need Help?
      </a>
    </li>
  </ul>
</div>