<div>
  <div class="ym-list">
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="https://www.youtube.com/playlist?list=PLp-diAoST3EsBpPrIyOiVoKcy4af72DLH" target="_blank">Jump Rope and Basketball Skill Videos</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/jump-hoops/for-teachers/online-fundraising-resources/" target="_blank">Online Fundraising Resources</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/jump-hoops/for-teachers/event-resources/" target="_blank">Event Resources and Videos</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/jump-hoops/for-teachers/educational-resources/" target="_blank">Educational Resources</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/jump-hoops/for-teachers/event-resources/event-wrap-up.html" target="_blank">Event Wrap Up (Online Ordering)</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="https://jumphoops.zendesk.com/hc/en-us" target="_blank">Need Help?</a>
      </li>
    </ul>
  </div>
</div>
