<div>
  <div class="ym-list">
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-heart" aria-hidden="true"></i> 
        <a href="http://www.heart.org/HEARTORG/Educator/Educator_UCM_001113_SubHomePage.jsp" target="_blank">Lesson Plans</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" aria-hidden="true"></i> 
        <a ng-href="{{baseUrl}}#" target="_blank">Jump Rope Skills</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" aria-hidden="true"></i> 
        <a ng-href="{{baseUrl}}#" target="_blank">Basketball Skills</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" aria-hidden="true"></i> 
        <a ng-href="{{baseUrl}}#" target="_blank">Educational Resources</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" aria-hidden="true"></i> 
        <a ng-href="{{baseUrl}}#" target="_blank">Fundraising Tips and Tools</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" aria-hidden="true"></i> 
        <a href="https://jumphoops.zendesk.com/hc/en-us" target="_blank">Need Help?</a>
      </li>
    </ul>
  </div>
</div>