[[?x9x19x23x26x27x::x[[S4]]x::
  <div class="ym-page-header ym-accent-color">
    <div class="container">
      <div class="col-sm-12">
        [[?x9x::x[[S4]]x::
          [[?xcompletedx::x[[E334:[[S334:df_id]].donation]]x::
          ::
            <!-- Donation2 -->
            <h1>
              Donate
            </h1>
            <p class="text-large">
              Thank you for donating to the American Heart Association. With your life-saving donation, we can build healthier lives, free of cardiovascular disease and stroke.
            </p>
          ]]
        ::]]
        [[?x19x23x::x[[S4]]x::
          <!-- PageServer and SPageServer -->
          [[?xmiddle_school_participant_centerx::x[[S334:pagename]]x::
            <!-- participant center -->
            <h1>
              [[S1:first_name]]'s Headquarters
            </h1>
            [[?xx::x[[E48:[[S80:trID]]-[[S1:cons_id]]:team-id]]x::
              <!-- team ID is null -->
              <p class="school-name">
                &nbsp;
              </p>
              <p class="team-name">
                &nbsp;
              </p>
            ::
              <!-- team ID is non-null -->
              [[?xx::x[[E43:[[S80:trID]]:company-id:[[E48:[[S80:trID]]-[[S1:cons_id]]:team-id]]]]x::
                <!-- company ID is null -->
                <p class="school-name">
                  &nbsp;
                </p>
              ::
                <!-- company ID is non-null -->
                <p class="school-name">
                  My School: <a href="TR?fr_id=[[S80:trID]]&pg=company&company_id=[[E43:[[S80:trID]]:company-id:[[E48:[[S80:trID]]-[[S1:cons_id]]:team-id]]]]"><span class="sr-only">View</span> [[E43:[[S80:trID]]:company-name:[[E48:[[S80:trID]]-[[S1:cons_id]]:team-id]]]] <span class="sr-only">page</span></a>
                </p>
              ]]
              <p class="team-name" ng-if="companyInfo.teamCount > 1" ng-cloak>
                My Team: <a href="TR?fr_id=[[S80:trID]]&pg=team&team_id=[[E48:[[S80:trID]]-[[S1:cons_id]]:team-id]]"><span class="sr-only">View</span> [[E48:[[S80:trID]]-[[S1:cons_id]]:team-name]] <span class="sr-only">page</span></a>
              </p>
            ]]
          ::
            <!-- all other PageBuilder pages -->
            [[?xx::x[[S24]]x::::
              <!-- page title is non-null -->
              <h1>
                [[S24]]
              </h1>
            ]]
          ]]
        ::]]
        [[?x26x::x[[S4]]x::
          <!-- TR -->
          [[?xpersonalxteamxcompanyx::x[[S334:pg]]x::
            [[?xpersonalx::x[[S334:pg]]x::
              <!-- personal page -->
              <h1>
                [[E48:[[S80:trID]]-[[S334:px]]:cons.first_name]] [[E48:[[S80:trID]]-[[S334:px]]:cons.last_name]]
              </h1>
              [[?xx::x[[E48:[[S80:trID]]-[[S334:px]]:team-id]]x::::
                <!-- team ID is non-null -->
                [[?xx::x[[E43:[[S80:trID]]:company-id:[[E48:[[S80:trID]]-[[S334:px]]:team-id]]]]x::::
                  <!-- company ID is non-null -->
                  <p class="school-name">
                    My School: <a href="TR?fr_id=[[S80:trID]]&pg=company&company_id=[[E43:[[S80:trID]]:company-id:[[E48:[[S80:trID]]-[[S334:px]]:team-id]]]]"><span class="sr-only">View</span> [[E43:[[S80:trID]]:company-name:[[E48:[[S80:trID]]-[[S334:px]]:team-id]]]] <span class="sr-only">page</span></a>
                  </p>
                ]]
                <p class="team-name" ng-if="numTeams > 1" ng-cloak>
                  My Team: <a href="TR?pg=team&fr_id=[[S80:trID]]&team_id=[[E48:[[S80:trID]]-[[S334:px]]:team-id]]"><span class="sr-only">View</span> [[E48:[[S80:trID]]-[[S334:px]]:team-name]] <span class="sr-only">page</span></a>
                </p>
              ]]
            ::]]
            [[?xteamx::x[[S334:pg]]x::
              <!-- team page -->
              <h1>
                [[E43:[[S80:trID]]:name:[[S334:team_id]]]]
              </h1>
              [[?xx::x[[E43:[[S80:trID]]:company-id:[[S334:team_id]]]]x::::
                <!-- company ID is non-null -->
                <p class="school-name">
                  School: <a href="TR?fr_id=[[S80:trID]]&pg=company&company_id=[[E43:[[S80:trID]]:company-id:[[S334:team_id]]]]"><span class="sr-only">View</span> [[E43:[[S80:trID]]:company-name:[[S334:team_id]]]] <span class="sr-only">page</span></a>
                </p>
              ]]
            ::]]
            [[?xcompanyx::x[[S334:pg]]x::
              <!-- company page -->
              <h1>
                <span ng-bind-html="companyName"></span>
              </h1>
            ::]]
          ::
            <!-- all other TR pages -->
            <h1>
            </h1>
          ]]
        ::]]
        [[?x27x::x[[S4]]x::
          <!-- TRR -->
          <h1>
            Sign Up
          </h1>
          [[?xx::x[[S80:frCompanyId]]x::::
            <div ng-if="companyName" ng-cloak>
              <p class="school-name">
                My School: <a href="TR?fr_id=[[S80:trID]]&pg=company&company_id=[[S80:frCompanyId]]"><span class="sr-only">View</span> <span ng-bind-html="companyName"> <span class="sr-only">page</span></span></a>
              </p>
              [[?xx::x[[S80:frTJoin]]x::::
                <p class="team-name">
                  My Team: <a href="TR?fr_id=[[S80:trID]]&pg=team&team_id=[[S80:frTJoin]]"><span class="sr-only">View</span> [[E43:[[S80:trID]]:name:[[S80:frTJoin]]]] <span class="sr-only">page</span></a>
                </p>
              ]]
            </div>
          ]]
        ::]]
      </div>
    </div>
  </div>
::]]