<div class="ym-donation-thanks">
  <div class="ym-page-section ym-page-section__top">
    <div class="col-md-6 ym-embed-video">
      <iframe width="100%" src="//www.youtube.com/embed/v3vxWEpmbz8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 ym-progress ym-secondary-medium-color">
      <h2 class="ym-progress__title h4">
        Thank You!<br>
        You're suporting heart-healthy lives!
      </h2>
      <p class="text-large">
        We received your credit card donation of <strong>[[S120:dc:giftAmount]]</strong> on behalf of [[?x20x::x[[S334:PROXY_TYPE]]x::<a href="TR?px=[[S334:PROXY_ID]]&pg=personal&fr_id=[[S334:FR_ID]]">[[S120:dc:participantName]]</a>::[[?x22x::x[[S334:PROXY_TYPE]]x::<a href="TR?team_id=[[S334:PROXY_ID]]&pg=team&fr_id=[[S334:FR_ID]]">[[S120:dc:teamName]]</a>::[[S120:dc:eventName]]]]]].
      </p>
      <p class="text-large">
        Your transaction summary and receipt have been emailed to you[[?xx::x[[S120:dc:email]]x:::: at [[S120:dc:email]]]].
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__main text-center">
    <h2 class="h4">
      Life is Why the American Heart Association Exists
    </h2>
    <p class="text-large">
      For the littlest baby and the oldest grandparent, you can change and even save their life. With your donation today, you are why families will stay together after heart disease threatens to tear them apart.
    </p>
  </div>
  <div class="ym-page-section ym-page-section__list ym-accent-color text-center">
    <h3>
      Your Donation Can Go Even Further
    </h3>
    <div class="row">
      <div class="col-sm-4 text-center ym-donation-share">
        <h4 class="h5">
          Spread the Word
        </h4>
        <p>
          Tell your friends you support heart-healthy lives and encourage them to donate to the American Heart Association!
        </p>
        <div class="addthis_toolbox" addthis:url="http://[[S29:DOMAIN]][[S29:PATH]]Donation2?df_id=[[S334:df_id]]&amp;FR_ID=[[S334:FR_ID]]&amp;PROXY_TYPE=[[S334:PROXY_TYPE]]&amp;PROXY_ID=[[S334:PROXY_ID]]">
          <p>
            <a href="[[S8]]#" class="addthis_button_facebook">
              <img class="img-responsive" src="../aha-luminate/dist/youth-markets/image/facebook-logo.png" alt="Facebook Share">
            </a>
            <a href="[[S8]]#" class="addthis_button_twitter">
              <img class="img-responsive" src="../aha-luminate/dist/youth-markets/image/twitter-logo.png" alt="Twitter Share">
            </a>
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <h4 class="h5">
          Have Your Gifts Matched
        </h4>
        <p>
          Matching gifts are an easy way to increase your donation. Find out if your employer participates in a <a href="http://www.matchinggifts.com/aha/">matching gifts program</a>.
        </p>
      </div>
      <div class="col-sm-4 text-center">
        <h4 class="h5">
          Be Heart Healthy
        </h4>
        <p>
          Register for an event and continue to help us build healthier lives!
        </p>
        <p>
          <a href="[[S8]]#" class="btn btn-primary btn-md-wide">
            View Our Events
          </a>
        </p>
      </div>
    </div>
  </div>
  [[?x20x::x[[S334:PROXY_TYPE]]x::
    <div class="hidden" hidden aria-hidden="true">
      <img ng-src="//thegreatreplaystaging.boundlessnetwork.com/api/webhooks/student/refresh/[[S334:FR_ID]]/[[S334:PROXY_ID]]" alt="" ng-if="tablePrefix == 'heartdev'">
      <img ng-src="//thegreatreplay.heart.org/api/webhooks/student/refresh/[[S334:FR_ID]]/[[S334:PROXY_ID]]" alt="" ng-if="tablePrefix == 'heart'">
    </div>
  ::]]
</div>