<ul class="list-unstyled list-group">
  <li class="list-group-item" ng-repeat="message in messages">
    <div class="clearfix">
      <div class="pull-left">
        <!-- TODO: date -->
        <a href="" ng-click="selectMessage(message.message_id)">
          {{message.subject}}
        </a>
        <span ng-if="!selectMessage">
          {{message.subject}}
        </span>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-link" ng-click="deleteMessage(message.message_id)">
          <span class="fa fa-trash-o"><span class="sr-only">Delete</span></span>
        </button>
      </div>
    </div>
  </li>
</ul>