<ul class="list-unstyled list-group">
  <li class="list-group-item" ng-repeat="contact in contacts">
    <div class="clearfix">
      <div class="checkbox" custom-checkbox ng-class="{'checked': contact.selected}">
        <label>
          <input type="checkbox" value="{{contact.id}}" ng-checked="contact.selected" ng-click="toggleContact(contact)"> 
          <span ng-if="contact.firstName">
            {{contact.firstName}}{{contact.lastName ? ' ' + contact.lastName : ''}}{{contact.email ? ' &lt;' + contact.email + '&gt;' : ''}}
          </span>
          <span ng-if="!contact.firstName">
            &lt;{{contact.email}}&gt;
          </span>
        </label>
      </div>
    </div>
  </li>
</ul>