%background-slide {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 580px;
  background-position: center;
}

.carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &-slide {
    &-1 {
      @extend %background-slide;
      background-image: url(../image/aha-cn-hero-bg-1.jpg);
    }
    &-2 {
      @extend %background-slide;
      background-image: url(../image/aha-cn-hero-bg-2.jpg);
    }
    &-3 {
      @extend %background-slide;
      background-image: url(../image/aha-cn-hero-bg-3.jpg);
    }
    &-4 {
      @extend %background-slide;
      background-image: url(../image/aha-cn-hero-bg-4.jpg);
    }
  }
}