
#preFooter {
  background-color: #fcf8dd;
  color: #3d3d3d;
  font-size: 12px;
}

#preFooter .col-xs-12 {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  #preFooter .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  #preFooter .container {
    width: 750px;
  }
}

a.button.footerWarning {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #606060;
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 400;
  text-decoration: none;
  height: auto;
}

footer {
  .address,
  .social-icons {
    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        color: $primary;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .social-icons {
    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    padding-bottom: 45px;
  }
}

#footer-main {
  .menu-item-donate {
    display: none;
  }
}

