// select {
//   &,
//   &.form-control {
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     -o-appearance: none;
//     appearance: none;
//     padding-right: 0.75rem\9;
//     background-image: none\9;
//     background: url('../image/cn-select-carot.png') right 0.75rem center no-repeat $white;
//     // color: $event-secondary;

//     &::-ms-expand {
//       display: none;
//     }
//   }
// }

.pg_cn_home,
.pg_entry {
  .form-control {
    border-color:$border-color;
  }
}
.pg_cn_home {
  form[name="event_search_form"]{
    input[type="text"] {
      font-size: 1.1rem;
    }
  }
}
// .has-success input,
// .has-success select,
// input.parsley-success,
// select.parsley-success,
// textarea.parsley-success {
//   color: $form-feedback-valid-color !important;
//   border: 1px solid $form-feedback-valid-color !important;
// }

.has-error input,
.has-error select,
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: $form-feedback-invalid-color !important;
  border: 1px solid $form-feedback-invalid-color !important;
}

.parsley-errors-list {
  list-style-type: none;
  width: 100%;
  margin-top: .25rem;
  padding:0;
  font-size: 80%;
  color: #dc3545;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.default-submit-hack {
  color:#fff;
}

.payment-type-element-container {

.payment-type-selection-container h3 {
  font-size: 1.2rem;
  font-family:$font-size-base;
}
div.payment-field-container {
  span.internal-payment,
  span.external-payment {
    background:transparent;
    // width:40%;
    height:46px;
    border:none;
    span.payment-type-option {
      margin-right: 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      width:100%;
      max-width:200px;
      border-radius: 4px;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 1.4rem;
      line-height: 1.428571429;
      border-radius: 4px;
      background-image: none;
      color: $body-color !important;
      background-color: #e2e2e2;
      label {
        margin-bottom:0;
      }
      a:link {
        color: $body-color;
        font-family: $font-family-base;
      }
      &:hover {
        background-image: none;
        color:$white !important;
        background-color:$primary !important
      }
      &.selected {
        background-image: none;
        background:none;
        background-color:$primary;
        a:link {
          color:$white !important;
        }
        &:hover {
          color:$white !important;
        }
      }
    }
  }
  
}
}

div.responsive {
  .payment-type-element-container .payment-type-selection-container h3 {
    @extend .h3;
  }
  #payment_cc_container h3 {
    @extend .h5;
  }
  div.ErrorMessage {
    width:100%;
  }
  label {
    display:inline;
  }
}
#donor_matching_employersearchBtn {
  margin-top:1rem;
}
