.hero-header {
  background: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/diy_bannerImage.jpg");

  border-radius:0;
  background-size: cover;
  background-repeat: no-repeat;
  a {
    color:#fff;
  }
}

.jumbotron {
  background-color:transparent;
  h1, p {
    color:#fff;
  }
} 