/* ********** */
/* typography */
/* ********** */

p, 
ol, 
ul, 
li, 
table, 
tr, 
th, 
td, 
.Explicit, 
div.responsive {
  font-family: inherit;
  font-size: inherit;
}

/* **************** */
/* elements to hide */
/* **************** */

div.responsive span.header-warning-message, 
div.responsive div.ErrorMessage.page-error>span.field-error-indicator {
  display: none;
}

/* ***** */
/* links */
/* ***** */

a, 
#login-div-content a, 
div.responsive a {
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    color: $link-color;
    // color:initial;
  }
  &.btn-primary {
    color: $white;
  }
  &.btn-secondary {
    color: $white;
  }
  &.btn-outline-dark {
    color: $dark;
  }
  &.btn-outline-grey {
    // color: #000;
    // border: 1px solid #000;
  }
}

.button {
  @extend .btn;
}


/* ******************* */
/* warnings and errors */
/* ****** */

.form-info-message {
}

.page-error {
}

div.responsive div.ErrorMessage.page-error>span.field-error-text {
  background: transparent;
  border: 0;
}

/* **************** */
/* responsive pages */
/* **************** */

div.responsive {
  color: inherit;
  width: auto !important;
}

/* ********** */
/* teamraiser */
/* ********** */

div.tr-page-container {
  border: 0;
}

.mobile div.tr-page-container #entry_page_custom_html {
  max-height: none;
  padding: 0;
}

div.tr-page-header {
  background: transparent;
}

div.registration-page-container div.section-container {
  border-radius: 0;
}

div.registration-page-container div.section-header {
  border-radius: 0;
}

#find_participant div.participant-find-search-container {
  width: auto !important;
  max-width: 450px !important;
}

.mobile div#find_participant li {
  width: 135px !important;
  
  @media (min-width: $screen-sm-min) {
    width: auto !important;
  }
}

/* ************** */
/* donation forms */
/* ************** */

div.donation-form-container.responsive {
  background: transparent;
  border: 0;
}
label {
  white-space: inherit;
}