.internal-page {
  h1,
  .h1 {
    // font-size: 4.85rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.425rem;
    color:$primary;
    border-bottom: 1px solid #555555;
  }
  h2,
  .h2 {
    // font-size: 3.62rem;
    font-size: 1.81rem;
    color:#555555;
  }
  h3,
  .h3 {
    // font-size: 3rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color:#555555;
  }
  h4,
  .h4 {
    // font-size: 2.13rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.065rem;
    font-weight: bold;
    color:#555555;
  }
}

a.btn,
a.btn:visited,
a.editBtn,
a.editBtn:visited,
a#sidebar_donate_button,
input.btn,
input.btnMini,
input.btnSm,
input.btnMed,
input.btnLg,
input#ACTION_SUBMIT_SURVEY_RESPONSE,
div.responsive a.step-button,
div.responsive button.step-button,
div.responsive input.step-button,
div.responsive a.next-step, 
div.responsive button.next-step
div#team_find_search_results_container div.list-component-cell-column-join-link a {
  background-image: none;
  margin-top: inherit;
  margin-bottom: inherit;
  @extend .btn;
}
div.responsive button.btn-primary:disabled,
div.responsive button.next-step.disabled,
div.responsive button#next_step.disabled,
  div.responsive button.next-step[disabled="disabled"] {
  background-image: none;
  background-color:$gray-500;
  border-color:$gray-500;
  &:hover {
    background-color:$gray-500;
    border-color:$gray-500;
    cursor: not-allowed;
  }
}
.step-button,
  .next-step,
  .previous-step {
    @extend .btn-block;
  }
  a.btn:hover,
  a.btn:visited:hover,
  a.editBtn:hover,
  a.editBtn:visited:hover,
  input.btn:hover,
  input.btnMini:hover,
  input.btnSm:hover,
  input.btnMed:hover,
  input.btnLg:hover,
  input#ACTION_SUBMIT_SURVEY_RESPONSE:hover,
  div.responsive a.step-button:hover,
  div.responsive button.step-button:hover,
  div.responsive input.step-button:hover,
  div#team_find_search_results_container div.list-component-cell-column-join-link a:hover {
    background-image: none;
    @extend .btn:hover;
    @extend .btn-primary:hover;
  }
div.responsive {
  a.btn-lg {
    font-size: 1.2rem;
  }
}

div.responsive a.next-step,
div.responsive a.secondary-step,
  div.responsive button.next-step,
  div.responsive button.action-button,
  input#ACTION_SUBMIT_SURVEY_RESPONSE,
  div#team_find_search_results_container div.list-component-cell-column-join-link a {
    background-image: none;
    @extend .btn-primary;
  }
  div.responsive a.previous-step,
  div.responsive button.previous-step {
    @extend .btn-secondary;
  }
  div.responsive {
    .button {
      &.btn-outline-grey {
        @include button-variant(#dcdcdc, #000, $hover-background: $red, $hover-border: $red, $active-background: $red, $active-border: $red);
      }
    }
  }

  
  div.indicator-container {
    border:none;
  }

  .leaderboard-container,
  .search-result-details {
    a {
      text-decoration:underline;
    }
  }
  .mobile {
    #team_page_main_content {
      .non-mobile-donate {
        margin-bottom:30px;
      }
    }
    div#team_image,
    div#personal_page_image_div {
      display:block;
    }
    div.mobile-view-description {
      height:100%;
    }
  }

  // faq accordion 
  .card-header {
    padding:0;
    .btn,
    .button {
      text-align: left;
      white-space: normal;
    }
    .btn-link {
      color:#DE2124;
    }
  }
  .card-body {
    padding: .5rem 1rem;
  }