a.btn,
a.btn:visited,
a.editBtn,
a.editBtn:visited,
a#sidebar_donate_button,
input.btn,
input.btnMini,
input.btnSm,
input.btnMed,
input.btnLg,
div.responsive a.step-button,
div.responsive button.step-button,
div.responsive input.step-button,
div.responsive a.next-step, 
div.responsive button.next-step
div#team_find_search_results_container div.list-component-cell-column-join-link a {
  background-image: none;
  margin-top: inherit;
  margin-bottom: inherit;
  @extend .btn;
}
div.responsive button.btn-primary:disabled,
div.responsive button.next-step.disabled,
div.responsive button#next_step.disabled,
  div.responsive button.next-step[disabled="disabled"] {
  background-image: none;
  background-color:$gray-500;
  border-color:$gray-500;
  &:hover {
    background-color:$gray-500;
    border-color:$gray-500;
    cursor: not-allowed;
  }
}
.step-button,
  .next-step,
  .previous-step {
    @extend .btn-block;
  }
  a.btn:hover,
  a.btn:visited:hover,
  a.editBtn:hover,
  a.editBtn:visited:hover,
  input.btn:hover,
  input.btnMini:hover,
  input.btnSm:hover,
  input.btnMed:hover,
  input.btnLg:hover,
  div.responsive a.step-button:hover,
  div.responsive button.step-button:hover,
  div.responsive input.step-button:hover,
  div#team_find_search_results_container div.list-component-cell-column-join-link a:hover {
    background-image: none;
    @extend .btn:hover;
    @extend .btn-primary:hover;
  }
div.responsive {
  a.btn-lg {
    font-size: 1.2rem;
  }
}

div.responsive a.next-step,
div.responsive a.secondary-step,
  div.responsive button.next-step,
  div.responsive button.action-button,
  div#team_find_search_results_container div.list-component-cell-column-join-link a {
    background-image: none;
    @extend .btn-primary;
  }
  div.responsive a.previous-step,
  div.responsive button.previous-step {
    @extend .btn-secondary;
  }
  div.responsive {
    .button {
      &.btn-outline-grey {
        @include button-variant(#dcdcdc, #000, $hover-background: $red, $hover-border: $red, $active-background: $red, $active-border: $red);
      }
    }
  }

  
  div.indicator-container {
    border:none;
  }

  .leaderboard-container,
  .search-result-details {
    a {
      text-decoration:underline;
    }
  }