// hide default registration forms that have been replaced by custom functionality
#user_type_section_container {
  display: none;
}

.app_tr_registration {
  // input overrides
  div.responsive input[type="text"],
  div.responsive input[type="number"],
  div.responsive input[type="password"],
  div.responsive textarea,
  div.responsive select {
    box-shadow: none;
    @extend .form-control;
  }

  div.registration-page-container div.section-container {
    color: $body-color;
  }
  div.registration-page-container div.sub-section-header,
  div.registration-page-container div.sub-section-container {
    border:none;
    background-color:$white;
  }

  div.registration-page-container div.sub-section-header {
    padding:0;
    margin:0;
  }

  div.responsive {
    width: inherit;
    // @extend .row;
    input {
      vertical-align: middle;
    }
  }
  
  input[type="checkbox"],
  .don-no-gift input {
    @extend .form-check-input;
  }

  .donation-level-row-label-no-gift,
  label[for="fr_show_public_gift"],{
    @extend .form-check-label;
  }
  .progress-bar-container {
    display: none;
  }
  .campaign-banner-container,
  div.registration-page-container div.section-container {
    border: none;
    margin: 0;
  }
  .campaign-banner-container {
    display: none;
  }
  div.registration-page-container div.section-body,
  div.registration-page-container div.section-header,
  div.registration-page-container div.section-sub-header,
  // div.registration-page-container #team_find_section_footer,
  div.registration-page-container div.section-footer {
    background-color: #fff;
    border: none;
    padding: 0;
  }
  div.registration-page-container #team_find_section_footer {
    @extend .flex-column;
    @extend .flex-sm-row;
  }
  
  div.registration-page-container div.section-footer {
    @extend .mt-3;
  }
  div.registration-page-container div.section-header {
    text-align:center;
  }
  div.required-indicator-legend {
    text-align: center;
    padding: 0;
}
  
  div.responsive div.form-content {
    // margin-bottom: 0;
    margin-right: 0;
    @extend .form-group;
  }
  div.registration-page-container div.section-footer {
    clear: both;
    @extend .d-flex;
    // @extend .row;
  }
  .donation-level-container {
    @extend .row;
  }
  .header-container {
    width: 100%;
  }
  .don-level-btn {
    .donation-level-row-decoration-container {
      width: 100%;
      input[type="radio"]{
        position: absolute;
        left: 20%;
        top: 22%;
      }
      @include media-breakpoint-down(sm) {
        input[type="radio"]{
          top: 25%;
        }
      }
    }
    .donation-level-row-label {
      @extend .btn;
      // @extend .btn-outline-grey;
      @include button-variant(#dcdcdc, #000, $hover-background: $red, $hover-border: $red, $active-background: $red, $active-border: $red);
      
      @extend .btn-block;

    }
  }


  div#team_find_new_team_attributes input[type="text"],
  div#team_find_new_team_attributes input[type="password"],
  div#team_find_new_team_company #fr_division_name .mobile div.registration-page-container select,
  .mobile select#matchingAddresses {
    margin-top: 0;
  }
// Progress bar
.progress {
  background-color:$progress-bkd;
  height: 1.2rem;
  @include media-breakpoint-down(sm) {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.progress-bar {
	position: relative;
  background: $progress-bar;
  font-weight:bold;
}
.progress-bar:after, 
.progress-bar:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.progress-bar:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: $progress-bar;
	border-width: 20px;
	margin-top: -20px;
}
.progress-bar:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: $white;
	border-width: 23px;
	margin-top: -23px;
}


// utype
div.responsive a.step-button, div.responsive button.step-button, div.responsive input.step-button {
  &.btn-primary {
    @extend .btn-primary;
  }
}
.janrainEngage {
  &:hover {
    text-decoration:none;
  }
}
  .btn-social-login {
    color:#fff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration:none;

    &.btn-facebook {
      background:#3b579d;
      
    }
    &.btn-amazon {
      background:#231f20;
    }
    span:hover {
      text-decoration:none;
    }
  }

#janrainModal {
    background: #333 !important;
    border-radius: 0 !important;
  }

  .janrainHeader {
    color: #fff !important;
    background: #333 !important;
  }

  .janrainContent {
    background: transparent !important;
    border: none !important;
    padding: 15px 5px 0 !important;
  }

  #janrainProviderPages {
    padding-top: 25px !important;
  }
#janrainView > div {
  background: transparent !important;
  
}
 

// tfind step

#team_find_registration_type_container {
  display:none;
}
#team_find_search_button_container {
  @extend .mt-2;
}
div.responsive a.button {
  &.btn-dropdown {
    background:$white;
    color: $body-color;
    border:1px solid $body-color;
    text-align:left;
    &:after {
     @extend .flex-column;
      text-align:right;
      align-self: center;
    }
  }
}
#team_find_page div#team_find_search_results_container {
  background-color:#fff;
  border: none;
}
#team_find_page div.list-component-row {
  border-radius:0;
  background-image:none;
  border:none;
  border-bottom: 1px solid $input-border-color;
}

// div#team_find_search_results_container div.list-component-cell.list-component-cell-column-join-link
div#team_find_search_results_container div.list-component-cell-column-join-link {
  @include media-breakpoint-down(sm) {
    width:100%;
    float:none;
    a {
      width: 100%;
      margin: 1rem 0;
    }
}
}
.dropdown-menu {
  width:100%;
  margin-top:0;
  border-top:none;
  .dropdown-item {
    color:$body-color;
  }
}

  #team_find_new_team_company,
  #team_find_new_team_attributes,
  #team_find_registration_type_container,
  #F2fRegPartType,
  #F2fRegContact,
  #FriendraiserUserWaiver,
  #fr_payment_form {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

#reg_payment_page div.form-row {
  margin:0;
}

#responsive_payment_typecc_cvv_row,
#responsive_payment_typecc_exp_date_row {
  margin:0;
  @extend .row;
}

#responsive_payment_typecc_exp_date_MONTH,
#responsive_payment_typecc_exp_date_YEAR {
  display:inline-block;
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
}

  
  div.responsive div.ErrorMessage.page-error,
  form[name="FriendraiserFind"] {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(10);
    }
  }
  div.responsive div.ErrorMessage.page-error {
    margin: 0 auto;
  }
div.responsive div.ErrorMessage.page-error>span.field-error-text {
  width:auto;
}
  .bold-label {
    font-size: 1.25rem;
    font-weight: 600;
  }


  // BEGIN TFIND
  form[name="FriendraiserFind"] {
  margin:0 auto;
}
  #team_find_existing {
    @extend .offset-md-3;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
  #team_find_existing_team_search_container,
  #team_find_existing_company_selection_container,
  #team_find_search_button_container {
    width:100%;
    // @include make-col-ready();
    // @include media-breakpoint-up(md) {
    //   @include make-col(12);
    // }
  }
  
  // #team_find_section_container
  // #team_find_section_body {
  //   @include make-col-ready();
  //   @include media-breakpoint-up(md) {
  //     @extend .offset-md-3;
  //     @include make-col(6);
  //   }
  // }
  // LABEL overrides
  #team_find_page {
    label,
    .input-label {
      // TODO - update these across registration
      margin-left: inherit;
      font-size: inherit;
    }
  }


// ptype
#part_type_instruction_sub_header {
  display:none;
}
#part_type_selection_container {
  @extend .mt-2;
}
#sel_type_container,
#fund_goal_container,
#disc_code_container,
.sub-section-container .sub-section-header,
#emergency_contact_title_container {
  @extend .bold-label;
}
div.part-type-container {
  position:relative;
  .part-type-decoration-messages {
    width:100%;
    max-width:100%;
    label {
      height:100%;
      width:100%;
    }

  }
  input {
    margin:0;
    position: absolute;
    top: 35%;
    left: 15%;
  }
  @include media-breakpoint-down(sm) {
    input {
      top: 35%;
      left: 10%;
    }
  }
}
#F2fRegPartType,
#participation_options_page {
  margin:0 auto;
}

div.part-type-container {
  cursor: pointer;
  @include button-variant(#dcdcdc, #000, $hover-background: $red, $hover-border: $red, $active-background: $red, $active-border: $red);
  text-align:center;
  border: 1px solid $black;
  @extend .my-2;
  &:hover {
    cursor:pointer;
  }
  &.selected {
    @extend .btn-primary;
    border-radius: 0;
    border: 1px solid $red;
  }

  &.ptype-full {
    cursor: default;
    &:hover,
    &:active {
      cursor:default;
      border: 1px solid $black;
      background-color:#fff;
    }
    &:not(:disabled):not(.disabled):active {
      color: #212529;
      border-color: $black;
      background-color:#fff;
    }
    color: #212529;
    background-color: #fff;
    div.part-type-registrations-left {
      margin-top: 0;
      .part-type-registrations-full-text {
        color: $primary;
      }
    }
  }
}

div#part_type_fundraising_goal_container {
  input {
    margin-left: 0;
  }
  #suggested_goal_container {
    display:none;
  }
}
#part_type_additional_gift_container {
.manageable-content {
  @extend .row;
}
}


  // COLUMN overrides
  // .donation-level-row-container {
    .don-level-btn {
      // TODO - apply donation-level-btn class to actual amounts and make those xs-6 other things xs-12
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(6);
      }
      
    }
  .don-no-gift {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
  }
    .other-amount-row-container {
      flex:none;
      max-width:100%;
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      .donation-level-row-label {
        background-color:$white;
        border:none;
        text-align:left;
        padding-left: 0;
      }
    }
  
    #part_type_section_footer {
      @extend .row;
    }

// reg info
#F2fRegContact {
  margin:0 auto;
  .section-footer {
    @extend .row;
  }
}

#reg_options_cons_info_extension_body {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
#reg_instr_container,
#cons_info_component_contact_info_section,
#email_optin,
#cons_birth_date_YEAR,
.survey-question-number {
  display:none;
}
div.registration-page-container div.sub-section-body,
div#reg_options_cons_info_extension div.sub-section-body  {
  padding:0;
}
div#registration_options_page div.field-group-header,
div.registration-page-container div.sub-section-header {
  @extend .my-2;
}
#cons_birth_date_date {
  @extend .d-flex;
}
li.input-container,
div#gift_notice_optin {
  @extend .form-check;
  input[type="radio"],
  input[type="checkbox"] {
    @extend .form-check-input;
  }
  label {
    @extend .form-check-label;
  }
}

div#cons_info_component_container div#personal_info_section_one, div#cons_info_component_container div#personal_info_section_two, div#cons_info_component_container div#contact_info_section_one, div#cons_info_component_container div#contact_info_section_two, div#registration_options_page div#user_name_pword_container, div#registration_options_page div#privacy_opts_container, div#registration_options_page div#tribute_component_section_one, div#registration_options_page div#tribute_component_section_two, div#emergency_contact_container, div#email_optin {
  width:100%;
}
div#privacy_component_container label, div#gift_notice_optin label, div#email_opt_in_container label, div#postal_mail_opt_in_container label, div#remember_me_container label {
  max-width:100%;
}
div#emergency_contact_field_group {
  margin-left:0;
}

#reg_option_custom_html {
  .modal-dialog{
    overflow-y: initial;
  }
  .modal-content {
    background:transparent;
    border:none;
  }
  .modal-header {
      border:none;
    .close {
      color:$white;
      font-weight:bold;
      text-shadow:none;
      opacity:1;
      padding:0;
      small {
        font-weight:500;
        font-size:.9rem;
      }
    }
  }
  .modal-body {
    height: 350px;
    overflow-y: auto;
    background: $white;
    border:2px solid $gray-400;
  }
}


  select {
    // div.responsive select {
    &#cons_birth_date_MONTH,
    &#cons_birth_date_DAY {
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(6);
      } // min-width:75px;
    }
  }
  #part_type_additional_gift_section_header {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
  }
  .cons-info-question-container {
    @extend .form-group;
  }

  #additional_questions_container {
    // @include make-col-ready();
    // @include media-breakpoint-up(md) {
    //   @include make-col(12);
    // }
    .survey-question-container {
      width: auto;
      // @include make-col-ready();
      // @include media-breakpoint-up(md) {
      //   @include make-col(12);
      // }
      @extend .form-group;
      .input-container {
        label {
          display:inline;
        }
      }
      .survey-date-month,
      .survey-date-day,
      .survey-date-year {
        @include make-col-ready();
        @include media-breakpoint-up(xs) {
          @include make-col(4);
        } // max-width:126px;
        // padding-left:0;
      }
    }
  }

// regsummary

#FriendraiserUserWaiver {
  margin:0 auto;
  .section-footer {
    @extend .row;
    @extend .m-0;
  }
}

.ObjTitle {
    @extend .h2;
}

div.reg-summary-thanks-common-container {
  div.reg-summary-name-info,
  div.reg-summary-address-info,
  div.reg-summary-event-info,
  div.reg-summary-event-info > div{
    background-color:#fff;
    border:none;
    padding:0;
    width:100%;
    display:inline;
  }
}
.reg-summary-edit-link a{
  text-decoration:underline;
}

div.registration-page-container div.label-value-block-container {
  font-weight:bold;
  font-size:normal;
  background-color:#fff;
  border:none;
}
#reg_summary_body_container .manageable-content,
.left-decorator {
  display:none;
}
div.reg-summary-thanks-common-container {

  div.reg-summary-name-info span.contact-info-name {
    color:$body-color;
  }
  div.reg-summary-name-info span.contact-info-first,
  div.reg-summary-name-info span.contact-info-name {
    color:$body-color;
    display:inline;
    font-size:$font-size-lg;  
    font-weight:bold;
  }
  div.reg-summary-event-info > div {
    padding:0;
  }
  div.action-button-container {
    width:100%
  }
  // div.part-type-name {
  //   font-weight:normal;
  // }
  div.reg-summary-total {
    background-color:#fff;
    text-align:left;
    font-weight:bold;
    @extend .pt-3;
    .total-label {
      text-align:left;
    }
    .total-amount {
      float:right;
    }
    > div {
      padding:0;
    }
  }
}



div.responsive button.step-button {
  &.cancel-step {
    color: $primary;
    border:none !important;
    &:hover {
      background-color:transparent !important;
      border:none !important;
      color: $primary;
    }
  }
}

  div.reg-summary-address-info {
    color:$body-color;
    border:none;
    background:$white;
      &.mobile-hidden {
        display:inline-block;
      }
  }
  div.reg-summary-event-info {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }


// paymentForm step
#fr_payment_form {
  margin:0 auto;
  .section-footer {
    @extend .row;
  }
  div.form-row div.form-content {
    width:100%;
  }

  .payment-type-selection-container h3 {
    font-size: 1.2rem;
    font-family:$font-size-base;
  }

  div.payment-field-container {
    span.internal-payment,
    span.external-payment {
      background:transparent;
      width:40%;
      border:none;
      @include media-breakpoint-down(md) {
        width:100%;
        max-width: 100%;
      }
    }
    
   span.payment-type-option {
      margin-right: 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      width:100%;
      color: $body-color !important;
      background-color: #e2e2e2;
      max-width:200px;
      border-radius: 4px;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 1.4rem;
      line-height: 1.428571429;
      border-radius: 4px;
      @include media-breakpoint-down(md) {
        width:100%;
        max-width: 100%;
      }
    }
    span.payment-type-option {
      label {
        margin-bottom:0;
      }
      a:link {
        color: $body-color;
        font-family: $font-family-base;
      }
      &:hover {
        background-image: none;
        color:$white !important;
        background-color:$primary !important
      }
      &.selected {
        background-image: none;
        background:none;
        background-color:$primary;
        a:link {
          color:$white !important;
        }
        &:hover {
          color:$white !important;
        }
      }
    }
  }

}

#fr_thanks_page {
  .part-center-container {
    text-align:center;
  }
  .section-footer {
    @include media-breakpoint-up(md) {
    max-width:50%;
    margin:0 auto;
    }
  }
}


#reg_payment_page #billing_info_name div.form-row, #reg_payment_page #billing_addr_city_row, #reg_payment_page #billing_addr_state_row, #reg_payment_page #billing_addr_county_row, #reg_payment_page #billing_addr_zip_row {
  display:block;
}
#reg_payment_page #billing_addr_street1_row input, #reg_payment_page #billing_addr_street2_row input {
  width:100%;
}
#reg_payment_page div.form-row div.form-content>select, #reg_payment_page div.form-row div.form-content>input {
  margin-top:0;
}
  #responsive_payment_typecc_type_row {
    legend {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(5);
      }
    }
    .radio-array-list {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
    }
  }
}

#reg_payment_page div.form-row div.form-content>select {
  height: calc(2.25rem + 2px);
}
