div.company-list-table-container {
  background-color:$white;
}

div.responsive div.list-row {
  border:none;
}

#company_page_header {
  display:none;
}

#local_company_page {
  p.cstmTitle {
    @extend h2;
  }
}

.top-participants-container {
  div.trr-table-more {
    display:none;
  }
}

