// .heart-page-rail {
//   margin: 0 20px;
  
//   @media (min-width: $screen-sm-min) {
//     float: left;
//     width: 36%;
//     margin: 0 0 0 40px;
//   }
  
//   @media (min-width: 830px) {
//     width: 34%;
//   }
  
//   @media (min-width: 880px) {
//     width: 32%;
//   }
  
//   @media (min-width: 940px) {
//     width: 30%;
//   }
  
//   @media (min-width: $screen-md-min) {
//     border: 3px solid #ffffff;
//     width: 306px;
//     margin: 0 0 0 48px;
//   }
  
//   .btn, 
//   a#sidebar_donate_button {
//     padding: 24px;
//   }
  
//   .btn {
//     margin-bottom: 3px;
//   }
// }

// .heart-user-image {
//   width: 100%;
//   margin: 0 auto 30px;
  
//   @media (min-width: $screen-sm-min) {
//     margin: 0 0 40px;
//   }
  
//   @media (min-width: $screen-md-min) {
//     margin: 0 0 30px;
//   }
// }

// .heart-page-info {
//   border-bottom: 1px solid #c9cccc;
//   padding: 0 0 12px;
//   margin: 0 0 30px;
  
//   @media (min-width: $screen-sm-min) {
//     border-bottom: 0;
//     padding: 0 0 40px;
//     margin: 0;
//   }
  
//   @media (min-width: $screen-md-min) {
//     border-bottom: 1px solid #c9cccc;
//     margin: 0 0 40px;
//   }
  
//   h1 {
//     font-size: 48px;
//     line-height: 48px;
//     padding: 0 0 12px;
//     margin: 24px 0 0;
    
//     @media (min-width: $screen-sm-min) {
//       padding: 0;
//       margin: 0;
//     }
//   }
// }

// .heart-page-info__related-links {
//   border-top: 1px solid #c9cccc;
//   padding: 12px 0 0;
//   margin: 12px 0 0;
  
//   @media (min-width: $screen-sm-min) {
//     border-top: 0;
//     padding: 0;
//     margin: 30px 0 0;
//   }
  
//   @media (min-width: $screen-md-min) {
//     margin: 14px 0 0;
//   }
  
//   li {
//     float: left;
//     display: block;
//     font-size: 14px;
//     width: 50%;
    
//     @media (min-width: $screen-sm-min) {
//       float: none;
//       display: block;
//       width: auto;
//       padding: 0;
//       margin: 0 0 12px;
//     }
    
//     @media (min-width: $screen-md-min) {
//       display: inline-block;
//       margin: 0 20px 0 0;
//     }
    
//     &:last-child {
//       @media (min-width: $screen-sm-min) {
//         margin: 0;
//       }
//     }
    
//     .heart-page-info__related-item, 
//     a.heart-page-info__related-item {
//       display: block;
      
//       @media (min-width: $screen-sm-min) {
//         display: inline-block;
//       }
//     }
//   }
// }

// .heart-page-main-sm {
//   float: left;
//   border-bottom: 1px solid #c9cccc;
//   width: 46%;
//   margin: 0 40px 0 48px;
  
//   @media (min-width: 830px) {
//     width: 50%;
//   }
  
//   @media (min-width: 880px) {
//     width: 52%;
//   }
  
//   @media (min-width: 940px) {
//     width: 55%;
//   }
// }

// .heart-page-main {
//   margin: 32px 20px 0;
  
//   @media (min-width: $screen-sm-min) {
//     margin: 32px 40px 0;
//   }
  
//   @media (min-width: $screen-md-min) {
//     float: left;
//     width: 490px;
//     margin: 0 72px 0 48px;
//   }
  
//   @media (min-width: $screen-lg-min) {
//     width: 664px;
//     margin: 0 98px 0 48px;
//   }
  
//   h2 {
//     font-size: 22px;
//     font-weight: 600;
//     margin: 0 0 32px;
    
//     @media (min-width: $screen-md-min) {
//       margin: 0 0 40px;
//     }
//   }
// }

// .heart-user-video {
//   margin: 0 0 20px;
  
//   @media (min-width: $screen-sm-min) {
//     margin: 0 0 32px;
//   }
// }

// .heart-page-story {
//   padding: 0 0 18px;
  
//   p {
//     margin: 0 0 18px;
//   }
// }

// .heart-page-comments {
//   margin: 0 0 40px;
  
//   h2 {
//     margin: 0 0 24px;
    
//     @media (min-width: $screen-sm-min) {
//       margin: 0 0 32px;
//     }
//   }
// }