
$red:     #de2427 !default;
$primary: $red !default;
$success: #5cb85c !default;
$white: #FFFFFF !default;
$dark: #666666 !default;
$gray-600: #515151 !default;
$gray-500: #8d8d8d !default;
$progress-bar: #333;
$progress-bkd: #dfdede !default;
$black: #000000 !default;

$body-color: #333 !default;
$enable-rounded:            false !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          #c82333 !default;
$link-hover-decoration:     underline !default;

// $input-color:                $gray-700 !default;
$input-border-color:         #3c3c3c !default;

$border-color:                #ccc !default;

$border-radius:               0 !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$font-family-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-md:                ($font-size-base * 1.125) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             600 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

// $font-size-base: 20px !default;
// $font-size-small: ceil(($font-size-base * 0.7)) !default; // ~14px

// $font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
// $font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
// $font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
// $font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
// $font-size-h5: $font-size-base !default;
// $font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

// $padding-base-vertical: 12px !default;
// $padding-base-horizontal: 24px !default;

// $padding-large-vertical: 18px !default;
// $padding-large-horizontal: 24px !default;

// $border-radius-base: 0 !default;

// $btn-success-color: $brand-white !default;
// $btn-success-bg: $brand-success !default;
// $btn-success-border: darken($btn-success-bg, 5%) !default;

// $btn-primary-color: $brand-white !default;
// $btn-primary-bg: $brand-primary !default;
// $btn-primary-border: darken($btn-primary-bg, 5%) !default;

// $btn-primary-darker-color: $brand-white !default;
// $btn-primary-darker-bg: $brand-primary-darker !default;
// $btn-primary-darker-border: $btn-primary-darker-bg !default;

// $input-border-radius: $border-radius-base !default;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// $grid-gutter-width: 30px !default;

// $alert-border-radius: $border-radius-base !default;

// $panel-border-radius: $border-radius-base !default;