<header role="banner">
  [[?xjump_hoops_participant_centerx::x[[S334:pagename]]x::::
    <div class="container">
      <div class="ym-header-logos clearfix">
        <div class="ym-header-logo ym-header-logo--aha">
          <a href="http://american.heart.org/jump-hoops/" target="_blank"><img src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/youth-markets/image/aha-logo.png" alt="American Heart Association Logo"></a>
        </div>
        [[?x9x27x::x[[S4]]x::::
          <div class="ym-header-logo ym-header-logo--jump hidden-xs">
            <a href="http://american.heart.org/jump-hoops/"><img src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/jump-logo.png" alt="Jump Rope For Heart Logo"></a>
          </div>
          <div class="ym-header-logo ym-header-logo--hoops hidden-xs">
            <a href="http://american.heart.org/jump-hoops/"><img src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/hoops-logo.png" alt="Hoops For Heart Logo"></a>
          </div>
          <div class="ym-header-logo ym-header-logo--shape-america hidden-xs">
            <span><img src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/shape-america-logo.png" alt="SHAPE America Logo"></span>
          </div>
        ]]
      </div>
      [[?x9x27x::x[[S4]]x::::
        <div class="ym-header-title visible-xs">
          Jump Rope For Heart<br>
          Hoops For Heart
        </div>
        <div class="ym-header-post-text hidden-xs">
          SHAPE America and the American Heart Association collaborate on the Jump Rope For Heart and Hoops For Heart programs.
        </div>
      ]]
    </div>
  ]]
  [[?x9x::x[[S4]]x::::
    <nav role="navigation" aria-label="Main">
      <div class="container">
        <div class="clearfix">
          [[?x27x::x[[S4]]x::::
            <ul class="ym-site-nav hidden-xs">
              <li>
                <a href="http://american.heart.org/jump-hoops/about/">
                  About
                </a>
              </li>
              <li>
                <a href="http://american.heart.org/jump-hoops/for-parents/">
                  For Parents
                </a>
              </li>
              <li>
                <a href="http://american.heart.org/jump-hoops/for-students/">
                  For Students
                </a>
              </li>
            </ul>
          ]]
          [[?xx::x[[S1:cons_id]]x::
            <!-- logged out -->
            <div class="ym-header-login">
              [[?xx[[S8]]::xxhttps::
                <!-- secure page -->
                <button type="button" class="btn btn-global-primary ym-header-login-toggle" ng-click="toggleLoginMenu()">
                  Log In to Fundraise <span class="fa fa-chevron-down" ng-class="{'fa-chevron-down': !loginMenuOpen, 'fa-chevron-up': loginMenuOpen}"></span>
                </button>
                <div class="ym-header-login-dropdown" ng-class="{'open': loginMenuOpen}" ng-cloak>
                  <div class="ym-header-login-form">
                    <form method="POST" name="headerLoginForm" ng-submit="submitHeaderLogin()" novalidate>
                      <input type="hidden" name="ng_nexturl" ng-model="headerLoginInfo.ng_nexturl" value="[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]">
                      <div class="form-group">
                        <label class="sr-only" for="headerLoginInfo-user_name">Username:</label>
                        <input type="text" class="form-control" name="USERNAME" id="headerLoginInfo-user_name" ng-model="headerLoginInfo.user_name" placeholder="Username" maxlength="[[S0:USER_MAX_LOGIN_LEN]]" autocorrect="off" autocapitalize="off" spellcheck="false" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="headerLoginInfo-password">Password:</label>
                        <input type="password" class="form-control" name="Password" id="headerLoginInfo-password" ng-model="headerLoginInfo.password" placeholder="Password" maxlength="[[S0:USER_MAX_PASSWD_LEN]]" autocorrect="off" autocapitalize="off" spellcheck="false" required>
                      </div>
                      <div class="ym-header-login-footer clearfix">
                        <button type="submit" class="btn btn-global-primary pull-left">
                          Log In
                        </button>
                        <a class="pull-right ym-header-login__help-link" href="UserLogin?CMD=ForgotLogin">Need Help?</a>
                      </div>
                    </form>
                    <form class="hidden js--default-header-login-form" action="UserLogin" method="POST" hidden aria-hidden="true">
                      <input type="hidden" name="NEXTURL" value="{{headerLoginInfo.ng_nexturl}}">
                      <input type="hidden" name="USERNAME" value="{{headerLoginInfo.user_name}}">
                      <input type="hidden" name="Password" value="{{headerLoginInfo.password}}">
                    </form>
                  </div>
                </div>
              ::
                <!-- non-secure page -->
                <a class="btn btn-global-primary ym-header-login-toggle" href="[[T7:https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]UserLogin?NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]]]">
                  Log In to Headquarters
                </a>
              ]]
            </div>
          ::
            <!-- logged in -->
            <div class="ym-header-logged-in" ng-cloak>
              <div class="clearfix">
                <div class="ym-header-welcome">
                  <button type="button" class="btn btn-link ym-header-welcome-toggle" ng-click="toggleWelcomeMenu()">
                    Welcome[[?xx::x[[S1:first_name]]x::::, <span class="ym-header-welcome-toggle--first-name">[[S1:first_name]]]]!</span> <span class="fa fa-chevron-down" ng-class="{'fa-chevron-down': !welcomeMenuOpen, 'fa-chevron-up': welcomeMenuOpen}"></span>
                  </button>
                  <div class="ym-header-welcome-dropdown" ng-class="{'open': welcomeMenuOpen, 'my-events': numberEvents > 1, 'my-hq' : numberEvents == 1}" role="menubar" title="Welcome Menu" ng-cloak>
                    <ul role="menu" id="js--header-welcome-ul" tabindex="0">
                      <li role="menuitem">
                        <a href="ConsProfileUser?dispMode=edit&amp;NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]">
                          Edit Profile
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="UserLogin?logout=&amp;NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]">
                          Log Out
                        </a>
                      </li>
                    </ul>
                  </div>
                  <a class="btn btn-global-primary ym-header-hq-btn" href="PageServer?pagename=jump_hoops_my_events" ng-if="numberEvents > 1">
                    My Events
                  </a>
                  <a class="btn btn-global-primary ym-header-hq-btn" ng-href="TRC?fr_id={{regEventId}}" ng-if="numberEvents == 1">
                    <span class="visible-xs visible-sm">My HQ</span>
                    <span class="hidden-xs hidden-sm">My Headquarters</span>
                  </a>
                </div>
              </div>
            </div>
          ]]
          [[?x27x::x[[S4]]x::::
            <div class="ym-site-menu visible-xs">
              <button type="button" class="btn btn-default ym-site-menu-toggle" ng-click="toggleSiteMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="ym-site-menu-bar"></span>
                <span class="ym-site-menu-bar"></span>
                <span class="ym-site-menu-bar"></span>
                <span class="ym-site-menu-bar"></span>
              </button>
              <div class="ym-site-menu-dropdown" ng-class="{'open': siteMenuOpen}" ng-cloak>
                <ul>
                  <li>
                    <a href="http://american.heart.org/jump-hoops/about/">
                      About
                    </a>
                  </li>
                  <li>
                    <a href="http://american.heart.org/jump-hoops/for-parents/">
                      For Parents
                    </a>
                  </li>
                  <li>
                    <a href="http://american.heart.org/jump-hoops/for-students/">
                      For Students
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          ]]
        </div>
      </div>
    </nav>
  ]]
</header>
