.heart-page-container--login {
  padding: 80px 0 48px;
}

.heart-panel--login {
  > .panel-heading {
    background: transparent;
    border: 0;
    border-radius: 0;
    text-align: center;
    padding: 42px 48px 0 48px;
  }
  
  > .panel-body {
    padding: 32px 48px 28px;
  }
  
  > .panel-footer {
    text-align: center;
    padding: 32px 48px 48px;
  }
}