.heart-page-container--login {
  padding: 20px 20px 72px;
  
  @media (min-width: $screen-md-min) {
    padding: 80px 20px 48px;
  }
}

.heart-panel--login {
  margin: 0;
  
  > .panel-heading {
    background: transparent;
    border: 0;
    border-radius: 0;
    text-align: center;
    padding: 32px 28px 0 28px;
    
    @media (min-width: $screen-sm-min) {
      padding: 42px 48px 0 48px;
    }
  }
  
  .panel-title {
    font-size: inherit;
  }
  
  > .panel-body {
    padding: 32px 28px 20px;
    
    @media (min-width: $screen-sm-min) {
      padding: 32px 48px 28px;
    }
    
    .alert {
      font-size: 16px;
      padding: 15px 25px;
      
      @media (min-width: $screen-sm-min) {
        padding: 15px 30px;
      }
    }
    
    form {
      .form-group {
        margin: 0 0 8px;
      }
      
      .checkbox, 
      .radio {
        margin: 8px 0;
      }
      
      .form-control {
        height: 60px;
        padding: 6px 25px;
        
        @media (min-width: $screen-sm-min) {
          padding: 6px 30px;
        }
      }
    }
  }
  
  > .panel-footer {
    text-align: center;
    padding: 32px 28px;
    
    @media (min-width: $screen-sm-min) {
      padding: 32px 48px 48px;
    }
    
    .btn {
      margin: 10px 0 0;
    }
  }
}

.heart-login-forgot-password {
  font-size: 12px;
  text-align: center;
  margin: 8px 0 0;
}