main {
  background: #bddd98;
  
  @media (min-width: $screen-md-min) {
    background: repeating-linear-gradient(135deg, transparent, transparent 10px, #bddd98 10px, #bddd98 20px), linear-gradient(to bottom, #c2bfd7, #c2bfd7);
  }
}

.event-secondary-medium--diagonal {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #dfdded 10px, #dfdded 20px), linear-gradient(to bottom, #e1e0ea, #e1e0ea);
}