header {
  .ym-header-logo--jump {
    > a, 
    > span {
      margin: -8px 8px 0;
    }
  }
  
  .ym-header-logo--hoops {
    > a, 
    > span {
      margin: 10px 8px 0;
    }
  }
  
  .ym-header-logo--shape-america {
    > a, 
    > span {
      margin: 6px 18px 0;
    }
  }
}