.ym-section-divider {
  border: 0;
  border-top: 1px solid $event-secondary;
  height: 1px;
  margin: 0;
}

.ym-page-section__list {
  background: $event-accent;
}

.ym-my-challenge {
  background: $event-secondary-medium;
  padding: 20px;
  
  @media (min-width: $screen-sm-min) {
    padding: 20px 30px;
  }
  
  img {
    max-width: 115px;
  }
  
  h3 {
    margin: 0 0 20px;
    text-align: center;
  }
  
  .col-xs-4, 
  .col-xs-8 {
    padding: 0;
  }
}

.ym_my_challenge__stats {
  span {
    font-weight: 700;
    
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      background: $brand-white;
      border-radius: 7px;
      color: $event-secondary;
      font-size: 40px;
      line-height: 40px;
      height: 50px;
      padding: 0 4px;
      vertical-align: middle;
    }
  }
}

hr.ym-zuri-animation__divider {
  margin: 0;
}

.ym-zuri-animation {
  > p {
    text-align: center;
  }
  
  h4 {
    color: $event-secondary;
    text-align: center;
  }
}

