h2,
.h2,
.h2-heading {
  font-size: 32px;

  @media (min-width: $screen-sm-min) {
    font-size: 42px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 48px;
  }
}

h3,
.h3,
.h3-heading {
  font-size: 28px;

  @media (min-width: $screen-sm-min) {
    font-size: 32px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 36px;
  }
}
