<div class="modal-header">
  <div class="modal-header__btns modal-header__btns--block-xxs">
    <button type="button" class="btn btn-toggle" ng-click="cancelViewSentMessage()">
      Close
    </button> 
    <button type="button" class="btn btn-primary" ng-click="copySentMessage(sentMessage.messageId)">
      <strong>Copy<span class="hidden-xs"> Message</span></strong>
    </button>
  </div>
  <h2 class="h5 modal-title">
    Sent Mail
  </h2>
</div>
<div class="modal-body">
  <div ng-if="sentMessage.recipient" style="display: none;">
    <label>
      Recipients:
    </label>
    <p>
      <span ng-repeat="recipient in sentMessage.recipient" ng-if="recipient.firstName || recipient.email">
        <span ng-if="recipient.firstName">
          {{recipient.firstName}}{{recipient.lastName ? ' ' + recipient.lastName : ''}}{{recipient.email ? ' &lt;' + recipient.email + '&gt;' : ''}}<span ng-if="!$last">, </span>
        </span>
        <span ng-if="!recipient.firstName">
          &lt;{{recipient.email}}&gt;<span ng-if="!$last">, </span>
        </span>
      </span>
    </p>
  </div>
  <label>
    Subject:
  </label>
  <p>
    <span ng-bind-html="sentMessage.subject"></span>
  </p>
  <label>
    Message:
  </label>
  <div ng-bind-html="sentMessage.messageBody"></div>
</div>