<div ng-controller="PersonalPageCtrl" ng-cloak>
  <div class="ym-page-section ym-page-section__top">
    <div class="col-md-6 ym-user-image" ng-init="personalPagePhoto1.customUrl = '[[C4:graphic_upload]]'; personalPagePhoto1.caption = '[[T6:[[C1:graphic_caption]]]]'" ng-style="{'background-image': (personalPagePhoto1.customUrl && personalPagePhoto1.customUrl != '') ? ('url(' + personalPagePhoto1.customUrl + ')') : ('url(' + personalPagePhoto1.defaultUrl + ')')}">
      <div class="ym-user-image-inner">
        [[?
          [[?xx::x[[S1:cons_id]]x::::
            [[?x[[S1:cons_id]]x::x[[S334:px]]x::T::]]
          ]]
        ::T::
          <button type="button" class="btn btn-md-wide btn-toggle" ng-click="editPersonalPhoto1()">
            <span class="fa fa-camera"></span> Edit Photo
          </button>
        ::]]
        <img class="hidden-md hidden-lg" ng-src="{{personalPagePhoto1.customUrl && personalPagePhoto1.customUrl != '' ? personalPagePhoto1.customUrl : personalPagePhoto1.defaultUrl}}" alt="{{personalPagePhoto1.caption}}" ng-cloak>
      </div>
      <div class="caption" ng-if="personalPagePhoto1.caption && personalPagePhoto1.caption != ''" ng-cloak>
        <span ng-bind-html="personalPagePhoto1.caption"></span>
      </div>
    </div>
    <div class="col-md-6 ym-progress ym-secondary-medium-color">
      <h2 class="ym-progress__title h4">
        Help me raise more life-saving donations
      </h2>
      <a class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S80:trID]]:form-id]]&amp;FR_ID=[[S80:trID]]&amp;PROXY_ID=[[S334:px]]&amp;PROXY_TYPE=20">
        Donate
      </a>
      <div class="ym-progress__thermometer" name="Personal Progress Bar" aria-valuetext="Personal Progress Bar" role="progressbar" aria-valuenow="{{personalProgress.percent}}%" aria-valuemin="0%" aria-valuemax="100%">
        <div class="ym-progress__thermometer--fill" ng-style="{'width': personalProgress.percent + '%'}"></div>
      </div>
      <div class="ym-progress__stats">
        <div class="ym-progress__amount col-sm-6">
          <p>
            I've raised <strong>[[E130:"[[E48:[[S80:trID]]-[[S334:px]]:dollars]]" ".00" "" replaceall]]</strong>
          </p>
        </div>
        <div class="ym-progress__goal col-sm-6">
          <p>
            My goal is <strong>[[E130:"[[E48:[[S80:trID]]-[[S334:px]]:goal]]" ".00" "" replaceall]]</strong>
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="ym-progress__date" ng-if="eventDate != 'User Provided No Response'" ng-cloak>
          <p>
            My event date is <strong><span ng-bind-html="eventDate"></span></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__main">
    <div class="col-md-6 ym-story">
      <h3 class="ym-headline">
        My Story
      </h3>
      [[?
        [[?xx::x[[S1:cons_id]]x::::
          [[?x[[S1:cons_id]]x::x[[S334:px]]x::T::]]
        ]]
      ::T::
        <div class="ym-story-edit-btns">
          <button type="button" class="btn btn-md-wide btn-toggle" ng-click="editPersonalPageContent()" ng-if="personalPageContent.mode == 'view'">
            <span class="fa fa-pencil"></span> Edit Story
          </button>
          <div ng-if="personalPageContent.mode == 'edit'" ng-cloak>
            <button type="button" class="btn btn-md-wide btn-primary" ng-click="savePersonalPageContent()">
              <span class="fa fa-pencil"></span> <strong>Save Story</strong>
            </button> 
            <button type="button" class="btn btn-md-wide btn-toggle" ng-click="resetPersonalPageContent()">
              Cancel
            </button>
          </div>
        </div>
      ::]]
      <div class="hidden js--default-page-content" ng-non-bindable>
        [[C6:fr_rich_text]]
      </div>
      <div ng-show="personalPageContent.mode == 'view'">
        <div ng-bind-html="personalPageContent.rich_text">
          <div ng-non-bindable>
            [[C6:fr_rich_text]]
          </div>
        </div>
      </div>
      [[?
        [[?xx::x[[S1:cons_id]]x::::
          [[?x[[S1:cons_id]]x::x[[S334:px]]x::T::]]
        ]]
      ::T::
        <div class="ym-page-content-editor" ng-show="personalPageContent.mode == 'edit'" ng-cloak>
          <div text-angular name="ng_rich_text" ng-model="personalPageContent.ng_rich_text" ta-toolbar="{{personalPageContent.textEditorToolbar}}"></div>
        </div>
      ::]]
    </div>
    <div class="col-md-6 ym-user-interactions">
      <div class="ym-badges" ng-if="prizes.length > 0">
        <h3 class="ym-headline">
          Check Out My Badges
        </h3>
        <div class="ym-badges__item" ng-repeat="prize in prizes | limitTo: 3" ng-cloak>
          <img class="img-responsive" ng-src="https://s3.amazonaws.com/aha-jumphoops-production/fy18/assets/badges/{{prize.id}}_delivered.png" alt="{{prize.label}}" />
          <div ng-bind-html="prize.label"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="ym-my-challenge ym-secondary-medium-color" ng-if="challengeId != null" ng-cloak>
        <h3 class="ym-headline">
          My Challenge
        </h3>
        <div class="col-sm-4">
          <img class="img-responsive" ng-if="challengeId == 1 || challengeId == 4" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-exercise.png" alt="{{challengeName}}" ng-cloak>
          <img class="img-responsive" ng-if="challengeId == 2" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-water.png" alt="{{challengeName}}" ng-cloak>
          <img class="img-responsive" ng-if="challengeId == 3" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-food.png" alt="{{challengeName}}" ng-cloak>
        </div>
        <div class="col-sm-8">
          <p class="ym_my_challenge__description">
            <strong>{{challengeName}}</strong>
          </p>
          <p class="ym_my_challenge__stats" ng-if="challengeCompleted == 1" ng-cloak>
            I've met my challenge <span>1</span> day!
          </p>
          <p class="ym_my_challenge__stats" ng-if="challengeCompleted != 1" ng-cloak>
            I've met my challenge <span>{{challengeCompleted}}</span> days!
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- fallback to pull challenge from LO if no Zuri data -->
      [[?[[E48:[[S80:trID]]-[[S334:px]]:question:Pick from one of the choices below and we will customize your message letting friends and family know you have taken the challenge. We will also send you some information to help you meet your goal.]]::::
      ::
        <div class="ym-my-challenge ym-secondary-medium-color" ng-if="challengeId == null" ng-cloak>
          <h3 class="ym-headline">
            My Challenge
          </h3>
          <div class="col-sm-4">
            <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-water.png" alt="">
          </div>
          <div class="col-sm-8">
            <p class="ym_my_challenge__description">
              <strong>[[E48:[[S80:trID]]-[[S334:px]]:question:Pick from one of the choices below and we will customize your message letting friends and family know you have taken the challenge. We will also send you some information to help you meet your goal.]]</strong>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      ]]
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__list ym-accent-color">
    <div class="ym-donate-cta" ng-class="personalDonors.donors.length < 1 ? 'col-sm-12' : 'col-sm-6'">
      <h4 class="h5">
        Donate to [[E48:[[S80:trID]]-[[S334:px]]:cons.first_name]]
      </h4>
      <div ng-if="personalDonors.donors.length > 0" ng-cloak>
        <p>
          <strong>Add your name to the list!</strong>
        </p>
      </div>
      <div ng-if="personalDonors.donors.length < 1" ng-cloak>
        <p>
          <strong>Be the first to donate!</strong>
        </p>
      </div>
      <a class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S80:trID]]:form-id]]&amp;FR_ID=[[S80:trID]]&amp;PROXY_ID=[[S334:px]]&amp;PROXY_TYPE=20">
        Donate
      </a>
    </div>
    <div class="ym-list" ng-class="personalDonors.donors.length < 1 ? 'hidden' : 'col-sm-6'">
      <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/hj-donors-graphic.png" alt="Saluting the following top donors">
      <div class="ym-donor-list">
        <div class="ym-donor-list__row" ng-repeat="personalDonor in personalDonors.donors" ng-if="personalDonors.donors.length > 0" ng-cloak>
          <span class="ym-donor-list__row--name">{{personalDonor.name}}</span>
          <span class="ym-donor-list__row--amount">{{personalDonor.amountFormatted}}</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="hidden">
    <div class="js--personal-donors">
      [[C5:fr_status_2]]
    </div>
  </div>
</div>