<div ng-controller="PersonalPageCtrl" ng-cloak>
  <div class="ym-page-section ym-page-section__top">
    <div class="col-md-6 ym-user-image" style="background-image:url('[[C4:graphic_upload]]');">
      <img class="hidden-md hidden-lg" src="[[C4:graphic_upload]]" alt="[[C1:graphic_caption]]" />
      [[?xx::x[[C1:graphic_caption]]x::
      ::
        <div class="caption">
          [[C1:graphic_caption]]
        </div>
      ]]
    </div>
    <div class="col-md-6 ym-progress ym-secondary-medium-color">
      <h4 class="ym-progress__title">[[C1:title_field]]</h4>
      <a class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S334:fr_id]]:form-id]]&FR_ID=[[S334:fr_id]]&PROXY_ID=[[S334:px]]&PROXY_TYPE=20">
        Donate
      </a>
      <div class="ym-progress__thermometer">
        <div class="ym-progress__thermometer--fill" ng-style="{'width': personalProgress.percent + '%'}"></div>
      </div>
      <div class="ym-progress__stats">
        <div class="ym-progress__amount col-sm-6">
          <p>I've raised <strong>[[E130:"[[E48:[[A2]]-[[A13]]:dollars]]" ".00" "" replaceall]]</strong></p>
        </div>
        [[?xx$0.00x::x[[E48:[[A2]]-[[A13]]:goal]]x::::
          <div class="ym-progress__goal col-sm-6">
            <p>My goal is <strong>[[E130:"[[E48:[[A2]]-[[A13]]:goal]]" ".00" "" replaceall]]</strong></p>
          </div>
        ]]
        <div class="clearfix"></div>
        <div class="ym-progress__date">
          <p>My event date is <strong ng-bind-html="eventDate"></strong></p> 
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__main">
    <div class="col-md-6 ym-story">
      <h3 class="ym-headline">My Story</h3>
      [[C6:fr_rich_text]]
    </div>
    <div class="col-md-6">
      <div class="ym-badges">
        <h3 class="ym-headline">Check Out My Badges</h3>
        <div class="ym-badges__item">
          <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/hj_badge1.png" />
          <span>I've Earned Rory!</span>
        </div>
        <div class="ym-badges__item">
          <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/hj_badge2.png" />
          <span>Raised $250</span>
        </div>
        <div class="ym-badges__item">
          <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/hj_badge3.png" />
          <span>I'm a Jump/Hoops Veteran</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="ym-my-challenge ym-secondary-medium-color" ng-if="challengeId != null">
        <h3 class="ym-headline">My Challenge</h3>
        <div class="col-sm-4">
          <img class="img-responsive" ng-if="challengeId == 1 || challengeId == 4" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-exercise.png" alt="{{challengeName}}" />
          <img class="img-responsive" ng-if="challengeId == 2" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-water.png" alt="{{challengeName}}" />
          <img class="img-responsive" ng-if="challengeId == 3" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-food.png" alt="{{challengeName}}" />          
        </div>
        <div class="col-sm-8">
          <p class="ym_my_challenge__description">  
            <strong>{{challengeName}}</strong>
          </p>
          <p class="ym_my_challenge__stats" ng-if="challengeCompleted == 1">
            I've met my challenge <span>1</span> day!
          </p>
          <p class="ym_my_challenge__stats" ng-if="challengeCompleted != 1">
            I've met my challenge <span>{{challengeCompleted}}</span> days!
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <!--fallback to pull challenge from LO if no Zuri data-->
      [[?[[E48:[[S80:trID]]-[[S334:px]]:question:Pick from one of the choices below and we will customize your message letting friends and family know you have taken the challenge. We will also send you some information to help you meet your goal.]]::::
      ::
        <div class="ym-my-challenge ym-secondary-medium-color" ng-if="challengeId = null">
          <h3 class="ym-headline">My Challenge</h3>
          <div class="col-sm-4">
            <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/my-challenge-water.png" alt="" />
          </div>
          <div class="col-sm-8">
            <p class="ym_my_challenge__description">  
              <strong>[[E48:[[S80:trID]]-[[S334:px]]:question:Pick from one of the choices below and we will customize your message letting friends and family know you have taken the challenge. We will also send you some information to help you meet your goal.]]</strong>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      ]]
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__list ym-accent-color">
    <div class="col-sm-6 ym-donate-cta">
      <h3>Donate to [[E48:[[S80:trID]]-[[S334:px]]:cons.first_name]]</h3>
      <p><strong>Add your name to the list</strong></p>
      <a class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S334:fr_id]]:form-id]]&FR_ID=[[S334:fr_id]]&PROXY_ID=[[S334:px]]&PROXY_TYPE=20">
        Donate
      </a>
    </div>
    <div class="col-sm-6 ym-list">
      <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/hj-fundraisers-graphic.png">
      <div class="ym-donor-list">
        <div class="ym-donor-list__row" ng-repeat="personalDonor in personalDonors.donors" ng-if="personalDonors.donors.length > 0">
          <span class="ym-donor-list__row--name">{{personalDonor.name}}</span>
          <span class="ym-donor-list__row--amount">{{personalDonor.amountFormatted}}</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="hidden">
    <div class="js--personal-donors">
      [[C5:fr_status_2]]
    </div>
  </div>
</div>

