<div ng-controller="CompanyPageCtrl" ng-cloak>
  <div class="ym-page-section ym-page-section__top">
    <div class="col-md-6 ym-user-image" style="background-image:url('[[C4:responsive_company_logo]]');">
        <img class="hidden-md hidden-lg" src="[[C4:responsive_company_logo]]" alt="[[C1:photo1_text]]" />
    </div>
    <div class="col-md-6 ym-progress ym-secondary-medium-color">
      <h4 class="ym-progress__title">[[C1:title]]</h4>
      <div class="ym-progress__cta"> 
        
        <div ng-if="companyTeams.totalNumber > 1">
          <a class="btn btn-primary btn-lg" ng-href="TRR?fr_id=[[S334:fr_id]]&pg=tfind&fr_tm_opt=existing&company_id=[[S334:company_id]]">
            Join Team
          </a>
        </div>
        <div ng-if="companyTeams.totalNumber == 1">
          <a class="btn btn-primary btn-lg" ng-href="TRR?fr_id=[[S334:fr_id]]&pg=tfind&fr_tm_opt=existing&fr_team_id={{teamId}}&company_id=[[S334:company_id]]">
            Join Team
          </a>
          <a class="btn btn-primary btn-lg" ng-href="#" data-toggle="modal" data-target="#schoolDonation">
            Donate
          </a>
        </div>
      </div>
      <div class="ym-progress__thermometer" ng-if="companyProgress.goal && companyProgress.goal != 0">
        <div class="ym-progress__thermometer--fill" ng-style="{'width': companyProgress.percent + '%'}"></div>
      </div>
      <div class="ym-progress__stats">
        <div class="ym-progress__amount col-sm-6">
          <p>We've raised <strong ng-bind="companyProgress.amountRaisedFormatted"></strong></p>
        </div>
        <div class="ym-progress__goal col-sm-6" ng-if="companyProgress.goal && companyProgress.goal != 0">
          <p>Our goal is <strong ng-bind="companyProgress.goalFormatted"></strong></p>
        </div>
        <div class="clearfix"></div>
        <div class="ym-progress__date">
          <p>Our event date is <strong ng-bind-html="eventDate"></strong></p> 
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__main">
    <div class="container">
      <div class="ym-our-stats ym-promo-block" ng-if="participantCount > 0">
        <h3 class="ym-headline">Our Stats</h3>
        <div class="ym-promo-block__item ym-promo-block__item--members ym-promo-block--circle">
          <h2 class="ym-headline">{{participantCount}}</h2>
          <p>team members registered.</p>
        </div>
        <div class="ym-promo-block__item ym-promo-block__item--exercise ym-promo-block--circle">
          <h2 class="ym-headline">{{activity1amt}}</h2>
          <p>daily challenges of excersing 60 minutes a day!</p>
        </div>
        <div class="ym-promo-block__item ym-promo-block__item--water ym-promo-block--circle">
          <h2 class="ym-headline">{{activity2amt}}</h2>
          <p>daily challenges of choosing water over sugar drinks</p>
        </div>
        <div class="ym-promo-block__item ym-promo-block__item--food ym-promo-block--circle">
          <h2 class="ym-headline">{{activity3amt}}</h2>
          <p>daily challenges of fruits and veggies at every meal</p>
        </div>
      </div>
    </div>
    <hr class="hidden-xs" />
    <div class="container">
      <div class="ym-zuri-animation hidden-xs">
        <h4>Lorem Ipsum</h4>
        <p>Placeholder for animation</p>
      </div>
    </div>
  </div>
  <div class="ym-page-section ym-page-section__list ym-accent-color">
    <div class="col-md-6 ym-story">
      <h3 class="ym-headline">Our School is Heart Healthy!</h3>
      [[C6:fr_rich_text]]
    </div>
    <div class="col-md-6 ym-list">
      <img class="img-responsive" src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/jump-hoops/image/hj-fundraisers-graphic.png">
      <div class="ym-donor-list">
        <company-participant-list company-id="'[[T6:[[S334:company_id]]]]'" participants="companyParticipants.participants"></company-participant-list>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__roster" ng-if="companyTeams.totalNumber > 1">
    <h5>Our Teams</h5>
    <company-team-list company-id="'[[T6:[[S334:company_id]]]]'" teams="companyTeams.teams"></company-team-list>     
  </div>
  <div ng-if="companyTeams.totalNumber == 1" class="modal fade" id="schoolDonation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">                    
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
          <h3 class="modal-title">Donate</h3>
          <p>If you'd like to donate directly to an individual, ask them (or their parent/guardian) to send you a donation request email containing a link to their secure personal fundraising page.</p>
          <p>You can also make a general donation to a school:</p>
          <a class="btn btn-primary btn-lg" ng-href="Donation2?df_id=[[E42:[[S334:fr_id]]:form-id]]&FR_ID=[[S334:fr_id]]&PROXY_ID={{teamId}}&PROXY_TYPE=22">Donate to Our School</a>
        </div>
      </div>
    </div>
  </div>
</div>
