@mixin button-variant($color, $background, $border, $hover-color: $color, $hover-background: $background, $hover-border: $border) {
  &, 
  &:link, 
  &:visited {
    color: $color;
    background-color: $background;
    border-color: $border;
  }
  
  &:hover, 
  &:focus, 
  &:active {
    color: $hover-color;
    background-color: $hover-background;
    background-image: none;
    border-color: $hover-border;
  }
  
  &[disabled], 
  fieldset[disabled] & {
    &:hover, 
    &:focus {
      background-color: $background;
      border-color: $border;
    }
  }
}