@mixin button-variant($color, $background, $border) {
  &, 
  &:link, 
  &:visited {
    color: $color;
    background-color: $background;
    background-image: none;
    border-width: 0;
    border-color: $border;
  }
  
  &:focus {
    color: $color;
    background-color: darken($background, 10%);
    border-width: 0;
    border-color: darken($border, 25%);
  }
  
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    background-image: none;
    background-position: 0 0;
    border-width: 0;
    border-color: darken($border, 12%);
  }
  
  &:active {
    color: $color;
    background-color: darken($background, 10%);
    border-width: 0;
    border-color: darken($border, 12%);
    
    &:hover,
    &:focus {
      color: $color;
      background-color: darken($background, 17%);
      border-width: 0;
      border-color: darken($border, 25%);
    }
  }
  
  &[disabled], 
  fieldset[disabled] & {
    &:hover, 
    &:focus {
      background-color: $background;
      border-width: 0;
      border-color: $border;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
}