.ng-pc-container,
.ng-pc-modal {
  .btn.form-control {
    height: auto;
  }

  .heart_pc_main_page .btn {
    min-width: 135px;
  }

  .btn,
  a.btn {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus {
      border-width: 1px;
      padding: 5px 5px;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .btn.btn-goal {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus {
      min-width: 80px;
    }
  }
}

.btn-primary-inverted,
.btn-primary-inverted:link,
.btn-primary-inverted:visited,
a.btn-primary-inverted,
a.btn-primary-inverted:link,
a.btn-primary-inverted:visited {
    border-color: #3c3c3c;
    color: #3c3c3c;
}

.btn-primary-inverted:active,
.btn-primary-inverted:focus,
.btn-primary-inverted:hover,
a.btn-primary-inverted:active,
a.btn-primary-inverted:focus,
a.btn-primary-inverted:hover,
.btn-primary-inverted:active:hover,
.btn-primary-inverted:active:focus,
a.btn-primary-inverted:active:hover,
a.btn-primary-inverted:active:focus {
    background-color: #3c3c3c;
    color: #ffffff;
    border-color: #3c3c3c;
}
