.coaching-mark {
  text-align: center;
  padding: 10px 0;
  
  h2 {
    color: $brand-primary-darker;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.coaching-mark__btns {
  &.coaching-mark__btns--padded {
    padding: 20px 0 0;
  }
  
  .btn {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      font-weight: 600;
      height: 42px;
      padding: 12px 14px;
      margin: 0 3px;
      
      @media (min-width: 360px) {
        padding: 12px 24px;
      }
    }
    
    img {
      display: inline-block;
      height: 15px;
      margin: 0 5px 0 0;
      position: relative;
      top: -1px;
    }
  }
}