.ng-pc-container {
  .heart-company-related-list {
    margin: 0 0 40px;
  }
  
  .heart-company-related-list--participants {
    border-top: 1px solid #dfe0e0;
    padding: 36px 0 0;
  }
  
  .heart-company-related-list__header {
    h2 {
      float: left;
    }
    
    .dropdown {
      float: left;
      margin: 3px 0 0 12px;
      
      a[data-toggle="dropdown"] {
        &, 
        &:link, 
        &:visited, 
        &:hover, 
        &:focus, 
        &:active {
          text-decoration: none;
        }
      }
    }
  }
}