body {
  font-size: 18px;
}

a {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus {
    font-weight: 400;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.manage_walk_items {
  p {
    font-size: 16px;
  }
}

.heart-dashboard__header {
  margin: 0 0 20px;

  @media (min-width: $screen-sm-min) {
    margin: 0 0 50px;
  }
}

.heart-dashboard__header-title {
  font-size: 36px;
  font-weight: 400;
}

.heart-dashboard-tab-info {
  border-bottom: 1px solid #dfe0e0;
  padding: 0 0 30px;
  margin: 0 0 40px;
}

.heart-dashboard-tab-info__text {
  font-size: 18px;
  padding: 0 0 30px;

  @media (min-width: $screen-sm-min) {
    float: left;
    padding: 0;
  }

  @media (min-width: 840px) {
    font-size: 20px;
  }
}

.heart-dashboard-tab-info__rank {
  font-size: 25px;
  font-weight: 600;
}

.heart-dashboard-tab-info__cta {
  text-align: center;

  @media (min-width: $screen-sm-min) {
    float: right;
    text-align: left;
  }

  .btn {
    &,
    &:link,
    &:visited {
      padding: 4px 10px;
      margin: 0 0 0 8px;

      @media (min-width: 360px) {
        padding: 4px 16px;
        margin: 0 0 0 10px;
      }

      @media (min-width: 375px) {
        padding: 4px 18px;
      }

      @media (min-width: 414px) {
        padding: 4px 24px;
      }

      &:first-child {
        margin: 0;

        @media (min-width: $screen-sm-min) {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
