.icon-btn, 
a.icon-btn {
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    color: $link-color;
  }
}

.icon-btn-gray, 
a.icon-btn-gray {
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    color: #999999;
  }
}

.icon-btn-primary, 
a.icon-btn-primary {
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    color: $brand-primary;
  }
}