.ng-pc-container {
  .list-group-item-heading {
    font-size: 18px;
  }
  
  .list-group-item {
    font-size: 16px;
    
    .checkbox {
      margin: 0;
      label {
        padding-left: 0;
      }
    }
  }
  
  a.list-group-item {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus {
      font-weight: 500;
      text-decoration: none;
    }
    
    &:not(.active) {
      &, 
      &:link {
        color: #555555;
        
        .badge {
          color: #ffffff;
        }
      }
    }
  }
}

.ng-pc-nav-list-group {
  .list-group-item-heading {
    font-weight: 600;
    padding: 10px;
    margin: 0;
  }
  
  .list-group-item {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    
    &:first-child {
      border-top: 0;
      border-radius: 0;
    }
    
    &:last-child {
      border-radius: 0;
    }
  }
}

.btn + .ng-pc-nav-list-group {
  margin: 12px 0 0;
}

.ng-pc-nav-list-group + .ng-pc-nav-list-group {
  margin: 12px 0 0;
}