.ng-pc-modal {
  .modal-body {
    font-size: 15px;
  }
  
  .modal-header__btns {
    float: right;
    
    .btn {
      margin: 0 0 0 6px;
    }
  }
  
  .modal-header__btns--block-xxs {
    @media (max-width: 359px) {
      float: none;
      display: block;
      text-align: center;
      margin: 0 0 18px 0;
      
      .btn {
        margin: 0 3px;
      }
    }
  }

  .modal-header-red {
    background: $brand-primary;
    color: #ffffff;
    border-bottom: none;
  }

  .modal-body-red {
    background: $brand-primary;
    color: #ffffff;

    a, a:link, a:visited, a:hover, a:focus {
      color: #ffffff;
    }

    .input-group {
      margin: 0 auto;
    }
  }

  .modal-footer-red {
    background: $brand-primary;
    border-top: none;

    .lb_skip_link a {
      color: #ffffff;
    }
  }

  .modal-text-center {
    text-align: center;
  }
  
  .btn.pc-facebook-fundraiser-btn, 
  a.btn.pc-facebook-fundraiser-btn {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      background: #4260b4;
      border-color: #4260b4;
      color: #ffffff;
    }
    
    .hidden-text-xxs {
      display: none;
      
      @media (min-width: 375px) {
        display: inline;
      }
    }
    
    .fa {
      margin: 0 4px 0 0;
    }
  }
}

.ng-pc-modal-email-message-body {
  width: 100%;
  overflow-y: scroll;
}