.ng-pc-container {
  .nav-tabs {
    display: none;
    margin: 0 0 30px;
    
    > li {
      width: 50%;
      
      a {
        &, 
        &:link, 
        &:visited, 
        &:hover, 
        &:focus, 
        &:active {
          font-size: 12px;
          height: 56px;
          padding: 14px;
          
          @media (min-width: 360px) {
            height: auto;
            padding: 24px 14px;
          }
          
          @media (min-width: 375px) {
            font-size: 13px;
          }
          
          @media (min-width: 400px) {
            font-size: 14px;
          }
          
          @media (min-width: 480px) {
            padding: 24px;
          }
          
          @media (min-width: 510px) {
            height: auto;
            padding: 24px 32px;
          }
        }
      }
      
      &.active {
        a {
          &, 
          &:link, 
          &:visited, 
          &:hover, 
          &:focus, 
          &:active {
            padding: 14px 14px 14px 9px;
            
            @media (min-width: 360px) {
              padding: 24px 14px 24px 9px;
            }
            
            @media (min-width: 480px) {
              padding: 24px 24px 24px 19px;
            }
            
            @media (min-width: 510px) {
              padding: 24px 32px 24px 27px;
            }
          }
        }
      }
    }
  }
  
  .message_suggestions .nav-tabs {
    > li {
      width: 25%;
    }
  }

  .heart-dashboard--has-team .nav-tabs, 
  .heart-dashboard--has-company .nav-tabs,
  .message_suggestions .nav-tabs {
    display: block;
  }
  
  .heart-dashboard--has-company .nav-tabs {
    > li {
      width: 33.33333333%;
    }
  }
}