.ng-pc-container {
  .heart-page-progress__thermometer {
    .btn, 
    a.btn {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        border-width: 0;
      }
    }
  }
  
  .heart-page-progress__related-cta {
    .btn, 
    a.btn {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        display: block;
        padding: 4px 24px;
        width: 162px;
        margin-bottom: 10px;
      }
    }
  }
  
  .heart-page-progress__share-button {
    &, 
    &:link, 
    &:visited {
      margin: 0 4px !important;
    }
  }
}