.ng-pc-container {
  .heart-page-rail--participant-center {
    margin: 0;
    
    @media (min-width: $screen-sm-min) {
      margin: 0;
    }
    
    @media (min-width: $screen-md-min) {
      border: 0;
      margin: 0;
    }
  }
}