.ng-pc-container {
  .panel-heading {
    position: relative;
    
    .checkbox {
      margin: 0;
      
      label {
        padding-left: 0;
      }
    }
  }
  
  .panel-title {
    font-size: 18px;
    line-height: 18px;
  }
}

.panel-heading-btn {
  float: right;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 13px;
  line-height: 13px;
}