.ng-pc-container {
  .heart-team-members {
    margin: 0 0 40px;
  }
  
  .heart-team-members__header {
    h2 {
      float: left;
    }
    
    .dropdown {
      float: left;
      margin: 3px 0 0 12px;
      
      a[data-toggle="dropdown"] {
        &, 
        &:link, 
        &:visited, 
        &:hover, 
        &:focus, 
        &:active {
          text-decoration: none;
        }
      }
    }
  }
}