.heart-user-view-type {
  text-align: center;
  padding: 0 0 32px;
  
  @media (min-width: $screen-sm-min) {
    padding: 0 0 48px;
  }
  
  label {
    display: inline-block;
    font-weight: 400;
    margin: 0 8px 0 0;
  }
  
  .form-control {
    display: inline-block;
    border: 1px solid $brand-primary-darker;
    width: 100px;
  }
}