.heart-pc-user-page-sharing {
  text-align: center;
  padding: 55px 0;
  
  h2 {
    text-transform: uppercase;
    margin: 0 0 20px;
  }
  
  .btn {
    text-transform: uppercase;
    margin: 0 0 40px;
    
    @media (min-width: $screen-sm-min) {
      margin: 0;
    }
  }
}

.heart-pc-user-page-sharing__page-url {
  margin: 0 0 12px;
}