.heart-user-gifts {
  margin: 0 0 40px;
  
  .icon-btn {
    margin: 0 0 0 8px;
  }
}

.heart-user-gifts--team {
  border-top: 1px solid #dfe0e0;
  padding: 36px 0 0;
}

.heart-user-gifts__header {
  h2 {
    float: left;
  }
  
  .dropdown {
    float: left;
    margin: 3px 0 0 12px;
    
    a[data-toggle="dropdown"] {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        text-decoration: none;
      }
    }
  }
}