.heart-pc-user-page-edit {
  background: $brand-black;
  color: $brand-white;
  text-align: center;
  padding: 28px 0 40px;
  
  @media (min-width: $screen-sm-min) {
    padding: 55px 0;
  }
  
  .btn {
    text-transform: uppercase;
  }
}

.heart-pc-user-page-edit__intro {
  padding: 0 0 22px;
}