$brand-primary: #C10E21;
$event-primary: #C10E21;
$brand-primary-darker: #890707;
$brand-success: #5cb85c !default;

$brand-black: #000000;
$brand-white: #ffffff;

$link-color: #0c90da !default;

$btn-primary-color: $brand-white !default;
$btn-primary-darker-color: $brand-white !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-darker-bg: $brand-primary-darker !default;
$btn-primary-border: $btn-primary-bg !default;
$btn-primary-darker-border: $btn-primary-darker-bg !default;

$btn-success-color: $brand-white !default;
$btn-success-bg: $brand-success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
