.depth1 {
  padding-left:2em;
}

.depth2 {
  padding-left:4em;
}

.depth3 {
  padding-left:6em;
}

.depth4 {
  padding-left:8em;
}

.heart-company-team-list {
  font-size: 16px;
  
  .heart-company-team-list__header {
    border-bottom: 1px solid #c9cccc;
    padding: 30px 0 20px;
    
    @media (min-width: $screen-sm-min) {
      padding: 0 0 30px;
    }
    
    @media (min-width: $screen-md-min) {
      padding: 30px 0;
    }
    
    h2 {
      margin: 0 0 30px;
      
      @media (min-width: 500px) {
        float: left;
        margin: 10px 0;
      }
      
      @media (min-width: $screen-md-min) {
        margin: 10px 0;
      }
    }
    
    form {
      @media (min-width: 500px) {
        float: right;
      }
      
      .form-control {
        display: inline-block;
        vertical-align: middle;
        width: 180px;
        
        @media (min-width: 360px) {
          width: 220px;
        }
        
        @media (min-width: 375px) {
          width: 235px;
        }
        
        @media (min-width: 380px) {
          width: 240px;
        }
      }
    }
  }
  
  .heart-company-team-list__company-name {
    padding: 30px 3px 30px 0;
  }
  
  .heart-company-team-list__body {
    display: table;
    border-top: 1px solid #c9cccc;
    width: 100%;
    
    .heart-company-team-list__row {
      display: table-row;
    }
    
    .heart-company-team-list__column {
      display: table-cell;
      border-bottom: 1px solid #c9cccc;
      vertical-align: middle;
      height: 72px;
      padding: 0 15px;
      
      @media (min-width: $screen-sm-min) {
        height: 90px;
      }
    }
    
    .heart-company-team-list__column--name {
      border-left: 1px solid #c9cccc;
      padding: 0 15px 0 20px;
      
      @media (min-width: $screen-sm-min) {
        width: 460px;
      }
      
      @media (min-width: $screen-md-min) {
        width: 250px;
      }
      
      @media (min-width: $screen-lg-min) {
        width: 460px;
      }
    }
    
    .heart-company-team-list__column--captain {
      @media (min-width: $screen-sm-min) {
        text-align: right;
        width: 160px;
      }
    }
    
    .heart-company-team-list__column--amount {
      text-align: right;
      padding: 0 0 0 15px;
      
      @media (min-width: $screen-sm-min) {
        text-align: left;
        padding: 0 15px;
      }
    }
    
    .heart-company-team-list__column--cta {
      @media (min-width: $screen-sm-min) {
        width: 102px;
        padding: 0 0 0 15px;
      }
    }
  }
}