.mobile #company_list_page {
  div.mobile-view-description {
    height: auto;
  }
  
  div#non_mobile_company_list {
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
  
  .trr-table {
    th.trr-Heading {
      word-wrap: normal;
      cursor: pointer;
      user-select: none;
    }
    
    th.trr-company-list-name {
      width: 40%;
    }
    
    th.trr-table-number-amount {
      width: 14%;
    }
    
    th.trr-table-participant-amount {
      width: 16%;
    }
    
    th.trr-table-monetary-amount {
      width: 30%;
    }
  }
}