.heart-hero {
  background-color: $brand-primary;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  width: 100%;
  height: 150px;
  
  @media(min-width: $screen-sm-min) {
    height: 200px;
  }
}

.heart-hero__mask {
  background: $brand-primary;
  background: rgba($brand-primary, 0.9);
  height: 150px;
  padding: 50px;
  
  @media(min-width: $screen-sm-min) {
    height: 200px;
  }
}

.heart-hero__event-name {
  float: right;
  
  hr {
    float: right;
    border-top: 6px solid $brand-primary-darker;
    width: 20px;
    margin: 0 0 20px;
  }
  
  p {
    font-size: 24px;
  }
}

.heart-hero__info {
  font-size: 14px;
  text-align: right;
  
  p {
    margin: 0 0 0;
  }
}