.heart-hero {
  background-color: $brand-primary;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  width: 100%;
  height: 150px;
  margin: 0 0 40px;
  
  @media (min-width: $screen-sm-min) {
    height: 200px;
  }
  
  @media (min-width: $screen-md-min) {
    margin: 0 0 48px;
  }
}

.heart-hero__mask {
  background: $brand-primary;
  background: rgba($brand-primary, 0.9);
  height: 150px;
  padding: 30px 20px 0 20px;
  
  @media (min-width: $screen-sm-min) {
    height: 200px;
    padding: 72px 40px 0 40px;
  }
  
  @media (min-width: $screen-md-min) {
    padding: 48px 80px 0 48px;
  }
}
body.Fall .heart-hero__mask {
  background: linear-gradient(to right, rgba(231,56,39,0.9) 0%, rgba(246,41,12,0.9) 0%, rgba(240,47,23,0.9) 29%, rgba(248,149,33,0.9) 100%);
}

.heart-hero__event-name {
  float: right;
  
  hr {
    float: right;
    border-top: 6px solid transparent;
    width: 20px;
    margin: 0 0 20px;
  }
  
  p {
    font-size: 16px;
    margin: 0 0 6px;
    
    @media (min-width: $screen-sm-min) {
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 12px;
    }
    
    a {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        color: inherit;
        font-weight: inherit;
        text-decoration: underline;
      }
    }
  }
}

.heart-hero__info {
  font-size: 12px;
  text-align: right;
  
  @media (min-width: $screen-sm-min) {
    font-size: 14px;
  }
  
  p {
    margin: 0 0 0;
  }
}