.heart-list-pagination {
  text-align: center;
  margin: 0;
  
  .pagination {
    margin: 0 0 20px;
    
    .pagination-page {
      > a, 
      > span {
        &, 
        &:focus, 
        &:hover {
          border-radius: 100% !important;
          border: 0;
          color: inherit;
          width: 40px;
          margin: 0 6px;
        }
      }
      
      &.active {
        > a, 
        > span {
          &, 
          &:focus, 
          &:hover {
            background-color: $brand-primary;
            border-color: $brand-primary;
            color: #ffffff;
          }
        }
      }
    }
  }
}