.heart-page-progress__thermometer {
  position: relative;
  background: linear-gradient(to bottom, $btn-primary-bg 0%, #c7191c 100%);
  border-radius: 0;
  height: auto;
  margin: 0 0 3px;
  
  .heart-page-progress__thermometer-fill {
    background: linear-gradient(to bottom, darken($btn-primary-bg, 10%) 0%, darken(#c7191c, 10%) 100%);
    box-shadow: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  
  a.btn {
    &, 
    &:link, 
    &:visited {
      position: relative;
      background: transparent;
    }
  }
}

.heart-page-progress {
  margin: 0 20px;
  
  @media(min-width: $screen-sm-min) {
    width: 275px;
    margin: 0 40px;
  }
  
  @media(min-width: $screen-md-min) {
    float: left;
    margin: 3px 0 0 48px;
  }
  
  @media(min-width: $screen-lg-min) {
    width: 292px;
  }
  
  .btn {
    width: 100%;
  }
}

.heart-page-progress__box {
  background: #283233;
  color: #ffffff;
}

.heart-page-progress__row {
  border-top: 1px solid #353f40;
  padding: 14px;
  
  @media(min-width: $screen-sm-min) {
    padding: 20px;
  }
  
  &:first-child {
    border-top: 0;
  }
}

.heart-page-progress__row--social {
  text-align: center;
  padding: 32px 20px;
}

.heart-page-progress__amount {
  float: left;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  
  @media(min-width: $screen-sm-min) {
    font-size: 28px;
    line-height: 28px;
  }
  
  @media(min-width: $screen-lg-min) {
    font-size: 32px;
    line-height: 32px;
  }
}

.heart-page-progress__label {
  float: right;
  color: #c9cccc;
  font-size: 12px;
  width: 48px;
  margin: 0 28px 0 12px;
}

.heart-page-progress__share-label {
  color: #c9cccc;
  font-size: 16px;
  padding: 0 40px;
  
  @media(min-width: $screen-sm-min) {
    padding: 0 30px;
  }
  
  @media(min-width: $screen-lg-min) {
    padding: 0 40px;
  }
}

.heart-page-progress__share-buttons {
  margin: 20px 0 0;
}

.heart-page-progress__share-button {
  &, 
  &:link, 
  &:visited {
    display: inline-block;
    background-color: #353f40;
    border-radius: 100%;
    color: #d8dad9;
    transition: all 0.5s ease;
    width: 60px !important;
    height: 60px;
    padding: 18px 0;
    margin: 0 !important;
  }
}

.heart-page-progress__share-button--facebook {
  &:hover, 
  &:focus {
    background-color: #3b5998;
    color: #ffffff;
  }
}

.heart-page-progress__share-button--twitter {
  &:hover, 
  &:focus {
    background-color: #55acee;
    color: #ffffff;
  }
}

.heart-page-progress__share-button--tumblr {
  &:hover, 
  &:focus {
    background-color: #36465d;
    color: #ffffff;
  }
}