.heart-page-progress {
  margin: 0 20px;
  
  @media(min-width: $screen-sm-min) {
    width: 275px;
    margin: 0 40px;
  }
  
  @media(min-width: $screen-md-min) {
    float: left;
    width: 292px;
    margin: 3px 0 0 48px;
  }
  
  .btn {
    width: 100%;
  }
}

.heart-page-progress__box {
  background: #283233;
  color: #ffffff;
}

.heart-page-progress__row {
  border-top: 1px solid #353f40;
  padding: 14px;
  
  @media(min-width: $screen-sm-min) {
    padding: 20px;
  }
  
  &:first-child {
    border-top: 0;
  }
}

.heart-page-progress__row--social {
  text-align: center;
}

.heart-page-progress__share-buttons {
  margin: 20px 0 0;
}

.heart-page-progress__share-button {
  &, 
  &:link, 
  &:visited {
    display: inline-block;
    background-color: #353f40;
    border-radius: 100%;
    color: #d8dad9;
    width: 60px;
    height: 60px;
    padding: 16px 0;
    
    > span {
      position: absolute;
      left: -999em;
    }
  }
}

.heart-page-progress__share-button--facebook {
  &:hover, 
  &:focus {
    background-color: #3b5998;
    color: #ffffff;
  }
}

.heart-page-progress__share-button--twitter {
  &:hover, 
  &:focus {
    background-color: #55acee;
    color: #ffffff;
  }
}

.heart-page-progress__share-button--tumblr {
  &:hover, 
  &:focus {
    background-color: #36465d;
    color: #ffffff;
  }
}