.heart-page-rail {
  float: left;
  border: 3px solid #ffffff;
  width: 306px;
  margin: 0 0 0 50px;
  
  .btn, 
  a#sidebar_donate_button {
    padding: 24px;
    margin-bottom: 3px;
  }
}

.heart-page-rail__image {
  margin-bottom: 3px;
}