.heart-hero--entry {
  background-image: url(../image/hero-greeting.jpg);
}

.heart-greeting-main {
  background-image: url(../image/greeting-main.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 790px;
  
  @media(min-width: $screen-sm-min) {
    height: 715px;
  }
  
  @media(min-width: $screen-md-min) {
    height: 575px;
  }
}

.heart-greeting-detail {
  background: #ffffff;
  padding: 50px 28px 32px;
  margin: -210px 20px 20px;
  
  @media(min-width: $screen-sm-min) {
    max-width: 690px;
    padding: 75px 48px 65px;
    margin: -285px auto 40px;
  }
  
  @media(min-width: $screen-md-min) {
    float: right;
    width: 530px;
    padding: 95px 50px 50px;
    margin: -120px 50px 40px;
  }
  
  @media(min-width: $screen-lg-min) {
    width: 730px;
  }
}

.heart-greeting-detail__header {
  margin: 0 0 32px;
  
  @media(min-width: $screen-sm-min) {
    margin: 0 0 70px;
  }
  
  h2 {
    margin: 0 0 32px;
    
    @media(min-width: $screen-sm-min) {
      margin: 0 0 40px;
    }
    
    > span {
      color: $brand-primary;
    }
  }
}

.heart-greeting-detail__footer {
  .btn {
    width: 165px;
    margin: 0 0 6px;
    
    @media(min-width: $screen-sm-min) {
      width: auto;
      margin: 0;
    }
  }
  
  .manageable-content {
    display: inline;
  }
}

.heart-greeting-story {
}

.heart-greeting-leaderboards {
  margin: 0 20px;
  
  @media(min-width: $screen-md-min) {
    margin: 50px 50px 80px;
  }
  
  h2 {
    margin: 0 0 32px;
    
    @media(min-width: $screen-md-min) {
      margin: 0 0 20px;
    }
    
    @media(min-width: $screen-md-min) {
      margin: 0 0 40px;
    }
  }
}