.heart-hero--personal {
  background-image: url(../image/default-personal-cover.png);
  margin: 0;

  @media (min-width: $screen-sm-min) {
    margin: 0 0 40px;
  }

  @media (min-width: $screen-md-min) {
    margin: 0;
  }
}

.heart-page-rail--personal {
  margin-top: -40px;

  @media (min-width: $screen-sm-min) {
    margin-top: 0;
  }

  @media (min-width: $screen-md-min) {
    margin-top: -118px;
  }
}

.heart-user-image-wrap--personal {
  .heart-user-image-wrap-inner {
    position: relative;
  }

  .btn {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      padding: 12px;
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 100;

      @media (max-width: $screen-sm-min) {
        font-size: 50%;
        top: 100px;
      }

      .glyphicon {
        display: inline-block;
        margin: 0 3px 0 0;
      }
    }
  }

  .btn-primary-inverted {
    &,
    &:link,
    &:visited {
      background: $brand-white;
      border: 1px solid $brand-primary;
    }

    &:hover,
    &:focus,
    &:active {
      background: $brand-primary;
    }
  }
}

.heart-user-image--personal {
  border: 3px solid #ffffff;
  width: 140px;
  margin: 0 auto;

  @media (min-width: $screen-sm-min) {
    border: 0;
    width: 275px;
    margin: 0 0 40px;
  }

  @media (min-width: $screen-md-min) {
    width: 100%;
    margin: 0 0 3px;
  }
}

.heart-page-info--personal {
  margin: 0 0 20px;

  @media (min-width: $screen-sm-min) {
    margin: 0 0 40px;
  }

  h1 {
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: left;
    }

    @media (min-width: $screen-md-min) {
      margin: 48px 0 0;
    }
  }
}

.heart-page-main-sm--personal {
  .heart-page-info {
    height: 100%;
  }
}

.heart-user-video--personal {
  .heart-user-video-inner {
    position: relative;
  }

  .btn {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      padding: 12px;
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 100;

      .glyphicon {
        display: inline-block;
        margin: 0 3px 0 0;
      }
    }
  }

  .btn-primary-inverted {
    &,
    &:link,
    &:visited {
      background: $brand-white;
      border: 1px solid $brand-primary;
    }

    &:hover,
    &:focus,
    &:active {
      background: $brand-primary;
    }
  }
}