.heart-page-container--entry {
  margin-left: 0 - floor(($grid-gutter-width / 2));
  margin-right: 0 - ceil(($grid-gutter-width / 2));
}

.heart-hero--entry {
  background-image: url(../image/hero-greeting.jpg);
  background-size: cover;
  background-position: center center;
  padding: 40px 24px 0;
  
  @media(min-width: $screen-sm-min) {
    background-image: url(../image/hero-greeting.jpg);
    padding: 65px 40px 0;
  }
  
  @media(min-width: $screen-md-min) {
    background-image: url(../image/hero-greeting.jpg);
    padding: 95px 50px 0;
  }
}

.heart-greeting-main {
}

.heart-greeting-detail {
  background: #ffffff;
  padding: 50px 28px 32px;
  margin: -210px 20px 20px;
  
  @media(min-width: $screen-sm-min) {
    max-width: 690px;
    padding: 75px 48px 65px;
    margin: -285px auto 40px;
  }
  
  @media(min-width: $screen-md-min) {
    float: right;
    width: 730px;
    padding: 95px 50px 50px;
    margin: -120px 50px 40px;
  }
}

.heart-greeting-detail__header {
  h2 {
    margin: 0 0 32px;
    
    @media(min-width: $screen-sm-min) {
      margin: 0 0 40px;
    }
    
    > span {
      color: $brand-primary;
    }
  }
}

.heart-page-progress {
  margin: 0 20px;
  
  @media(min-width: $screen-sm-min) {
    width: 275px;
    margin: 0 40px;
  }
  
  @media(min-width: $screen-md-min) {
    float: left;
    width: 292px;
    margin: 3px 0 0 48px;
  }
  
  .btn {
    width: 100%;
  }
}

.heart-greeting-leaderboards {
  margin: 0 20px;
}