.heart-hero--company {
  background-image: url(../image/company-cover.png);
}

.heart-page-lists--company {
  margin: 0 0 30px;
  
  .nav-tabs {
    > li {
      width: 50%;
    }
  }
  
  .heart-list-pagination {
    margin: 20px 0 0;
  }
}