.heart-hero--personal {
  margin: 0;
  
  @media(min-width: $screen-sm-min) {
    margin: 0 0 40px;
  }
  
  @media(min-width: $screen-md-min) {
    margin: 0;
  }
}

.heart-page-rail--personal {
  margin-top: -40px;
  
  @media(min-width: $screen-sm-min) {
    margin-top: 0;
  }
  
  @media(min-width: $screen-md-min) {
    margin-top: -118px;
  }
}

.heart-user-image--personal {
  border: 3px solid #ffffff;
  width: 140px;
  margin: 0 auto;
  
  @media(min-width: $screen-sm-min) {
    border: 0;
    width: 275px;
    margin: 0 0 40px;
  }
  
  @media(min-width: $screen-md-min) {
    width: 100%;
    margin: 0 0 3px;
  }
}

.heart-page-info--personal {
  margin: 0 0 20px;
  
  @media(min-width: $screen-sm-min) {
    margin: 0 0 40px;
  }
  
  h1 {
    text-align: center;
    
    @media(min-width: $screen-sm-min) {
      text-align: left;
    }
    
    @media(min-width: $screen-md-min) {
      margin: 48px 0 0;
    }
  }
}

.heart-page-main-sm--personal {
  .heart-page-info {
    height: 100%;
  }
}