.heart-page-rail {
  margin: 0 20px;
  
  @media(min-width: $screen-sm-min) {
    float: left;
    width: 36%;
    margin: 0 0 0 40px;
  }
  
  @media(min-width: 830px) {
    width: 34%;
  }
  
  @media(min-width: 880px) {
    width: 32%;
  }
  
  @media(min-width: 940px) {
    width: 30%;
  }
  
  @media(min-width: $screen-md-min) {
    border: 3px solid #ffffff;
    width: 306px;
    margin: 0 0 0 48px;
  }
  
  .btn, 
  a#sidebar_donate_button {
    padding: 24px;
    margin-bottom: 3px;
  }
}

.heart-page-rail__image {
  border: 3px solid #ffffff;
  width: 140px;
  margin: 0 auto;
  
  @media(min-width: $screen-sm-min) {
    border: 0;
    width: auto;
    margin: 0 0 3px;
  }
}

.heart-page-main {
  margin: 0 20px;
  
  @media(min-width: $screen-sm-min) {
    float: left;
    width: 46%;
    margin: 0 40px 0 48px;
  }
  
  @media(min-width: 830px) {
    width: 50%;
  }
  
  @media(min-width: 880px) {
    width: 52%;
  }
  
  @media(min-width: 940px) {
    width: 55%;
  }
  
  @media(min-width: $screen-md-min) {
    width: 490px;
    margin: 0 72px 0 48px;
  }
  
  @media(min-width: $screen-lg-min) {
    width: 660px;
    margin: 0 98px 0 48px;
  }
  
  h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 48px 0 0;
  }
}