.heart-hero--team {
  background-image: url(../image/team-cover.png);
}

.heart-user-image-wrap--team {
  .heart-user-image-wrap-inner {
    position: relative;
  }
  
  .btn {
    &, 
    &:link, 
    &:visited {
      text-transform: uppercase;
      padding: 12px;
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 100;
      
      .glyphicon {
        display: inline-block;
        margin: 0 3px 0 0;
      }
    }
  }
  
  .btn-primary-inverted {
    &, 
    &:link, 
    &:visited {
      background: $brand-white;
      border: 1px solid $brand-primary;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $brand-primary;
    }
  }

  .heart-user-image {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto 30px;
  
    @media (min-width: $screen-sm-min) {
      margin: 0 0 40px;
    }
  
    @media (min-width: $screen-md-min) {
      margin: 0 0 30px;
    }
  }



}

.heart-page-lists--team {
  margin: 0 0 20px;
}