.heart-page-rail {
  margin: 0 20px;
  
  @media(min-width: $screen-sm-min) {
    float: left;
    margin: 0 48px;
  }
  
  @media(min-width: $screen-md-min) {
    border: 3px solid #ffffff;
    width: 306px;
  }
  
  .btn, 
  a#sidebar_donate_button {
    padding: 24px;
    margin-bottom: 3px;
  }
}

.heart-page-rail__image {
  border: 3px solid #ffffff;
  width: 140px;
  margin: 0 auto;
  
  @media(min-width: $screen-sm-min) {
    border: 0;
    width: auto;
    margin: 0 0 3px;
  }
}

.heart-page-main {
  float: left;
  width: 680px;
}