<div cg-busy="consProfilePromises">
  <ul class="nav nav-tabs">
    <li class="active">
      <a ng-href="{{baseUrl}}#/profile">
        <span translate="hdr_profile_link"></span>
      </a>
    </li>
    <li ng-if="teamraiserConfig.personalSurveyEditAllowed == 'true'">
      <a ng-href="{{baseUrl}}#/profile/questions">
        <span translate="nav_survey_questions"></span>
      </a>
    </li>
    <li>
      <a ng-href="{{baseUrl}}#/profile/options">
        <span translate="nav_event_options"></span>
      </a>
    </li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <span translate="hdr_profile_link"></span>
      </h2>
    </div>
    <div class="panel-body">
      <div uib-alert class="alert-success" ng-if="updateProfileSuccess" dismiss-on-timeout="5000" close="resetProfileAlerts()">
        <span translate="profile_update_success"></span>
      </div>
      <div uib-alert class="alert-danger" ng-if="updateProfileFailure" dismiss-on-timeout="5000" close="resetProfileAlerts()">
        {{updateProfileFailureMessage}}
      </div>
      <div uib-alert class="alert-success" ng-if="updatePasswordSuccess" dismiss-on-timeout="5000" close="resetProfileAlerts()">
        <span translate="password_update_success"></span>
      </div>
      <form ng-submit="updateUserProfile()" novalidate>
        <formly-form model="cpvm.profileModel" fields="cpvm.profileFields" form="cpvm.profileForm" options="cpvm.profileOptions">
          <div class="clearfix">
            <div class="pull-left">
              <button type="button" class="btn btn-default" ng-click="cpvm.profileOptions.resetModel()"><span translate="profile_reset_button"></span></button>
            </div>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary submit-button"><span translate="profile_update_button"></span></button>
            </div>
          </div>
        </formly-form>
      </form>
    </div>
  </div>
</div>