<div cg-busy="dashboardPromises" ng-class="{'heart-dashboard--has-team': participantRegistration.teamId && participantRegistration.teamId != '-1', 'heart-dashboard--has-company': participantRegistration.companyInformation && participantRegistration.companyInformation.companyId && participantRegistration.companyInformation.companyId != -1}">
  <div class="heart-dashboard__header">
    <div class="heart-dashboard__header-title" ng-if="constituent">
      <div ng-if="constituent.name && constituent.name.first">
        {{constituent.name.first}} {{constituent.name.last}}'s Fundraising Center
      </div>
      <div ng-if="!constituent.name.first">
        Fundraising Center
      </div>
    </div>
  </div>
  <uib-tabset active="active">
    <uib-tab index="0">
      <uib-tab-heading>
        Me
      </uib-tab-heading>
      <div class="heart-dashboard-tab-info clearfix">
        <div class="heart-dashboard-tab-info__text">
          <div ng-if="participantRank.rank == -1">
            You're not on the leaderboard yet!
          </div>
          <div ng-if="participantRank.rank && participantRank.rank != -1">
            I'm <span class="heart-dashboard-tab-info__rank">#{{participantRank.rank}}</span> of {{participantRank.totalNumber}} fundraisers at our Walk.
          </div>
        </div>
        <div class="heart-dashboard-tab-info__cta">
          <a class="btn btn-primary" ng-href="sms:&body=If you could save lives, would you%3F Join me today by participating or donating to the American Heart Association's Heart Walk: {{nonsecurePath}}TR%3Ffr_id={{frId}}%26pg=personal%26px={{consId}}" ng-if="device.isMobile && device.mobileType == 'ios'">
            Text for<br>
            Donations
          </a> 
          <a class="btn btn-primary" ng-href="sms:?body=If you could save lives, would you%3F Join me today by participating or donating to the American Heart Association's Heart Walk: {{nonsecurePath}}TR%3Ffr_id={{frId}}%2526pg=personal%2526px={{consId}}" ng-if="device.isMobile && device.mobileType == 'android'">
            Text for<br>
            Donations
          </a> 
          <a class="btn btn-primary" ng-href="{{baseUrl}}#/email/compose">
            Email for<br>
            Donations
          </a> 
          <a class="btn btn-primary" ng-click="addOfflineGift('personal')" ng-if="teamraiserConfig.personalOfflineGiftsAllowed == 'true'">
            Enter Cash<br>
            or Checks
          </a>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart-page-rail heart-page-rail--participant-center">
          <div class="heart-page-progress heart-page-progress--participant-center">
            <div class="progress heart-page-progress__thermometer">
              <div class="progress-bar heart-page-progress__thermometer-fill" ng-style="{'width': participantProgress.percent + '%'}"></div>
              <span class="btn btn-lg btn-primary">
                My Progress
              </span>
            </div>
            <div class="heart-page-progress__caret" ng-style="{'left': participantProgress.percent + '%'}"></div>
            <div class="heart-page-progress__box">
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{participantProgress.raisedFormatted}}
                </div>
                <div class="heart-page-progress__label heart-page-progress__label--right">
                  My Goal
                  <div class="heart-page-progress__amount">
                    {{participantProgress.goalFormatted}}
                  </div>
                </div>
              </div>
              <!-- TODO: don't show row if event date is null or in the past -->
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{daysToEvent}}
                </div>
                <div class="heart-page-progress__label">
                  <span ng-if="daysToEvent == 1">Day Remaining</span>
                  <span ng-if="daysToEvent != 1">Days Remaining</span>
                </div>
              </div>
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{participantGifts.totalNumber}}
                </div>
                <div class="heart-page-progress__label">
                  <span ng-if="participantGifts.totalNumber == 1">Donation Received</span>
                  <span ng-if="participantGifts.totalNumber != 1">Donations Received</span>
                </div>
              </div>
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__related-cta">
                  <a class="btn btn-primary" ng-click="editGoal('Participant')" ng-if="teamraiserConfig.personalGoalAllowed == 'true'">
                    Edit<br>
                    My Goal
                  </a>
                  <!-- TODO: conditionalize on event status -->
                  <a class="btn btn-primary" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">
                    Make a Personal<br>
                    Donation
                  </a>
                  <!-- TODO: my personal donation amount -->
                </div>
              </div>
              <div class="heart-page-progress__row heart-page-progress__row--social clearfix">
                <div class="heart-page-progress__share-label">
                  Share my Personal Page
                </div>
                <div class="heart-page-progress__share-buttons addthis_toolbox" addthis:url="{{personalPageUrl}}">
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--facebook addthis_button_facebook" ng-href="{{baseUrl}}#">
                    <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span>
                  </a> 
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--twitter addthis_button_twitter" ng-href="{{baseUrl}}#">
                    <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                  </a> 
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--linkedin addthis_button_linkedin" ng-href="{{baseUrl}}#">
                    <i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="heart-page-main heart-page-main--participant-center">
          <div class="heart-user-gifts">
            <div class="heart-user-gifts__header clearfix">
              <h2 style="float: none;">
                My Personal Page URL
              </h2>
              <p class="heart-pc-user-page-sharing__page-url">
                {{personalPageUrl}}
              </p>
              <button class="btn btn-primary-inverted" ng-click="editPageUrl('Participant')">
                Edit
              </button>
            </div>
          </div>
          <div class="heart-user-gifts">
            <div class="heart-user-gifts__header clearfix">
              <h2>
                My Donors
              </h2>
              <div class="dropdown">
                <a data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <u>Tasks</u>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-href="TRParticipantDownload/Personal_Donations.csv?download_type=personal_donations&fr_id={{frId}}" target="_blank">Download Donation List</a>
                  </li>
                  <li>
                    <a ng-click="toggleGiftNotification(true)" ng-if="participantRegistration.receiveGiftNotification != 'true'">Turn On Donation Notifications</a>
                    <a ng-click="toggleGiftNotification(false)" ng-if="participantRegistration.receiveGiftNotification == 'true'">Turn Off Donation Notifications</a>
                  </li>
                </ul>
              </div>
            </div>
            <div ng-if="participantGifts.totalNumber == 0">
              No donations found.
            </div>
            <gift-list gifts="participantGifts.gifts" sort-column="participantGifts.sortColumn" sort-ascending="participantGifts.sortAscending" sort-gifts="sortGifts" delete-gift="deleteGift" acknowledge-gift="acknowledgeGift" thank-donor="thankDonor" ng-if="participantGifts.totalNumber && participantGifts.totalNumber != 0"></gift-list>
            <div class="heart-list-pagination" ng-if="participantGifts.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="participantGifts.totalNumber" max-size="10" ng-model="participantGifts.page" ng-change="getGifts()"></ul>
            </div>
          </div>
          <div class="heart-news-center" ng-cloak>
            <div ng-if="newsFeed.totalNumber == 0">
              <h2>
                Welcome to Heart Walk!
              </h2>
              <p>
                You are joining nearly 1 million people at 305 events across the country to build healthier lives, free of cardiovascular diseases and stroke. As a benefit for you and to help you on your journey toward a healthy and active lifestyle we invite you to join the American Heart Association's Healthy For Good movement.
              </p>
              <p>
                Healthy For Good will engage you in new, simple and innovative ways to improve your health. Join the American Heart Association's Healthy For Good revolution and start the journey with us. Visit <a href="http://www.heart.org/healthyforgood" target="_blank">heart.org/healthyforgood</a>.
              </p>
            </div>
            <div ng-if="newsFeed.totalNumber > 0">
              <h2>
                News Center
              </h2>
              <news-feed-list items="newsFeed.items"></news-feed-list>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
    <!-- TODO: conditionalize on team status -->
    <uib-tab index="1" ng-if="participantRegistration.teamId && participantRegistration.teamId != '-1'">
      <uib-tab-heading>
        My Team
      </uib-tab-heading>
      <div class="heart-dashboard-tab-info clearfix">
        <div class="heart-dashboard-tab-info__text">
          <div ng-if="teamRank.rank == -1">
            Your team's not on the leaderboard yet!
          </div>
          <div ng-if="teamRank.rank && teamRank.rank != -1">
            We're <span class="heart-dashboard-tab-info__rank">#{{teamRank.rank}}</span> of {{teamRank.totalNumber}} teams at our Walk.
          </div>
        </div>
        <div class="heart-dashboard-tab-info__cta">
          <a class="btn btn-primary" ng-click="emailAllTeamMembers()" ng-if="participantRegistration.aTeamCaptain == 'true'">
            Email My<br>
            Team
          </a> 
          <a class="btn btn-primary" ng-click="addOfflineGift('team')" ng-if="teamraiserConfig.personalOfflineGiftsAllowed == 'true' && ((teamraiserConfig.offlineTeamGifts == 'CAPTAINS' && participantRegistration.aTeamCaptain == 'true') || teamraiserConfig.offlineTeamGifts == 'MEMBERS')">
            Enter Cash<br>
            or Checks
          </a>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart-page-rail heart-page-rail--participant-center">
          <div class="heart-page-progress heart-page-progress--participant-center">
            <div class="progress heart-page-progress__thermometer">
              <div class="progress-bar heart-page-progress__thermometer-fill" ng-style="{'width': teamProgress.percent + '%'}"></div>
              <span class="btn btn-lg btn-primary">
                Our Progress
              </span>
            </div>
            <div class="heart-page-progress__caret" ng-style="{'left': teamProgress.percent + '%'}"></div>
            <div class="heart-page-progress__box">
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{teamProgress.raisedFormatted}}
                </div>
                <div class="heart-page-progress__label heart-page-progress__label--right">
                  Our Goal
                  <div class="heart-page-progress__amount">
                    {{teamProgress.goalFormatted}}
                  </div>
                </div>
              </div>
              <!-- TODO: don't show row if event date is null or in the past -->
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{daysToEvent}}
                </div>
                <div class="heart-page-progress__label">
                  <span ng-if="daysToEvent == 1">Day Remaining</span>
                  <span ng-if="daysToEvent != 1">Days Remaining</span>
                </div>
              </div>
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{teamGifts.totalNumber}}
                </div>
                <div class="heart-page-progress__label">
                  <span ng-if="teamGifts.totalNumber == 1">Donation Received</span>
                  <span ng-if="teamGifts.totalNumber != 1">Donations Received</span>
                </div>
              </div>
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__related-cta">
                  <a class="btn btn-primary" ng-click="editGoal('Team')" ng-if="participantRegistration.aTeamCaptain == 'true'">
                    Edit<br>
                    Team Goal
                  </a>
                  <!-- TODO: conditionalize on event status -->
                  <a class="btn btn-primary" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=22&amp;PROXY_ID={{participantRegistration.teamId}}">
                    Make a Team<br>
                    Donation
                  </a>
                </div>
              </div>
              <div class="heart-page-progress__row heart-page-progress__row--social clearfix">
                <div class="heart-page-progress__share-label">
                  Share my Team Page
                </div>
                <div class="heart-page-progress__share-buttons addthis_toolbox" addthis:url="{{teamPageUrl}}">
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--facebook addthis_button_facebook" ng-href="{{baseUrl}}#">
                    <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span>
                  </a> 
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--twitter addthis_button_twitter" ng-href="{{baseUrl}}#">
                    <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                  </a> 
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--linkedin addthis_button_linkedin" ng-href="{{baseUrl}}#">
                    <i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="heart-page-main heart-page-main--participant-center">
          <div class="heart-team-members" ng-if="participantRegistration.aTeamCaptain == 'true'">
            <div class="heart-team-members__header clearfix">
              <h2 style="float: none;">
                Team Page URL
              </h2>
              <p class="heart-pc-user-page-sharing__page-url">
                {{teamPageUrl}}
              </p>
              <button class="btn btn-primary-inverted" ng-click="editPageUrl('Team')">
                Edit
              </button>
            </div>
          </div>
          <div class="heart-team-members">
            <div class="heart-team-members__header clearfix">
              <h2>
                <span ng-bind-html="teamInfo.name"></span> Roster
              </h2>
              <div class="dropdown" ng-if="participantRegistration.aTeamCaptain == 'true'">
                <a data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <u>Tasks</u>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-href="TRParticipantDownload/Team_Roster.csv?download_type=team_roster&fr_id={{frId}}" target="_blank">Download Team Roster</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- TODO: empty state -->
            <trpc-team-member-list members="teamMembers.members" sort-column="teamMembers.sortColumn" sort-ascending="teamMembers.sortAscending" sort-members="sortTeamMembers" email-team-member="emailTeamMember"></trpc-team-member-list>
            <div class="heart-list-pagination" ng-if="teamMembers.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="teamMembers.totalNumber" max-size="10" ng-model="teamMembers.page" ng-change="getTeamMembers()"></ul>
            </div>
          </div>
          <div class="heart-user-gifts heart-user-gifts--team">
            <div class="heart-user-gifts__header clearfix">
              <h2>
                <span ng-bind-html="teamInfo.name"></span> Donors
              </h2>
              <div class="dropdown" ng-if="participantRegistration.aTeamCaptain == 'true'">
                <a data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <u>Tasks</u>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-href="TRParticipantDownload/Team_Donations.csv?download_type=team_donations&fr_id={{frId}}" target="_blank">Download Team Donation List</a>
                  </li>
                </ul>
              </div>
            </div>
            <div ng-if="teamGifts.totalNumber == 0">
              No donations found.
            </div>
            <gift-list gifts="teamGifts.gifts" sort-column="teamGifts.sortColumn" sort-ascending="teamGifts.sortAscending" sort-gifts="sortTeamGifts" delete-gift="deleteTeamGift" acknowledge-gift="acknowledgeGift" thank-donor="thankDonor" ng-if="teamGifts.totalNumber && teamGifts.totalNumber != 0"></gift-list>
            <div class="heart-list-pagination" ng-if="teamGifts.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="teamGifts.totalNumber" max-size="10" ng-model="teamGifts.page" ng-change="getTeamGifts()"></ul>
            </div>
          </div>
          <div class="heart-captains-message heart-captains-message--highlighted" ng-if="(teamCaptainsMessage.message && teamCaptainsMessage.message != '') || teamCaptainsMessage.editable == 'true'">
            <div class="clearfix">
              <a class="pull-right" ng-click="editTeamCaptainsMessage()" ng-if="teamCaptainsMessage.editable == 'true' && !teamCaptainsMessage.inEditMode">Edit</a>
              <a class="pull-right" ng-click="saveTeamCaptainsMessage()" ng-if="teamCaptainsMessage.inEditMode">Save</a>
              <h2>
                <span ng-if="teamCaptainsMessage.editable != 'true'">From My Team Captain</span>
                <span ng-if="teamCaptainsMessage.editable == 'true'">A Message for Your Team</span>
              </h2>
            </div>
            <div ng-if="!teamCaptainsMessage.inEditMode">
              <div ng-if="teamCaptainsMessage.editable == 'true' && (!teamCaptainsMessage.message || teamCaptainsMessage.message == '')">
                <span translate="captains_message_empty"></span>
              </div>
              <div ng-if="teamCaptainsMessage.message && teamCaptainsMessage.message != ''">
                {{teamCaptainsMessage.message}}
              </div>
            </div>
            <div ng-if="teamCaptainsMessage.inEditMode">
              <textarea class="form-control" name="captains_message" placeholder="Enter your message" ng-model="teamCaptainsMessage.message"></textarea>
            </div>
          </div>
          <div class="heart-leaderboard">
            <h2>
              Team Leaderboard
            </h2>
            <!-- TODO: empty state -->
            <team-leaderboard teams="topTeams.teams"></team-leaderboard>
          </div>
          <div class="heart-news-center" ng-if="newsFeed.totalNumber > 0" ng-cloak>
            <h2>
              News Center
            </h2>
            <news-feed-list items="newsFeed.items"></news-feed-list>
            <!-- TODO: pagination -->
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2" ng-if="participantRegistration.companyInformation && participantRegistration.companyInformation.companyId && participantRegistration.companyInformation.companyId != -1">
      <uib-tab-heading>
        My Company
      </uib-tab-heading>
      <div class="heart-dashboard-tab-info clearfix">
        <div class="heart-dashboard-tab-info__text">
          <div ng-if="companyRank.rank == -1">
            Your company's not on the leaderboard yet!
          </div>
          <div ng-if="companyRank.rank && companyRank.rank != -1">
            We're <span class="heart-dashboard-tab-info__rank">#{{companyRank.rank}}</span> of {{companyRank.totalNumber}} companies at our Walk.
          </div>
        </div>
        <div class="heart-dashboard-tab-info__cta">
          <a class="btn btn-primary" ng-click="emailAllCompanyParticipants()" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
            Email My<br>
            Company
          </a> 
          <a class="btn btn-primary hidden" ng-href="NTM?tr.ntmgmt=company_cservice_main&amp;company_id={{participantRegistration.companyInformation.companyId}}" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
            My Company<br>
            Coordinator Center
          </a>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart-page-rail heart-page-rail--participant-center">
          <div class="heart-page-progress heart-page-progress--no-donate heart-page-progress--participant-center">
            <div class="progress heart-page-progress__thermometer">
              <div class="progress-bar heart-page-progress__thermometer-fill" ng-style="{'width': companyProgress.percent + '%'}"></div>
              <span class="btn btn-lg btn-primary"></span>
            </div>
            <div class="heart-page-progress__caret" ng-style="{'left': companyProgress.percent + '%'}"></div>
            <div class="heart-page-progress__box">
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{companyProgress.raisedFormatted}}
                </div>
                <div class="heart-page-progress__label heart-page-progress__label--right">
                  Our Goal
                  <div class="heart-page-progress__amount">
                    {{companyProgress.goalFormatted}}
                  </div>
                </div>
              </div>
              <!-- TODO: don't show row if event date is null or in the past -->
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{daysToEvent}}
                </div>
                <div class="heart-page-progress__label">
                  <span ng-if="daysToEvent == 1">Day Remaining</span>
                  <span ng-if="daysToEvent != 1">Days Remaining</span>
                </div>
              </div>
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  <!-- TODO: get number of donations -->
                  0
                </div>
                <div class="heart-page-progress__label">
                  <!-- TODO: make Donation singular for 1 donation -->
                  Donations Received
                </div>
              </div>
              <div class="heart-page-progress__row clearfix" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
                <div class="heart-page-progress__related-cta">
                  <!--<a class="btn btn-primary" ng-href="NTM?fr_id={{frId}}&amp;tr.ntmgmt=company_edit&amp;company_id={{participantRegistration.companyInformation.companyId}}&amp;mfc_pref=T&amp;action=edit_company">
                    Edit<br>
                    Company Goal
                  </a>-->
                  <a class="btn btn-primary" href="" ng-click="editCompanyGoal()">
                    Edit<br>
                    Company Goal
                  </a>
                </div>
              </div>
              <div class="heart-page-progress__row heart-page-progress__row--social clearfix">
                <div class="heart-page-progress__share-label">
                  Share my Company Page
                </div>
                <div class="heart-page-progress__share-buttons addthis_toolbox" addthis:url="{{companyPageUrl}}">
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--facebook addthis_button_facebook" ng-href="{{baseUrl}}#">
                    <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span>
                  </a> 
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--twitter addthis_button_twitter" ng-href="{{baseUrl}}#">
                    <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                  </a> 
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--linkedin addthis_button_linkedin" ng-href="{{baseUrl}}#">
                    <i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="heart-page-main heart-page-main--participant-center">
          <div class="heart-company-related-list">
            <div class="heart-company-related-list__header clearfix">
              <h2>
                <span ng-bind-html="companyInfo.companyName"></span> Teams
              </h2>
              <div class="dropdown" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
                <a data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <u>Tasks</u>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-href="TRParticipantDownload/Company_Teams.csv?download_type=company_teams&fr_id={{frId}}" target="_blank">Download Company Team List</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- TODO: empty state -->
            <trpc-company-team-list sort-column="companyTeams.sortColumn" sort-ascending="companyTeams.sortAscending" sort-teams="sortCompanyTeams" teams="companyTeams.teams"></trpc-company-team-list>
            <div class="heart-list-pagination" ng-if="companyTeams.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="companyTeams.totalNumber" max-size="10" ng-model="companyTeams.page" ng-change="getCompanyTeams()"></ul>
            </div>
          </div>
          <div class="heart-company-related-list heart-company-related-list--participants">
            <h2>
              <span ng-bind-html="companyInfo.companyName"></span> Participants
            </h2>
            <!-- TODO: empty state -->
            <trpc-company-participant-list participants="companyParticipants.participants" sort-column="companyParticipants.sortColumn" sort-ascending="companyParticipants.sortAscending" sort-participants="sortCompanyParticipants" email-participant="emailCompanyParticipant"></trpc-company-participant-list>
            <div class="heart-list-pagination" ng-if="companyParticipants.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="companyParticipants.totalNumber" max-size="10" ng-model="companyParticipants.page" ng-change="getCompanyParticipants()"></ul>
            </div>
          </div>
          <div class="heart-leaderboard heart-leaderboard--company">
            <h2>
              Company Leaderboard
            </h2>
            <!-- TODO: empty state -->
            <company-leaderboard companies="topCompanies.companies"></company-leaderboard>
          </div>
          <div class="heart-news-center" ng-if="newsFeed.totalNumber > 0" ng-cloak>
            <h2>
              News Center
            </h2>
            <news-feed-list items="newsFeed.items"></news-feed-list>
            <!-- TODO: pagination -->
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
