<div cg-busy="dashboardPromises" ng-class="{'heart-dashboard--has-team': participantRegistration.teamId && participantRegistration.teamId != '-1', 'heart-dashboard--has-company': participantRegistration.companyInformation && participantRegistration.companyInformation.companyId && participantRegistration.companyInformation.companyId != -1}">
  <uib-tabset active="active">
    <uib-tab index="0">
      <uib-tab-heading>
        Me
      </uib-tab-heading>
      <div class="clearfix">
        <div ng-if="constituent">
          <h1 ng-if="constituent.name && constituent.name.first">
            {{constituent.name.first}}, Dynamic Content, <a href="#">with a link</a>!
          </h1>
          <h1 ng-if="!constituent.name.first">
            Participant, Dynamic Content, <a href="#">with a link</a>!
          </h1>
        </div>
        <h2>Or get started on another item:</h2>
        <div class="row profile_box_row">
          <div class="col-sm-4 profile_box">
            <div class="profile_box_icon pull-left"><i ng-if="updatedProfile == 'FALSE'" class="fa fa-pencil"></i><i ng-if="updatedProfile == 'TRUE'" class="fa fa-check"></i></div>
            <div class="profile_box_info pull-right">Personalize your page with a photo and your "Why" story.<a class="btn btn-primary" ng-href="{{personalPageUrl}}">Update your Page</a></div>
          </div>
          <div class="col-sm-4 profile_box">
            <div class="profile_box_icon pull-left"><i ng-if="isSelfDonor == 'FALSE'" class="fa fa-dollar"></i><i ng-if="isSelfDonor == 'TRUE'" class="fa fa-check"></i></div>
            <div class="profile_box_info pull-right">Kick-start your fundraising by donating towards your goal.<a class="btn btn-primary" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">Make a Donation</a></div>
          </div>
          <div class="col-sm-4 profile_box">
            <div class="profile_box_icon pull-left"><i ng-if="emailsSent == '0'" class="fa fa-at"></i><i ng-if="emailsSent > '0'" class="fa fa-check"></i></div>
            <div class="profile_box_info pull-right">Send emails to ask friends to join or donate today.<a class="btn btn-primary" ng-href="{{baseUrl}}#/email/compose">Send an Email</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 profile_box">
            <div class="profile_box_icon pull-left"><i class="fa fa-question"></i></div>
            <div class="profile_box_info pull-right">Why do you walk? Finish this sentence: "______ is Why."<button class="btn btn-primary" ng-click="tellUsWhy()">Tell Us Your Why</button></div>
          </div>
          <div class="col-sm-4 profile_box">
            <div class="profile_box_icon pull-left"><i class="fa fa-heart"></i></div>
            <div class="profile_box_info addthis_toolbox pull-right" addthis:url="{{personalPageUrl}}">You'll receive a Heart Walk t-shirt when you raise $100.<a class="btn btn-primary addthis_button_facebook" ng-href="{{baseUrl}}#">Share Your Page</button></div>
          </div>
          <div class="col-sm-4 profile_box">
            <div class="profile_box_icon pull-left">F</div>
            <div class="profile_box_info pull-right">We're missing your details! Complete your profile now.<button class="btn btn-primary">Update My Profile</button></div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart-page-rail heart-page-rail--participant-center">
          <h2>My Progress:</h2>
          <div class="progress heart_pc_sidebar_thermometer">
            <div class="progress-bar heart_pc_sidebar_thermometer_fill" ng-style="{'width': participantProgress.percent + '%'}"></div>
            <span class="heart_pc_sidebar_percentage">{{participantProgress.percent}}%</span>
          </div>
          <div class="heart_pc_sidebar_row clearfix">
            <div class="pull-left">
                  <p>Raised: {{participantProgress.raisedFormatted}}</p>
                  <p>Goal: {{participantProgress.goalFormatted}}</p>
              </div>
              <div class="pull-right">
                  <button class="btn btn-primary-inverted btn-goal" ng-click="editGoal('Participant')" ng-if="teamraiserConfig.personalGoalAllowed == 'true'">Edit Goal</button>
              </div>
          </div>
          <div class="heart_pc_sidebar_row clearfix">
              <p>Share my page:</p>
              <div class="addthis_toolbox" addthis:url="{{personalPageUrl}}">
                <a class="heart_pc_sidebar_sharebtn addthis_button_facebook" ng-href="{{baseUrl}}#">
                  <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span>
                </a>
                <a class="heart_pc_sidebar_sharebtn addthis_button_twitter" ng-href="{{baseUrl}}#">
                  <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                </a>
                <a class="heart_pc_sidebar_sharebtn addthis_button_linkedin" ng-href="{{baseUrl}}#">
                  <i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                </a>
              </div>
          </div>
          <h2>Walk Details:</h2>
          <div class="heart_pc_sidebar_row clearfix">
            <p><a href="TR?fr_id={{frId}}&amp;pg=entry">{{eventInfo.name}}</a></p>
            <p>Where: xLocationx</p>
            <p ng-if="eventInfo.event_date && eventInfo.event_date != ''">Date &amp; Time: {{eventInfo.event_date | date : 'MMMM d'}}</p>
            <button>View Map</button>
          </div>
        </div>
        <div class="heart_pc_main_page">
          <h2>Manage My Walk:</h2>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">My Fundraising URL:</div>
              <p>{{personalPageUrl}}</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted" ng-click="editPageUrl('Participant')">Edit URL</button>
            </div>
          </div>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">Survivor:</div>
              <p>Brenda, you are being recognized as a survivor.</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted" ng-click="#">Edit Status</button>
            </div>
          </div>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">Donation Notifications:</div>
              <p>Turn on email notifications when I receive a donation.</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted" ng-click="toggleGiftNotification(true)" ng-if="participantRegistration.receiveGiftNotification != 'true'">Turn On Emails</button>
              <button class="btn btn-primary-inverted" ng-click="toggleGiftNotification(false)" ng-if="participantRegistration.receiveGiftNotification == 'true'">Turn Off Emails</button>
            </div>
          </div>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">Enter Cash of Checks:</div>
              <p>Enter offline donations here.</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted" ng-click="addOfflineGift('personal')" ng-if="teamraiserConfig.personalOfflineGiftsAllowed == 'true'">Enter Donations</button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart_pc_my_donors clearfix">
          <div class="clearfix">
            <h2 class="pull-left">My Donors</h2>
            <a class="btn btn-primary-inverted pull-right" ng-href="TRParticipantDownload/Personal_Donations.csv?download_type=personal_donations&fr_id={{frId}}" target="_blank">Download Donation List</a>
          </div>
          <div ng-if="participantGifts.totalNumber == 0">
            No donations found.
          </div>
          <gift-list gifts="participantGifts.gifts" sort-column="participantGifts.sortColumn" sort-ascending="participantGifts.sortAscending" sort-gifts="sortGifts" delete-gift="deleteGift" acknowledge-gift="acknowledgeGift" thank-donor="thankDonor" ng-if="participantGifts.totalNumber && participantGifts.totalNumber != 0"></gift-list>
          <div class="heart-list-pagination" ng-if="participantGifts.totalNumber > 10">
            <ul uib-pagination direction-links="false" items-per-page="10" total-items="participantGifts.totalNumber" max-size="10" ng-model="participantGifts.page" ng-change="getGifts()"></ul>
          </div>
        </div>
        <div class="heart-news-center" ng-cloak>
          <div ng-if="newsFeed.totalNumber == 0">
            <h2>
              Welcome to Heart Walk!
            </h2>
            <p>
              You are joining nearly 1 million people at 305 events across the country to build healthier lives, free of cardiovascular diseases and stroke. As a benefit for you and to help you on your journey toward a healthy and active lifestyle we invite you to join the American Heart Association's Healthy For Good movement.
            </p>
            <p>
              Healthy For Good will engage you in new, simple and innovative ways to improve your health. Join the American Heart Association's Healthy For Good revolution and start the journey with us. Visit <a href="http://www.heart.org/healthyforgood" target="_blank">heart.org/healthyforgood</a>.
            </p>
          </div>
          <div ng-if="newsFeed.totalNumber > 0">
            <h2>
              News Center
            </h2>
            <news-feed-list items="newsFeed.items"></news-feed-list>
          </div>
        </div>
      </div>
    </uib-tab>
    <!-- TODO: conditionalize on team status -->
    <uib-tab index="1" ng-if="participantRegistration.teamId && participantRegistration.teamId != '-1'">
      <uib-tab-heading>
        My Team
      </uib-tab-heading>
      <div class="clearfix">
        <div ng-if="constituent">
          <h1 ng-if="teamInfo.name">
            My Team: {{teamInfo.name}}
          </h1>
          <h1 ng-if="!teamInfo.name">
            My Team
          </h1>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart-page-rail heart-page-rail--participant-center">
          <h2>Team Progress:</h2>
          <div class="progress heart_pc_sidebar_thermometer">
            <div class="progress-bar heart_pc_sidebar_thermometer_fill" ng-style="{'width': teamProgress.percent + '%'}"></div>
            <span class="heart_pc_sidebar_percentage">{{teamProgress.percent}}%</span>
          </div>
          <div class="heart_pc_sidebar_row clearfix">
            <div class="pull-left">
                  <p>Raised: {{teamProgress.raisedFormatted}}</p>
                  <p>Goal: {{teamProgress.goalFormatted}}</p>
              </div>
              <div class="pull-right">
                  <button class="btn btn-primary-inverted btn-goal" ng-click="editGoal('Team')" ng-if="participantRegistration.aTeamCaptain == 'true'">Edit Goal</button>
              </div>
          </div>
          <div class="heart_pc_sidebar_row clearfix">
              <p>Share team page:</p>
              <div addthis:url="{{teamPageUrl}}">
                <a class="heart_pc_sidebar_sharebtn addthis_button_facebook" ng-href="{{baseUrl}}#">
                  <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span>
                </a>
                <a class="heart_pc_sidebar_sharebtn addthis_button_twitter" ng-href="{{baseUrl}}#">
                  <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                </a>
                <a class="heart_pc_sidebar_sharebtn addthis_button_linkedin" ng-href="{{baseUrl}}#">
                  <i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                </a>
              </div>
          </div>
        </div>
        <div class="heart_pc_main_page">
          <h2>Manage My Team:</h2>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">Team's URL:</div>
              <p>{{teamPageUrl}}</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted" ng-click="editPageUrl('Participant')">Edit URL</button>
            </div>
          </div>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">Update Team Name:</div>
              <p>Misspelled? Wrong? Update it here.</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted">Edit Name</button>
            </div>
          </div>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">Email My Team:</div>
              <p>Send an email directly to everyone on your team.</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted" ng-click="emailAllTeamMembers()" ng-if="participantRegistration.aTeamCaptain == 'true'">Email Team</button>
            </div>
          </div>
          <div class="manage_walk_items clearfix">
            <div class="pull-left">
              <div class="manage_walk_header">Enter a Team Gift:</div>
              <p>Enter offline donations you receive for your team.</p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary-inverted" ng-click="addOfflineGift('team')" ng-if="teamraiserConfig.personalOfflineGiftsAllowed == 'true' && ((teamraiserConfig.offlineTeamGifts == 'CAPTAINS' && participantRegistration.aTeamCaptain == 'true') || teamraiserConfig.offlineTeamGifts == 'MEMBERS')">Enter Donations</button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart-team-members">
          <div class="heart-team-members__header clearfix">
            <h2><span ng-bind-html="teamInfo.name"></span> Roster</h2>
            <a ng-if="participantRegistration.aTeamCaptain == 'true'" class="btn btn-primary-inverted pull-right" ng-href="TRParticipantDownload/Team_Roster.csv?download_type=team_roster&fr_id={{frId}}" target="_blank">Download Team Roster</a>
          </div>
          <!-- TODO: empty state -->
          <trpc-team-member-list members="teamMembers.members" sort-column="teamMembers.sortColumn" sort-ascending="teamMembers.sortAscending" sort-members="sortTeamMembers" email-team-member="emailTeamMember"></trpc-team-member-list>
          <div class="heart-list-pagination" ng-if="teamMembers.totalNumber > 10">
            <ul uib-pagination direction-links="false" items-per-page="10" total-items="teamMembers.totalNumber" max-size="10" ng-model="teamMembers.page" ng-change="getTeamMembers()"></ul>
          </div>
        </div>
        <div class="heart_pc_my_donors clearfix">
          <div class="clearfix">
            <h2 class="pull-left" ng-if="teamInfo.name">{{teamInfo.name}} Donors</h2>
            <h2 class="pull-left" ng-if="!teamInfo.name">Team Donors</h2>
            <a class="btn btn-primary-inverted pull-right" ng-href="TRParticipantDownload/Personal_Donations.csv?download_type=personal_donations&fr_id={{frId}}" target="_blank">Download Donation List</a>
          </div>
          <div ng-if="teamGifts.totalNumber == 0">
            No donations found.
          </div>
          <gift-list gifts="teamGifts.gifts" sort-column="teamGifts.sortColumn" sort-ascending="teamGifts.sortAscending" sort-gifts="sortTeamGifts" delete-gift="deleteTeamGift" acknowledge-gift="acknowledgeGift" thank-donor="thankDonor" ng-if="teamGifts.totalNumber && teamGifts.totalNumber != 0"></gift-list>
            <div class="heart-list-pagination" ng-if="teamGifts.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="teamGifts.totalNumber" max-size="10" ng-model="teamGifts.page" ng-change="getTeamGifts()"></ul>
          </div>
        </div>
        <div class="heart-captains-message heart-captains-message--highlighted" ng-if="(teamCaptainsMessage.message && teamCaptainsMessage.message != '') || teamCaptainsMessage.editable == 'true'">
          <div class="clearfix">
            <a class="pull-right" ng-click="editTeamCaptainsMessage()" ng-if="teamCaptainsMessage.editable == 'true' && !teamCaptainsMessage.inEditMode">Edit</a>
            <a class="pull-right" ng-click="saveTeamCaptainsMessage()" ng-if="teamCaptainsMessage.inEditMode">Save</a>
            <h2>
              <span ng-if="teamCaptainsMessage.editable != 'true'">From My Team Captain</span>
              <span ng-if="teamCaptainsMessage.editable == 'true'">A Message for Your Team</span>
            </h2>
          </div>
          <div ng-if="!teamCaptainsMessage.inEditMode">
            <div ng-if="teamCaptainsMessage.editable == 'true' && (!teamCaptainsMessage.message || teamCaptainsMessage.message == '')">
              <span translate="captains_message_empty"></span>
            </div>
            <div ng-if="teamCaptainsMessage.message && teamCaptainsMessage.message != ''">
              {{teamCaptainsMessage.message}}
            </div>
          </div>
          <div ng-if="teamCaptainsMessage.inEditMode">
            <textarea class="form-control" name="captains_message" placeholder="Enter your message" ng-model="teamCaptainsMessage.message"></textarea>
          </div>
        </div>
        <div class="heart-news-center" ng-if="newsFeed.totalNumber > 0" ng-cloak>
          <h2>
            News Center
          </h2>
          <news-feed-list items="newsFeed.items"></news-feed-list>
          <!-- TODO: pagination -->
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2" ng-if="participantRegistration.companyInformation && participantRegistration.companyInformation.companyId && participantRegistration.companyInformation.companyId != -1">
      <uib-tab-heading>
        My Company
      </uib-tab-heading>
      <div class="heart-dashboard-tab-info clearfix">
        <div class="heart-dashboard-tab-info__text">
          <div ng-if="companyRank.rank == -1">
            Your company's not on the leaderboard yet!
            <!-- TODO: Go get some donations link -->
          </div>
          <div ng-if="companyRank.rank && companyRank.rank != -1">
            We're <span class="heart-dashboard-tab-info__rank">#{{companyRank.rank}}</span> of {{companyRank.totalNumber}} companies at our Walk.
            <!-- TODO: View Leaderboard link -->
          </div>
        </div>
        <div class="heart-dashboard-tab-info__cta">
          <a class="btn btn-primary" ng-click="emailAllCompanyParticipants()" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
            Email My<br>
            Company
          </a>
          <a class="btn btn-primary hidden" ng-href="NTM?tr.ntmgmt=company_cservice_main&amp;company_id={{participantRegistration.companyInformation.companyId}}" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
            My Company<br>
            Coordinator Center
          </a>
        </div>
      </div>
      <div class="clearfix">
        <div class="heart-page-rail heart-page-rail--participant-center">
          <div class="heart-page-progress heart-page-progress--no-donate heart-page-progress--participant-center">
            <div class="progress heart-page-progress__thermometer">
              <div class="progress-bar heart-page-progress__thermometer-fill" ng-style="{'width': companyProgress.percent + '%'}"></div>
              <span class="btn btn-lg btn-primary"></span>
            </div>
            <div class="heart-page-progress__caret" ng-style="{'left': companyProgress.percent + '%'}"></div>
            <div class="heart-page-progress__box">
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{companyProgress.raisedFormatted}}
                </div>
                <div class="heart-page-progress__label heart-page-progress__label--right">
                  Our Goal
                  <div class="heart-page-progress__amount">
                    {{companyProgress.goalFormatted}}
                  </div>
                </div>
              </div>
              <!-- TODO: don't show row if event date is null or in the past -->
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  {{daysToEvent}}
                </div>
                <div class="heart-page-progress__label">
                  <span ng-if="daysToEvent == 1">Day Remaining</span>
                  <span ng-if="daysToEvent != 1">Days Remaining</span>
                </div>
              </div>
              <div class="heart-page-progress__row clearfix">
                <div class="heart-page-progress__amount">
                  <!-- TODO: get number of donations -->
                  0
                </div>
                <div class="heart-page-progress__label">
                  <!-- TODO: make Donation singular for 1 donation -->
                  Donations Received
                </div>
              </div>
              <div class="heart-page-progress__row clearfix" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
                <div class="heart-page-progress__related-cta">
                  <!--<a class="btn btn-primary" ng-href="NTM?fr_id={{frId}}&amp;tr.ntmgmt=company_edit&amp;company_id={{participantRegistration.companyInformation.companyId}}&amp;mfc_pref=T&amp;action=edit_company">
                    Edit<br>
                    Company Goal
                  </a>-->
                  <a class="btn btn-primary" href="" ng-click="editCompanyGoal()">
                    Edit<br>
                    Company Goal
                  </a>
                </div>
              </div>
              <div class="heart-page-progress__row heart-page-progress__row--social clearfix">
                <div class="heart-page-progress__share-label">
                  Share my Company Page
                </div>
                <div class="heart-page-progress__share-buttons addthis_toolbox" addthis:url="{{companyPageUrl}}">
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--facebook addthis_button_facebook" ng-href="{{baseUrl}}#">
                    <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span>
                  </a>
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--twitter addthis_button_twitter" ng-href="{{baseUrl}}#">
                    <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                  </a>
                  <a class="heart-page-progress__share-button heart-page-progress__share-button--linkedin addthis_button_linkedin" ng-href="{{baseUrl}}#">
                    <i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="heart-page-main heart-page-main--participant-center">
          <div class="heart-company-related-list">
            <div class="heart-company-related-list__header clearfix">
              <h2>
                <span ng-bind-html="companyInfo.companyName"></span> Teams
              </h2>
              <div class="dropdown" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
                <a data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <u>Tasks</u>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-href="TRParticipantDownload/Company_Teams.csv?download_type=company_teams&fr_id={{frId}}" target="_blank">Download Company Team List</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- TODO: empty state -->
            <trpc-company-team-list sort-column="companyTeams.sortColumn" sort-ascending="companyTeams.sortAscending" sort-teams="sortCompanyTeams" teams="companyTeams.teams"></trpc-company-team-list>
            <div class="heart-list-pagination" ng-if="companyTeams.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="companyTeams.totalNumber" max-size="10" ng-model="companyTeams.page" ng-change="getCompanyTeams()"></ul>
            </div>
          </div>
          <div class="heart-company-related-list heart-company-related-list--participants">
            <h2>
              <span ng-bind-html="companyInfo.companyName"></span> Participants
            </h2>
            <!-- TODO: empty state -->
            <trpc-company-participant-list participants="companyParticipants.participants" sort-column="companyParticipants.sortColumn" sort-ascending="companyParticipants.sortAscending" sort-participants="sortCompanyParticipants" email-participant="emailCompanyParticipant"></trpc-company-participant-list>
            <div class="heart-list-pagination" ng-if="companyParticipants.totalNumber > 10">
              <ul uib-pagination direction-links="false" items-per-page="10" total-items="companyParticipants.totalNumber" max-size="10" ng-model="companyParticipants.page" ng-change="getCompanyParticipants()"></ul>
            </div>
          </div>
          <div class="heart-leaderboard heart-leaderboard--company">
            <h2>
              Company Leaderboard
            </h2>
            <!-- TODO: empty state -->
            <company-leaderboard companies="topCompanies.companies"></company-leaderboard>
          </div>
          <div class="heart-news-center" ng-if="newsFeed.totalNumber > 0" ng-cloak>
            <h2>
              News Center
            </h2>
            <news-feed-list items="newsFeed.items"></news-feed-list>
            <!-- TODO: pagination -->
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
