<div cg-busy="editPagePromises">
  <section class="heart-pc-user-page-edit">
    <div class="heart-user-view-type" ng-if="participantRegistration.teamId && participantRegistration.teamId != '-1' && participantRegistration.aTeamCaptain == 'true'" ng-cloak>
      <label>
        Select your view:
      </label>
      <select class="form-control" ng-model="viewOptions.viewType" ng-init="viewOptions.viewType = 'participant'">
        <option value="participant">Me</option>
        <option value="team">My Team</option>
      </select>
    </div>
    <div class="heart-pc-user-page-edit__intro">
      <div ng-if="viewOptions.viewType == 'participant'">
        <!-- TODO: intro text -->
      </div>
      <div ng-if="viewOptions.viewType == 'team'">
        <!-- TODO: intro text -->
      </div>
    </div>
    <div ng-if="viewOptions.viewType == 'participant'">
      <a class="btn btn-white-inverted" ng-href="TR?fr_id={{frId}}&amp;pg=personal&amp;px={{consId}}">
        View and Edit Your Page
      </a>
    </div>
    <div ng-if="viewOptions.viewType == 'team'">
      <a class="btn btn-white-inverted" ng-href="TR?fr_id={{frId}}&amp;pg=team&amp;team_id={{participantRegistration.teamId}}">
        View and Edit Team Page
      </a>
    </div>
  </section>
  <section class="heart-pc-user-page-sharing">
    <div class="row clearfix">
      <div class="col-sm-6">
        <div ng-if="viewOptions.viewType == 'participant'">
          <h2>
            Personal Page URL
          </h2>
          <div class="heart-pc-user-page-sharing__page-url">
            {{personalPageUrl}}
          </div>
          <button class="btn btn-primary-inverted" ng-click="editPageUrl('Participant')">
            Edit
          </button>
        </div>
        <div ng-if="viewOptions.viewType == 'team'">
          <h2>
            Team Page URL
          </h2>
          <div class="heart-pc-user-page-sharing__page-url">
            {{teamPageUrl}}
          </div>
          <button class="btn btn-primary-inverted" ng-click="editPageUrl('Team')">
            Edit
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div ng-show="viewOptions.viewType == 'participant'">
          <h2>
            Share My Page
          </h2>
          <div>
            <!-- TODO: addthis buttons -->
          </div>
        </div>
        <div ng-show="viewOptions.viewType == 'team'" ng-cloak>
          <h2>
            Share Team Page
          </h2>
          <div>
            <!-- TODO: addthis buttons -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>