<div cg-busy="emailPromises">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <email-contacts-nav refresh-contacts="refreshContactsNav"></email-contacts-nav>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            {{messageTypeName}}
          </h2>
        </div>
        <div class="panel-body" ng-if="emailMessages.totalNumber == 0">
          <div ng-if="messageType == 'draft'">
            You don't have any saved drafts.
          </div>
          <div ng-if="messageType == 'sentMessage'">
            You haven't sent any emails yet.
          </div>
        </div>
        <email-message-list messages="emailMessages.messages" select-message="selectMessage" delete-message="deleteMessage" ng-if="emailMessages.totalNumber > 0"></email-message-list>
        <div class="panel-footer" ng-if="emailMessages.totalNumber > 10">
          <div class="heart-list-pagination">
            <nav>
              <ul class="list-unstyled" uib-pagination items-per-page="10" total-items="emailMessages.totalNumber" max-size="10" ng-model="emailMessages.page" ng-change="getEmailMessages()"></ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>