<div cg-busy="emailPromises">
  <div class="row">
    <div class="col-sm-12">
      <div class="heart-dashboard-tab-info">
        <h1>Send Emails</h1>
        <p>Want to send an email using your personal e-mail (Gmail, Outlook, Yahoo, etc.)? We’ve got you covered! Select a tab below to see an email template you can use as a starting point.</p>
        <p>Then, when you are ready, click the copy or open button to send in your personal e-mail.</p>
        <div class="message_suggestions">
          <uib-tabset active="activeEmailTab">
            <uib-tab ng-repeat="tab in emailTabNames" heading="{{tab.header}}" index="tab.messageID" id="{{tab.headerID}}">
              <div class="heart_sample_message" ng-bind-html="tab.content"></div>
            </uib-tab>
          </uib-tabset>
        </div>
        <a id="copy_message" href ng-click="sendGAEvent('Copy Email Message to Clipboard button');copyToClipboard()" class="pc_btn" ng-if="!device.isMobile">Copy Message</a>
        <a id="open_in_my_default_email" href ng-click="sendGAEvent('Open Email in My Default Email Client button');sendEmailOpenEmail(activeEmailTab)" class="pc_btn">Open in My Default Email</a>
        <p class="email_send_via_FC"><a id="send_email_through_pc" href ng-click="sendGAEvent('Or send an email through your Participant Center link');sendViaFC()">Or send an email through your Participant Center</a></p>
      </div>
      <div id="send_via_FC">
        <h2>Send Emails Through My Participant Center</h2>
        <p>Sending emails through your Participant Center is quick and easy! Just use the wizard below to send your email to friends, family, teammates, and donors. You can also track who opened your emails and who visited your page. <a id="be_sure_to_upload_your_contacts" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">Be sure to upload your contacts before starting</a>.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="visible-xs">
        <div class="btn-group ng-pc-nav-btn-group" uib-dropdown>
          <button type="button" class="btn btn-success form-control" uib-dropdown-toggle>
            Compose <span class="caret"></span>
          </button>
          <ul class="list-unstyled dropdown-menu" uib-dropdown-menu>
            <li>
              <a ng-href="{{baseUrl}}#/email/compose">
                Compose
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/draft/list">
                <span class="badge">{{messageCounts.drafts}}</span>
                Drafts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/sentMessage/list">
                <span class="badge">{{messageCounts.sentMessages}}</span>
                Sent Messages
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
                <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
                Upload/View Contacts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
                <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
                Never Emailed
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
                Needs Follow-Up
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
                Unthanked Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
                Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
                Non-Donors
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hidden-xs">
        <a class="btn btn-success form-control" ng-href="{{baseUrl}}#/email/compose">
          Compose
        </a>
        <div class="list-group ng-pc-nav-list-group">
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/draft/list">
            <span class="badge">{{messageCounts.drafts}}</span>
            Drafts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/sentMessage/list">
            <span class="badge">{{messageCounts.sentMessages}}</span>
            Sent Mail
          </a>
        </div>
        <div class="list-group ng-pc-nav-list-group">
          <h3 class="list-group-item-heading">
            Contacts
          </h3>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
            <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
            Upload/View Contacts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
            <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
            Never Emailed
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
            Needs Follow-Up
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
            Unthanked Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
            Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
            Non-Donors
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div uib-alert class="alert-danger" ng-if="sendEmailError">
        {{sendEmailError}}
      </div>
      <div uib-alert class="alert-success" ng-if="sendEmailSuccess">
        Your email has been sent.
      </div>
      <form name="emailComposerForm" method="POST" novalidate ng-submit="previewEmail()">
        <div class="form-group">
          <label class="sr-only">Recipients:</label>
          <textarea class="form-control" placeholder="Recipients (separate multiple email addresses with a comma)" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="emailComposer.recipients"></textarea>
        </div>
        <div class="form-group" ng-if="suggestedMessages.length > 0">
          <select class="form-control" ng-model="emailComposer.suggested_message_id" ng-change="loadSuggestedMessage()">
            <option value="">Choose a sample message</option>
            <option ng-repeat="suggestedMessage in suggestedMessages" value="{{suggestedMessage.messageId}}">
              {{suggestedMessage.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only">Subject</label>
          <input type="text" class="form-control" placeholder="Subject" autocorrect="on" autocapitalize="on" spellcheck="true" ng-model="emailComposer.subject">
        </div>
        <div class="form-group">
          <div class="checkbox" ng-if="personalizedSalutationEnabled">
            <label>
              <input type="checkbox" ng-model="emailComposer.prepend_salutation"> Include personalized greeting
            </label>
          </div>
        </div>
        <div class="form-group">
          <div text-angular name="message_body" ng-model="emailComposer.message_body" ta-toolbar="{{textEditorToolbar}}" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
        </div>
        <div class="form-group clearfix">
          <div class="pull-left">
            <button type="submit" class="btn btn-primary text-uppercase">
              Preview &amp; Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
