<div cg-busy="emailPromises">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <email-contacts-nav refresh-contacts="refreshContactsNav"></email-contacts-nav>
    </div>
    <div class="col-sm-8 col-md-9">
      <div uib-alert class="alert-success" ng-if="addContactSuccess">
        {{addContactSuccess}}
      </div>
      <div uib-alert class="alert-success" ng-if="importContactsSuccess">
        Contacts imported successfully.
      </div>
      <div uib-alert class="alert-success" ng-if="editContactSuccess">
        {{editContactSuccess}}
      </div>
      <div uib-alert class="alert-danger" ng-if="deleteContactError">
        {{deleteContactError}}
      </div>
      <div uib-alert class="alert-success" ng-if="deleteContactSuccess">
        {{deleteContactSuccess}}
      </div>
      <div uib-alert class="alert-danger" ng-if="deleteContactGroupError">
        {{deleteContactGroupError}}
      </div>
      <div class="contacts-list__actions clearfix">
        <div class="contacts-list__actions-selected">
          <button class="btn btn-primary text-uppercase" ng-click="emailSelectedContacts()">
            Email Selected
          </button>
        </div>
        <div class="contacts-list__actions-manage">
          <button class="btn btn-primary-inverted text-uppercase" ng-click="addContact()">
            Add<span class="hidden-xs"> Contact</span>
          </button> 
          <button class="btn btn-primary-inverted text-uppercase" ng-click="importContacts()">
            Import<span class="hidden-xs"> Contacts</span>
          </button>
          <button class="btn btn-primary-inverted" ng-click="addContactsToGroup()">
            <span> Add Contacts to Group</span>
          </button>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="checkbox">
            <label for="contact_select_all">
              <input id="contact_select_all" type="checkbox" ng-model="contactsSelected.all" ng-model-options="{ getterSetter: true }" ng-if="addressBookContacts.totalNumber" ng-click="toggleAllContacts()">
              <span class="panel-title">
                {{filterName}}
              </span>
          </div>
          <!-- TODO: search -->
        </div>
        <div class="panel-body" ng-if="contactCounts.email_rpt_show_all == '0'">
          You haven't added any contacts yet.
        </div>
        <div class="panel-body" ng-if="contactCounts.email_rpt_show_all != '0' && addressBookContacts.totalNumber == 0">
          No contacts to display.
        </div>
        <contact-list contacts="addressBookContacts.contacts" toggle-contact="toggleContact" select-contact="selectContact" delete-contact="deleteContact" ng-if="addressBookContacts.totalNumber > 0"></contact-list>
        <div class="panel-footer" ng-if="addressBookContacts.totalNumber > 10">
          <div class="heart-list-pagination">
            <nav>
              <ul class="list-unstyled" uib-pagination items-per-page="10" total-items="addressBookContacts.totalNumber" max-size="5" ng-model="addressBookContacts.page" ng-change="getContacts()"></ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>