<div cg-busy="eventOptionsPromises">
  <ul class="nav nav-tabs">
    <li>
      <a ng-href="{{baseUrl}}#/profile">
        <span translate="hdr_profile_link"></span>
      </a>
    </li>
    <li ng-if="teamraiserConfig.personalSurveyEditAllowed == 'true'">
      <a ng-href="{{baseUrl}}#/profile/questions">
        <span translate="nav_survey_questions"></span>
      </a>
    </li>
    <li class="active">
      <a ng-href="{{baseUrl}}#/profile/options">
        <span translate="nav_event_options"></span>
      </a>
    </li>
  </ul>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <form ng-submit="updatePrivacyOptions()" novalidate>
          <div class="panel-heading">
            <h2 class="panel-title">
              <span translate="privacy_options_hdr"></span>
            </h2>
          </div>
          <div class="panel-body">
            <div uib-alert class="alert-success" ng-if="personalPrivacySettings.updatePrivacySuccess" dismiss-on-timeout="5000" close="resetPrivacyAlerts()">
              <span translate="personal_page_privacy_save_success"></span>
            </div>
            <div uib-alert class="alert-danger" ng-if="personalPrivacySettings.updatePrivacyFailure" dismiss-on-timeout="5000" close="resetPrivacyAlerts()">
              {{personalPrivacySettings.updatePrivacyFailureMessage}}
            </div>
            <fieldset class="form-group">
              <legend><span translate="personal_page_privacy_prefix_desc"></span> <span translate="personal_page_privacy_private_label" ng-if="personalPrivacySettings.isPrivate"></span><span translate="personal_page_privacy_public_label" ng-if="!personalPrivacySettings.isPrivate"></span>.</legend>
              <div class="radio">
                <label>
                  <input type="radio" value="public" ng-model="personalPrivacySettings.privacySetting">
                  <span translate="personal_page_privacy_public_desc"></span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" value="private" ng-model="personalPrivacySettings.privacySetting">
                  <span translate="personal_page_privacy_private_desc"></span>
                </label>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer">
            <div class="clearfix">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">
                  <span translate="personal_page_save"></span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12" ng-if="displayNameSettings.showDisplayNamePanel">
      <div class="panel panel-default">
        <form ng-submit="updateDisplayNameSetting()" novalidate>
          <div class="panel-heading">
            <h2 class="panel-title">
              <span translate="nav_manage_privacy_settings_link"></span>
            </h2>
          </div>
          <div class="panel-body">
            <div uib-alert class="alert-success" ng-if="displayNameSettings.updateScreennameSuccess" dismiss-on-timeout="5000" close="resetScreennameAlerts()">
              <span translate="privacy_settings_success"></span>
            </div>
            <div uib-alert class="alert-danger" ng-if="displayNameSettings.updateScreennameFailure" dismiss-on-timeout="5000" close="resetScreennameAlerts()">
              {{displayNameSettings.updateScreennameFailureMessage}}
            </div>
            <fieldset class="form-group">
              <legend class="sr-only"><span translate="privacy_settings_radio_label"></span></legend>
              <div class="radio" ng-if="displayNameSettings.standardRegAllowed">
                <label><input type="radio" value="standard" ng-model="displayNameSettings.currentSelection"><span translate="privacy_settings_standard_option"></span></label>
              </div>
              <div class="radio" ng-if="displayNameSettings.anonymousRegAllowed">
                <label><input type="radio" value="anonymous" ng-model="displayNameSettings.currentSelection"><span translate="privacy_settings_anonymous_option"></span></label>
              </div>
              <div class="radio" ng-if="displayNameSettings.screennameRegAllowed">
                <label><input type="radio" value="screenname" ng-model="displayNameSettings.currentSelection"><span translate="privacy_settings_screenname_option"></span>&nbsp;&nbsp;<input type="text" ng-model="displayNameSettings.currentScreenname" maxlength="50" ng-disabled="displayNameSettings.currentSelection != 'screenname'"></label>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer">
            <div class="clearfix">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">
                  <span translate="personal_page_save"></span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" ng-if="manageTeamMembership.showManageTeamMembership">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <span translate="manage_membership_label"></span>
          </h2>
        </div>
        <div class="panel-body">
          <div class="row" id="manage_team_membership_container">
            <div class="col-xs-12">
              <div uib-alert ng-repeat="alert in manageTeamMembership.manageTeamMembershipAlerts" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="5000" close="clearTeamMembershipAlert($index)">{{alert.msg}}</div>
              <fieldset class="form-group">
                <div class="radio" ng-if="manageTeamMembership.currentTeamId != '-1'">
                  <label>
                    <input type="radio" name="manageTeamMembership" value="leave" ng-model="manageTeamMembership.currentSelection">
                    <span translate="manage_membership_leave_team_radio_text"></span>
                  </label>
                </div>
                <div class="radio" ng-if="manageTeamMembership.currentTeamId == '-1'">
                  <label>
                    <input type="radio" name="manageTeamMembership" value="join" ng-model="manageTeamMembership.currentSelection">
                    <span translate="manage_membership_join_team_radio_text"></span>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="manageTeamMembership" value="stay" ng-model="manageTeamMembership.currentSelection">
                    <span translate="manage_membership_keep_current_radio_text"></span>
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="panel panel-default" id="join_team_search_container" ng-if="manageTeamMembership.currentSelection == 'join'">
            <div class="panel-heading">
              <h2 class="panel-title"><span translate="manage_membership_find_team"></span></h2>
            </div>
            <form id="join_team_search" ng-submit="searchTeams()" novalidate>
              <div class="panel-body">
                <div uib-alert ng-repeat="alert in manageTeamMembership.joinTeamAlerts" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="5000" close="clearJoinTeamAlert($index)">{{alert.msg}}</div>
                <div class="form-group row">
                  <label class="col-md-2 col-sm-3 col-xs-12" for="join_team_search_team_name"><span translate="manage_membership_team_name"></span></label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" id="join_team_search_team_name" class="form-control" ng-model="manageTeamMembership.joinTeamSearch.teamName">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-sm-3 col-xs-12" for="join_team_search_team_company"><span translate="manage_membership_team_company"></span></label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" id="join_team_search_team_company" class="form-control" ng-model="manageTeamMembership.joinTeamSearch.teamCompany">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-sm-3 col-xs-12" for="join_team_search_captain_first_name"><span translate="manage_membership_captain_first_name"></span></label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" id="join_team_search_captain_first_name" class="form-control" ng-model="manageTeamMembership.joinTeamSearch.captainFirst">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-sm-3 col-xs-12" for="join_team_search_captain_last_name"><span translate="manage_membership_captain_last_name"></span></label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" id="join_team_search_captain_last_name" class="form-control" ng-model="manageTeamMembership.joinTeamSearch.captainLast">
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <button type="submit" class="btn btn-primary"><span translate="manage_membership_search_button"></span></button>
              </div>
            </form>
          </div>
          <div class="panel panel-default" ng-if="manageTeamMembership.currentSelection == 'join' && manageTeamMembership.joinTeamSearch.searchSubmitted">
            <div class="panel-heading">
              <h2 class="panel-title">
                <span translate="manage_membership_search_results"></span>
              </h2>
            </div>
            <div class="panel-body" ng-if="manageTeamMembership.joinTeamSearch.searchTotalNumber == 0">
              <span translate="manage_membership_team_search_results_count"></span> <span translate="manage_membership_team_search_results_found"></span> <span translate="manage_membership_team_search_results_hint"></span>
            </div>
            <teams-list teams="manageTeamMembership.joinTeamSearch.searchResults" join-team="joinTeam(teamId, requiresPassword, teamPassword)" ng-if="manageTeamMembership.joinTeamSearch.searchTotalNumber > 0"></teams-list>
            <div class="panel-footer" ng-if="manageTeamMembership.joinTeamSearch.searchTotalNumber > 5">
              <nav class="panel-pagination">
                <ul uib-pagination items-per-page="5" total-items="manageTeamMembership.joinTeamSearch.searchTotalNumber" max-size="5" ng-model="manageTeamMembership.joinTeamSearch.searchPage" ng-change="searchTeamsPage()"></ul>
              </nav>
            </div>
          </div>
          <div class="row" id="leave_team_container" ng-if="manageTeamMembership.currentSelection == 'leave'">
            <div class="col-xs-12">
              <div uib-alert class="alert-warning"><span translate="manage_membership_leave_team_explanation_text"></span></div>
              <button type="button" class="btn btn-primary" ng-click="leaveTeam()"><span translate="manage_membership_continue_button"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>