<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="heart-dashboard-tab-info">
        <h1>
          Social
        </h1>
        <p>TRiD = {{frId}} & PX = {{consId}}</p>
        <div id="social-frame"><iframe title="Boundless Fundraising Social App" src="https://bfapps1.boundlessfundraising.com/applications/ahahw/social/app/ui/#/addsocial/{{consID}}/{{frId}}?source=PCSocial" style="width:100%;height:100%;border:1px solid #cccccc;"></iframe></div>

      </div>
    </div>
  </div>
</div>
