.btn, 
a.btn {
  font-weight: 500;
  
  &.btn-primary {
    color: #ffffff;
    
    &, 
    &:link, 
    &:visited {
      background: $event-primary;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $event-primary-dark;
    }
  }
  
  > * {
    color: inherit;
  }
}

div.responsive {
  .step-button, 
  button.step-button,
  .btn {
    color: #ffffff;
    
    &, 
    &:link, 
    &:visited {
      background: $event-primary;
      color: #ffffff;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $event-primary-dark;
      color: #ffffff;
    }
  }
}

.btn-toggle, 
div.responsive .btn-toggle {
  background: #ffffff;
  border: 1px solid $event-primary;
  color: $event-primary;
  text-decoration: none;
  
  &:hover {
    background: $event-primary;
    color: #ffffff;
    cursor: pointer;
  }
}

.btn-toggle--selected, 
div.responsive .btn-toggle--selected {
  background: $event-primary;
  color: #ffffff;
  
  &, 
  &:link, 
  &:visited {
    color: #ffffff;
  }
}

input[type="text"].btn-enter, 
div.responsive input[type="text"].btn-enter {
  border-color: $event-primary;
}

.btn-enter {
  &::-webkit-input-placeholder, 
  &::-moz-placeholder, 
  &::-ms-input-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
}