.btn, 
a.btn {
  font-weight: 500;
  
  &.btn-primary {
    color: #ffffff;
    
    &, 
    &:link, 
    &:visited {
      background: $event-primary;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $event-primary-dark;
    }
  }
  
  &.btn-secondary {
    color: #ffffff;
    
    &, 
    &:link, 
    &:visited {
      background: $event-secondary;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $event-secondary-dark;
    }
  }
}

div.responsive {
  .btn, 
  a.btn, 
  .step-button, 
  button.step-button {
    color: #ffffff;
    
    &, 
    &:link, 
    &:visited {
      background: $event-primary;
      color: #ffffff;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $event-primary-dark;
      color: #ffffff;
    }
  }
}

.btn-toggle, 
div.responsive .btn-toggle {
  &, 
  &:link, 
  &:visited {
    background: #ffffff;
    border: 1px solid $event-primary;
    color: $event-primary;
    text-decoration: none;
  }
  
  &:hover, 
  &:focus, 
  &:active {
    background: $event-primary;
    color: #ffffff;
    cursor: pointer;
  }
}

.btn-toggle, 
div.responsive .btn-toggle {
  &.active {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      background: $event-primary;
      color: #ffffff;
    }
  }
}

input[type="text"].btn-enter, 
div.responsive input[type="text"].btn-enter {
  border-color: $event-primary;
}

.btn-enter {
  &::-webkit-input-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &:-moz-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &::-moz-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &::-ms-input-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &:placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &::placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
}