.donation-form-container {
  .section-header-container, 
  h2 {
    color: $event-secondary;
    border-color: $event-secondary;
    font-family: $event-font;
  }
  
  .ym-donation-levels {
    p {
      color: $event-secondary;
    }
  }
  
  div.button-container{
    background: $event-secondary-light;
  }
}

.ym-donation-sidebar {
  background: $event-accent;
}