.event-primary {
  background: $event-primary;
}
.event-primary-dark{
  background: $event-primary-dark;
}
.event-secondary{
  background: $event-secondary;
}
.event-secondary-medium{
  background: $event-secondary-medium;
}
.event-secondary-light{
  background: $event-secondary-light;
}
.event-accent{
  background: secondary-accent;
}
.event-accent-light{
  background: secondary-accent-light;
}