.event-primary {
  background: $event-primary;
}

.event-primary-dark {
  background: $event-primary-dark;
}

.event-secondary { 
  background: $event-secondary;
}

.event-secondary-medium {
  background: $event-secondary-medium;
}

.event-secondary-light {
  background: $event-secondary-light;
  
  hr {
    border-color: $event-secondary;
  }
}

.event-accent {
  background: $event-accent;
}

.event-accent-medium {
  background: $event-accent-medium;
}

.event-accent-light {
  background: $event-accent-light;
}