select {
  &,
  &.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right: 0.75rem\9;
    background-image: none\9;
    background: url('../image/ym-select-carot.png') right 0.75rem center no-repeat $brand-white;
    color: $event-secondary;
    
    &::-ms-expand {
      display: none;
    }
  }
}

.form-control {
  &:focus {
    border-color: $event-secondary;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.19);
  }
}

input.btn-enter[name=otherAmt]{
  &+div.popover {
    margin-top: -25px;
    text-align: center;
  }
}

