.ym-hero-top__find-your-school {
  padding-bottom: 24px;
  
  @media (min-width: $screen-sm-min) {
    margin-top: -28px;
    padding-bottom: 20px;
  }
  
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}