.ym-page-header {
  background: #91c855;
  
  h1 {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
  }
}