.ym-page-header {
  background: $event-accent;

  > .container {
    position: relative;
  }

  .masthead-monster {
    position: absolute;
    right: 15px;
    bottom: -20px;
  }

  h1 {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
  }
}