.ym-page-content, .ym-page-section__middle  {
  background: #ffffff;
}
.ym-page-section__middle {
  padding: 50px 40px;
}
.ym-page-section__bottom {
  background: $event-accent;

  h3{
    color: #fff;
    font-weight: bold;
  }

}
.ym-my-challenge {
    background: $event-secondary-light;
    padding: 20px 30px;

    h2 {
      margin: 0 0 20px;
      text-align: center;
    }
}
