.pagination {
  > li {
    > a, 
    > span {
      border: 0;
      color: $event-primary;
      font-weight: 700;
      margin-left: 10px;
      
      &:hover, 
      &:focus {
        color: $event-primary;
        text-decoration: underline;
      }
    }
  }
  
  .disabled {
    > a {
      &, 
      &:focus, 
      &:hover {
        color: $event-primary;
        font-weight: 700;
        text-decoration: none;
      }
    }
    
    > span {
      &, 
      &:focus, 
      &:hover {
        color: $event-primary;
        font-weight: 700;
      }
    }
  }
  
  .active {
    > a {
      &, 
      &:focus, 
      &:hover {
        background-color: $event-primary;
        border-color: $event-primary;
      }
    }
    
    > span {
      &, 
      &:focus, 
      &:hover {
        background-color: $event-primary;
        border-color: $event-primary;
      }
    }
  }
}

table {
  &.paginator {
    .pg-items {
      display: none;
    }
    
    td {
      padding: 2px 2px;
      line-height: 1.5em;
      text-align: center;
      
      a {
        display: block;
        padding: 2px 15px;
        margin: -2px -7px;
        background: #fff;
        font-weight:bold;
        text-decoration:none;
      }
    }
  }
}