@import "../../youth-markets/sass/variables.scss";
@import "variables.scss";
@import "../../youth-markets/sass/mixins.scss";

@import "../../youth-markets/sass/participant.scss";


.ym-pc-dashboard-spread-section {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #dfdded 10px, #dfdded 20px), linear-gradient(to bottom, #e1e0ea, #e1e0ea);
  padding: 36px;
  
  .ym-pc-dashboard-spread-options {
    text-align: center;
    
    .ym-pc-dashboard-section-header {
      h5, 
      .h5 {
        color: $event-secondary;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-progress-box, 
.ym-pc-dashboard-coordinator-students-box {
  background: $event-secondary-medium;
  padding: 24px 20px;
  margin: 0 0 30px;
}

.ym-pc-dashboard-coordinator-students-box {
  text-align: center;
}

.ym-pc-dashboard-coordinator-steps-section {
  margin: 0 0 40px;
}

.ym-pc-dashboard-coordinator-resources-section {
  background-color: $event-accent-light;
  padding: 36px;
  margin: 0 0 30px;
  
  .ym-pc-dashboard-coordinator-resources-options {
    text-align: center;
    
    .ym-pc-dashboard-section-header {
      h5, 
      .h5 {
        color: $event-secondary;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-resources-more {
  text-align: center;
}