.ym-promo-block__item {
  background: $event-secondary;
  
  @media (max-width: $screen-xs-max) {
    background: transparent;
    width: 100%;
    height: auto;
    margin: 0 auto 25px;
    
    h2 {
      color: $event-secondary;
      line-height: 1;
      margin: 0;
    }
    
    p {
      color: inherit;
      font-weight: 700;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  
  &:nth-child {
    @media (max-width: $screen-xs-max) {
      margin: 0 auto 25px;
    }
  }
}