.ym-registration-form-footer {
  background: $event-secondary-light;
}

.ym-registration-ptype-donation-levels {
  &.active {
    background: $event-secondary-light;
  }
}

.ym-registration-ptype-donation-message {
  color: $event-secondary;
}