.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: $event-accent-light;
      }
      
      td {
        border-top: 0;
        border-bottom: 1px solid $event-accent;
      }
      
      &:first-child {
        td {
          border-top: 7px solid $event-secondary;
        }
      }
    }
  }
  
  .table-body {
    .table-row {
      &:nth-of-type(odd) {
        background-color: $event-accent-light;
      }
      
      .table-cell {
        border-top: 0;
        border-bottom: 1px solid $event-accent;
      }
      
      &:first-child {
        .table-cell {
          border-top: 7px solid $event-secondary;
        }
      }
    }
  }
}