.ym-progress__thermometer{
  border: 5px solid #38b5bd;
}
.ym-progress__thermometer--fill {
    background-image: url('../aha-luminate/dist/jump-hoops/image/hj_thermometer-full.png');
    width: 10%;
}