  h1 {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
}

.ym-headline {
  font-family: 'Luckiest Guy', cursive;
}
h2.ym-headline {
  color: $event-secondary;
}

h2, h3 {
  font-family: 'Luckiest Guy', cursive;
  color: $event-secondary;
}

h4 {
  color: $event-secondary;
}

.ym-accent-color {
  h2, h3 , h4, h5 {
    color: #fff
  }
  
  h2, h3 {
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
  }
}