h1 {
  color: #ffffff;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
}

.ym-headline {
  font-family: 'Luckiest Guy', cursive;
}

h2, 
.h2, 
h3, 
.h3, 
h4, 
.h4 {
  color: $event-secondary;
}

h2, 
.h2, 
h3, 
.h3 {
  font-family: 'Luckiest Guy', cursive;
  color: $event-secondary;
}

div.responsive a,
a {
  &,
  &:link
  &:visited,
  &:hover,
  &:focus {
    color: $event-primary;
  }
}

.ym-accent-color,
.event-accent {
  h2, 
  .h2, 
  h3, 
  .h3, 
  h4, 
  .h4, 
  h5, 
  .h5,
  h6,
  .h6 {
    color: #ffffff;
  }
  
  h2, 
  .h2, 
  h3, 
  .h3 {
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85);
  }
}


