$headline-font: 'Luckiest Guy', cursive;

$event-primary: #cd1d67;
$event-primary-dark: #a41752;
$event-secondary: #6153a3;
$event-secondary-light: #d7d4e8;
$event-accent: #91c855;
$event-accent-light: #d3e9bb;