$headline-font: 'Luckiest Guy', cursive;
$event-font: 'Raleway';

$event-primary: #cd1d67;
$event-primary-dark: #a41752;
$event-secondary: #6153a3;
$event-secondary-dark: #4e4282;
$event-secondary-medium: #d7d4e8;
$event-secondary-light: #ebe9f3;
$event-accent: #91c855;
$event-accent-medium: #c8e3aa;
$event-accent-light: #d3e9bb;
$event-grey: #2d2d2d;
$border-gray: #e8e8e8;
$inactive-grey: #c2c2c2;
$error-color: #fcddde;