<form ng-submit="addNewContact()">
  <div class="modal-header">
    <h2 class="modal-title">
      <span translate="contacts_sidebar_add_contact_header"></span>
    </h2>
  </div>
  <div class="modal-body">
    <div uib-alert class="alert-danger" ng-if="addContactError">
      {{addContactError}}
    </div>
    <div class="form-group">
      <label for="addContactFirstName">
        <span translate="add_contact_first_name_label"></span>
      </label>
      <input type="text" class="form-control" id="addContactFirstName" ng-model="newContact.first_name" aria-label="{{ 'add_contact_first_name_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="addContactLastName">
        <span translate="add_contact_last_name_label"></span>
      </label>
      <input type="text" class="form-control" id="addContactLastName" ng-model="newContact.last_name" aria-label="{{ 'add_contact_last_name_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="addContactEmail">
        <span translate="add_contact_email_label"></span>
      </label>
      <input type="email" class="form-control" id="addContactEmail" ng-model="newContact.email" aria-label="{{ 'add_contact_email_label' | translate }}" required>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn text-uppercase" ng-class="{'btn-outline-white': updatedLightbox, 'btn-primary-inverted': !updatedLightbox}" ng-click="cancelAddContact()">
          <span translate="add_contacts_cancel_link"></span>
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn text-uppercase" ng-class="{'btn-outline-white': updatedLightbox, 'btn-primary': !updatedLightbox}">
          <span translate="add_contact_submit_button"></span>
        </button>
      </div>
    </div>
  </div>
<form>