<form ng-submit="submitOfflineGift()">
  <div class="modal-header">
    <h2 class="modal-title">
      Add Donation
    </h2>
  </div>
  <div class="modal-body">
    <!-- TODO: errors -->
    <p>Enter donations from friends, family or businesses here. For donations from businesses, leave the First Name field blank and enter the entire company name in the Last Name/Company Name field.</p>
    <div class="form-group">
      <label for="">First Name:</label>
      <input type="text" class="form-control" id="" ng-model="newOfflineGift.first_name">
    </div>
    <div class="form-group">
      <label for="">Last Name/Company Name:</label>
      <input type="text" class="form-control" id="" ng-model="newOfflineGift.last_name">
    </div>
    <div class="form-group">
      <label for="">Email:</label>
      <input type="email" class="form-control" id="" ng-model="newOfflineGift.email">
    </div>
    <div class="form-group">
      <label for="">Amount:</label>
      <input type="text" class="form-control" id="" ng-model="newOfflineGift.gift_amount">
    </div>
    <div class="form-group">
      <label for="">Payment Type:</label>
      <select class="form-control" id="" ng-model="newOfflineGift.payment_type">
        <option ng-repeat="paymentTypeOption in paymentTypeOptions" value="{{paymentTypeOption.value}}">
          {{paymentTypeOption.name}}
        </option>
      </select>
    </div>
    <div ng-if="newOfflineGift.payment_type == 'check'">
      <div class="form-group">
        <label for="">Check Number:</label>
        <input type="text" class="form-control" id="" ng-model="newOfflineGift.check_number">
      </div>
    </div>
    <div ng-if="newOfflineGift.payment_type == 'credit'">
      <!-- TODO: credit card info -->
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-primary-inverted text-uppercase" ng-click="sendGAEvent('Cancel Adding Offline Gift');cancelAddOfflineGift()">
          Cancel
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary text-uppercase" ng-click="sendGAEvent('Submit Adding Offline Gift')">
          Submit
        </button>
      </div>
    </div>
  </div>
<form>
