<div class="modal-header">
  <h2 class="modal-title">
    <span translate="reset_password_title"></span>
  </h2>
</div>
<div class="modal-body">
  <div uib-alert class="alert-danger" ng-if="updatePasswordFailure" close="resetProfileAlerts()">
    {{updatePasswordFailureMessage}}
  </div>
  <form ng-submit="submitChangePassword()" novalidate>
    <formly-form model="cpvm.passwordModel" form="cpvm.passwordForm" fields="cpvm.passwordFields" options="cpvm.passwordOptions">
      <div class="clearfix">
        <div class="pull-left">
          <button class="btn btn-default" ng-click="cancelChangePassword($event)"><span translate="class_cancel_link"></span></button>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary submit-button"><span translate="submit_button_label"></span></button>
        </div>
      </div>
    </formly-form>
  </form>
</div>