<div class="modal-header" ng-class="{'': facebookFundraisersEnabled, 'modal-header-red': !facebookFundraisersEnabled}">
  <h2 class="modal-title">
    <span translate="reset_password_title"></span>
  </h2>
</div>
<div class="modal-body" ng-class="{'': facebookFundraisersEnabled, 'modal-body-red': !facebookFundraisersEnabled}">
  <div uib-alert class="alert-danger" ng-if="updatePasswordFailure" close="resetProfileAlerts()">
    {{updatePasswordFailureMessage}}
  </div>
  <form ng-submit="submitChangePassword()" novalidate>
    <formly-form model="cpvm.passwordModel" form="cpvm.passwordForm" fields="cpvm.passwordFields" options="cpvm.passwordOptions">
      <div class="clearfix">
        <div class="pull-left">
          <button class="btn" ng-class="{'btn-default': facebookFundraisersEnabled, 'btn-outline-white': !facebookFundraisersEnabled}" ng-click="cancelChangePassword($event)"><span translate="class_cancel_link"></span></button>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn submit-button" ng-class="{'btn-primary': facebookFundraisersEnabled, 'btn-outline-white': !facebookFundraisersEnabled}"><span translate="submit_button_label"></span></button>
        </div>
      </div>
    </formly-form>
  </form>
</div>