<div class="modal-header">
  <h2 class="modal-title">
    <span translate="contacts_confirm_delete_groups_header"></span>
  </h2>
</div>
<div class="modal-body">
  <span translate="contacts_confirm_delete_groups_body"></span>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <button class="btn btn-default" ng-click="cancelDeleteContactGroup()">
        <span translate="class_cancel_link"></span>
      </button>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="confirmDeleteContactGroup()">
        <span translate="contacts_delete_button"></span>
      </button>
    </div>
  </div>
</div>