<form ng-submit="updatePageUrl('Company')">
  <div class="modal-header modal-header-red">
    <h2 class="modal-title">
      <span translate="company_page_shortcut_edit2"></span> <span translate="company_page_shortcut_edit"></span>
    </h2>
  </div>
  <div class="modal-body modal-body-red">
    <div uib-alert class="alert-success" ng-if="editPageUrlOptions.updateUrlSuccess" dismiss-on-timeout="5000" close="closeUrlAlerts(true)">
      <span translate="company_page_shortcut_save_success"></span>
    </div>
    <div uib-alert class="alert-danger" ng-if="editPageUrlOptions.updateUrlFailure" dismiss-on-timeout="5000" close="closeUrlAlerts(false)">
      {{editPageUrlOptions.updateUrlFailureMessage}}
    </div>
    <div uib-alert class="alert-warning" ng-if="companyShortcut.hint">
      {{companyShortcut.hint}}
    </div>
    <div class="form-group">
      <label for="shortcut_text" class="sr-only"><span translate="company_page_shortcut_edit"></span></label>
      <div class="input-group">
        <span class="input-group-addon">{{companyShortcut.prefix}}</span>
        <input type="text" id="shortcut_text" class="form-control" ng-model="editPageUrlOptions.updateUrlInput" aria-label="{{ 'company_page_shortcut_edit' | translate }}" required min-length="5">
      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer-red">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-outline-white"  ng-click="cancelEditPageUrl()">
          <span translate="company_page_shortcut_cancel"></span>
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-white">
          <span translate="company_page_shortcut_save"></span>
        </button>
      </div>
    </div>
  </div>
<form>