<form ng-submit="updatePageUrl('Team')">
    <div class="modal-header modal-header-red">
    <h2 class="modal-title">
      <span translate="team_page_shortcut_edit2"></span> <span translate="team_page_shortcut_edit"></span>
    </h2>
  </div>
  <div class="modal-body modal-body-red">
    <div uib-alert class="alert-danger" ng-if="editPageUrlOptions.updateUrlFailure">
      {{editPageUrlOptions.updateUrlFailureMessage}}
    </div>
    <div uib-alert class="alert-warning" ng-if="teamShortcut.hint">
      {{teamShortcut.hint}}
    </div>
    <div class="form-group">
      <label for="shortcut_text" class="sr-only"><span translate="team_page_shortcut_edit"></span></label>
      <div class="input-group">
        <span class="input-group-addon">{{teamShortcut.prefix}}</span>
        <input type="text" id="shortcut_text" class="form-control" ng-model="editPageUrlOptions.updateUrlInput" aria-label="{{ 'team_page_shortcut_edit' | translate }}">
      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer-red">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-outline-white text-uppercase" ng-click="sendGAEvent('Cancel editing Team Page URL');cancelEditPageUrl()">
          <span translate="team_page_shortcut_cancel"></span>
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-white text-uppercase" ng-click="sendGAEvent('Save editing Team Page URL')">
          <span translate="team_page_shortcut_save"></span>
        </button>
      </div>
    </div>
  </div>
<form>