<form ng-submit="saveUpdatedContact()">
  <div class="modal-header">
    <h2 class="modal-title">
      <span translate="contact_details_edit_info"></span>
    </h2>
  </div>
  <div class="modal-body">
    <div uib-alert class="alert-danger" ng-if="editContactError">
      {{editContactError}}
    </div>
    <div class="form-group">
      <label for="updatedContactFirstName">
        <span translate="contact_edit_first_name_label"></span>
      </label>
      <input type="text" class="form-control" id="updatedContactFirstName" ng-model="updatedContact.first_name" aria-label="{{ 'contact_edit_first_name_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updatedContactLastName">
        <span translate="contact_edit_last_name_label"></span>
      </label>
      <input type="text" class="form-control" id="updatedContactLastName" ng-model="updatedContact.last_name" aria-label="{{ 'contact_edit_last_name_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updatedContactEmail">
        <span translate="contact_edit_email_label"></span>
      </label>
      <input type="email" class="form-control" id="updatedContactEmail" ng-model="updatedContact.email" aria-label="{{ 'contact_edit_email_label' | translate }}" required>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-primary-inverted text-uppercase" ng-click="cancelEditContact()">
          <span translate="contact_edit_cancel_link"></span>
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary text-uppercase">
          <span translate="contact_edit_save_button"></span>
        </button>
      </div>
    </div>
  </div>
<form>