<form ng-submit="updateEditSurvivor($event)" novalidate>
  <div class="modal-header modal-header-red">
    <h2 class="modal-title">
      Update Survivor Status
    </h2>
  </div>
  <div class="modal-body modal-body-red">
    <div uib-alert class="alert-success" ng-if="updateSurveySuccess" close="resetSurveyAlerts()">
      <span translate="survey_save_success"></span>
    </div>
    <div uib-alert class="alert-danger" ng-if="updateSurveyFailure" close="resetSurveyAlerts()">
      {{updateSurveyFailureMessage}}
    </div>
    <div class="form-group">
      <label for="question_key_hw_recognize_survivor">Would you like to be recognized as a survivor?</label>
      <div class="input-group">
        <label class="radio-inline"><input type="radio" name="question_key_hw_recognize_survivor" value="Yes" ng-model="sqvm.surveyModel.question_key_hw_recognize_survivor" aria-label="">Yes</label>
        <label class="radio-inline"><input type="radio" name="question_key_hw_recognize_survivor" value="No" ng-model="sqvm.surveyModel.question_key_hw_recognize_survivor" aria-label="">No</label>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer-red">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-outline-white text-uppercase"  ng-click="sendGAEvent('Cancel editing Survivor Status');cancelEditSurvivor()">
          Cancel
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-white text-uppercase"  ng-click="sendGAEvent('Save editing Survivor Status')">Save</span>
        </button>
      </div>
    </div>
  </div>
<form>