<form ng-submit="updateTeamPassword()">
  <div class="modal-header">
    <h2 class="modal-title">
      <span translate="team_password_edit_label"></span>
    </h2>
  </div>
  <div class="modal-body">
    <div uib-alert class="alert-success" ng-if="editTeamPassword.editTeamPasswordSuccess" dismiss-on-timeout="5000" close="cancelEditTeamPassword(true)">
      <span translate="team_password_update_success"></span>
    </div>
    <div uib-alert class="alert-danger" ng-if="editTeamPassword.editTeamPasswordFailure" dismiss-on-timeout="5000" close="cancelEditTeamPassword(false)">
      {{editTeamPassword.editTeamPasswordFailureMessage}}
    </div>
    <div class="form-group">
      <label for="team_password"><span translate="team_password_label"></span></label>
      <input type="text" id="team_password" class="form-control" ng-model="editTeamPassword.newTeamPassword" aria-label="{{ 'team_password_label' | translate }}" required>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-outline-white" ng-click="cancelEditTeamPassword(true)">
          <span translate="class_cancel_link"></span>
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-white">
          <span translate="dialog_save_label"></span>
        </button>
      </div>
    </div>
  </div>
<form>