<div>
    <div class="modal-header modal-header-red">
    <h2 class="modal-title">
      Import Contacts
    </h2>
  </div>
  <div class="modal-body modal-body-red">
    <div uib-alert class="alert-danger" ng-if="importContactsError">
      {{importContactsError}}
    </div>
    <div ng-if="contactImport.step == 'choose-type'">
      <div uib-alert class="alert-warning">
        Importing contacts from other email services into your Participant Center Address Book makes it easy to solicit donations, monitor who responded, and follow up with personal thank you notes.<br><br>If you are unable to import your Yahoo! contacts, please export them to a .CSV file and follow the instructions to complete your contacts upload.
      </div>
      <div class="radio">
        <label for="import-contacts-type-gmail">
          <input type="radio" name="import_contacts_type" id="import-contacts-type-gmail" ng-model="contactImport.import_type" value="GMAIL"> 
          Import contacts from Gmail
        </label>
      </div> 
      <div class="radio">
        <label for="import-contacts-type-yahoo">
          <input type="radio" name="import_contacts_type" id="import-contacts-type-yahoo" ng-model="contactImport.import_type" value="YAHOO"> 
          Import contacts from Yahoo!
        </label>
      </div>
      <div class="radio">
        <label for="import-contacts-type-csv">
          <input type="radio" name="import_contacts_type" id="import-contacts-type-csv" ng-model="contactImport.import_type" value="csv"> 
          Upload a list of contacts using .CSV file format
        </label>
      </div>
    </div>
    <div ng-if="contactImport.step == 'online-consent'">
      <div uib-alert class="alert-warning">
        Your consent is needed to access your online address book. If the consent pop-up does not appear automatically, check to ensure it was not blocked by your browser.
      </div>
      <div ng-repeat="jobEvent in contactImport.jobEvents">
        {{jobEvent.message}}
      </div>
    </div>
    <div ng-if="contactImport.step == 'contacts-available-for-import'">
      <div ng-if="contactsAvailableForImport.length == 0">
        No contacts found.
      </div>
      <div ng-if="contactsAvailableForImport.length > 0">
        <div uib-alert class="alert-warning">
          Your contacts were successfully retrieved. Import all or some of the retrieved contacts into your Participant Center Address Book.
        </div>
        <p>
          Select <a href="#" ng-click="selectAllContactsToAdd($event)">all</a> or <a href="#" ng-click="deselectAllContactsToAdd($event)">none</a>
        </p>
        <div class="import-contacts__list-wrap">
          <import-contacts-list contacts="contactsAvailableForImport" toggle-contact="toggleContactToAdd"></import-contacts-list>
        </div>
      </div>
    </div>
    <div ng-if="contactImport.step == 'csv-upload'">
      <div uib-alert class="alert-warning">
        Your upload file should include the columns First Name, Last Name, and Email.
      </div>
      <form class="js--import-contacts-csv-form" action="CRAddressBookAPI" method="POST" enctype="multipart/form-data" target="import-contacts-upload-shim">
        <input type="hidden" name="v" value="1.0">
        <input type="hidden" name="api_key" value="{{apiKey}}">
        <input type="hidden" name="method" value="parseCsvContacts">
        <input type="hidden" name="response_format" value="json">
        <input type="hidden" name="fr_id" value="{{frId}}">
        <input type="hidden" name="auth" value="{{authToken}}">
        <div class="form-group">
          <label for="import-contacts-csv-file">
            Select upload file:
          </label>
          <input type="file" name="contacts_upload_file" id="import-contacts-csv-file">
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer modal-footer-red">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-outline-white text-uppercase" ng-click="cancelImportContacts()">
          Cancel
        </button>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-outline-white text-uppercase" ng-click="chooseImportContactType()" ng-if="contactImport.step == 'choose-type'">
          Next
        </button>
        <button type="button" class="btn btn-outline-white text-uppercase" ng-click="chooseContactsToImport()" ng-if="contactImport.step == 'contacts-available-for-import' && contactsAvailableForImport.length > 0">
          Next
        </button>
        <button type="button" class="btn btn-outline-white text-uppercase" ng-click="uploadContactsCSV()" ng-if="contactImport.step == 'csv-upload'">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
<div class="hidden" hidden aria-hidden="true">
  <iframe name="import-contacts-upload-shim" id="import-contacts-upload-shim" iframe-loaded="handleContactsCSV"></iframe>
</div>