<div class="modal-header">
  <h2 class="modal-title">
    <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Hey</span>, welcome back!
  </h2>
</div>
<div class="modal-body">
  <div>
    <p>Did you know that science says doing good for others actually makes your heart healthier too? It’s true. Giving back lowers blood pressure and cortisol levels.</p>
    <p>Be selfless-ish and donate now. It’ll help fund lifesaving research. It’ll also help your heart too. Sounds win-win to us.</p>
  </div>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <a href class="btn btn-outline-white text-uppercase" ng-click="sendGAEvent('Not Right Now - donate lightbox');notRightNow()">Not Right Now</a>
    </div>
    <div class="pull-right">
      <a id="LBmakeDonation" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}" class="btn btn-outline-white text-uppercase">Donate Now</a>
    </div>
  </div>
  <div class="lb_skip_link"><a href ng-click="sendGAEvent('Mark as Complete - donate lightbox');LBskip('donate')">Mark as Complete</a></div>
</div>