<div class="modal-header modal-header-red modal-text-center">
  <h2 class="modal-title">
    Welcome back!
  </h2>
</div>
<div class="modal-body modal-body-red modal-text-center">
  <p>
    <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>, we are THRILLED to have you back!
  </p>
  <p>
    Awesome tip of the day: download the Heart Walk fundraising mobile app! It&rsquo;ll make sharing your story and fundraising oh so easy.
  </p>
</div>
<div class="modal-footer modal-footer-red">
  <div class="clearfix">
    <div class="pull-left">
      <a class="btn btn-outline-white text-uppercase" href ng-click="sendGAEvent('Not Right Now - donate lightbox'); notRightNow();">Not Right Now</a>
    </div>
    <div class="pull-right">
      <span ng-if="device.isMobile && device.mobileType == 'ios'">
        <a class="btn pc-white-btn text-uppercase" href="https://itunes.apple.com/us/app/cyclenation/id1155979191?mt=8" target="blank">Get the App</a>
      </span>
      <span ng-if="device.isMobile && device.mobileType == 'android'">
        <a class="btn pc-white-btn text-uppercase" href="https://play.google.com/store/apps/details?id=com.aha.cyclenation" target="blank">Get the App</a>
      </span>
      <span ng-if="!device.isMobile">
        <a class="btn pc-white-btn text-uppercase" id="LBmakeDonation" ng-href="PageServer?pagename=heartwalk_fundraising_tools&amp;fr_id={{frId}}">Get the App</a>
      </span>
    </div>
  </div>
  <div class="lb_skip_link">
    <a href ng-click="sendGAEvent('Mark as Complete - donate lightbox'); LBskip('donate');">Mark as Complete</a>
  </div>
</div>
