<div class="modal-header modal-header-red modal-text-center">
  <h2 class="modal-title">
    Welcome Back!
  </h2>
</div>
<div class="modal-body modal-body-red modal-text-center">
  <div>
    <p>
      <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>, we are THRILLED to have you back!
    </p>
    <p>
      <span class="strongText">Our tip to you</span><span class="strongText">: follow up with friends through email and let them know why fundraising is so important to you.</span>
    </p>
  </div>
</div>
<div class="modal-footer modal-footer-red">
  <div class="clearfix">
    <div class="pull-left">
      <a class="btn btn-outline-white text-uppercase" href ng-click="sendGAEvent('Not Right Now - email lightbox'); notRightNow();">Not Right Now</button>
    </div>
    <div class="pull-right">
      <a class="btn btn-outline-white text-uppercase" id="LBsendEmail" ng-href="{{baseUrl}}#/email/compose">Send an Email</a>
    </div>
  </div>
  <div class="lb_skip_link">
    <a href ng-click="sendGAEvent('Mark Send an Email as Complete - email lightbox'); LBskip('email');">Mark as Complete</a>
  </div>
</div>
