<div class="modal-header">
  <h2 class="modal-title">
    Complete Your Profile
  </h2>
</div>
<div class="modal-body">
  <div>
      <p>Conditional content for profile options to update.</p>
  </div>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <button type="button" class="btn btn-primary-inverted text-uppercase" ng-click="notRightNow()">Not Right Now</button>
    </div>
    <div class="pull-right">
      <a ng-href="{{personalPageUrl}}" class="btn btn-primary text-uppercase">No Button</a>
    </div>
  </div>
  <div class="lb_skip_link"><a ng-click="LBskip('profile')">Mark as complete</a></div>
</div>
