<div class="modal-header modal-header-red modal-text-center">
  <h2 class="modal-title">
    Time to Go Mobile, <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>!
  </h2>
</div>
<div class="modal-body modal-body-red modal-text-center">
  <div>
    <p>Awesome tip of the day: download the Heart Walk fundraising mobile app! It&rsquo;ll make sharing your story and fundraising oh so easy.</p>
  </div>
</div>
<div class="modal-footer modal-footer-red">
  <div class="clearfix">
    <div class="pull-left">
      <a class="btn pc-white-btn text-uppercase" href ng-click="sendGAEvent('Not Right Now - social lightbox'); notRightNow();">Not Right Now</a>
    </div>
    <div class="pull-right">
      <a class="btn pc-white-btn text-uppercase" ng-if="device.isMobile && device.mobileType == 'android'" href="https://play.google.com/store/apps/details?id=com.aha.cyclenation" ng-click="sendGAEvent('Go Social Android- social lightbox');">Get the App</a>
      <a class="btn pc-white-btn text-uppercase" ng-if="device.isMobile && device.mobileType == 'ios'" href="https://itunes.apple.com/us/app/cyclenation/id1155979191?mt=8" ng-click="sendGAEvent('Go Social ios - social lightbox');">Get the App</a>
      <a class="btn pc-white-btn text-uppercase" ng-if="!device.isMobile" ng-href="{{baseUrl}}#/social" ng-click="sendGAEvent('Go Social - social lightbox');">Get the App</a>
    </div>
  </div>
  <div class="lb_skip_link">
    <a href ng-click="sendGAEvent('Mark Going Social as Complete - social lightbox'); LBskip('social');">Mark as Complete</a>
  </div>
</div>
