<div class="modal-header modal-header-red modal-text-center">
  <h2 class="modal-title">
    <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>, thanks for registering.
  </h2>
</div>
<div class="modal-body modal-body-red modal-text-center">
  <p>
    Take a moment and pat yourself on the back. We&rsquo;ll wait.
  </p>
  <p>
    That felt good, didn&rsquo;t it? You know what would feel even better? Knowing that your donation is going directly toward lifesaving science. Like science that will help save babies&rsquo; lives. Every donation can make a difference.
  </p>
  <p>
    Will you donate now?
  </p>
</div>
<div class="modal-footer modal-footer-red">
  <div class="clearfix">
    <div class="pull-left">
      <a class="btn btn-outline-white text-uppercase" id="LBmakeDonation" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">
        Heck Yeah!
      </a>
    </div>
    <div class="pull-right">
      <a class="btn btn-outline-white text-uppercase" href ng-click="sendGAEvent('Not Right Now - thank you for registering lightbox'); notRightNow();">
        Not Right Now
      </a>
    </div>
  </div>
</div>