<div class="modal-header">
  <h2 class="modal-title">
    <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>, thanks for registering.
  </h2>
</div>
<div class="modal-body">
  <div>
    <p>Take a moment and pat yourself on the back. We’ll wait.</p>
    <p>That felt good, didn’t it? You know what would feel even better? Knowing that your donation is going directly toward lifesaving science. Like science that will help <a href="https://news.heart.org/pulse-oximetry-screenings-save-lives-babies-congenital-heart-defects/" target="blank">save babies’ lives</a>. Even a dollar can make a difference.</p>
    <p>Will you donate now?</p>
  </div>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <a href class="btn btn-outline-white text-uppercase" ng-click="sendGAEvent('Not Right Now - thank you for registering lightbox');notRightNow()"> I’m not ready to help save lives right now</button>
    </div>
    <div class="pull-right">
      <a id="LBmakeDonation" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}" class="btn btn-outline-white text-uppercase">Heck Yeah!</a>
    </div>
  </div>
</div>