<div class="modal-header">
  <h2 class="modal-title">
    <span ng-if="updatedLightbox">
      <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>, thanks for registering.
    </span>
    <span ng-if="!updatedLightbox">
      Thank You for Registering
    </span>
  </h2>
</div>
<div class="modal-body">
  <div>
    <div ng-if="updatedLightbox">
      <p>Take a moment and pat yourself on the back. We’ll wait.</p>
      <p>That felt good, didn’t it? You know what would feel even better? Knowing that your donation is going directly toward lifesaving science. Like science that will help <a href="https://news.heart.org/pulse-oximetry-screenings-save-lives-babies-congenital-heart-defects/" target="blank">save babies’ lives</a>. Even a dollar can make a difference.</p>
      <p>Will you donate now?</p>
    </div>
    <div ng-if="!updatedLightbox">
      <p><span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>, Time to put your heart into it! Use the Participant Center to update your story, send emails, and find resources to hit your fundraising goal.</p>
      <p><span class="redText strongText">Our first tip to you</span><span class="strongText">: be sure to Share Your Why by updating your personal story.</span></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <span ng-if="updatedLightbox">
        <a href class="btn btn-outline-white text-uppercase" ng-click="sendGAEvent('Not Right Now - thank you for registering lightbox');notRightNow()"> I’m not ready to help save lives right now</a>
      </span>
      <span ng-if="!updatedLightbox">
        <a href class="btn btn-primary-inverted text-uppercase" ng-click="sendGAEvent('Not Right Now - thank you for registering lightbox');notRightNow()">Not Right Now</a>
      </span>
    </div>
    <div class="pull-right">
      <span ng-if="updatedLightbox">
        <a id="LBmakeDonation" ng-href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}" class="btn btn-outline-white text-uppercase">Heck Yeah!</a>
      </span>
      <span ng-if="!updatedLightbox">
        <a id="LBupdateMyPage" ng-href="{{personalPageUrl}}" class="btn btn-primary text-uppercase">Update My Page</a>
      </span>
    </div>
  </div>
</div>