<div class="modal-header">
  <h2 class="modal-title">
    Welcome Back!
  </h2>
</div>
<div class="modal-body">
  <div>
      <p><span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>, we are THRILLED to have you back!</p>
      <p><span class="redText strongText">Our tip to you</span><span class="strongText">: be sure to Share Your Why by updating your personal page.</span> Updating your page shows others your commitment to raise funds to save lives from heart disease and stroke.</p>
  </div>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <button type="button" class="btn btn-primary-inverted text-uppercase" ng-click="notRightNow()">Not Right Now</button>
    </div>
    <div class="pull-right">
      <a ng-href="{{personalPageUrl}}" class="btn btn-primary text-uppercase">Update My Page</a>
    </div>
  </div>
  <div class="lb_skip_link"><a href ng-click="LBskip('page')">Mark as complete</a></div>
</div>
