<div class="modal-header">
  <h2 class="modal-title">
    "__________ is Why." - <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>
  </h2>
</div>
<div uib-alert class="alert-success" ng-if="updateSurveySuccess" close="resetSurveyAlerts()">
  <span translate="survey_save_success"></span>
</div>
<div uib-alert class="alert-danger" ng-if="updateSurveyFailure" close="resetSurveyAlerts()">
  {{updateSurveyFailureMessage}}
</div>
<div class="modal-body">
  <div>
      <p>What's your why, <span ng-if="constituent.name && constituent.name.first">{{constituent.name.first}}</span><span ng-if="!constituent.name.first">Participant</span>? Tell us why you walk and we’ll create a personalized video for you to share with friends and family!</p>
  </div>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <a type="button" class="btn btn-primary-inverted text-uppercase" ng-click="notRightNow()">Not Right Now</span></a>
    </div>
    <div class="pull-right">
      <a ng-href="{{personalPageUrl}}&amp;videoWhy=true" class="btn btn-primary text-uppercase">
        Update My Why
      </a>
    </div>
  </div>
  <div class="lb_skip_link"><a ng-click="LBskip('why')">Mark as complete</a></div>
</div>
