<div uib-alert class="alert-success" ng-if="updateSurveySuccess" close="resetSurveyAlerts()">
  <span translate="survey_save_success"></span>
</div>
<div uib-alert class="alert-danger" ng-if="updateSurveyFailure" close="resetSurveyAlerts()">
  {{updateSurveyFailureMessage}}
</div>

<form ng-submit="updateTellUsWhy($event)" novalidate>
  <div class="modal-header">
    <h2 class="modal-title">
      Update Your Why
    </h2>
  </div>
  <div class="modal-body">
    <div>
      You will be provided with a personalized video to share with your colleagues, friends and family. Please finish this sentence if you would like to personalize your video: _____ is Why. Examples: My mom, Grandma Mary, Mary Smith. If left blank, it will say "Life is Why"
    </div>
    <div class="form-group">
      <label for="question_key_what_is_why" class="sr-only">What is your why?</label>
      <div class="input-group">
        <input type="text" id="question_key_what_is_why" name="question_key_what_is_why" class="form-control" aria-label="some scope" ng-model="sqvm.surveyModel.question_key_what_is_why">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-primary-inverted text-uppercase" ng-click="cancelTellUsWhy()">
          <span translate="class_cancel_link"></span>
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary text-uppercase">
          Update
        </button>
      </div>
    </div>
  </div>
<form>
