<div class="modal-header">
  <div class="modal-header__btns modal-header__btns--block-xxs">
    <button type="button" class="btn text-uppercase" ng-class="{'btn-outline-white': updatedLightbox, 'btn-primary-inverted': !updatedLightbox}" ng-click="cancelViewSentMessage()">
      Close
    </button> 
    <button type="button" class="btn text-uppercase" ng-class="{'btn-outline-white': updatedLightbox, 'btn-primary': !updatedLightbox}" ng-click="copySentMessage(sentMessage.messageId)">
      Copy<span class="hidden-xs"> Message</span>
    </button>
  </div>
  <h2 class="modal-title">
    Sent Mail
  </h2>
</div>
<div class="modal-body">
  <label>
    Recipients:
  </label>
  <p>
    <span ng-repeat="recipient in sentMessage.recipient">
      <span ng-if="recipient.firstName">
        {{recipient.firstName}}{{recipient.lastName ? ' ' + recipient.lastName : ''}}{{recipient.email ? ' &lt;' + recipient.email + '&gt;' : ''}}<span ng-if="!$last">, </span>
      </span>
      <span ng-if="!recipient.firstName">
        &lt;{{recipient.email}}&gt;<span ng-if="!$last">, </span>
      </span>
    </span>
  </p>
  <label>
    Subject:
  </label>
  <p>
    <span ng-bind-html="sentMessage.subject"></span>
  </p>
  <label>
    Message:
  </label>
  <div ng-bind-html="sentMessage.messageBody"></div>
</div>