select {
  &, 
  &.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right: 0.75rem\9;
    background-image: none\9;
    background: url('../image/ym-select-carot.png') right 0.75rem center no-repeat #ffffff;
    color: $event-secondary;
    
    &::-ms-expand {
      display: none;
    }
  }
}
