header {
  .ym-header-logo {
    height: 70px;
    line-height: 70px;
    padding-left: 10px;

  }

  @media (max-width: $screen-xs-max) {
    .ym-header-logo--aha > a img {
      max-width: 100px;
    }
    
    .ym-header-logo--middle-school {
      max-width: 150px;

      img {
        max-width: 100%;
      }
    }
  }
}