@import "../../youth-markets/sass/variables.scss";
@import "variables.scss";
@import "../../youth-markets/sass/mixins.scss";

@import "../../youth-markets/sass/participant.scss";

.ym-pc-dashboard-email-challenge-box {
  .ym-pc-dashboard-email-challenge-option {
    margin: 0 0 18px;
  }
  
  form {
    textarea.form-control[readonly] {
      background-color: $brand-white;
      font-size: 13px;
      height: 395px;
      
      &::-moz-selection {
        background: transparent;
      }
      
      &::selection {
        background: transparent;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-resources-section {
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      margin: 0 0 32px;
    }
  }
}

.ym-pc-dashboard-spread-section {
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      margin: 0 0 22px;
    }
  }
}