.ym-progress {
  background: $event-secondary-medium;
}

.ym-progress__thermometer {
  border: 8px solid #38b5bd;
}

.ym-progress__thermometer--fill {
  background: url('../image/middle-school-therm-fill.png') no-repeat top left;
  height: 35px;
}