.alert-danger {
  background-color: #fcddde;
  border: 1px solid #ed1c24;
  border-radius: 7px;
  color: #ed1c24;
}

.alert-info {
  background: $event-secondary-light;
  color: $event-grey;
  border-radius: 0;
  border: 0 none;
}