.ym-badges {
  text-align: center;
  margin: 0 0 15px;
  
  @media (max-width: $screen-sm-max) {
    margin: 0 0 25px;
  }
  
  h2 {
    margin: 0 0 30px;
    
    @media (max-width: $screen-sm-max) {
      margin: 0 0 15px;
    }
  }
  
  img {
    margin: 0 auto 10px;
  }
  
  span {
    display: block;
    font-size: $font-size-sm;
    line-height: 1.2;
  }
}

.ym-badges__item {
  display: inline-block;
  max-width: 125px;
  margin: 0 15px 15px;
  vertical-align: top;
}