.ym-badges {
  text-align: center;
  margin: 0 0 30px;

  h2{
    margin: 0 0 30px;
  }

  img {
    margin: 0 auto 10px;
  }

  span {
    font-size: $font-size-sm;
    display: block;
    line-height: 1.2;
  }
}