.ym-badges {
  text-align: center;
  margin: 0 0 25px;
  
  @media (min-width: $screen-md-min) {
    margin: 0 0 15px;
  }
  
  h2 {
    margin: 0 0 15px;
    
    @media (min-width: $screen-md-min) {
      margin: 0 0 30px;
    }
  }
  
  img {
    margin: 0 auto 10px;

    @media (max-width: 400px) {
      margin: 0 auto;
    }
  }
  
  span {
    display: block;
    font-size: $font-size-sm;
    line-height: 1.2;
  }
}

.ym-badges__item {
  display: inline-block;
  max-width: 125px;
  margin: 0 15px 15px;
  vertical-align: top;

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max)  {
    margin: 0 15px 15px 0;
  }

  @media (max-width: 400px) {
    max-width: 105px;
    margin: 0 5px 5px;

  }
}

.ym-badge__item {
  max-width: 125px;
}
