.ym-badges {
  text-align: center;
  margin: 0 0 30px;

  @media (max-width: $screen-md-min){
    margin: 0 0 40px;
  }

  h2{
    margin: 0 0 30px;

    @media (max-width: $screen-md-min){
      margin: 0 0 15px;
    }
  }

  img {
    margin: 0 auto 10px;
  }

  span {
    font-size: $font-size-sm;
    display: block;
    line-height: 1.2;
  }
}