.btn, 
a.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, 14px);
  
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    border-radius: 10px;
    border-width: 0;
    box-shadow: none;
    font-family: inherit;
    text-decoration: none;
  }
  
  > * {
    color: inherit !important;
  }
}

button.btn {
  &:focus,
  &:active,
  &:focus:active,
  &:focus.active {
    outline: none;
  }
}

span.btn {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    cursor: default;
  }
}

.btn-sm, 
a.btn-sm {
  &,
  &:link,
  &:visited {
    @include button-size(4px, 12px, 14px);
  }
}

.btn-md,
a.btn-md {
  &,
  &:link,
  &:visited {
    @include button-size(6px, 6px, 14px);
    
    @media (min-width: $screen-sm-min) {
      @include button-size(7px, 14px, 14px);
    }
  }
}

.btn-md-wide,
a.btn-md-wide {
  &,
  &:link,
  &:visited {
    @include button-size(7px, 25px, 14px);
  }
}

.btn-lg,
a.btn-lg {
  &,
  &:link,
  &:visited {
    @include button-size(10px, 12px, 14px);
    text-align: center;
    min-width: 120px;
    font-weight: 700;
    
    @media (min-width: $screen-sm-min) {
      @include button-size($padding-base-vertical, $padding-base-horizontal, 20px);
      min-width: 180px;
    }
  }
}

.btn,
a.btn {
  &.btn-primary {
    &,
    &:link,
    &:visited {
      background: $event-primary;
      color: $brand-white;
    }
    
    &:hover,
    &:focus,
    &:active {
      background: $event-primary-dark;
    }
  }
  
  &.btn-secondary {
    &,
    &:link,
    &:visited {
      background: $event-secondary;
      color: $brand-white;
    }
    
    &:hover,
    &:focus,
    &:active {
      background: $event-secondary-dark;
    }
  }

  &.btn-success {
    &,
    &:link,
    &:visited {
      background: $brand-success;
      color: $brand-white;
    }

    &:hover,
    &:focus,
    &:active {
      background: $brand-success;
    }
  }
}

.btn-global-primary,
a.btn-global-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-color, $btn-primary-darker-bg, $btn-primary-darker-border);

  &,
  &:link,
  &:visited {
    background: linear-gradient(0deg, #c7191c 0%, #ec1c24 100%);
    border-radius: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background: #870a0f;
    border-radius: 0;
  }
}

div.responsive {
  .step-button,
  button.step-button {
    @include button-size(10px, 12px, 14px);
    background-image: none;
    border-radius: 10px;
    filter: none;
    border: 0;
    min-width: 120px;
    max-width: none;

    @media (min-width: $screen-sm-min) {
      @include button-size($padding-base-vertical, $padding-base-horizontal, 20px);
      min-width: 180px;
    }
  }

  .btn,
  a.btn,
  .step-button,
  button.step-button {
    &,
    &:link,
    &:visited {
      background: $event-primary;
      color: $brand-white;
    }

    &:hover,
    &:focus,
    &:active {
      background: $event-primary-dark;
      color: $brand-white;
    }
  }
}

div.responsive .btn-toggle, 
div.responsive a.btn-toggle, 
.btn-toggle, 
a.btn-toggle {
  &,
  &:link,
  &:visited {
    font-weight: 700;
    text-align: center;
    background: $brand-white;
    border: 1px solid $event-primary;
    color: $event-primary;
    text-decoration: none;
  }
  
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: $event-primary;
    border: 1px solid $event-primary;
    color: $brand-white;
    cursor: pointer;
  }
}

.btn-outline, 
a.btn-outline {
  &,
  &:link,
  &:visited {
    font-weight: 700;
    text-align: center;
    background: transparent;
    border: 1px solid $event-primary;
    color: $event-primary;
    text-decoration: none;
  }
  
  &:hover, 
  &:focus, 
  &:active {
    background: $event-primary;
    color: $brand-white;
    border: 1px solid $event-primary;
  }
}

.donation-form-container .btn-toggle {
  display: inline-block;
}

div.responsive input[type="text"].btn-enter, 
input[type="text"].btn-enter {
  @include button-size($padding-base-vertical, $padding-base-horizontal, 18px);
  text-decoration: none;
  text-align: center;
  border-color: $event-primary;
}

.btn-enter, 
a.btn-enter, 
input[type="text"].btn-enter {
  &, 
  &:link, 
  &:visited {
    background: $brand-white;
  }
  
  &:hover, 
  &:focus, 
  &:active, 
  &.active {
    background: $event-primary;
    border: 1px solid $event-primary;
    color: $brand-white;
  }
}

input[type="text"].btn-enter {
  font-family: inherit;

  &::-webkit-input-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &:-moz-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &::-moz-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &::-ms-input-placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &:placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &::placeholder {
    color: $event-primary !important;
    opacity: 1 !important;
  }
  
  &:hover, 
  &:focus, 
  &:active, 
  &.active {
    cursor: pointer;
    
    &::-webkit-input-placeholder {
      color: $brand-white !important;
    }
    
    &:-moz-placeholder {
      color: $brand-white !important;
    }
    
    &::-moz-placeholder {
      color: $brand-white !important;
    }
    
    &::-ms-input-placeholder {
      color: $brand-white !important;
    }
    
    &:placeholder {
      color: $brand-white !important;
    }
    
    &::placeholder {
      color: $brand-white !important;
    }
  }
}