.btn, 
a.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, 14px);
  
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    border-radius: 10px;
    border-width: 0;
    font-family: inherit;
    font-weight: 600;
    text-decoration: none;
  }
  
  &:focus, 
  &:active, 
  &:focus:active {
    outline: none;
  }
  
  > * {
    color: inherit !important;
  }
}

span.btn {
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    cursor: default;
  }
}

.btn-sm, 
a.btn-sm {
  &, 
  &:link, 
  &:visited {
    @include button-size(4px, 12px, 14px);
  }
}

.btn-md, 
a.btn-md {
  &, 
  &:link, 
  &:visited {
    @include button-size(7px, 14px, 14px);
    
    @media (max-width: $screen-xs-max) {
      @include button-size(6px, 6px, 14px);
    }
  }
}

.btn-lg, 
a.btn-lg {
  &, 
  &:link, 
  &:visited {
    @include button-size($padding-base-vertical, $padding-base-horizontal, 20px);
    
    text-align: center;
    min-width:180px;
    
    @media (max-width: $screen-xs-max) {
      @include button-size(10px, 12px, 14px);
      min-width: 120px;
    }
  }
}

.btn-global-primary, 
a.btn-global-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-color, $btn-primary-darker-bg, $btn-primary-darker-border);
  
  &, 
  &:link, 
  &:visited {
    background: linear-gradient(0deg, #c7191c 0%, #ec1c24 100%);
    border-radius: 0;
  }
  
  &:hover, 
  &:focus, 
  &:active {
    background: #870a0f;
    border-radius: 0;
  }
}

div.responsive {
  .step-button, 
  button.step-button {
    @include button-size($padding-base-vertical, $padding-base-horizontal, 20px);
    background-image: none;
    border-radius: 10px;
    filter: none;
    border: 0;
    min-width: 180px;
    max-width: none;
    
    @media (max-width: $screen-xs-max) {
      @include button-size(10px, 12px, 14px);
      min-width: 120px;
    }
  }
}

.btn-toggle, 
a.btn-toggle {
  @include button-size($padding-base-vertical, $padding-base-horizontal, 18px);
  
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    font-weight: 700;
    text-align: center;
  }
}

.donation-form-container .btn-toggle {
  display: inline-block;
}

div.responsive input[type="text"].btn-enter,
input[type="text"].btn-enter {
  @include button-size($padding-base-vertical, $padding-base-horizontal, 18px);
  text-decoration: none;
  text-align: center;
}