.owl-carousel{
  .owl-nav > div {
    position: absolute;
    top: 40%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: center;
    width: 40px;
    height: 70px;
    
    &:hover {
      background: rgb(255, 255, 255);
      background: rgba(255, 255, 255, 1);
    }
    
    > .fa {
      color: $event-grey;
      font-size: 30px;
      line-height: 70px;
    }
  }
  
  .owl-prev {
    left: 0;
  }
  
  .owl-next {
    right: 0;
  }
}

.ym-carousel--home {
  .owl-carousel {
    position: relative;
  }  
  
  .owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .owl-item {
    text-align: center;
    
    img {
      border-right: 1px solid #ffffff;
    }
    
    h4, 
    p {
      display: none;
    }
  }
  
  .center {
    h4, 
    p {
      display: block;
    }
    
    h4 {
      margin: 20px auto;
    }
  }
}

.ym-carousel--internal {
  .owl-stage-outer {
    /*max-width: 925px;
    margin: auto;

    .owl-item {
      max-width: 270px;
    }*/

    img {
      max-width: 100%
    }
  }
}