.owl-carousel {
  .owl-nav > div {
    position: absolute;
    top: 40%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: center;
    width: 40px;
    height: 70px;

    @media (max-width: $screen-sm-max) {
      width: 30px;
      height: 50px;
    }

    &:hover {
      background: rgb(255, 255, 255);
      background: rgba(255, 255, 255, 1);
    }

    > .fa {
      color: $event-grey;
      font-size: 30px;
      line-height: 70px;

      @media (max-width: $screen-sm-max) {
        line-height: 50px;
        font-size: 22px;
      }
    }
  }

  .owl-item {
    &.active {
      .owl-item-video {
        display: block;
      }
    }

    h3,
    .h3-heading,
    h5,
    .h5-heading {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}

.ym-carousel--home {
  .owl-carousel {
    position: relative;
  }

  .owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .owl-item {
    text-align: center;

    img {
      border-right: 1px solid #ffffff;
    }

    p,
    h4,
    .h4-heading,
    h5,
    .h5-heading {
      display: none;
    }

    .item {
      @media(max-width: $screen-xs-max) {
        > p,
        > .h5-heading {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .center {
    p,
    h4,
    .h4-heading,
    h5,
    .h5-heading {
      display: block;
    }

    h4,
    .h4-heading,
    h5,
    .h5-heading {
      margin: 20px auto;
    }
  }
}

.ym-carousel--internal {
  padding: 40px 0;

  .owl-nav > div {
    top: 35%;

    @media (max-width: $screen-xs-max) {
      top: 28%;
    }
  }

  h3,
  .h3-heading {
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }

  h5,
  .h5-heading {
    margin: 20px 0;
  }

  h3,
  .h3-heading,
  h5,
  .h5-heading {
    a {
      color: $event-secondary;
    }
  }

  .owl-stage {
    display: flex;
  }

  .owl-stage-outer {
    img {
      max-width: 100%
    }

    .owl-item {
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }

    .item {
      max-width: 270px;
      margin: auto;

      @media (max-width: $screen-sm-max) {
        max-width: 350px;
      }
    }

    p {
      padding-bottom: 50px;
    }

    .btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 132px;
      margin: auto;
    }
  }

  .carousel-item__img {
    width: 100%;
    padding-top: 61.53%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .owl-carousel--circle {
    .owl-item {
      .item {
        max-width: none;
      }

      .carousel-item__img-box {
        width: 100%;
        position: relative;
        padding-top: 61.53%;

        .carousel-item__img {
          position: absolute;
          width: 61.53%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          border-radius: 100%;
        }
      }
    }
  }
}

.owl-item-video,
.ym-story-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.owl-item-video {
  display: none;
  padding-bottom: 52.25%;
}

.ym-carousel--badges {
  .owl-item {
    text-align: center;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .owl-nav > div {
    top: 25%;

    @media (min-width: $screen-md-min) {
      top: 15%;
    }
  }
}
