.cms {
  h2,
  .h2-heading,
  h5,
  .h5-heading {
    margin: 0 0 30px;

    @media (max-width: $screen-sm-max) {
      margin: 0 0 20px;
    }
  }

  h2 + h5,
  h2 + .h5-heading {
    margin: 0 0 20px;
  }

  .ym-page-breadcrumbs {
    color: $brand-white;
    padding-bottom: 18px;

    a {
      color: $brand-white;
      text-decoration: underline;
    }
  }

  .breadcrumbComponent {
    display: block;
    margin-bottom: 25px;

    .breadcrumb {
      color: $brand-white;
      background-color: transparent;
      padding: 0;
      font-weight: lighter;
    }

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .breadcrumbseparator {
    color: $brand-white;
  }

  div {
    & > .ym-page-section__block:last-of-type {
      margin-bottom: 0;
    }
  }

  .ym-promo-block--footer {
    margin-top: 50px;

    @media (max-width: $screen-sm-max) {
      margin-top: 40px;
    }
  }

  .ym-page-section__block {
    padding: 0 40px;
    margin-bottom: 50px;

    &.ym-page-section__block--narrow {
      padding-left: 70px;
      padding-right: 70px;
    }

    &.ym-page-section__block--slim {
      padding-left: 100px;
      padding-right: 100px;
    }

    & > h2 {
      &:only-child {
        margin-bottom: -25px
      }
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: 40px;

      &,
      &.ym-page-section__block--narrow,
      &.ym-page-section__block--slim {
        padding-left: 40px;
        padding-right: 40px;
      }

      & > h2 {
        &:only-child {
          margin-bottom: -15px
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      &,
      &.ym-page-section__block--narrow,
      &.ym-page-section__block--slim {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .ym-page-intro {
    padding-top: 40px
  }

  .ym-section-features {
    margin-bottom: 50px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 40px;
    }
  }

  .ym-page-section__left-col {
    padding: 0;
    max-width: 670px;
    width: calc(100% - 300px);

    @media (max-width: $screen-sm-max) {
      width: calc(100% - 230px);
    }

    @media (max-width: $screen-xs-max) {
      width:100%;
      max-width: 100%;
    }
  }

  .ym-page-section__right-col {
    padding: 0;
    float: right;
    width: 250px;

    @media (max-width: $screen-sm-max) {
      width: 200px;
    }

    @media (max-width: $screen-xs-max) {
      width:100%;
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  .ym-sidebar {
    border-left: 1px solid $border-gray;
    margin: auto;
    max-width: 250px;

    .ym-sidebar__headline {
      color: $brand-white;
      background-color: $event-secondary;
      color: $brand-white;
      font-size: 18px;
      padding: 12px 20px;
      margin: 0;

      a {
        color: $brand-white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .ym-sidebar__nav {
      list-style: none;
      list-style-image: none;
      padding: 0 0 30px 20px;
      margin: 0;

      li {
        display: block;
        border-bottom: 1px solid $border-gray;
        padding-top: 15px;
        padding-bottom: 15px;

        &:last-child {
          border-bottom: none;
        }

        a {
          position: relative;
          display: block;
          font-size: $font-size-sm;
          font-weight: 700;
          text-decoration: none;
          padding-right: 30px;

          &:hover {
            text-decoration: underline;
          }

          .fa-chevron-right {
            position: absolute;
            top: 4px;
            right: 0;
            color: $event-primary;
          }
        }
      }
    }

    .ym-sidebar__promo--list {
      h6,
      .h6-heading {
        margin-bottom: 25px;
      }

      .fa-ul {
        & > li {
          font-size: $font-size-sm;
        }
      }
    }
  }
}

.ym-page-survey {
  padding: 40px;

  &.event-secondary-medium {
    h5,
    .h5-heading {
      color: $event-secondary;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  input[type="text"] {
    &.form-control {
      height: 50px;
    }
  }

  .element-group {
    display: inline-table;
  }

  .input-group {
    padding-right: 28px;

    &.pr-0 {
      padding-right: 0;
    }

    button {
      display: block;
      min-width: auto;
    }

    .form-control {
      &:last-child {
        border-radius: 10px;
      }
    }
  }

  .input-group__zip_code {
    width: 125px;
  }

  .input-group__submit-btn {
    float: right;

    .btn-lg {
      @media (min-width: $screen-md-min) {
        font-size: 18px;
        line-height: 26.6667px;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 30px;

    input[type="text"] {
      &.form-control {
        height: 40px;
      }
    }

    button {
      font-size: 16px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding-left: 20px;
    padding-right: 20px;

    .element-group {
      display: block;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0;
      }

      .input-group {
        display: block;
        padding-right: 0;
      }
    }

    .input-group__zip_code {
      float: left;
      width: calc(100% - 100px);
    }

    .input-group__submit-btn {
      float: right;
    }
  }
}

.ym-story {
  padding-bottom: 40px;

  .ym-story-edit-btns {
    margin: 0 0 24px;

    .btn {
      border-radius: 0;
      padding: 7px 15px;
    }
  }

  h3 {
    + h5,
    + .h5-heading {
      margin-top: inherit;
    }
  }

  h5,
  .h5-heading {
    margin-top: 30px;
  }

  .ym-story-photo {
    float: right;
    width: 269px;
    padding-left: 20px;
    padding-bottom: 20px;

    img {
      max-width: 100%;
    }

    p {
      font-size: $font-size-sm;
      padding-top: 15px;
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-bottom: 30px;

    .ym-story-photo {
      width: 100%;
      max-width: 249px;
      float: none;
      padding: 0 0 25px 0;
      margin: 0 auto;
    }
  }
}

.ym-home-feature {
  padding: 30px 0;

  @media (min-width: $screen-md-min) {
    padding: 50px 0;
  }

  > .container {
    max-width: 970px;
    padding: 0 20px 20px 20px;

    @media (min-width: $screen-sm-min) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.ym-related-content {
  .ym-related-content__item {
    margin: 0 0 20px;

    @media (max-width: $screen-xs-max) {
      margin: 0 0 30px;
    }
  }

  .ym-related-content__image {
    width: 200px;

    @media (max-width: $screen-sm-max) {
      width: 150px;
    }

    @media (max-width: $screen-xs-max) {
      float:none;
    }
  }

  .ym-related-content__text {
    width: calc(100% - 200px);

    @media (max-width: $screen-sm-max) {
      width: calc(100% - 150px);
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      float: none;
      clear: both;
      margin-top: 20px;
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:focus {
    font-weight: 700;
  }
}

.ym-school-search {
  @media (min-width: $screen-sm-min) {
    padding: 10px 0 40px;
  }
  
  @media (min-width: $screen-md-min) {
    padding: 10px 0 50px;
  }
  
  .visible-xs-block {
    em {
      font-size: $font-size-sm;
    }
  }
  
  .img-responsive {
    margin: 0 auto 10px;
    
    @media (min-width: $screen-sm-min) {
      margin: 20px auto 10px;
    }
  }
  
  .pos-r {
    position: relative;
  }
  
  .dropdown-menu {
    max-height: 245px;
    overflow-y: auto;
  }
  
  > .form-group {
    margin-bottom: 50px;
  }
  
  .ym-page-section__roster {
    padding-top: 0;
    
    @media (min-width: $screen-sm-min) {
      padding-top: 25px;
    }
    
    .h5 {
      margin: 0 0 15px;
      
      @media (min-width: $screen-sm-min) {
        margin: 0 0 30px;
      }
    }
  }
  
  #school-name-filter {
    display: block;
    font-size: $font-size-reg;
    text-align: center;
    width: 90%;
    max-width: 390px;
    height: 60px;
    margin: 0 auto;
    
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
  
  .school-name-filter-submit {
    display: block;
    font-size: $font-size-reg;
    width: 90%;
    max-width: 390px;
    height: 60px;
    margin: 12px auto 0;
    
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      width: auto;
      margin: 0 0 0 8px;
    }
  }
  
  #school-state-filter {
    position: absolute;
    top: 0;
    right: 0;
    background: url("../../youth-markets/image/ym-select-carrot.png") right 0.75rem center no-repeat $event-secondary;
    font-weight: 700;
    width: 200px;
    
    @media (max-width: $screen-sm-max) {
      position: relative;
      margin-bottom: 10px;
    }
    
    &:hover {
      background: url("../../youth-markets/image/ym-select-carrot.png") right 0.75rem center no-repeat $event-secondary-dark;
    }
    
    option {
      background: $brand-white;
      color: $event-grey !important;
    }
  }
  
  .ym-page-section__header {
    position: relative;
    
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
    
    h2 {
      &.school-list__header {
        text-align: center;
        text-transform: none;
        
        @media (min-width: $screen-md-min) {
          text-align: left;
        }
      }
    }
  }
  
  .dropdown-menu {
    > li {
      > a {
        &,
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }
      
      &.active {
        > a {
          &,
          &:link,
          &:visited,
          &:hover,
          &:focus,
          &:active {
            background-color: $event-secondary;
          }
        }
      }
    }
  }
  
  .ym-list--school-list {
    @media (max-width: $screen-xs-max) {
      thead {
        display: none;
      }

      tbody tr td {
        display: block;
        border: none;

        &.text-right {
          text-align: left;
        }
      } 
    }
    
    th {
      min-width: 65px;
      
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .ym-list--school-list--help {
    &, 
    &:link {
      font-weight: 700;
      padding: 12px 20px !important;
    }
  }
}