.ym-hero {
  position: relative;

  img {
    max-width: 100%;
  }
}

.ym-hero__text {
  background: rgba(255,255,255,0.9);
  position: absolute;
  bottom: 20px;
  padding: 20px;
  width: 430px;

  &.ym-hero__text--right {
    right: 50px;
  }
  &.ym-hero__text--left{
    left: 50px;
  }

  h1 {
    color: $event-secondary;
    text-shadow: none;
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}

.ym-school-search{
  .pos-r {
    position: relative;
  }
  #school-state-filter {
    position: absolute;
    top: 0;
    right: 0;
  }
  a[ng-click]:link {
    color: #2d2d2d;
    cursor: pointer;
    text-decoration: none;
  }
}