.ym-hero {
  position: relative;

  img {
    max-width: 100%;
  }
}

.ym-hero__text {
  background: rgba(255,255,255,0.9);
  position: absolute;
  bottom: 20px;
  padding: 20px;
  width: 430px;

  &.ym-hero__text--right {
    right: 50px;
  }
  &.ym-hero__text--left{
    left: 50px;
  }

  h1 {
    color: $event-secondary;
    text-shadow: none;
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}

.ym-school-search {
  .img-responsive {
    margin: 50px auto 10px;
  }

  .pos-r {
    position: relative;
  }

  #school-name-filter {
    height: 60px;
    width: 100%;
    max-width: 390px;
    font-size: $font-size-reg;
    text-align: center;
  }

  #school-state-filter {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background: url("../../youth-markets/image/ym-select-carot.png") right 0.75rem center no-repeat $event-secondary;
    font-weight: bold;
  }
  
  .ym-page-section__header {
    position: relative;
  }
  
  @media (max-width: $screen-sm-max) {
    .ym-page-section__header {
      text-align: center;
    }
    #school-state-filter {
      position: relative;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: $screen-xs-max) {
    .ym-list__school-list-wrpr {
      overflow-x: scroll;
    }
    .ym-list--school-list {
      min-width: 600px;
    }
    #school-name-filter {
      display: inline-block;
    }
  }
}