div.donation-form-container {
  &.responsive {
    span.field-required {
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      .btn-toggle:focus,
      .btn-toggle:active,
      .btn-toggle:hover {
        background: $brand-white;
        color: $event-primary;

        &.active {
          background: $event-primary;
          color: $brand-white;
        }
      }
    }
  }

  .ErrorMessage {
    display: none;
  }

  .has-error {
    input[type="text"],
    select {
      background-color: $error-color;
      border: 1px solid $event-secondary;
    }
  }

  .form-info-message {
    display: none;
  }

  input[type="text"].btn,
  input[type="text"].btn:before,
  input[type="text"].btn:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
  }

  .custom-field-container {
    .form-input-label-block {
      display: none;
    }

    label.custom-element-checkbox-label {
      max-width: 100%;
    }
  }

  .section-header-container,
  h2 {
    color: $event-secondary;
    border-color: $event-secondary;
    font-family: $event-font;
  }

  h5,
  .h5 {
    font-size: 28px;
    color: inherit;
    border: 0 none;
  }

  .ym-donation-headlines {
    margin: 0 0 20px;

    @media (min-width: $screen-sm-min) {
      margin: 0 0 30px;
    }

    h4,
    .h4 {
      margin: 0;
    }

    h5,
    .h5 {
      margin: 0 0 20px;

      @media (min-width: $screen-md-min) {
        margin: 0 0 40px;
      }
    }
  }

  .form-progress-bar,
  div.form-row.don-standard-levels,
  div.donation-level-container-generic-repeat,
  #tribute_show_honor_fields_row,
  #billing_info_same_as_donor_row {
    display: none;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
  }

  .section-header-container {
    font-size: 32px;
    font-weight: 700;
    clear: both;
    padding: 40px 0 0;
    margin: 40px 0 30px;

    @media (min-width: $screen-sm-min) {
      padding: 50px 0 0;
      margin: 50px 0 40px;
    }
  }

  label {
    margin: 0;
  }

  div.form-row {
    margin: 0 auto;

    .form-content {
      width: 100%;
      margin: 0;

      input,
      select  {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .ym-border {
    border-bottom: 1px solid $event-secondary;
  }

  div.donation-level-general-ask,
  div.html-caption-container {
    display: block;
    clear: both;

    @media (min-width: $screen-lg-min) {
      max-width: 670px;
    }
  }

  .ym-donation-levels {
    max-width: 670px;
    padding: 20px 5px;

    @media (min-width: $screen-xs-min) {
      padding: 30px 20px;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: $event-secondary;
      margin: 0;
    }
  }

  .ym-donation-levels__type {
    text-align: center;

    .btn-toggle {
      height: 50px;
      line-height: 48px;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 auto;
      display: block;
      max-width: 150px;

      @media (min-width: $screen-xs-min) {
        display: inline-block;
      }

      @media (min-width: $screen-sm-min) {
        padding: 0;
      }

      &.ym-donation-levels__type--onetime {
        margin: 0 auto 10px;
        @media (min-width: $screen-xs-min) {
          margin: 0 10px 0 0;
        }

        @media (min-width: $screen-sm-min) {
          margin: 0 30px 0 0;
        }
      }
    }

    .btn-lg {
      font-size: inherit;
    }
  }
  .ym-donation-levels__levels {
    max-width: 370px;
    margin: auto;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      max-width: 100%;
    }
  }

  .ym-donation-levels__amount {
    display: inline-block;
    margin: 0 0 15px;
    vertical-align: middle;
    padding: 0 5px;

    &:last-child {
      padding-right: 0;

    }

    &:first-child {
      padding-left: 0;
    }

    @media (min-width: $screen-xs-min) {
      margin: 0 0 15px;
      padding: 0 10px;
    }

    .btn-toggle {
      font-size: 20px;
      min-width: 80px;
      height: 50px;
      line-height: 48px;
      padding: 0;

      @media (min-width: $screen-sm-min) {
        min-width: 110px;
      }

      &.btn-enter {
        width: 110px;
        font-weight: 700;

        &:hover,
        &:active,
        &.active {
          font-weight: 700;
        }
      }
    }
  }

  #level_installment_row {
    margin: 30px 0 0;

    .form-content {
      max-width: 300px;
      margin: 0 auto 20px;
    }

    div.don-level-total-row {
      border-color: $event-secondary;
    }
  }

  .ym-donation-levels__message,
  .ym-donation-levels__message--installment  {
    margin-top: 10px;

    @media (min-width: $screen-sm-min) {
      margin-top: 20px;
    }
  }

  .ym-donation-levels__message {
    display: none;

    &.active {
      display:block;
    }
  }

  .ym-employer-match {
    padding: 30px 0 0;

    @media (min-width: $screen-sm-min) {
      padding: 50px 50px 0;
    }
  }

  div.matching-gift-container {
    padding: 0 25px 25px;

    @media (min-width: $screen-sm-min) {
      padding: 0 75px 25px;
    }

    input#donor_matching_employersearchname {
      width: calc(100% - 150px);

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    button.step-button {
      height: 44px;
      width: 120px;
      min-width: 0;
      padding:0;
      margin: 0 0 0 20px;
      font-size: 18px;
      background: $event-secondary;
      display: inline-block;

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 20px 0 0;
      }

      &:hover {
        background: $event-secondary-dark;
      }
    }

    .radio-button-container {
      margin: 0 0 5px;
      input[type="radio"] {
        width: auto;
      }
    }
    #donor_matching_employer_company_information {
      margin: 5px 0 0;
    }

    #donor_matching_employer_match_information {
      border: 5px solid $event-secondary;
      border-radius: 5px;
      padding: 20px;
      background: $brand-white;
    }
  }

  .ym-donor-recognition,
  .ym-personal-note {
    padding: 20px 0 0;

    @media (min-width: $screen-sm-min) {
      padding: 20px 50px 0;
    }

    h5,
    .h5 {
      padding: 15px 25px;

      @media (min-width: $screen-sm-min) {
        padding: 25px 25px 15px;
      }
    }
  }

  .employer-address-container {
    padding: 0 20px;

    @media (min-width: $screen-sm-min) {
      padding: 0 50px;
    }
  }

  .ym-employer-match__message {
    padding: 20px 25px 0;

    @media (min-width: $screen-sm-min) {
      padding: 25px 75px 0;
    }
  }

  .ym-employer-match__fields {
    padding: 5px 15px;
  }

  #tr_show_gift_to_public_row {
    padding: 0 25px 25px;

    @media (min-width: $screen-sm-min) {
      padding: 0 75px 25px;
    }
  }

  #tr_recognition_nameanonymous_row {
    padding: 0 25px;

    @media (min-width: $screen-sm-min) {
      padding: 0 75px;
    }
  }

  #tr_recognition_namerec_namename {
    font-size: 12px;
  }

  #tr_message_to_participant_row,
  #tr_recognition_namerec_name_row {
    padding: 25px;

    @media (min-width: $screen-sm-min) {
      padding: 25px 75px;
    }

    &.ym-border {
      padding-bottom: 20px;

      @media (min-width: $screen-sm-min) {
        padding-bottom: 40px;
      }
    }

    textarea {
      width: 100%;
    }
  }

  #tribute_type_row {
    display: none;
  }

  .ym-tribute-gift {
    padding: 20px 0 0;

    @media (min-width: $screen-sm-min) {
      padding: 20px 100px 0;
    }

  }

  .ym-tribute-gift__type {
    margin: 20px auto 0;
    text-align: center;

    .btn-toggle {
      min-width: 100px;
      font-size: inherit;
      display: inline-block;
      height: 50px;
      line-height: 48px;
      padding-top: 0;
      padding-bottom:0;

      @media (min-width: $screen-xs-min) {
        min-width: 120px;
      }

      @media (min-width: $screen-sm-min) {
        width: 200px;
      }

      &:first-child {
        margin-right: 5px;

        @media (min-width: $screen-xs-min) {
          margin-right: 10px;
        }

        @media (min-width: $screen-sm-min) {
          margin-right: 30px;
        }
      }
    }
  }

  #tribute_honoree_name_row {
    max-width: 435px;
    margin: 30px auto 0;
  }

  #donor_first_name_row,
  #donor_last_name_row,
  #donor_email_address_row,
  #donor_phone_row,
  #donor_addr_city_row,
  #donor_addr_state_row,
  #donor_addr_zip_row,
  #donor_addr_country_row,
  .ym-employer-match__fields,
  #billing_first_name_row,
  #billing_last_name_row,
  #billing_addr_city_row,
  #billing_addr_state_row,
  #billing_addr_zip_row,
  #billing_addr_country_row {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      width: 49%;
      vertical-align: middle;
      margin: 0;
    }

    @media (min-width: $screen-md-min) {
      max-width: 320px;
    }
  }

  .ym-employer-match__fields {
    @media (min-width: $screen-sm-min) {
      float: left;
    }
  }


  #donor_first_name_row,
  #donor_email_address_row,
  #donor_addr_city_row,
  #donor_addr_zip_row,
  #billing_first_name_row,
  #billing_addr_city_row,
  #billing_addr_zip_row {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      float: left;
      padding: 0 0 30px 50px;
      margin: 0;
      clear: left;
    }
  }

  #donor_last_name_row,
  #donor_phone_row,
  #donor_addr_state_row,
  #donor_addr_country_row,
  #billing_last_name_row,
  #billing_addr_state_row,
  #billing_addr_country_row {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      float: right;
      padding: 0 50px 30px 0;
      margin: 0;
    }
  }

  #donor_addr_country_row {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 50px;
      margin: 0;
    }
  }

  #donor_email_opt_in_Row,
  #donor_addr_street1_row,
  #donor_addr_street2_row,
  #billing_addr_street1_row,
  #billing_addr_street2_row {
    clear: both;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      padding: 0 50px 30px;
      margin: 0;
    }
  }

  #donor_addr_street1_row,
  #donor_addr_street2_row,
  #billing_addr_street1_row,
  #billing_addr_street2_row {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .billing_info_toggle {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      padding: 0 50px;
      margin-bottom: 30px;
    }
  }

  .ym-donation-payment-type {
    .btn {
      @media (min-width: $screen-sm-min) {
        margin: 0 10px;
      }
    }
  }
  .payment-type-selection-container {
    display: none;
  }

  div.payment-type-element-container {
    clear: both;

    #responsive_payment_typecc_number_row {
      margin: 20px auto;

      @media (min-width: $screen-sm-min) {
        max-width: 470px;
        margin: 30px auto;
      }

      input {
        width: 100%;
      }
    }

    #responsive_payment_typecc_exp_date_row {
      display: inline-block;
      vertical-align: middle;

      @media (min-width: $screen-sm-min) {
        padding-left: 50px;
      }

      select {
        width: 100px;
        margin: 0 10px 0 0;

        &#responsive_payment_typecc_exp_date_YEAR {
          margin: 0;
        }

        @media (min-width: $screen-xs-min) {
          margin: 0 10px 0 0;
        }

        @media (min-width: $screen-sm-min) {
          margin: 0 30px 0 0;
          width: 170px;
        }
      }

      .date-input-container {
        margin-top: 2px;
      }
    }

    #responsive_payment_typecc_cvv_row {
      width: auto;
      clear: both;
      display: block;
      margin: 20px 0 0;
      vertical-align: middle;

      @media (min-width: 567px) {
        display: inline-block;
        clear: none;
        margin: 0 0 0 10px;
      }

      @media (min-width: $screen-sm-min) {
        margin: 0 0 0 30px;
      }

      input {
        width: auto;
        max-width: 100px;

        @media (min-width: 567px) {
          max-width: 170px;
        }
      }
    }
  }

  #payment_cc_container {
    h3,
    #responsive_payment_typecc_type_row {
      display: none;
    }
  }

  div.button-container {
    border: 0;
    padding: 20px;
    clear: both;
    background: $event-secondary-light;

    button.finish-step {
      display: block;
      float: none;
      margin: auto;
    }
  }
}

.ym-donation-sidebar {
  margin: auto;
  padding: 0 0 20px;
  max-width: 270px;

  @media (min-width: $screen-xs-min) {
    padding: 25px;
    max-width: 100%;
  }

  @media (min-width: 1050px) {
    max-width: 270px;
    padding: 0 0 25px;
    float: right;
  }

  hr {
    clear: both;

    @media (min-width: 1050px) {
      max-width: 230px;
      margin: 10px auto 20px;
    }
  }

  img {
    margin: 0 auto 25px;

    @media (min-width: $screen-sm-min) {
      margin: 0;
      float: left;
    }

    @media (min-width: 1050px) {
      margin: 0 auto 25px;
    }
  }
}

.ym-donation-sidebar__text {
  text-align: center;
  padding: 0 20px;

  h5,
  .h5 {
    color: $brand-white;
    font-weight: 700;
    margin-top: 0;
  }

  span {
    color: $brand-white;
  }
}

.ym-donation-sidebar__text--top {
  @media (min-width: $screen-sm-min) {
    float: right;
    width: calc(100% - 300px);
    padding: 0;
  }

  @media (min-width: 1050px) {
    padding: 25px 20px 0;
    width: 100%;
    float: none;
  }
}

.ym-donation-thanks {
  h3 {
    margin-bottom: 15px;
  }
  .ym-donation-share a {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}