.donation-form-container {
  &.responsive {
    span.field-required {
      display: none;
    }
  }
  .form-progress-bar {
    display: none;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
  }
  .section-header-container {
    font-size: 32px;
    margin:50px 0 40px;
    padding:50px 0 0;
    font-weight: bold;
    font-family: 'Raleway'
  }
  div.button-container{
    padding: 20px;
    border: 0 none;

    button.finish-step {
      display: block;
      margin: auto;
      float: none;
    }
  }
}

#payment_cc_container {
  h3, #responsive_payment_typecc_type_row{
    display: none;
  }
}
.ym-donation-sidebar {
  max-width: 270px;
  margin: auto;
}

.ym-donation-sidebar__text {
  text-align: center;
  padding:25px 20px;

  h3 {
    color:#fff;
    font-weight: bold;
  }
}