footer {
  .address,
  .social-icons {
    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-bottom: 45px; /* Fixed: AddThis covering up the footer */
  }
}
