footer {
  .address,
  .social-icons {
    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        color: $brand-primary;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .social-icons {
    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-bottom: 45px;
  }
}

#footer-main {
  .menu-item-donate {
     display: none;
  }
}
