label {
  font-weight: 500;
  white-space: normal;
}

.ym-optional {
  color: $event-secondary;
  font-size: $font-size-sm;
  font-style: italic;
  font-weight: normal;
  margin-left: 5px;
}

.form-control, 
div.responsive input[type="text"], 
div.responsive select {
  border-radius: 7px;
  padding: 10px;
}

.form-control, 
div.responsive input[type="text"], 
div.responsive select, 
div.responsive textarea {
  border: 1px solid $event-secondary;
}

textarea.form-control, 
div.responsive textarea {
  resize: none;
}

select.form-control {
  height: auto;
}

.input-lg, 
select.input-lg {
  line-height: 1;
  height: 40px;
  
  @media (min-width: $screen-sm-min) {
    height: 50px;
  }
}

input[type="text"].btn-enter {
  &, 
  &:before, 
  &:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
  }
}

input[type="checkbox"] {
  &:not(:checked), 
  &:checked {
    opacity: 0;
    position: absolute;
  }
}

.checkbox label, 
input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: $brand-white;
    border-radius: 3px;
    border: 1px solid $event-secondary;
    width: 20px;
    height: 20px;
  }
}

.focused label:before, 
input[type="checkbox"]:focus + label:before {
  outline: 5px auto -webkit-focus-ring-color;
} 

.checkbox {  
  &.checked {
    label {
      &:after {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        top: 0.15em;
        left: 0.1em;
        font-size: 1.2em;
        line-height: 0.8;
        transition: all 0.2s;
        color: $event-primary;
        display: inline-block;
      }
    }
  }
}

input[type="checkbox"] {
  &:checked {
    + label {
      &:after {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        top: 0.15em;
        left: 0.1em;
        font-size: 1.2em;
        line-height: 0.8;
        transition: all 0.2s;
        color: $event-primary;
        display: inline-block;
      }
    }
  }
}

.has-error {
  .control-label {
    color: inherit;
  }
  
  .form-control {
    background-color: $error-color;
    border: 1px solid $event-secondary;
  }
}

:disabled, 
div.responsive input[disabled] {
  background: $inactive-grey;
  cursor: not-allowed;
  color: $event-secondary;
}


.ym-donation-levels__levels {
  .ym-donation-levels__amount {
    position: relative;
    display: inline-block;

    .ym-donation-levels__dollar-sign {
      position: absolute;
      color: $event-primary;
      font-size: 20px;
      top: 0;
      left: 0;
      padding-left: 20px;
      height: 50px;
      line-height: 50px;
      font-weight: bold;

      &:hover {
        color: $event-primary;
      }
    }

    .btn-toggle.btn-enter,
    input[type="text"].btn-enter {
      text-align: left;
      padding-left: 30px;
    }

    &:hover {
      .ym-donation-levels__dollar-sign {
        color: $brand-white;

        &:hover {
          color: $event-primary;
        }
      }
    }

    &.active {
      .ym-donation-levels__dollar-sign {
        color: $brand-white;

        &:hover {
          color: $brand-white;
        }
      }
    }
  }
}

input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
  line-height: normal;
}