label {
  font-weight: 500;
  white-space: normal;
}

.ym-optional {
  color: $event-secondary;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

.form-control, 
div.responsive input[type="text"], 
div.responsive select {
  border-radius: 7px;
  padding: 10px;
}

.form-control, 
div.responsive input[type="text"], 
div.responsive select, 
div.responsive textarea {
  border: 1px solid $event-secondary;
}

textarea.form-control, 
div.responsive textarea {
  resize: none;
}

select.form-control {
  height: auto;
}

.input-lg, 
select.input-lg {
  line-height: 1;
  height: 40px;
  
  @media (min-width: $screen-sm-min) {
    height: 50px;
  }
}

input[type="checkbox"] {
  &:not(:checked), 
  &:checked {
    position: absolute;
    left: -9999px;
  }
}

.checkbox label, 
input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid $event-secondary;
    width: 20px;
    height: 20px;
  }
  
  &:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    position: absolute;
    top: 0.15em;
    left: 0.1em;
    font-size: 1.1em;
    line-height: 0.8;
    transition: all 0.2s;
    color: $event-primary;
  }
}

input[type="checkbox"] {
  &:not(:checked) {
    + label {
      &:after {
        opacity: 0;
        transform: scale(0);
      }
    }
  }
  
  &:checked {
    + label {
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.has-error {
  .control-label {
    color: inherit;
  }
  
  .form-control {
    background-color: #fcddde;
    border: 1px solid $event-secondary;
  }
}