.skip-to-content {
  padding: 20px;
  position: absolute;
  top: -50px;
  left: 0;

  &:focus {
    top: 0;
    background: $event-primary;
    color: $brand-white;
    outline: 0;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
  }
}

.event-primary {
  background: $event-primary;
}

.event-primary-dark {
  background: $event-primary-dark;
}

.event-secondary { 
  background: $event-secondary;
}

.event-secondary-medium {
  background: $event-secondary-medium;
}

.event-secondary-light {
  background: $event-secondary-light;
  
  hr {
    border-color: $event-secondary;
  }
}

.event-accent {
  background: $event-accent;

  a,
  a:link,
  a:visited,
  a:hover {
    color: $brand-white;
  }
}

.event-accent-medium {
  background: $event-accent-medium;
}

.event-accent-light {
  background: $event-accent-light;
}

.border-bottom--gray {
  border-bottom: 1px solid $border-gray;
}