header {
  .ym-header-pre-text {
    font-size: 12px;
    margin: 0 0 16px;
  }
  
  .ym-header-logos {
    margin: 0 0 18px;
  }
  
  .ym-header-logo {
    float: left;
    border-left: 1px solid #838181;
  }
  
  .ym-header-logo--aha {
    border-left: 0;
    width: 125px;
  }
  
  .ym-header-title {
    color: #6153a3;
    font-family: 'Luckiest Guy', cursive;
    font-size: 26px;
    text-transform: uppercase;
  }
  
  .ym-header-post-text {
    font-size: 10px;
  }
  
  nav {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    
    ul.ym-site-nav {
      color: #ed1c24;
      float: left;
      font-size: 20px;
      list-style: none;
      
      li {
        float: left;
      }
    }
    
    .ym-header-login {
      float: left;
    }
    
    .ym-header-login-toggle {
      font-size: 16px;
    }
    
    .ym-site-menu {
      float: right;
    }
    
    .ym-site-menu-toggle {
      color: #ed1c24;
      
      .ym-site-menu-bar {
        display: block;
        width: 36px;
        height: 6px;
        margin: 0 0 3px;
        
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}