header {
  padding: 10px 0 0;
  
  @media (min-width: $screen-sm-min) {
    padding: 20px 0 0;
  }
  
  > .container {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: auto;
    }
  }
  
  .ym-header-pre-text {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 16px;
    
    a {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        color: inherit;
      }
    }
  }
  
  .ym-header-logos {
    height: 70px;
    margin: 0 0 18px;
    
    @media (min-width: $screen-sm-min) {
      height: 76px;
    }
  }
  
  .ym-header-logo {
    float: left;
    border-left: 1px solid #838181;
    height: 54px;
    
    &:first-child {
      border-left: 0;
    }
    
    > a, 
    > span {
      display: block;
    }
  }
  
  .ym-header-logo--aha {
    > a, 
    > span {
      margin: 0 10px 0 0;
      
      img {
        width: 125px;
        
        @media (min-width: $screen-sm-min) {
          width: auto;
        }
      }
    }
  }
  
  .ym-header-logo--jump {
    > a, 
    > span {
      margin: -8px 8px 0;
    }
  }
  
  .ym-header-logo--hoops {
    > a, 
    > span {
      margin: 10px 8px 0;
    }
  }
  
  .ym-header-logo--shape-america {
    > a, 
    > span {
      margin: 6px 18px 0;
    }
  }
  
  .ym-header-title {
    color: #6153a3;
    font-family: 'Luckiest Guy', cursive;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0 16px;
  }
  
  .ym-header-post-text {
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 16px;
  }
  
  nav {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    
    > .container {
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
      
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: auto;
        padding-right: 0;
      }
    }
    
    ul.ym-site-nav {
      color: #ed1c24;
      float: left;
      font-size: 20px;
      list-style: none;
      padding: 0;
      margin: 0;
      
      li {
        float: left;
        padding: 16px 0;
        margin: 0 75px 0 0;
        
        &:last-child {
          margin: 0;
        }

        a {
          &, 
          &:link, 
          &:visited, 
          &:hover, 
          &:focus, 
          &:active {
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
          }
          
          &:hover, 
          &:focus, 
          &:active {
            color: $brand-primary-darker;
          }
        }
      }
    }
    
    .ym-header-login {
      float: left;
      position: relative;
      
      @media (min-width: $screen-sm-min) {
        float: right;
      }
    }
    
    .ym-header-login-toggle {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        font-size: 16px;
        font-weight: 500;
      }
    }
    
    .ym-header-login-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      background: #ffffff;
      border: 1px solid #c9cccc;
      font-size: 14px;
      padding: 0;
      z-index: 1000;
      
      @media (max-width: $screen-xs-max) {
        left: 0;
        border-left: 0;
      }
      
      @media (min-width: $screen-sm-min) {
        right: 0;
      }
      
      &.open {
        display: block;
      }
    }
    
    .ym-header-login-form {
      border-left: 6px solid $brand-primary;
      padding: 30px 20px;
    }
    
    .ym-site-menu {
      float: right;
      position: relative;
    }
    
    .ym-site-menu-toggle {
      display: block;
      border: 0;
      border-radius: 0;
      padding: 10px;
      margin: 0 10px 0 0;
      
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active, 
      &:active:hover, 
      &:active:focus {
        background: transparent;
        box-shadow: none;
        outline: 0;
      }
      
      .ym-site-menu-bar {
        display: block;
        background: #ed1c24;
        width: 36px;
        height: 6px;
        margin: 0 0 3px;
        
        &:last-child {
          margin: 0;
        }
      }
    }
    
    .ym-site-menu-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: #ffffff;
      border: 1px solid #c9cccc;
      border-right: 0;
      font-size: 14px;
      width: 140px;
      padding: 0;
      z-index: 1000;
      
      &.open {
        display: block;
      }
      
      ul {
        border-left: 6px solid $brand-primary;
        color: $brand-primary;
        list-style: none;
        padding: 30px 20px;
        margin: 0;
        
        li {
          font-weight: 700;
          margin: 0 0 30px;
          
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}