header {
  > .container {
    padding-top: 10px;
    
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: auto;
    }
    
    @media (min-width: $screen-sm-min) {
      padding-top: 20px;
    }

    @media (min-width: $screen-lg-min) {
      padding: 20px 0 0;
    }
  }
  
  .ym-header-pre-text {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 16px;
    
    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        color: inherit;
        text-decoration: none;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .ym-header-logos {
    height: 70px;
    margin: 0 0 18px;
    
    @media (min-width: $screen-sm-min) {
      height: 76px;
    }
  }
  
  .ym-header-logo {
    float: left;
    border-left: 1px solid #838181;
    height: 76px;
    
    &:first-child {
      border-left: 0;
    }
    
    > a,
    > span {
      display: block;
    }
  }
  
  .ym-header-logo.ym-header-logo--aha {
    padding-left: 0;
    
    > a,
    > span {
      margin: -4px 10px 0 0;
      
      img {
        width: 125px;
        
        @media (min-width: $screen-sm-min) {
          width: auto;
        }
      }
    }
  }
  
  .ym-header-title {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0 16px;
    color: $event-secondary;
    font-family: $headline-font;
    
    &.visible-xs {
      line-height: 32px;
    }
  }
  
  .ym-header-post-text {
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 16px;
  }

  nav {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    
    > .container {
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
      
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: auto;
        padding-right: 0;
      }

      @media (min-width: $screen-lg-min) {
        padding: 0;
      }
    }
    
    ul.ym-site-nav {
      color: $brand-primary;
      float: left;
      font-size: 20px;
      line-height: 20px;
      list-style: none;
      padding: 0;
      margin: 0;
      
      li {
        float: left;
        padding: 15px 0;
        margin: 0 75px 0 0;
        
        &:last-child {
          margin: 0;
        }
        
        a {
          &,
          &:link,
          &:visited,
          &:hover,
          &:focus,
          &:active {
            color: $brand-primary;
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
          }
          
          &:hover,
          &:focus,
          &:active {
            color: $brand-primary-darker;
          }
        }
      }
    }
    
    .ym-header-login {
      float: left;
      position: relative;
      
      @media (min-width: $screen-sm-min) {
        float: right;
      }

      > a {
        &.ym-header-login-toggle {
          padding-top: 14px;
        }
      }
    }
    
    .btn.ym-header-login-toggle {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        font-size: 16px;
        font-weight: 500;
        height: 50px;
      }
    }
    
    .ym-header-login-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      background: $brand-white;
      border: 1px solid #c9cccc;
      font-size: $font-size-sm;
      width: 266px;
      padding: 0;
      z-index: 1000;
      
      @media (max-width: $screen-xs-max) {
        left: 0;
        border-left: 0;
      }
      
      @media (min-width: $screen-sm-min) {
        right: 0;
      }
      
      &.open {
        display: block;
      }
    }
    
    .ym-header-login-form {
      border-left: 6px solid $brand-primary;
      padding: 30px 20px;
      
      .form-group {
        margin: 0 0 10px;
      }
      
      .ym-header-login-footer {
        padding: 10px 0 0;
      }
      
      a {
        &,
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          font-weight: 700;
          text-decoration: underline;
          margin: 12px 0 0;
        }
        
        &.ym-header-login__help-link {
          color: $brand-primary;
          
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    
    .ym-header-logged-in {
      float: right;
      
      @media (max-width: $screen-xs-max) {
        float: left;
        width: calc(100% - 71px);
      }

      ul {
        a {
          &,
          &:link,
          &:visited,
          &:hover,
          &:focus,
          &:active {
            color: $brand-primary;
          }
        }
      }
    }
    
    .ym-header-welcome {
      float: left;
      position: relative;
      width: 100%;
    }
    
    .ym-header-welcome-toggle {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active,
      &:active:hover,
      &:active:focus {
        color: $brand-primary;
        height: 50px;
        font-weight: 700;
        
        @media (max-width: $screen-xs-max) {
          height: auto;
          white-space: inherit;
          text-align: left;
          position: absolute;
          line-height: 1;
          left: 120px;
          padding: 17px 22px 0 0;
          
          .fa {
            position: absolute;
            right: 0;
            top: 35%;
            font-size: 20px;
          }
        }

        @media (max-width: 480px) {
          padding: 10px 20px 0 0;

          .ym-header-welcome-toggle--first-name{
            display: block;
          }

          .fa {
            font-size: 18px;
          }
        }
      }
      
      &:hover,
      &:focus,
      &:active,
      &:active:hover,
      &:active:focus {
        color: $brand-primary-darker;
      }
    }
    
    .ym-header-welcome-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      background: $brand-white;
      border: 1px solid #c9cccc;
      font-size: $font-size-sm;
      padding: 0;
      z-index: 1000;
      
      @media (max-width: $screen-xs-max) {
        left: 0;
        border-left: 0;
        width: 100%;
        max-width: 350px;
      }
      
      @media (min-width: $screen-sm-min) {
        right: 0;
      }
      
      &.my-hq {
        left: 115px;
        
        @media(min-width: $screen-sm-min){
          right: 115px;
          left: inherit;
        }
        @media(min-width: $screen-md-min){
          right: 180px;
        }
      }
      
      &.my-events {
        right: 135px;
      }
      
      &.open {
        display: block;
      }
      
      ul {
        border-left: 6px solid $brand-primary;
        color: $brand-primary;
        list-style: none;
        padding: 30px 20px;
        margin: 0;
        
        li {
          font-weight: 700;
          margin: 0 0 30px;
          
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    
    .ym-header-hq-btn.btn {
      height: 50px;
      line-height: 50px;
      font-weight: 700;
      padding: 0 20px;
    }
    
    .ym-site-menu {
      float: right;
      position: relative;
    }
    
    &.visible-xs {
      width: 66px;
    }
    
    .btn.ym-site-menu-toggle {
      display: block;
      border: 0;
      border-radius: 0;
      padding: 8px 10px;
      margin: 1px 10px 0 0;
      
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active,
      &:active:hover,
      &:active:focus {
        background: transparent;
        box-shadow: none;
      }
      
      .ym-site-menu-bar {
        display: block;
        background: $brand-primary;
        border-radius: 2px;
        width: 36px;
        height: 6px;
        margin: 0 0 3px;
        
        &:last-child {
          margin: 0;
        }
      }
      
      &:hover,
      &:focus,
      &:active,
      &:active:hover,
      &:active:focus {
        .ym-site-menu-bar {
          background: #353535;
        }
      }
    }
    
    .ym-site-menu-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: $brand-white;
      border: 1px solid #c9cccc;
      border-right: 0;
      font-size: $font-size-sm;
      width: 140px;
      padding: 0;
      z-index: 1000;
      
      &.open {
        display: block;
      }
      
      ul {
        border-left: 6px solid $brand-primary;
        color: $brand-primary;
        list-style: none;
        padding: 30px 20px;
        margin: 0;
        
        li {
          font-weight: 700;
          margin: 0 0 30px;
          
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

.app-27 {
  header nav {
    @media(max-width: $screen-sm) {
      .ym-header-logged-in {
        float: none;
        width: 100%;
      }
      .ym-header-welcome{
        float: none;
        text-align: right;
        width: 99%;
      }
      .ym-header-welcome-toggle {
        &,
        &:focus,
        &:hover,
        &:visited {
          position: static;
          padding-bottom: 17px;

          .fa {
            position: static;
          }
        }

        .ym-header-welcome-toggle--first-name {
          display: inline-block;
        }
      }

      .ym-header-welcome-dropdown {
        left: inherit;
        right: 0;
      }

      .ym-header-hq-btn {
        display: none;
      }
    }

  }
}
