.ym-hero {
  position: relative;
  padding-top: 45.2991452%;
  background-size: cover;

  @media(min-width: $screen-md-min) {
    height: 430px;
    background-position: 0 center;
    padding: 0;
  }
}

.ym-hero__text {
  background: #fff;
  padding:20px 20px 0;

  @media(min-width: $screen-sm-min) {
    background: rgba(255,255,255,0.88);
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 300px;
  }

  @media(min-width: $screen-md-min) {
    width: 430px;
    padding: 20px;
  }

  &.ym-hero__text--right {
    right:20px;

    @media(min-width: $screen-md-min) {
      right: 50px;
    }
  }
  &.ym-hero__text--left{
    left:20px;

    @media(min-width: $screen-md-min) {
      left: 50px;
    }
  }
  h1 {
    color: $event-secondary;
    text-shadow: none;
    margin-top: 0;

    @media(max-width: $screen-md) {
      font-size: 30x;
    }
  }
  p {
    margin: 0;
  }
}

