.ym-hero {
  position: relative;
  background-size: cover;
  padding-top: 45.2991452%;
  
  @media (min-width: $screen-md-min) {
    background-position: 0 center;
    height: 430px;
    padding: 0;
  }
}

.ym-hero__text {
  background: #ffffff;
  padding: 20px 20px 0;
  
  @media (min-width: $screen-sm-min) {
    position: absolute;
    bottom: 20px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.88);
    width: 300px;
    padding: 15px;
  }
  
  @media (min-width: $screen-md-min) {
    width: 430px;
    padding: 20px;
  }
  
  &.ym-hero__text--right {
    right: 20px;
    
    @media (min-width: $screen-md-min) {
      right: 50px;
    }
  }
  
  &.ym-hero__text--left {
    left: 20px;
    
    @media (min-width: $screen-md-min) {
      left: 50px;
    }
  }
  
  h1 {
    color: $event-secondary;
    text-shadow: none;
    margin-top: 0;
    
    @media (max-width: $screen-sm-max) {
      font-size: 30px;
    }
  }
  
  p {
    margin: 0;
  }
}

.ym-page-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -60px;
  height: 280px;
  padding: 0;
  margin-bottom: 40px;
  
  @media (max-width: $screen-sm-max) {
    background-position: center -40px;
    height: 250px;
  }
  
  @media (max-width: $screen-xs-max) {
    background-position: center -20px;
    height: calc(100vw * 10  / 32);
  }
}