.ym-hero {
  position: relative;
  background-size: cover;
  padding-top: 45.2991452%;

  @media (min-width: $screen-md-min) {
    background-position: 0 center;
    height: 430px;
    padding: 0;
  }
}

.ym-hero__owl-carousel {
  &.owl-carousel {
    display: block;
  }
  
  > .item {
    &:nth-child(n+2) {
      display: none;
    }
  }
}

.ym-hero-top__find-your-school {
  background-color: $event-accent;
  
  a {
    &.btn {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        box-shadow: 0 0 30px 7px rgb(250, 250, 250);
        box-shadow: 0 0 30px 7px rgba(250, 250, 250, 0.5);
        font-size: $font-size-sm;
      }
    }
  }
}

.ym-page-banner {
  position: relative;
  background-position: center;
  background-size: cover;
  padding-top: 45.2991452%;
  
  @media (min-width: $screen-md-min) {
    height: 280px;
    padding: 0;
  }
}

.ym-hero__text {
  background: $brand-white;
  padding: 20px 20px 0;
  
  @media (min-width: $screen-sm-min) {
    position: absolute;
    bottom: 20px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.88);
    width: 300px;
    padding: 15px;
  }
  
  @media (min-width: $screen-md-min) {
    width: 430px;
    padding: 20px;
  }

  &.ym-hero__text--right {
    right: 20px;

    @media (min-width: $screen-md-min) {
      right: 50px;
    }
  }

  &.ym-hero__text--left {
    left: 20px;

    @media (min-width: $screen-md-min) {
      left: 50px;
    }
  }

  h1 {
    color: $event-secondary;
    text-shadow: none;
    margin-top: 0;

    @media (max-width: $screen-sm-max) {
      font-size: 30px;
    }
  }

  p {
    margin: 0;
  }
}