.ym-donor-list {
  background: #fff;
  max-width: 490px;
  max-height: 200px;
  overflow: auto;
  margin: auto;
  padding: 30px 30px 0;
  text-align: left;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md){
    max-width: 250px;
    max-height: 190px;
  }

  @media (max-width: $screen-md) {
    padding: 20px 20px 0;
  }
}

.ym-donor-list__donor {
  margin: 0 0 20px;

  span {
    display: inline-block; 
  }
}

.ym-donor-list__donor--name {
  width: 85%;
}

.ym-donor-list__donor--amount {
  width: 10%;
  text-align: right;
}