.ym-donor-list {
  background: #fff;
  max-width: 490px;
  height: 200px;
  overflow: auto;
  margin: auto;
  padding: 30px 30px 0;
  text-align: left;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md){
    max-width: 250px;
  }

  @media (max-width: $screen-md) {
    padding: 20px 20px 0;
  }
}

.ym-donor-list__row {
  margin: 0 0 20px;

  span {
    display: inline-block; 
  }
}

.ym-donor-list__row--name {
  width: 85%;
}

.ym-donor-list__row--amount {
  width: 10%;
  text-align: right;
}

.ym-stripe-list__column {
  display: inline-block
}