p, 
ol, 
ul, 
li, 
table, 
tr, 
th, 
td, 
.Explicit, 
div.responsive,
textarea, 
input, 
select,
option {
  font-family: inherit;
  font-size: inherit;
}

a, 
div.responsive a {
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus, 
  &:active {
    color: $link-color;
    cursor: pointer;
  }
}

div.responsive {
  &, 
  &.donation-form-container {
    background: transparent;
    border: 0;
    border-radius: 0;
    width: auto;
    padding: 0;
  }
  
  input[type="text"], 
  input[type="number"], 
  input[type="password"], 
  textarea {
    box-shadow: none;
  }
}

.mobile div.responsive {
  width: auto;
}