main {
  padding: 18px 0;

  @media (min-width: $screen-sm-min) {
    padding: 22px 0;
  }

  > .container {
    padding: 0 15px;
    margin: -50px auto 0;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: auto;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: -100px;
    }

    @media (min-width: $screen-lg-min) {
      padding: 0;
    }
  }
}

.app-9,
.app-26,
.app-27 {
  main > .container {
    @media (max-width: $screen-xs-max) {
      margin-top: -72x;
    }
  }
}

.jump-hoops-home {
  main {
    > .container {
      @media (max-width: $screen-xs-max) {
        margin-top: -50px;
      }
    }
  }
}
