html.ym-modal-is-open {
  overflow-y: hidden;
}

.ym-modal-full-screen {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}