.ym-page-content {
  padding: 10px;
  margin: 18px 0 0;
  
  @media (min-width: $screen-sm-min) {
    padding: 28px;
    margin: -50px 0 0;
  }
}

.ym-page-section__top {
  display: flex;

  .col-md-6 {
    padding: 0;
  }
}

.ym-progress, .ym-my-challenge {
    text-align: center;
}

.ym-user-image {
  position: relative;

  .caption {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255, .8);
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    padding: 15px 0;
    font-size: $font-size-sm;
    width: 100%;
  }
}