.ym-page-content, .ym-page-section__main, .ym-page-section__roster  {
  background: #ffffff;
}

.ym-page-content {
  padding: 10px;
  margin: 18px 0 0;
  
  @media (min-width: $screen-sm-min) {
    padding: 28px;
    margin: -50px 0 0;
  }
}

.cms {
  .ym-page-content {
    padding: 0;
    margin: 18px 0 0;

    @media (min-width:$screen-sm-min){
      padding: 0;
      margin: -35px 0 0;
    }
  
    > .container {
      padding: 10px;

      @media (min-width: $screen-sm-min){
        padding: 30px;
      }
    }
  }
}

.app-9 {
  .ym-page-content {
    padding: 50px 100px;
    margin: 0;

    @media(max-width: $screen-lg){
      padding: 50px;
    }

    @media(max-width: $screen-md){
      padding: 30px;
    }

    > div {
        padding: 0;
    }

    .col-md-8 {
      margin: auto;
      padding: 0;
      max-width: 670px;
    }

    @media (min-width: $screen-md-min){
      .col-md-4 {
        width: calc(100% - 700px);
        float: right;
      }
      .col-md-8 {
        width: 670px;
        margin: auto;
        padding: 0;
      }
    }

    @media(max-width: $screen-md){
      .col-md-8 {
        float: none;
      }
    }
  }
}

.ym-page-section__top {
  @media (min-width: $screen-md-min) {
    display: flex;
  }

  .ym-progress {
    padding: 20px;

    .ym-progress__cta .btn {
      margin: 0 10px 10px;
    }
  }
}

.ym-user-image {
  position: relative;
  padding: 0;

  @media (max-width: $screen-md) {
    background-image: none !important;
  }

  @media (min-width: 630px) and (max-width: $screen-md-min){
    background: #fff;
    padding: 20px 0;
  } 
  
  @media (min-width: $screen-md) {
    background-size: cover;
    min-height: 360px;
  }

  img {
    margin: auto;
    @media (max-width: $screen-md) {
      max-width: 100%;
      display: block;
    }
  }
  .caption {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255, .8);
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    padding: 15px 0;
    font-size: $font-size-sm;
    width: 100%;
  }
}

.ym-page-section__main {
  padding: 50px 0;

  @media (max-width: $screen-md){
   padding: 40px 0; 
  }

  @media (max-width: $screen-sm){
    padding: 30px 0; 
  }
  
  > .col-md-6 {
    padding: 0 40px;

    @media (max-width: $screen-md){
      padding: 0 60px;
    }

    @media (max-width: $screen-sm){
      padding: 0 20px;
    }

    .ym-my-challenge > div {
        padding: 0;
    }
  }  

  @media (max-width: $screen-md){
    .ym-story {
      margin-bottom: 30px;
    }
    .ym-badges, .ym-my-challenge {
      max-width: 485px;
      margin: auto;
    }

    .ym-my-challenge {
      margin-top: 35px;
    }
  }

  @media (max-width: $screen-sm){
    .ym-my-challenge {
      margin-top: 15px;

      img {
        margin: 0 auto 20px;
      }

      p {
        text-align: center;
      }
    }
  }
}

.ym-page-section__list {
  padding: 40px 0;

  @media (max-width: $screen-sm-min){
    padding: 30px 0; 
  }

  > div {
    padding: 0 40px;

    @media (max-width: $screen-md-min){
      padding: 0 60px;
    }

    @media (max-width: $screen-sm-min){
      padding: 0 20px;
    }
  }

  .ym-donate-cta {
    margin: 40px 0 0;
    text-align: center;

    @media (max-width: $screen-sm){
      margin: 0 0 30px;
    }

    p {
      margin-bottom: 20px; 
      
      @media (min-width: $screen-md){
        margin-bottom: 30px;
      }
    }
  }

  .ym-list {
    img {
      margin: 0 auto 15px;

      @media (max-width: $screen-md){
        max-width: 275px;
      }

      @media (max-width: $screen-xs){
        max-width: 250px;
      }
    }
  }
}

.ym-page-section__roster {
  padding: 50px;

  @media (max-width: $screen-xs) {
    padding: 25px;
  }
  h5 {
    text-align: center;
    margin: 0 0 30px;
    
    @media (max-width: $screen-xs) {
      margin: 0 0 15px;
    }
  }
}

.ym-page-section__sponsor {
  background: #fff;
  padding: 0 0 50px;
  text-align: center;
  
  hr {
    margin: 0 0 50px;
  }
  img {
    max-width: 100%;
    margin: auto;
    display: inline-block;
  }
}