.ym-page-header {
  padding: 18px 0 0;
  margin: -18px 0 0;
  
  @media (min-width: $screen-sm-min) {
    padding: 22px 0 80px;
    margin: -22px 0 0;
  }
  
  > .container {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: auto;
    }
  }
  
  h1 {
    font-size: 32px;
    margin: 0 0 18px;
    
    @media (min-width: $screen-sm-min) {
      font-size: 60px;
      margin: 0 0 22px;
    }
  }

  p {
    font-weight: 600;

    &:last-child {
      margin:0;
    }

    a, a:visited, a:link {
      text-decoration: underline;
      color: #fff;
    }

    a:hover{
      text-decoration: none;
    }
  }
}