.pagination {
  margin: 15px 0;

  @media (min-width: $screen-sm-min) {
    margin: 30px 0;
  }

  > li {
    > a,
    > span {
      border: 0;
      color: $event-primary;
      font-weight: 700;
      margin-left: 10px;

      &:hover,
      &:focus {
        color: $event-primary;
        text-decoration: underline;
      }
    }
  }

  .disabled {
    > a {
      &,
      &:focus,
      &:hover {
        color: $event-primary;
        font-weight: 700;
        text-decoration: none;
      }
    }

    > span {
      &,
      &:focus,
      &:hover {
        color: $event-primary;
        font-weight: 700;
      }
    }
  }

  .active {
    > a {
      &,
      &:focus,
      &:hover {
        background-color: $event-primary;
        border-color: $event-primary;
      }
    }

    > span {
      &,
      &:focus,
      &:hover {
        background-color: $event-primary;
        border-color: $event-primary;
      }
    }
  }
}

table {
  &.paginator {
    margin-top: 30px;

    .pg-items {
      display: none;
    }

    td {
      padding: 6px 12px;
      line-height: 1.5em;
      text-align: center;
      font-weight: bold;
      display: inline-block;

      &.pg-curr {
        background-color: $event-primary;
        color: $brand-white;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.ym-school-search,
.ym-donor-search,
.ym-page-section__roster {
  .table {
    margin: 0 auto 10px;

    @media (min-width: $screen-sm-min) {
      margin: 0 auto 30px;
    }
  }
  
  .pagination {
    margin: 0 0 10px;

    @media (min-width: $screen-sm-min) {
      margin: 0 0 30px;
    }
  
    > li {
      @media (max-width: $screen-xs-max) {
        display: block;
        float: left;

        &.pagination-prev + li {
          clear: left;
        }

        &.pagination-next {
          clear: left;

          > a,
          > span {
            margin-left: 0;
            padding-left: 0;
          }
        }

        &.pagination-first {
          > a,
          > span {
            margin-left: 0;
            padding-left: 0;
          }
        }

        &:first-child {
          > a,
          > span {
            margin-left: 0;
            padding-left: 0;
          }
        }

        &:nth-child(3) {
          > a, 
          > span {
            margin-left: 0;
          }
        }

        > a,
        > span {
          margin: 5px 0 5px 5px;

          @media (max-width: $screen-xs-min) {
            padding: 6px 0;
            text-align: center;
            width: 40px;

            &:hover,
            &:focus {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  
  .pagination-next,
  .pagination-prev,
  .pagination-last,
  .pagination-first {
    a:focus,
    a:hover {        
      background: transparent;
    }
  }
}

.ym-pagination {
  position: relative;
}

.ym-pagination.text-center {
  @media(max-width: $screen-xs-max) {
    text-align: left;
  }
}