@import "../../youth-markets/sass/variables.scss";
@import "variables.scss";
@import "../../youth-markets/sass/mixins.scss";

main > .container {
  @media (max-width: $screen-xs-max) {
    margin-top: -72px;
  }
}
.ym-page-header-related {
  bottom: 0;
}

.ym-page-content {
  background: transparent;
  padding: 0;

  .ng-pc-view-container {
    padding: 10px 10px 20px;

    @media (min-width: $screen-sm-min) {
      padding: 32px 10px;
    }

    @media (min-width: $screen-md-min) {
      padding: 36px 28px;
    }

    .btn-link {
      color: $event-primary;
      padding: 0;
    }
  }
}

.ng-pc-nav {
  @media (max-width: 559px) {
    text-align: center;
    max-width: 320px;
    margin: 0 auto 7px;
  }
  
  a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      display: inline-block;
      font-size: $font-size-sm;
      line-height: 16px;
      text-align: center;
      text-decoration: none;
      width: 100px;
      height: 40px;
      padding: 12px 6px 0;
      margin: 0 3px 5px;
      vertical-align: bottom;
      
      @media (max-width: 350px) {
        max-width: 85px;
      }
      
      @media (min-width: 560px) {
        border-right: 2px solid $event-accent;
        font-size: 18px;
        line-height: 22px;
        width: 20%;
        height: 50px;
        padding: 14px 12px 0;
        margin: 0;
      }
    }
    
    &,
    &:link,
    &:visited {
      background: $event-secondary;
      color: $brand-white;
      
      @media (min-width: 560px) {
        background: $event-secondary-medium;
        color: $event-secondary;
        font-size: 17px;
      }
      
      @media (min-width: 590px) {
        font-size: 18px;
      }
    }
    
    &:hover,
    &:focus,
    &:active {
      background: $event-secondary;
      color: $brand-white;
      
      @media (min-width: 560px) {
        background: $event-secondary;
        color: $brand-white;
      }
    }
    
    &:last-child {
      @media (min-width: 560px) {
        border-right: 0;
        margin: 0;
      }
    }
    
    &.active {
      background: $brand-white;
      color: $event-secondary;
    }
    
    > span {
      display: inline-block;
      margin: 0 auto;
    }
  }
}

.ng-pc-nav--coordinator {
  @media (max-width: 669px) {
    text-align: center;
    max-width: 320px;
    margin: 0 auto 7px;
  }
  
  a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      @media (max-width: 669px) {
        border-right: 0;
        font-size: $font-size-sm;
        line-height: 16px;
        width: 100px;
        height: 40px;
        padding: 12px 6px 0;
        margin: 0 3px 5px;
      }
      
      @media (min-width: 670px) {
        font-size: 17px;
        width: 16.66666667%;
      }
      
      @media (min-width: 690px) {
        font-size: 18px;
      }
      
      &.ng-pc-nav-item--resources {
        padding: 3px 6px 0;
        
        @media (min-width: 670px) {
          padding: 3px 12px 0;
        }
        
        @media (min-width: 1170px) {
          padding: 14px 12px 0;
        }
        
        > span {
          max-width: 80px;
          
          @media (min-width: 670px) {
            max-width: 100px;
          }
          
          @media (min-width: 1170px) {
            max-width: none;
          }
        }
      }
      
      &.ng-pc-nav-item--student-view {
        padding: 3px 6px 0;
        
        @media (min-width: 670px) {
          padding: 8px 12px 0;
        }
        
        @media (min-width: 890px) {
          padding: 14px 12px 0;
        }
        
        > span {
          max-width: 65px;
          
          @media (min-width: 670px) {
            max-width: 80px;
            font-size: 16px;
            line-height: 18px;
          }
          
          @media (min-width: 890px) {
            max-width: none;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
    
    &,
    &:link,
    &:visited {
      @media (max-width: 669px) {
        background: $event-secondary;
        color: $brand-white;
      }
    }
    
    &:hover,
    &:focus,
    &:active {
      @media (max-width: 669px) {
        background: $event-secondary;
        color: $brand-white;
      }
    }
    
    &:last-child {
      @media (min-width: 560px) and (max-width: 669px) {
        margin: 0 3px 5px;
      }
    }
    
    &.active {
      @media (max-width: 669px) {
        background: $brand-white;
        color: $event-secondary;
      }
    }
  }
}

.ng-pc-view-container {
  background: $brand-white;
}

.ng-pc-container,
.ng-pc-modal {
  .btn,
  a.btn {
    &.form-control {
      height: auto;
    }
  }
}

.ng-pc-nav-btn-group {
  text-align: left;
  width: 100%;
  margin: 0 0 12px;

  > .btn,
  > a.btn {
    text-align: left;

    .caret {
      margin-left: 8px;
    }
  }

  &.open {
    > .dropdown-menu {
      width: 100%;
    }
  }

  .dropdown-menu {
    > li {
      > a {
        &,
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }

        .badge {
          float: right;
        }
      }
    }
  }
}

.ng-pc-container {
  .list-group-item-heading {
    font-size: 18px;
  }

  .list-group-item {
    font-size: 16px;

    .checkbox {
      margin: 0;

      label {
        padding-left: 25px;

        a {
          &,
          &:link,
          &:visited,
          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
          }
        }
      }
    }
  }

  a.list-group-item {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      font-weight: 500;
      text-decoration: none;
    }

    &:not(.active) {
      &,
      &:link {
        color: #555555;

        .badge {
          color: $brand-white;
        }
      }
    }
  }
}

.ym-pc-dashboard-section-header {
  text-align: center;
}

.ym-pc-dashboard-progress-section {
  .h3 {
    margin: 14px 0;
    
    @media (min-width: $screen-sm-min) {
      margin: 0 0 35px;
    }
  }
  
  .row {
    margin: 0;
    
    @media (min-width: $screen-sm-min) {
      display: flex;
      margin: 0 0 30px;
    }
    
    .ym-pc-dashboard-progress-section__column {
      padding: 20px;
      margin: 0 0 15px;
      
      @media (min-width: $screen-sm-min) {
        margin: 0;
      }
      
      &:first-child {
        @media (min-width: $screen-sm-min) {
          margin: 0 15px 0 0;
        }
        
        @media (min-width: $screen-md-min) {
          margin: 0 30px 0 0;
        }
      }
      
      .h5 {
        margin: 0 0 25px;
      }
    }
  }
  
  .ym-progress-related {
    position: relative;
    margin: 30px 0 0;
  }

  .ym-progress-donate {
    @media (min-width: $screen-sm-min) {
      float: left;
    }

    .btn-lg,
    a.btn-lg {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        display: block;
        font-size: $font-size-sm;
        max-width: 200px;
        margin: 0 auto 15px;

        @media (min-width: $screen-sm-min) {
          display: inline-block;
          position: absolute;
          bottom: 0;
          max-width: none;
          margin: 0;
        }

        @media (max-width: $screen-sm-max) {
          padding: 10px 12px;
        }

        @media (min-width: $screen-md-min) {
          font-size: 16px;
        }

        @media (min-width: $screen-lg-min) {
          font-size: 18px;
        }
      }
    }
  }

  .pull-right {
    text-align: right;

    p {
      margin: 0;
    }

    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        @media (min-width: $screen-sm-min) {
          display: inline-block;
          max-width: 100px;
        }

        @media (min-width: $screen-md-min) {
          max-width: 140px;
        }

        @media (min-width: $screen-lg-min) {
          max-width: none;
        }
      }
    }
  }
}

.ym-pc-dashboard-progress-types {
  margin: 0 0 32px;
}

.ym-pc-dashboard-progress-type {
  float: left;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  text-align: center;
  width: 50%;

  a,
  button {
    @media(max-width: $screen-xs){
      font-size: 13px;
    }
    &,
    &:link,
    &:visited {
      display: block;
      background: #b3add3;
      color: $event-secondary;
      text-decoration: none;
      padding: 8px;
      width: 100%;
      border: 0 none;
    }

    &:hover,
    &:focus,
    &:active {
      background: $event-secondary;
      color: $brand-white;
      text-decoration: none;
      border: 0 none;
    }
  }

  &.active {
    a,
    button {
      &,
      &:link,
      &:visited {
        background: $event-secondary;
        color: $brand-white;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-students-box {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
  
  .ym-pc-dashboard-coordinator-email-challenge-option {
    text-align: center;
    margin: 20px 0;
    
    p {
      margin: 0 0 18px;
    }
  }
  
  form {
    textarea.form-control[readonly] {
      background-color: $brand-white;
      border: 0;
      border-radius: 0;
      font-size: 13px;
      height: 470px;
      padding: 28px;
      
      @media (min-width: $screen-sm-min) {
        height: 326px;
      }
      
      @media (min-width: $screen-lg-min) {
        height: 302px;
      }
    }

    button {
      margin: 18px 0 0;
    }
  }
}

.ym-pc-dashboard-progress-types--multi-team {
  .ym-pc-dashboard-progress-type {
    width: 33.33333333%;
  }
}

.ym-pc-dashboard-progress-box .ym-progress__thermometer,
.ym-pc-dashboard-coordinator-progress-box .ym-progress__thermometer {
  max-width: 420px;
}

.ym-pc-dashboard-badges-section {
  background-color: $event-accent-medium;
  padding: 28px 0;
  margin: 0 0 30px;
  
  @media (min-width: $screen-sm-min) {
    margin: 0 0 40px;
  }
  
  .ym-pc-dashboard-section-header {
    position: relative;
    color: $event-secondary;
    margin: 0 0 32px;
  }
  
  .btn {
    @media (min-width: $screen-md-min) {
      position: absolute;
      right: 60px;
      top: 0;
    }
  }
}

.ym-pc-dashboard-badges-icons {
  margin: 0 0 32px;

  img {
    margin: 0 0 10px;
  }
}

.ym-pc-dashboard-email-challenge-images {
  @media (min-width: $screen-sm-min) {
    margin: 24px 0 0;
  }

  a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      display: inline-block;
      text-decoration: none;
      width: 100px;
      margin: 0 5px;

      @media (min-width: 360px) {
        width: 110px;
        margin: 0 10px;
      }

      @media (min-width: 375px) {
        width: 120px;
      }

      @media (min-width: 414px) {
        width: 140px;
      }

      @media (min-width: $screen-sm-min) {
        width: 132px;
      }

      @media (min-width: $screen-md-min) {
        width: 172px;
      }

      @media (min-width: $screen-lg-min) {
        width: 180px;
      }

      img {
        display: inline-block;
        width: 100%;
      }
    }
  }
}

.ym-pc-dashboard-email-challenge-buttons {
  margin: 20px 0 0;

  @media (min-width: $screen-sm-min) {
    margin: 30px 0 0;
  }

  .btn,
  a.btn {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      padding: 7px 12px;
      margin: 0 5px;

      @media (min-width: 480px) {
        padding: 7px 25px;
        margin: 0 10px;
      }
    }
  }
}

.ym-pc-dashboard-email-challenge-box {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
  
  .ym-pc-dashboard-email-challenge-option {
    text-align: center;
    margin: 0 0 20px;
    
    p {
      margin: 0 0 18px;
    }
  }
  
  form {
    textarea.form-control[readonly] {
      background-color: $brand-white;
      border: 0;
      border-radius: 0;
      font-size: 13px;
      height: 470px;
      padding: 28px;
    }

    button {
      margin: 20px auto 0;
      display: block;
    }
  }
}

.ym-pc-dashboard-coordinators-message-section {
  background-color: $event-accent;
  text-align: center;
  margin: 0 0 24px;
  padding: 12px;

  @media (min-width: $screen-sm-min) {
    padding: 24px 172px;
  }

  .ym-pc-dashboard-section-header {
    color: $brand-white;
  }
}

.ym-pc-dashboard-activities-section {
  margin: 24px 0;
  clear: both;
  
  @media(min-width: $screen-sm-min) {
    margin: 0 0 24px;
  }

  > .row {
    padding: 0;
    margin: 0;

    @media (min-width: $screen-sm-min) {
      display: flex;
      margin-bottom: 25px;
    }

    @media (min-width: $screen-md-min) {
      padding: 0 25px;
      margin: 0;
    }
  }
}

.ym-activity-box {
  background: $event-secondary-medium;
  border: 5px solid $event-secondary;
  border-radius: 20px;
  box-shadow: 0 5px 0 0 rgb(50, 50, 50);
  box-shadow: 0 5px 0 0 rgba(50, 50, 50, 1);
  padding: 25px 20px;
  margin: 0 0 20px;
  
  @media (min-width: $screen-sm-min) {
    margin: 0;
  }
  
  @media (min-width: $screen-md-min) {
    margin: 25px;
  }

  .row {
    margin: 0;
  }
  
  .col-sm-7,
  .col-sm-5 {
    padding: 0;
  }
  
  &.ym-activity-box--next-step, 
  &.ym-activity-box--captain-next-step {
    .ym-next-step {
      border-bottom: 1px solid $event-secondary;
      padding: 0 0 20px;
      margin: 0 0 20px;
      
      &:last-child {
        border: 0;
        padding: 0;
        margin: 0;
      }
    }
    
    .ym-next-step__step {
      margin: 0 0 15px;
      
      @media (min-width: $screen-md-min) {
        display: inline-block;
        width: calc(100% - 200px);
        padding-right: 15px;
        margin: 0;
      }
    }
    
    .ym-next-step__action {
      text-align: center;
      
      @media (min-width: $screen-md-min) {
        display: inline-block;
        text-align: right;
        vertical-align: top;
        width: 200px;
      }
      
      .btn,
      a.btn {
        &,
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          width: 200px;
          
          @media (min-width: $screen-md-min) {
            width: auto;
            min-width: 125px;
          }
        }
      }
    }
    
    .ym-next-step--sm {
      .ym-next-step__step {
        @media (min-width: $screen-md-min) {
          width: calc(100% - 125px);
          padding-right: 40px;
        }
      }
      
      .ym-next-step__action {
        @media (min-width: $screen-md-min) {
          width: 125px;
        }
        
        .btn,
        a.btn {
          @media (min-width: $screen-md-min) {
            width: 125px;
          }
        }
      }
    }
  }
  
  &.ym-activity-box--next-step, 
  &.ym-activity-box--challenge, 
  &.ym-activity-box--captain-pages, 
  &.ym-activity-box--coordinator-pages, 
  &.ym-activity-box--coordinator-reports {
    @media (min-width: $screen-sm-min) {
      margin: 0 20px 0 0;
    }
    
    @media (min-width: $screen-md-min) {
      margin: 25px;
    }
  }
  
  &.ym-activity-box--challenge {
    .ym_my_challenge__current {
      padding-bottom: 20px;
      
      .col-sm-4 {
        max-width: 300px;
        margin: auto;
      }
    }
    
    .ym_my_challenge__actions {
      text-align: center;
      margin: 15px 0 0;
      
      .btn {
        &,
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          font-size: 13px;
          width: 236px;
          padding: 7px 0;
          margin: 0 -20px;
          
          @media (min-width: 375px) {
            font-size: inherit;
            width: 280px;
            margin: 0;
          }
        }
      }
      
      .alert-success {
        width: 216px;
        padding: 7px 0;
        margin: 0 auto;
        
        @media (min-width: 360px) {
          width: 240px;
        }
      }
    }
    
    .ym_my_challenge__update {
      text-align: center;
      
      button {
        margin: 12px auto 0;
      }
    }
  }
  
  &.ym-activity-box--page {
    > div.text-center {
      margin: 20px 0 30px;
    }
    
    .ym-activity-url {
      word-break: break-all;
      
      p {
        font-size: $font-size-sm;
        margin: 0 0 3px;
        
        &.small {
          font-size: 12px;
          line-height: 14px;
        }
      }
      
      .btn,
      a.btn {
        &,
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          display: inline-block;
          margin: 6px 0 0;
        }
      }
    }
    
    .ym-activity-share-page {
      margin: 15px 0 0;
      
      @media (min-width: $screen-sm-min) {
        float: right;
        text-align: right;
        max-width: 105px;
        margin: 0;
      }
      
     p {
        display: block;
        font-size: $font-size-sm;
        line-height: 18px;
        margin: 0 0 5px;
        vertical-align: bottom;

        @media (min-width: $screen-xs-min) {
          display: inline-block;
        }
        
        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }

      a {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &.ym-activity-box--virtual {
    a {
      display: inline-block;
      max-width: 100%;

      img {
        display: inline-block;
        width: 100%;
      }
    }
  }

  .h5 {
    color: $event-secondary;
    margin: 0 0 20px;

    .ym-activity-box-number {
      background: $event-secondary;
      border-radius: 100%;
      color: $brand-white;
      font-size: 28px;
      line-height: 20px;
      text-align: center;
      width: 42px;
      height: 42px;
      padding: 8px;
      display: block;
      margin-right: 10px;
      float: left;
      @media (min-width: $screen-xs-min){
        display: inline-block;
        float: none;
        margin-right: 3px;
      }
    }
  }
}

.ym-pc-dashboard-spread-section {
  padding: 24px;

  @media (min-width: $screen-sm-min) {
    padding: 36px;
  }

  .ym-pc-dashboard-spread-options {
    text-align: center;

    .row > div {
      margin: 0 0 40px;

      &:last-child {
        margin: 0;
      }

      @media (min-width: $screen-sm-min) {
        margin: 0;
      }
    }

    .ym-pc-dashboard-section-header {
      .h5 {
        color: $event-secondary;
      }
    }
  }
}

.ym-pc-dashboard-mobile-downloads {
  text-align: center;

  a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      display:inline-block;
      margin: 0 5px 5px;
    }
  }
}

.ng-pc-nav-list-group {
  .list-group-item-heading {
    padding: 10px;
    margin: 0;
  }

  .list-group-item {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;

    &:first-child {
      border-top: 0;
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
    }
  }
}

.btn + .ng-pc-nav-list-group {
  margin: 12px 0 0;
}

.ng-pc-nav-list-group + .ng-pc-nav-list-group {
  margin: 12px 0 0;
}

.ng-pc-container {
  .panel-heading {
    position: relative;

    .checkbox {
      margin: 0;

      label {
        padding-left: 25px;
      }
    }
  }

  .panel-title {
    font-size: 18px;
    line-height: 18px;
  }
}

.panel-heading-btn {
  float: right;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 13px;
  line-height: 13px;
}

.ng-pc-modal {
  .modal-body {
    font-size: 15px;
  }

  .close {
    background: $event-primary;
    border: 2px solid $brand-white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    opacity: 1;
    position: absolute;
    right: -10px;
    top:-10px;
    text-align: center;
    text-decoration: none;

    span {
      color: $brand-white;
      font-size: 35px;
      font-weight: normal;
      line-height: 20px;
    }
  }

  .modal-header__btns {
    float: right;

    .btn,
    a.btn {
      margin: 0 0 0 6px;
    }
  }

  .modal-header__btns--block-xxs {
    @media (max-width: 359px) {
      float: none;
      display: block;
      text-align: center;
      margin: 0 0 18px 0;

      .btn,
      a.btn {
        margin: 0 3px;
      }
    }
  }
}

.ym-pc-first-login-modal {
  text-align: center;
  padding: 20px 0;
  margin: 0 -5px;

  @media (min-width: $screen-sm-min) {
    padding: 22px 30px;
    margin: 0;
  }

  .h3 {
    text-transform: uppercase;
  }
}

.ym-pc-first-login-url {
  margin: 20px 0;

  @media (min-width: $screen-sm-min) {
    margin: 30px 0;
  }
}

.ym-pc-first-login-self-donor {
  margin: 0 0 10px;

  @media(min-width: $screen-sm-min) {
      margin: 0 0 20px;
  }
}

.ym-pc-first-login-url-prefix {
  display: inline-block;
  font-size: 11px;
  margin: 5px 0 0;

  @media (min-width: 360px) {
    font-size: 12px;
  }

  @media (min-width: 414px) {
    font-size: inherit;
  }
}

.ym-pc-first-login-url-text {
  display: inline-block;
  width: 100px;
  margin: 0 0 0 2px;

  @media (min-width: 535px) {
    width: 180px;
  }
}

.ym-pc-first-login-url-btn {
  display: block;

  @media (min-width: 535px) {
    display: inline-block;
    margin: 0 0 0 10px;
  }
}

.ym-pc-first-login-image {
  img {
    display: block;
    width: 100%;
  }
}

.ym-pc-first-login-close {
  margin: 24px 0 0;
}

.ng-pc-modal-email-message-body {
  width: 100%;
}

.ng-pc-container .btn-toolbar {
  background-color: $brand-white;
  border: 1px solid $event-secondary;
  border-radius: 0;
  text-align: center;
  padding: 11px 0;
  margin: 0;

  > .btn-group {
    float: none;
    height: 24px;
    margin: 0;

    @media (min-width: 375px) {
      border-right: 1px solid #dddddd;
      padding: 0 6px;
    }

    @media (min-width: 414px) {
      padding: 0 12px;
    }

    &:last-child {
      border-right: 0;
    }
  }

  .btn,
  a.btn {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      border: 0;
      border-radius: 0;
      padding: 3px 8px;

      @media (min-width: 480px) {
        padding: 3px 12px;
      }
    }
  }
}

.ng-pc-container .ta-editor {
  background-color: $brand-white;
  border: 1px solid $event-secondary;
  border-top: 0;
  border-radius: 0;
  padding: 10px;

  [contenteditable] {
    &:focus {
      outline: 0;
    }
  }
}

.ng-pc-container .ta-scroll-window {
  > .ta-bind {
    min-height: 200px;
    padding: 6px 8px;
  }
}

.contacts-list__actions {
  margin: 0 0 15px;

  .contacts-list__actions-selected {
    float: left;

    .btn,
    a.btn {
      padding: 10px;

      @media (min-width: 360px) {
        padding: 12px 14px;
      }

      @media (min-width: $screen-sm-min) {
        padding: 12px 18px;
      }

      @media (min-width: $screen-md-min) {
        padding: 12px 24px;
      }
    }
  }

  .contacts-list__actions-manage {
    float: right;

    .btn,
    a.btn {
      padding: 10px;
      margin: 0 0 0 6px;

      @media (min-width: 360px) {
        padding: 12px 14px;
      }

      @media (min-width: $screen-sm-min) {
        padding: 12px 18px;
        margin: 0 0 0 10px;
      }

      @media (min-width: $screen-md-min) {
        padding: 12px 24px;
        margin: 0 0 0 12px;
      }
    }
  }
}

.import-contacts__list-wrap {
  max-height: 250px;
  overflow-y: scroll;

  .list-group-item {
    border-radius: 0;

    .checkbox {
      margin: 0;
    }
  }
}

.ym-pc-dashboard-coordinator-progress-section {
  .h3 {
    margin-bottom: 35px;
  }

  .row {
    margin: 0;

    @media (min-width: $screen-sm-min) {
      display: flex;
      margin: 0 0 30px;
    }

    .ym-pc-dashboard-coordinator-progress-section__column {
      padding: 20px;
      margin: 0 0 15px;

      @media (min-width: $screen-sm-min) {
        margin: 0;
      }

      &:first-child {
        @media (min-width: $screen-sm-min) {
          margin: 0 15px 0 0;
        }

        @media (min-width: $screen-md-min) {
          margin: 0 30px 0 0;
        }
      }

      .h5 {
        margin: 0 0 25px;
      }
    }
  }

  .ym-progress-related {
    position: relative;
    margin: 30px 0 0;
  }

  .ym-progress-donate {
    @media (min-width: $screen-sm-min) {
      float: left;
    }

    .btn-lg,
    a.btn-lg {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        display: block;
        font-size: $font-size-sm;
        max-width: 200px;
        margin: 0 auto 15px;

        @media (min-width: $screen-sm-min) {
          display: inline-block;
          position: absolute;
          bottom: 0;
          max-width: none;
          margin: 0;
        }

        @media (max-width: $screen-sm-max) {
          padding: 10px 12px;
        }

        @media (min-width: $screen-md-min) {
          font-size: 16px;
        }

        @media (min-width: $screen-lg-min) {
          font-size: 18px;
        }
      }
    }
  }

  .pull-right {
    text-align: right;

    p {
      margin: 0;
    }

    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        @media (min-width: $screen-sm-min) {
          display: inline-block;
          max-width: 100px;
        }

        @media (min-width: $screen-md-min) {
          max-width: 140px;
        }

        @media (min-width: $screen-lg-min) {
          max-width: none;
        }
      }
    }
  }
}

.ym-pc-dashboard-coordinator-students-box {
  text-align: center;
}

.ym-pc-dashboard-coordinator-create-message {
  margin: 20px 0 0;
}

.ym-pc-dashboard-captain-activities-section, 
.ym-pc-dashboard-coordinator-steps-section {
  margin: 10px 0 40px;
  clear: both;
  
  > .row {
    padding: 0;
    margin: 0;
    
    @media (min-width: $screen-sm-min) {
      display: flex;
      margin-bottom: 25px;
    }
    
    @media (min-width: $screen-md-min) {
      padding: 0 25px;
      margin: 0;
    }
  }
}

.ym-pc-dashboard-coordinator-steps-section h2 {
  @media (max-width: $screen-sm-max) {
    margin-bottom: 20px;
  }
}

.ym-activity-box--captain-pages, 
.ym-activity-box--coordinator-pages {
  .ym-activity-url {
    word-break: break-all;
    
    p {
      font-size: $font-size-sm;
      margin: 0 0 3px;
      
      &.small {
        font-size: 12px;
        line-height: 14px;
      }
    }
    
    .btn,
    a.btn {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        display: inline-block;
        margin: 6px 0 0;
      }
    }
  }
  
  .ym-activity-share-page {
    margin: 15px 0 0;
    
    @media (min-width: $screen-sm-min) {
      float: right;
      text-align: right;
      max-width: 105px;
      margin: 0;
    }
    
    p {
      display: block;
      font-size: $font-size-sm;
      line-height: 18px;
      margin: 0;
      vertical-align: bottom;

      @media (min-width: $screen-xs-min) {
        display: inline-block;
      }
      
      @media (min-width: $screen-sm-min) {
        display: block;
        margin: 0 0 8px;
      }
    }
    
    a {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.ym-pc-dashboard-captain-page-types, 
.ym-pc-dashboard-coordinator-page-types {
  margin: 0 0 32px;
}

.ym-pc-dashboard-captain-page-type, 
.ym-pc-dashboard-coordinator-page-type {
  float: left;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  text-align: center;
  width: 50%;
  
  a,
  button {
    &,
    &:link,
    &:visited {
      display: block;
      background: #b3add3;
      color: $event-secondary;
      text-decoration: none;
      padding: 8px;
      width: 100%;
      border: 0;
    }
    
    &:hover,
    &:focus,
    &:active {
      background: $event-secondary;
      color: $brand-white;
      text-decoration: none;
    }

    @media(max-width: $screen-xs){
      font-size: 13px;
    }
  }
  
  &.active {
    a,
    button {
      &,
      &:link,
      &:visited {
        background: $event-secondary;
        color: $brand-white;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-page-types--multi-team {
  .ym-pc-dashboard-coordinator-page-type {
    width: 33.33333333%;
  }
}

.ym-pc-dashboard-captain-page-view, 
.ym-pc-dashboard-coordinator-page-view {
  margin: 0 0 30px;
}

.ym-pc-student-view-text {
  float: left;
  width: calc(97% - 115px);
  margin: 0 3% 0 0;

  @media (min-width: $screen-sm-min) {
    width: calc(97% - 135px);
  }

  p {
    @media (min-width: $screen-sm-min) {
      margin: 0 0 32px;
    }
  }
}

.ym-pc-student-view-image {
  float: right;
  width: 115px;
  margin: 0 0 15px;

  @media (min-width: $screen-sm-min) {
    width: 135px;
    margin: 0;
  }
}

.ym-activity-box--coordinator-reports,
.ym-activity-box--coordinator-prizes {
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 50px;
  }

  p {
    margin: 0 0 18px;

    @media (min-width: $screen-md-min) {
      margin: 0 0 32px;
    }
  }

  .ym-activity-box-cta {
    text-align: center;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      bottom: 25px;
      width: calc(100% - 40px);
    }
  }
}

.ym-pc-dashboard-captain-resources-section, 
.ym-pc-dashboard-coordinator-resources-section {
  background-color: $event-accent-light;
  padding: 36px;
  margin: 0 0 30px;
}

.ym-pc-dashboard-captain-resources-options, 
.ym-pc-dashboard-coordinator-resources-options {
  text-align: center;
  
  .ym-pc-dashboard-section-header {
    .h5 {
      color: $event-secondary;
      margin: 0 0 18px;
      
      @media (min-width: $screen-sm-min) {
        margin: 0 0 20px;
      }
    }
  }
  
  .btn {
    margin: 0 0 32px;
    
    @media (min-width: $screen-sm-min) {
      margin: 0;
    }
  }
}

.ym-pc-dashboard-captain-resources-more, 
.ym-pc-dashboard-coordinator-resources-more {
  text-align: center;
  
  @media (min-width: $screen-sm-min) {
    margin: 32px 0 0;
  }
}

.ym-pc-reports-lists {
  .tab-content {
    > .tab-pane {
      padding: 28px 0 0;
    }
  }
}

.ym-pc-reports-lists__acknowledge {
  > div {
    display: inline-block;
  }
  
  .ym-pc-reports-lists__note {
    position: relative;
    margin: 0 0 0 20px;
  }
  
  .ym-pc-reports-lists__note--show {
    position: absolute;
    top: -45px;
    background: $brand-white;
    border: 1px solid $inactive-grey;
    width: 200px;
    padding: 10px;
    
    @media (min-width: 360px) {
      width: 240px;
    }
    
    @media (min-width: 414px) {
      width: 300px;
    }
  }
}

.ym-pc-reports--no-tabs {
  .nav-tabs {
    display: none;
  }
}

.ym-pc-report-header {
  text-align: center;
  margin: 0 0 28px;
  
  .h5 {
    margin: 0;
  }
}

.ym-pc-report-header-buttons {
  margin: 16px 0 0;
  
  @media (min-width: $screen-md-min) {
    text-align: right;
    margin: 0;
  }
  
  .btn, 
  a.btn,
  button {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      display: block;
      margin: 0 auto 12px;
      width: 100%;
      max-width: 250px;
      
      @media (min-width: $screen-xs-min) {
        display: inline-block;
        margin: 0 0 0 10px;
        width: auto;
      }
    }
    
    &:first-child {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        @media (min-width: $screen-xs-min) {
          margin: 0;
        }
      }
    }
  }
}

.ym-pc-reports-lists .table {
  > thead {
    > tr {
      > th {
        white-space: nowrap;
        
        .btn {
          &,
          &:link,
          &:visited,
          &:hover,
          &:focus,
          &:active {
            color: $event-primary;
            font-size: inherit;
            padding: 0;
          }
          
          .fa {
            &.inactive {
              color: $inactive-grey !important;
            }
          }
        }
      }
    }
  }
  
  > tbody {
    > tr {
      > td {
        .btn,
        a.btn {
          &,
          &:link,
          &:visited,
          &:hover,
          &:focus,
          &:active {
            display: inline-block;
            margin: 6px 0 0;
          }
        }
      }
    }
  }
}

.ng-pc-view-container .ym-list {
  text-align: left;

  .fa-ul {
    margin-bottom: 0;
  }
}