@import "../../youth-markets/sass/variables.scss";
@import "variables.scss";
@import "../../youth-markets/sass/mixins.scss";

main > .container {
  @media (max-width: $screen-xs-max) {
    margin-top: -72px;
  }
}

.ym-page-content {
  background: transparent;
  padding: 0;
  
  .ng-pc-view-container {
    padding: 10px;
    
    @media (min-width: $screen-md-min) {
      padding: 28px;
    }
  }
}

.ng-pc-nav {
  background: $event-accent;
  
  @media (max-width: $screen-xs-max) {
    background: transparent;
    text-align: center;
    margin-bottom: 7px;
  }
  
  a {
    &, 
    &:link, 
    &:visited {
      display: inline-block;
      background: $event-secondary;
      color: $brand-white;
      font-size: 14px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      width: 100px;
      height: 40px;
      margin: 0 5px 5px 0;
      
      @media (max-width: 350px) {
        max-width: 85px;
      }
      
      @media (min-width: $screen-sm-min) {
        background: $event-secondary-medium;
        border-right: 2px solid $event-accent;
        color: $event-secondary;
        font-size: 18px;
        line-height: 50px;
        width: 20%;
        height: 50px;
        margin: 0;
      }
    }
    
    &:last-child {
      border-right: 0;
      margin: 0;
    }
    
    &.active {
      background: $brand-white;
      color: $event-secondary;
    }
  }
}

.ng-pc-view-container {
  background: $brand-white;
}

.ng-pc-container, 
.ng-pc-modal {
  .btn.form-control {
    height: auto;
  }
}

.ng-pc-nav-btn-group {
  text-align: left;
  width: 100%;
  margin: 0 0 12px;
  
  > .btn {
    text-align: left;
    
    .caret {
      margin-left: 8px;
    }
  }
  
  &.open {
    > .dropdown-menu {
      width: 100%;
    }
  }
  
  .dropdown-menu {
    > li {
      > a {
        .badge {
          float: right;
        }
      }
    }
  }
}

.ng-pc-container {
  .list-group-item-heading {
    font-size: 18px;
  }
  
  .list-group-item {
    font-size: 16px;
    
    .checkbox {
      margin: 0;
      label {
        padding-left: 0;
      }
    }
  }
  
  a.list-group-item {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus {
      font-weight: 500;
      text-decoration: none;
    }
    
    &:not(.active) {
      &, 
      &:link {
        color: #555555;
        
        .badge {
          color: $brand-white;
        }
      }
    }
  }
}

.ym-pc-dashboard-section-header {
  text-align: center;
}

.ym-pc-dashboard-progress-section {
  .h3 {
    margin-bottom: 35px;
  }
  
  .row {
    margin: 0;
    
    @media (min-width: $screen-sm-min) {
      display: flex;
      margin: 0 0 30px;
    }
    
    .ym-pc-dashboard-progress-section__column {
      padding: 20px;
      margin: 0 0 15px;
      
      @media (min-width: $screen-sm-min) {
        margin: 0;
      }
      
      &:first-child {
        @media (min-width: $screen-sm-min) {
          margin: 0 15px 0 0;
        }
        
        @media (min-width: $screen-md-min) {
          margin: 0 30px 0 0;
        }
      }
      
      .h5 {
        margin: 0 0 25px;
      }
    }
  }
  
  .btn-lg {
    display: block;
    margin: 0 auto 15px;
    max-width: 200px;
    
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      max-width: none;
    }
  }
  
  .pull-right {
    text-align: right;
    
    p {
      margin: 0;
    }
  }
}

.ym-pc-dashboard-progress-types {
  margin: 0 0 32px;
}

.ym-pc-dashboard-progress-type {
  float: left;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  text-align: center;
  width: 33.33333333%;
  
  a {
    &, 
    &:link, 
    &:visited {
      display: block;
      background: #b3add3;
      color: $event-secondary;
      text-decoration: none;
      padding: 8px;
      width: 100%;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $event-secondary;
      color: $brand-white;
      text-decoration: none;
    }
  }
  
  &.active {
    a {
      &, 
      &:link, 
      &:visited {
        background: $event-secondary;
        color: $brand-white;
      }
    }
  }
}

.ym-pc-dashboard-progress-box .ym-progress__thermometer {
  max-width: 420px;
}

.ym-pc-dashboard-badges-section {
  background-color: $event-accent-medium;
  padding: 28px 38px;
  margin: 0 0 40px;
  
  .ym-pc-dashboard-section-header {
    color: $event-secondary;
  }
}

.ym-pc-dashboard-email-challenge-box {
  .btn {
    margin: 30px 10px 0;
  }
}
.ym-pc-dashboard-badges-icons {
  margin: 0 0 32px;
}

.ym-pc-dashboard-badges-icon {
  float: left;
}

.ym-pc-dashboard-coordinators-message-section {
  background-color: $event-accent;
  text-align: center;
  padding: 24px 172px;
  margin: 0 0 24px;
  
  .ym-pc-dashboard-section-header {
    color: $brand-white;
  }
}

.ym-pc-dashboard-activities-section {
  margin: 0 0 24px;
  clear: both;
  
  > .row {
    padding: 0;
    margin: 0;
    
    @media (min-width: $screen-sm-min) {
      display: flex;
      margin-bottom: 25px;
    }
    
    @media (min-width: $screen-md-min) {
      padding: 0 25px;
      margin: 0;
    }
  }
}

.ym-activity-box {
  background: $event-secondary-medium;
  border: 5px solid $event-secondary;
  border-radius: 20px;
  box-shadow: 0 5px 0 0 rgb(50, 50, 50);
  box-shadow: 0 5px 0 0 rgba(50, 50, 50, 1);
  padding: 25px 20px;
  margin: 0 0 20px;
  
  @media (min-width: $screen-sm-min) {
    margin: 0;
  }
  
  @media (min-width: $screen-md-min) {
    margin: 25px;
  }
  
  &.ym-activity-box--next-step {
    > div {
      padding: 0 0 20px;
      margin: 0 0 20px;
      border-bottom: 1px solid $event-secondary;
      
      &:last-child {
        padding: 0;
        margin: 0;
        border: 0;
      }
    }
    
    .ym-next-step > div {
      margin: 0 0 15px;
      
      @media (min-width: $screen-sm-min) {
        display: inline-block;
        margin: 0;
      }
    }
    
    .ym-next-step__step {
      margin: 0 0 15px;
      
      @media (min-width: $screen-sm-min) {
        width: calc(100% - 125px);
        padding-right: 20px;
      }
      
      @media (min-width: $screen-md-min) {
        padding-right: 40px;
      }
    }
    
    .ym-next-step__action {
      text-align: center;
      
      @media (min-width: $screen-sm-min) {
        width: 125px;
        vertical-align: top;
      }
    }
    
    .btn {
      width: 125px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  &.ym-activity-box--next-step, 
  &.ym-activity-box--challenge {
    @media (min-width: $screen-sm-min) {
      margin: 0 20px 0 0;
    }
    
    @media (min-width: $screen-md-min) {
      margin: 25px;
    }
  }
  
  &.ym-activity-box--challenge {
    .col-sm-8, 
    .col-sm-4 {
      padding: 0;
    }
    
    .ym_my_challenge__current {
      padding-bottom: 20px;
    }
    
    .ym_my_challenge__actions {
      margin-top: 15px;
      
      .btn:first-child{
        margin-right: 15px;
      }
    }
    
    .ym_my_challenge__update {
      button {
        margin: 10px auto 0;
      }
    }
  }
  
  &.ym-activity-box--page {
    > div.text-center {
      margin: 20px 0 30px;
    }
    
    .text-right {
      @media (max-width: $screen-xs-max) {
        text-align: left;
        margin-top: 15px;
      }
      
      a {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  
  .h5 {
    color: $event-secondary;
    margin: 0 0 20px;
  }
  
  .row {
    margin: 0;
  }
  
  .col-sm-6 {
    padding: 0;
  }
}

.ng-pc-nav-list-group {
  .list-group-item-heading {
    padding: 10px;
    margin: 0;
  }
  
  .list-group-item {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    
    &:first-child {
      border-top: 0;
      border-radius: 0;
    }
    
    &:last-child {
      border-radius: 0;
    }
  }
}

.ym-pc-dashboard-spread-section {
  padding: 36px;
  
  .ym-pc-dashboard-spread-options {
    text-align: center;
    
    .ym-pc-dashboard-section-header {
      h5, 
      .h5 {
        color: $event-secondary;
      }
    }
    
    a {
      display: inline-block;
      
      &:first-child {
        margin: 0 0 10px 0;
        
        @media (min-width: $screen-sm-min) {
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

.btn + .ng-pc-nav-list-group {
  margin: 12px 0 0;
}

.ng-pc-nav-list-group + .ng-pc-nav-list-group {
  margin: 12px 0 0;
}

.ng-pc-container {
  .panel-heading {
    position: relative;
    
    .checkbox {
      margin: 0;
      
      label {
        padding-left: 0;
      }
    }
  }
  
  .panel-title {
    font-size: 18px;
    line-height: 18px;
  }
}

.panel-heading-btn {
  float: right;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 13px;
  line-height: 13px;
}

.ng-pc-modal {
  .modal-body {
    font-size: 15px;
  }
  
  .modal-header__btns {
    float: right;
    
    .btn {
      margin: 0 0 0 6px;
    }
  }
  
  .modal-header__btns--block-xxs {
    @media (max-width: 359px) {
      float: none;
      display: block;
      text-align: center;
      margin: 0 0 18px 0;
      
      .btn {
        margin: 0 3px;
      }
    }
  }
}

.ng-pc-modal-email-message-body {
  width: 100%;
  overflow-y: scroll;
}

.ta-toolbar {
  background-color: #f0f0f0;
  border: 1px solid $event-secondary;
  border-radius: 0;
  padding: 10px;
  margin-left: 0;
  
  .btn-group {
    margin: 0 12px 12px 0;
    
    @media (min-width: 680px) {
      display: inline-block;
    }
    
    &:last-child {
      margin: 0 12px 0 0;
    }
  }
  
  .btn {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      padding: 8px !important;
      
      @media (min-width: 360px) {
        padding: 10px !important;
      }
      
      @media (min-width: 375px) {
        padding: 11px !important;
      }
      
      @media (min-width: 400px) {
        padding: 12px !important;
      }
    }
  }
}

.ta-editor {
  background-color: $brand-white;
  border: 1px solid $event-secondary;
  border-top: 0;
  border-radius: 0;
  padding: 10px;
  
  [contenteditable] {
    &:focus {
      outline: 0;
    }
  }
}

.ta-scroll-window {
  > .ta-bind {
    min-height: 200px;
    padding: 6px 8px;
  }
}

.contacts-list__actions {
  margin: 0 0 15px;
  
  .contacts-list__actions-selected {
    float: left;
    
    .btn {
      padding: 10px;
      
      @media (min-width: 360px) {
        padding: 12px 14px;
      }
      
      @media (min-width: $screen-sm-min) {
        padding: 12px 18px;
      }
      
      @media (min-width: $screen-md-min) {
        padding: 12px 24px;
      }
    }
  }
  
  .contacts-list__actions-manage {
    float: right;
    
    .btn {
      padding: 10px;
      margin: 0 0 0 6px;
      
      @media (min-width: 360px) {
        padding: 12px 14px;
      }
      
      @media (min-width: $screen-sm-min) {
        padding: 12px 18px;
        margin: 0 0 0 10px;
      }
      
      @media (min-width: $screen-md-min) {
        padding: 12px 24px;
        margin: 0 0 0 12px;
      }
    }
  }
}

.import-contacts__list-wrap {
  max-height: 250px;
  overflow-y: scroll;
  
  .list-group-item {
    border-radius: 0;
    
    .checkbox {
      margin: 0;
    }
  }
}

.ym-pc-dashboard-coordinator-progress-section {
  .h3 {
    margin-bottom: 35px;
  }
  
  .row {
    margin: 0;
    
    @media (min-width: $screen-sm-min) {
      display: flex;
      margin: 0 0 30px;
    }
    
    .ym-pc-dashboard-coordinator-progress-section__column {
      padding: 20px;
      margin: 0 0 15px;
      
      @media (min-width: $screen-sm-min) {
        margin: 0;
      }
      
      &:first-child {
        @media (min-width: $screen-sm-min) {
          margin: 0 15px 0 0;
        }
        
        @media (min-width: $screen-md-min) {
          margin: 0 30px 0 0;
        }
      }
      
      .h5 {
        margin: 0 0 25px;
      }
    }
  }
  
  .btn-lg {
    display: block;
    margin: 0 auto 15px;
    max-width: 200px;
    
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      max-width: none;
    }
  }
  
  .pull-right {
    text-align: right;
    
    p {
      margin: 0;
    }
  }
}

.ym-pc-dashboard-coordinator-students-box {
  text-align: center;
}

.ym-pc-dashboard-coordinator-steps-section {
  margin: 0 0 40px;
  clear: both;
  
  > .row {
    padding: 0;
    margin: 0;
    
    @media (min-width: $screen-sm-min) {
      display: flex;
      margin-bottom: 25px;
    }
    
    @media (min-width: $screen-md-min) {
      padding: 0 25px;
      margin: 0;
    }
  }
}

.ym-pc-dashboard-coordinator-page-types {
  margin: 0 0 32px;
}

.ym-pc-dashboard-coordinator-page-type {
  float: left;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  text-align: center;
  width: 33.33333333%;
  
  a {
    &, 
    &:link, 
    &:visited {
      display: block;
      background: #b3add3;
      color: $event-secondary;
      text-decoration: none;
      padding: 8px;
      width: 100%;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      background: $event-secondary;
      color: $brand-white;
      text-decoration: none;
    }
  }
  
  &.active {
    a {
      &, 
      &:link, 
      &:visited {
        background: $event-secondary;
        color: $brand-white;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-resources-section {
  background-color: $event-accent-light;
  padding: 36px;
  margin: 0 0 30px;
  
  .ym-pc-dashboard-coordinator-resources-options {
    text-align: center;
    
    .ym-pc-dashboard-section-header {
      h5, 
      .h5 {
        color: $event-secondary;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-resources-more {
  text-align: center;
  
  @media (min-width: $screen-sm-min) {
    margin: 32px 0 0;
  }
}

.ym-pc-reports-lists {
  .tab-content {
    > .tab-pane {
      padding: 28px 0 0;
    }
  }
}

.ym-pc-report-header {
  text-align: center;
  margin: 0 0 28px;
  
  h5, 
  .h5 {
    margin: 0;
  }
}

.ym-pc-reports-lists > .table {
  thead {
    tr {
      th {
        a {
          &, 
          &:link, 
          &:visited, 
          &:hover, 
          &:focus, 
          &:active {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.ym-pc-report-gift-unthanked {
  font-weight: 700;
}