.ym-progress {
  text-align: center;
}

.ym-progress__title{
  font-size: 24px;
  margin: 10px 0 20px;
  
  @media (min-width: $screen-md-min) {
    margin: 30px 0;
  }
}

.ym-progress__thermometer {
   border-radius: 10px;
   box-shadow: inset 2px 2px 10px 0 rgb(0, 0, 0);
   box-shadow: inset 2px 2px 10px 0 rgba(0, 0, 0, 0.35);
   background: #ffffff;
   max-width: 500px;
   margin: 30px auto;
}

.ym-progress__thermometer--fill {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.35);
}

.app-26 .ym-progress__thermometer {
  max-width: 430px;
}

.ym-progress__stats {
  max-width: 370px;
  margin: auto;
}