.ym-promo-block{
  max-width: 970px;

  > h2 {
    text-align: center;
  }
}

.ym-promo-block__item {
  display: inline-block;
  width: 225px;
  height: 225px;
  text-align: center;
  margin:0 12px 10px;

  h2 {
    color:#fff;
    font-size: 68px;
    margin:50px 0 10px;
    line-height: .75;
  }
  p{
    color: #fff;
    margin:0 auto;
    font-weight: bold;
    max-width: 175px;
    line-height: 1.25;
  }
}

.ym-promo-block--circle {
  border-radius: 100%;
  box-shadow:  0px 10px 0px 0px rgba(50, 50, 50, 1);
}