.ym-promo-block--circle {
  border-radius: 100%;

  & > section {
    padding: 1px;
  }

  @media (min-width: $screen-sm-min) {
    box-shadow: 0 10px 0 0 rgba(50, 50, 50, 1);
  }
}

.ym-promo-block {
  max-width: 960px;
  margin: auto;
  text-align: center;

  @media (max-width: 1070px) {
    max-width: 918px;
  }

  @media (max-width: $screen-sm-max) {
    max-width: 475px;
  }

  @media (max-width: $screen-xs-max) {
    display: block;
    max-width: 100%;
  }

  > .ym-headline {
    text-align: center;
    margin: 0 0 25px;
  }
}

.ym-promo-block__item {
  display: inline-block;
  text-align: center;
  width: 225px;
  height: 225px;
  margin: 0 20px 20px 0;
  vertical-align: middle;
  background: $event-secondary;

  h2 {
    color: #ffffff;
    font-size: 68px;
    line-height: 0.75;
    margin: 50px 0 10px;
  }

  p {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.25;
    max-width: 175px;
    margin: 0 auto;
  }

  @media (max-width: $screen-xs-max) {
    background: transparent;
    width: 100%;
    height: auto;
    margin: 0 auto 25px;
    padding: 0 0 25px;
    border-bottom: 1px solid $event-secondary-medium;
    border-radius: 0;

    &:last-child {
      margin: 0 auto;
      padding:0;
      border: 0 none;
    }

    h2 {
      color: $event-secondary;
      line-height: 1;
      margin: 0;
    }

    p {
      color: inherit;
      font-weight: 700;
      max-width: 100%;
      margin: 0 auto;
    }
  }


  @media (max-width: 1070px) and (min-width: $screen-md-min) {
    margin: 0 5px 20px 0;
  }


  &:last-child {
    margin-right: 0;
  }

  &:nth-child(3) {
    @media (max-width: $screen-sm-max) {
      margin-right: 0;
    }
  }
}

.cms {
  .ym-promo-block {
    max-width: 830px;

    section {
      & > h2 {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 40px;
        }
      }
    }

    @media (max-width: $screen-sm-max) {
      max-width: 650px;
    }

    .ym-promo-block__item {
      margin-right: 73px;
      background: $event-secondary;
      border-radius: 100%;

      &:last-child {
        margin-right: 0;

        @media (max-width: $screen-xs-max) {
          margin-right: auto;
          margin-bottom: 30px;
        }
      }

      h2 {
        color: #ffffff;
        line-height: 0.75;
        margin: 60px 0 10px;
      }

      p {
        color: #ffffff;
      }

      @media (max-width: $screen-sm-max) {
        width: 200px;
        height: 200px;
        margin: 20px 20px 20px 0px;
      }

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 0 auto 60px;
      }
    }
  }

  .ym-promo-block--circle {
    box-shadow: 0 10px 0 0 rgb(50, 50, 50);
    box-shadow: 0 10px 0 0 rgba(50, 50, 50, 1);
  }

  .ym-promo-block--full {
    @media (min-width: $screen-sm-min) {
      display: flex;
    }

    .event-accent-medium {
      @media (min-width: $screen-sm-min) {
        justify-content: center;
        align-content:center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }

    .ym-promo-block__text {
      max-width: 380px;
      margin: auto;
      text-align: center;

      h5,
      .h5-heading {
        color: $event-secondary;
        margin-top: 0;

        @media (min-width: $screen-md-min) {
          margin: 0 0 20px;
        }
      }

      .btn {
        @media (min-width: $screen-md-min) {
          margin-top: 15px;
        }
      }
    }

    .ym-promo-block__image {
      padding: 0;
    }

    @media (max-width: $screen-sm-max) {
      .ym-promo-block__text {
        padding: 30px 20px 30px 20px;
      }

      .ym-promo-block__image {
        justify-content: center;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: $event-accent-medium;
        padding: 30px 20px 30px 0;
      }
    }

    @media (max-width: $screen-sm - 1) {
      display: block;


      .ym-promo-block__image {
        display: block;
        padding: 0;

        img {
          margin: auto;
        }
      }
    }
  }

  .ym-sidebar-promo {
    &.event-accent {
      a,
      a:link,
      a:visited {
        color: #fff;
      }
    }
    .ym-sidebar-promo__text {
      font-size: 14px;
      padding: 20px 20px 30px;

      & > a {
        font-weight: 700;
      }
    }
  }

  .ym-sidebar__promo--list {
    padding: 30px 20px 20px;
  }
}
