.ym-promo-block {
  display: inline-block;

  h2 {
    color:#fff;
    font-size: 68px;
    margin-top:0;
  }
  p{
    color: #fff;
    margin:0;
  }
}

.ym-promo-block--circle {
  border-radius: 50%;
}