div.table {
  display: table;
  
  .table-header {
    display: table-header-group;
  }
  
  .table-body {
    display: table-row-group;
  }
  
  .table-row {
    display: table-row;
    
    .table-cell {
      display: table-cell;
    }
  }
}

.table-responsive {
  border: 0;
  
  > div.table {
    > .table-header, 
    > .table-body {
      > .table-row {
        > .table-cell {
          @media (max-width: $screen-xs-max) {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.table--padded {
  tbody {
    tr {
      td {
        padding: 18px 0 18px 15px;
      }
    }
  }
  
  .table-body {
    .table-row {
      .table-cell {
        padding: 18px 0 18px 15px;
      }
    }
  }
}

.table-cell--righted {
  text-align: right;
}

.ym-list__column {
  a[ng-click]:link {
    text-decoration: none;
    cursor: pointer;
  }
}

.pg-company {
  .table {
    max-width: 970px;
    margin: auto;

    &.ym-list tbody a {
      font-weight: 500;
    }
  }
  
  .ym-list__column--name {
    width: 80%;
    text-align: left;
    
    @media (min-width: $screen-sm-min) {
      width: 43%;
    }
  }
  
  .ym-list__column--amount {
    text-align: center;
    width: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .ym-list__column--cta {
    text-align: right;
    padding-right: 15px;
  }
}

.table-striped {
  border: 0;
  
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: $event-accent-light;
      }
      
      td {
        vertical-align: middle;
        padding: 10px;
        border-top: 0;
        border-bottom: 1px solid $event-accent;
      }

      &:first-child {
        td {
          border-top: 7px solid $event-secondary;
        }
      }
    }
  }
  
  .table-body {
    .table-row {
      &:nth-of-type(odd) {
        background-color: $event-accent-light;
      }

      .table-cell {
        vertical-align: middle;
        padding: 10px;
        border-top: 0;
        border-bottom: 1px solid $event-accent;
      }

      &:first-child {
        .table-cell {
          border-top: 7px solid $event-secondary;
        }
      }
    }
  }
}

