div.table {
  display: table;
  
  .table-header {
    display: table-header-group;
  }
  
  .table-body {
    display: table-row-group;
  }
  
  .table-row {
    display: table-row;
    
    .table-cell {
      display: table-cell;
    }
  }
}

.table-responsive {
  > .table {
    > .table-header, 
    > .table-body {
      > .table-row {
        > .table-cell {
          @media(max-width: $screen-xs-max) {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.table-striped {
  border: 0;
  
  tbody {
    tr {
      td {
        vertical-align: middle;
        padding: 10px;
      }
    }
  }
  
  .table-body {
    .table-row {
      .table-cell {
        vertical-align: middle;
        padding: 10px;
      }
    }
  }
}

.table--padded {
  tbody {
    tr {
      td {
        padding: 18px 0 18px 15px;
      }
    }
  }
  
  .table-body {
    .table-row {
      .table-cell {
        padding: 18px 0 18px 15px;
      }
    }
  }
}

.ym-list__column {
  a[ng-click]:link {
    text-decoration: none;
    cursor: pointer;
  }
}

.pg-company {
  .table {
    max-width: 970px;
    margin: auto;
  }
  
  .ym-list__column--name {
    width: 80%;
    
    @media(min-width: $screen-sm-min) {
      width: 43%;
    }
  }
  
  .ym-list__column--amount {
    text-align: center;
    width: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .ym-list__column--cta {
    text-align: right;
    padding-right: 15px;
  }
}