.pg-company {
  .table {
    max-width: 970px;
    margin: auto;
  }
  .ym-list__column--name {
    width: 43%;
  }
  .ym-list__column--amount {
    text-align: center;
  }
  .ym-list__column--cta {
    text-align: right;
  }
}

.table-striped {
  tbody {
    tr{
      td{
        vertical-align: middle;
        padding: 18px 5px;
      }
    }
  }
}
