body {
  color: #2d2d2d;
  font-family: Raleway;
  font-size: $font-size-reg;
}

h2, 
.h2 {
  font-size: 48px;
  margin-top: 0;
  
  @media (max-width: $screen-sm-max) {
    font-size: 42px;
  }
  
  @media (max-width: $screen-xs-max) {
    font-size: 32px;
  }
}

h3, 
.h3 {
  font-size: 36px;
  margin-top:0;
  
  @media (max-width: $screen-sm-max) {
    font-size: 32px;
  }
  
  @media (max-width: $screen-xs-max) {
    font-size: 28px;
  }
}

h4, 
.h4 {
  font-size: 32px;
  font-weight:  bold;
  margin-top: 0;
  
  @media (max-width: $screen-sm-max){
    font-size: 28px;
  }
}

h5, 
.h5 {
  font-size: 24px;
  font-weight: 700;
  
  @media (max-width: $screen-sm-max) {
    font-size: 21px;
  }
}

p {
  line-height: 1.5;
  
  @media (max-width: $screen-sm-max) {
    font-size: 14px;
  }
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}