body {
  color: #2d2d2d;
  font-family: Raleway;
  font-size: $font-size-reg;
}

h2 {
  font-size: 36px;

  @media (max-width: $screen-sm){
    font-size: 28px;
  }
} 

h3 {
  @media (max-width: $screen-sm){
    font-size: 21px;
  }
}

p {
  line-height: 1.5;

  @media (max-width: $screen-sm){
    font-size: 14px;
  }
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
