$brand-primary: #ed1c24 !default;
$brand-primary-darker: #890707;

$brand-white: #ffffff;

$link-color: $brand-primary !default;

$padding-base-vertical: 12px !default;
$padding-base-horizontal: 24px !default;

$padding-large-vertical: 18px !default;
$padding-large-horizontal: 24px !default;

$btn-primary-color: $brand-white !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-primary-darker-color: $brand-white !default;
$btn-primary-darker-bg: $brand-primary-darker !default;
$btn-primary-darker-border: $btn-primary-darker-bg !default;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;


$font-size-sm: 14px;
$font-size-reg: 16px;