<div>
  <table class="table">
    <thead>
      <tr>
        <th class="heart-table-header--sortable">
          <a ng-click="sortParticipants('totals.cons_first_name')">
            Name <i class="glyphicon" ng-class="{'glyphicon-triangle-top': !sortAscending, 'glyphicon-triangle-bottom': sortAscending}" ng-if="sortColumn == 'totals.cons_first_name'"></i>
          </a>
        </th>
        <th class="heart-table-header--sortable">
          <a ng-click="sortParticipants('total')">
            Amount Raised <i class="glyphicon" ng-class="{'glyphicon-triangle-top': !sortAscending, 'glyphicon-triangle-bottom': sortAscending}" ng-if="sortColumn == 'total'"></i>
          </a>
        </th>
        <th ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="participant in participants">
        <td>
          <a target="_blank" ng-href="TR?pg=personal&amp;fr_id={{participant.eventId}}&amp;px={{participant.consId}}">
            <span ng-bind-html="participant.name.first"></span> <span ng-bind-html="participant.name.last"></span>
          </a>
        </td>
        <td>
          {{participant.amountRaisedFormatted}}
        </td>
        <td ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'">
          <div ng-if="device.isMobile">
            <a class="icon-btn icon-btn-gray" ng-click="emailParticipant(participant.contact)"><i class="glyphicon glyphicon-envelope"></i></a>
          </div>
          <div ng-if="!device.isMobile">
            <a class="icon-btn icon-btn-gray" uib-tooltip="Send&nbsp;Email" tooltip-placement="'auto top'" ng-click="emailParticipant(participant.contact)"><i class="glyphicon glyphicon-envelope"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>