<div>
  <table class="table">
    <thead>
      <tr>
        <th class="heart-table-header--sortable">
          <a ng-click="sortTeams('t.name')">
            Name <i class="glyphicon" ng-class="{'glyphicon-triangle-top': !sortAscending, 'glyphicon-triangle-bottom': sortAscending}" ng-if="sortColumn == 't.name'"></i>
          </a>
        </th>
        <th class="heart-table-header--sortable">
          <a ng-click="sortTeams('total')">
            Amount Raised <i class="glyphicon" ng-class="{'glyphicon-triangle-top': !sortAscending, 'glyphicon-triangle-bottom': sortAscending}" ng-if="sortColumn == 'total'"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in teams">
        <td>
          <a target="_blank" ng-href="TR?pg=team&amp;fr_id={{team.EventId}}&amp;team_id={{team.id}}">
            <span ng-bind-html="team.name"></span>
          </a>
        </td>
        <td>
          {{team.amountRaisedFormatted}}
        </td>
      </tr>
    </tbody>
  </table>
</div>