<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Rank
        </th>
        <th>
          Name
        </th>
        <th>
          Amount Raised
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: limit to 10 -->
      <tr ng-repeat="company in companies">
        <td>
          <strong>{{$index + 1}}</strong>
        </td>
        <td>
          <a target="_blank" ng-href="TR?fr_id={{company.eventId}}&amp;pg=company&amp;company_id={{company.companyId}}" ng-if="company.companyId != participantRegistration.companyInformation.companyId">
            <span ng-bind-html="company.companyName"></span>
          </a>
          <span ng-if="company.companyId == participantRegistration.companyInformation.companyId">
            <strong><span ng-bind-html="company.companyName"></span></strong>
          </span>
        </td>
        <td>
          <strong>{{company.amountRaisedFormatted}}</strong>
        </td>
      </tr>
      <!-- TODO: include participant's company if not in top 10 -->
    </tbody>
  </table>
</div>