<div>
  <table class="table donor_gift_list">
    <thead>
      <tr>
        <th class="heart-table-header--sortable">
          <a ng-click="sortGifts('recognition_name')">
            Name <i class="glyphicon" ng-class="{'glyphicon-triangle-top': !sortAscending, 'glyphicon-triangle-bottom': sortAscending}" ng-if="sortColumn == 'recognition_name'"></i>
          </a>
        </th>
        <th class="heart-table-header--sortable">
          <a ng-click="sortGifts('date_recorded')">
            Date <i class="glyphicon" ng-class="{'glyphicon-triangle-top': !sortAscending, 'glyphicon-triangle-bottom': sortAscending}" ng-if="sortColumn == 'date_recorded'"></i>
          </a>
        </th>
        <th class="heart-table-header--sortable">
          <a ng-click="sortGifts('amount')">
            Amount <i class="glyphicon" ng-class="{'glyphicon-triangle-top': !sortAscending, 'glyphicon-triangle-bottom': sortAscending}" ng-if="sortColumn == 'amount'"></i>
          </a>
        </th>
        <th>
          Next Step
        </th>
        <th>
          Done?
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="gift in gifts">
        <td>
          <span ng-bind-html="gift.name.first"></span> <span ng-bind-html="gift.name.last"></span>
          <!-- TODO: note -->
        </td>
        <td>
          {{gift.date | date : 'M/d/yy'}}
        </td>
        <td>
          {{gift.giftAmountFormatted}}
          <!-- TODO: recurring icon -->
        </td>
        <td>
          <a ng-click="thankDonor(gift.contact)" ng-if="gift.acknowledged == 'false'">Send Thank You</a>
          <span ng-if="gift.acknowledged == 'true'">Thanked!</span>
        </td>
        <td>
          <div ng-if="device.isMobile">
            <a class="icon-btn icon-btn-gray" ng-click="acknowledgeGift(gift.contactId)" ng-if="gift.acknowledged == 'false'"><i class="glyphicon glyphicon-ok"></i></a>
            <a class="icon-btn icon-btn-gray" ng-click="deleteGift(gift.id)" ng-if="gift.isOnlineGift == 'false' && gift.confirmed == 'false'"><i class="fa fa-times"></i></a>
          </div>
          <div ng-if="!device.isMobile">
            <a class="icon-btn icon-btn-gray" uib-tooltip="Acknowledge&nbsp;Gift" tooltip-placement="'auto top'" ng-click="acknowledgeGift(gift.contactId)" ng-if="gift.acknowledged == 'false'"><i class="glyphicon glyphicon-ok"></i></a>
            <a class="icon-btn icon-btn-gray" uib-tooltip="Delete&nbsp;Gift" tooltip-placement="'auto top'" ng-click="deleteGift(gift.id)" ng-if="gift.isOnlineGift == 'false' && gift.confirmed == 'false'"><i class="fa fa-times"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
