<div class="heart-hero heart-hero--participant-center">
  <div class="heart-hero__mask">
    <div class="clearfix">
      <div class="heart-hero__event-name">
        <hr class="hidden-xs hidden-sm">
        <div class="clearfix"></div>
        <p>
          <a ng-href="TR?fr_id={{frId}}&amp;pg=entry">
            {{eventName}}
          </a>
        </p>
      </div>
      <div class="clearfix"></div>
      <div class="heart-hero__info">
        <p ng-if="(eventCity && eventCity != '') || (eventState && eventState != '')">
          {{eventCity}}<span ng-if="eventCity && eventCity != '' && eventState && eventStatetate != ''">, </span>{{eventState}}
        </p>
        <p ng-if="eventDate && eventDate != ''">
          {{eventDate | date : 'EEEE, MMMM d, y'}}
        </p>
        <p ng-if="!eventDate || eventDate == ''">
          {{eventInfo.event_date | date: 'EEEE, MMMM d, y'}}
        </p>
      </div>
    </div>
    <p id="survivor_heading" ng-if="survivorQ == 'Yes'">I'm a Survivor!</p>
  </div>
</div>
