<div class="heart-hero heart-hero--participant-center">
  <div class="heart-hero__mask">
    <div class="clearfix">
      <div class="heart-hero__event-name">
        <hr class="hidden-xs hidden-sm">
        <div class="clearfix"></div>
        <p>
          <a ng-href="TR?fr_id={{frId}}&amp;pg=entry">{{eventInfo.name}}</a>
        </p>
      </div>
      <div class="clearfix"></div>
      <div class="heart-hero__info" ng-if="(eventInfo.city && eventInfo.city != '') || (eventInfo.state && eventInfo.state != '') || (eventInfo.event_date && eventInfo.event_date != '')">
        <p ng-if="(eventInfo.city && eventInfo.city != '') || (eventInfo.state && eventInfo.state != '')">
          {{eventInfo.city}}<span ng-if="eventInfo.city && eventInfo.city != '' && eventInfo.state && eventInfo.state != ''">, </span>{{eventInfo.state}}
        </p>
        <p ng-if="eventInfo.event_date && eventInfo.event_date != ''">
          {{eventInfo.event_date | date : 'EEEE, MMMM d, y'}}
        </p>
      </div>
    </div>
    <p id="survivor_heading" ng-if="survivorQ == 'Yes'">I'm a Survivor!</p>
  </div>
</div>
