<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Rank
        </th>
        <th>
          Name
        </th>
        <th>
          Amount Raised
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: limit to 10 -->
      <tr ng-repeat="team in teams">
        <td>
          <strong>{{$index + 1}}</strong>
        </td>
        <td>
          <a target="_blank" ng-href="TR?pg=team&amp;fr_id={{team.EventId}}&amp;team_id={{team.id}}" ng-if="team.id != participantRegistration.teamId">
            <span ng-bind-html="team.name"></span>
          </a>
          <span ng-if="team.id == participantRegistration.teamId">
            <strong><span ng-bind-html="team.name"></span></strong>
          </span>
        </td>
        <td>
          <strong>{{team.amountRaisedFormatted}}</strong>
        </td>
      </tr>
      <!-- TODO: include participant's team if not in top 10 -->
    </tbody>
  </table>
</div>