<ul class="list-group panel-body">
  <li class="list-group-item" ng-repeat="team in teams">
    <div class="team-search-result-info pull-left" data-team-id="{{team.id}}" data-requires-password="{{team.requiresPassword}}">
      <h5 class="list-group-item-heading team-name">{{team.name}}</h5>
      <div class="list-group-item-text team-captain" ng-if="team.isCaptainAnon == 'false'">
        <span translate="manage_membership_search_result_captain_label" class="captain-label"></span>
        <span class="captain-name" ng-if="team.captainScreenname && team.captainScreenname.length > 0">{{team.captainScreenname}}</span>
        <span class="captain-name" ng-if="!team.captainScreenname || team.captainScreenname.length == 0">{{team.captainFirstName}} {{team.captainLastName}}</span>
      </div>
      <div class="list-group-item-text team-company" ng-if="team.companyId && team.companyId != '-1'">
        <span translate="manage_membership_search_result_company_label" class="company-label"></span>
        <span class="company-name">{{team.companyName}}</span>
      </div>
    </div>
    <button class="join-team-button btn btn-primary pull-right" ng-click="joinTeam({ teamId: team.id, requiresPassword: team.requiresPassword, teamPassword: null })">Join Team</button>
  </li>
</ul>