<div class="heart-company-team-list">
  <div class="heart-company-team-list__header clearfix" ng-if="!isChildCompany">
    <h2>
      Teams
    </h2>
    <form class="form-inline" name="companyTeamSearchForm" method="POST" ng-submit="searchCompanyTeams(companyTeamSearch)">
      <label class="sr-only">
        Search for a team:
      </label>
      <input type="text" class="form-control" placeholder="Search for a team" ng-model="companyTeamSearch.team_name"> 
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div class="heart-company-team-list__company-name" ng-if="teams.length > 0">
    <div class="clearfix">
      <div class="pull-left">
        <a href="TR?fr_id={{frId}}&pg=company&company_id={{companyId}}"><span ng-bind-html="companyName"></span></a>
      </div>
      <a class="pull-right" ng-click="toggleCompanyTeamList()">
        <i class="glyphicon ng-scope" ng-class="{'glyphicon-triangle-bottom': isOpen, 'glyphicon-triangle-left': !isOpen}"></i>
      </a>
    </div>
  </div>
  <div class="heart-company-team-list__company-name" ng-if="teams.length == 0">
    <div class="clearfix">
      <div class="pull-left">
        No Teams Yet
      </div>
      <a class="pull-right" ng-click="toggleCompanyTeamList()">
        <i class="glyphicon ng-scope" ng-class="{'glyphicon-triangle-bottom': isOpen, 'glyphicon-triangle-left': !isOpen}"></i>
      </a>
    </div>
  </div>
  <div class="heart-company-team-list__body" ng-if="teams.length > 0 && isOpen">
    <div class="heart-company-team-list__row" ng-repeat="team in teams track by $index">
      <div class="heart-company-team-list__column heart-company-team-list__column--name">
        <a ng-href="TR?fr_id={{team.EventId}}&amp;pg=team&amp;team_id={{team.id}}"><span ng-bind-html="team.name"></span></a>
        <div class="visible-xs visible-md" ng-if="team.captainFirstName"><span ng-bind-html="team.captainFirstName"></span> <span ng-bind-html="team.captainLastName"></span></div>
      </div>
      <div class="heart-company-team-list__column heart-company-team-list__column--captain hidden-xs hidden-md">
        <div ng-if="team.captainFirstName">
          <span ng-bind-html="team.captainFirstName"></span> <span ng-bind-html="team.captainLastName"></span>
        </div>
      </div>
      <div class="heart-company-team-list__column heart-company-team-list__column--amount">
        <strong>{{team.amountRaisedFormatted}}</strong>
      </div>
      <div class="heart-company-team-list__column heart-company-team-list__column--cta hidden-xs">
        <a class="btn btn-lg btn-primary" ng-href="{{team.joinTeamURL}}" ng-if="team.joinTeamURL">
          Join
        </a>
      </div>
    </div>
  </div>
</div>