<div class="heart-team-member-list">
  <div class="heart-team-member-list__header">
    <h2>
      Members
    </h2>
  </div>
  <div class="heart-team-member-list__body">
    <div class="heart-team-member-list__row" ng-if="teamGiftsLabel">
      <div class="heart-team-member-list__column heart-team-member-list__column--name">
        <strong>{{teamGiftsLabel}}</strong>
      </div>
      <div class="heart-team-member-list__column heart-team-member-list__column--captain hidden-xs"></div>
      <div class="heart-team-member-list__column heart-team-member-list__column--amount">
        <strong>{{teamGiftsAmount / 100 | currency}}</strong>
      </div>
      <div class="heart-team-member-list__column heart-team-member-list__column--donate hidden-xs"></div>
    </div>
    <div class="heart-team-member-list__row" ng-repeat="teamMember in teamMembers">
      <div class="heart-team-member-list__column heart-team-member-list__column--name">
        <a ng-href="TR?fr_id={{teamMember.eventId}}&amp;pg=personal&amp;px={{teamMember.consId}}">{{teamMember.name.first}} {{teamMember.name.last}}</a>
        <div class="visible-xs" ng-if="teamMember.aTeamCaptain == 'true'">Team Captain</div>
      </div>
      <div class="heart-team-member-list__column heart-team-member-list__column--captain hidden-xs">
        <div ng-if="teamMember.aTeamCaptain == 'true'">
          Team Captain
        </div>
      </div>
      <div class="heart-team-member-list__column heart-team-member-list__column--amount">
        <strong>{{teamMember.amountRaised / 100 | currency}}</strong>
      </div>
      <div class="heart-team-member-list__column heart-team-member-list__column--donate hidden-xs">
        <a class="btn btn-lg btn-primary" ng-href="{{teamMember.donationUrl}}" ng-if="teamMember.donationUrl">Donate</a>
      </div>
    </div>
  </div>
</div>