.ym-school-search {
  .img-responsive {
    width: 250px;
    margin: 20px auto -35px;

    @media(min-width: $screen-xs-min) {
      width: 375px;
      margin: 20px auto -50px;
    }

    @media(min-width: $screen-sm-min) {
      width: auto;
      margin: 20px auto -90px;
    }
  }

  #school-name-filter,
  .school-name-filter-submit {
    display: inline-block;
  }
}

.ym-hero-top__find-your-school a.btn {
  margin-top: 20px;
}