@import "../../youth-markets/sass/variables.scss";
@import "variables.scss";
@import "../../youth-markets/sass/mixins.scss";

@import "../../youth-markets/sass/participant.scss";

.ng-pc-nav {
  a {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      @media (min-width: 670px) {
        border-right: 2px solid #26516f;
      }
    }
    
    &:last-child {
      &, 
      &:link, 
      &:visited, 
      &:hover, 
      &:focus, 
      &:active {
        border-right: 0;
      }
    }
    
    &, 
    &:link, 
    &:visited {
      background: $event-secondary-medium;
      color: $event-grey;
    }
    
    &:hover, 
    &:focus, 
    &:active {
      @media (min-width: 670px) {
        color: $brand-white;
        background: $event-secondary-dark
      }
    }
    
    &.active {
      color: $event-grey;
      background: $brand-white;
    }
  }
}

.ng-pc-nav--coordinator {
  a {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      &.ng-pc-nav-item--resources {
        padding: 12px 6px 0;
        
        @media (min-width: 670px) {
          padding: 14px 12px 0;
        }
      }
    }
  }
}

.ym-pc-dashboard-section-header {
  h2, 
  .h2 {
    text-transform: uppercase;
  }
}

.ym-pc-dashboard-progress-section {
  .row {
    .ym-pc-dashboard-progress-section__column {
      &:first-child {
        padding: 0;
      }
    }
  }
}

.ym-pc-dashboard-progress-box {
  padding: 20px;
  margin: 0 0 15px;
  
  @media (min-width: $screen-md-min) {
    margin: 0 0 30px;
  }
  
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
}

.ym-pc-dashboard-progress-type {
  a,
  button {
    &, 
    &:link, 
    &:visited {
      background-color: #abc7dc;
      color: $event-grey;
    }
    
    &:hover,
    &:focus,
    &:active {
      background-color: $event-secondary;
      color: $brand-white;
    }
  }
  
  &.active {
    a, 
    button {
      &,
      &:link,
      &:visited {
        background-color: $event-secondary;
        color: $brand-white;
      }
    }
  }
}

.ym-pc-dashboard-captain-page-type, 
.ym-pc-dashboard-coordinator-page-type {
  a, 
  button {
    &, 
    &:link, 
    &:visited {
      background-color: #fcd7a8;
      color: $event-grey;
    }
    
    &:hover,
    &:focus,
    &:active {
      background-color: $event-accent;
      color: $brand-white;
    }
  }
  
  &.active {
    a, 
    button {
      &,
      &:link,
      &:visited {
        background-color: $event-accent;
        color: $brand-white;
      }
    }
  }
}

.ym-pc-dashboard-badges-box {
  padding: 20px;

  .ym-pc-dashboard-badges-icon {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    min-height: 165px;
  }
  
  .ym-pc-dashboard-section-header {
    position: relative;
    
    h5, 
    .h5 {
      text-transform: none;
      margin: 0 0 18px !important;
      
      @media (min-width: $screen-lg-min) {
        margin: 0 0 12px !important;
      }
    }
  }
  
  .btn, 
  a.btn {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      margin: 0 0 4px;
      
      @media (min-width: $screen-lg-min) {
        position: absolute;
        right: 0;
        top: 0;
        padding: 7px 10px;
        margin: 0;
      }
    }
  }
  
  .ym-pc-dashboard-badges-icons {
    width: 212px;
    margin: 0 auto;
    
    @media (min-width: 414px) {
      width: 318px;
    }
    
    @media (min-width: $screen-md-min) {
      width: 414px;
    }
    
    @media (min-width: $screen-lg-min) {
      width: 450px;
    }
  }
  
  .ym-pc-dashboard-badges-icon {
    float: left;
    text-align: center;
    width: 76px;
    margin: 20px 15px 0;
    
    @media (min-width: $screen-md-min) {
      width: 98px;
      margin: 20px 20px 0;
    }
    
    @media (min-width: $screen-lg-min) {
      width: 110px;
    }
    
    &:nth-child(3), 
    &:nth-child(5), 
    &:nth-child(7), 
    &:nth-child(9) {
      @media (max-width: 413px) {
        clear: both;
      }
    }
    
    &:nth-child(4), 
    &:nth-child(7) {
      @media (min-width: 414px) {
        clear: both;
      }
    }
    
    img {
      display: block;
      width: 100%;
    }
  }
}

.ym-activity-box {
  background: $event-accent-medium;
  border: 5px solid #faa73a;
  box-shadow: 0 5px 0 0 #cf831f;
  
  h5, 
  .h5 {
    color: $event-grey;
    text-transform: none;
  }
  
  .h5 {
    .ym-activity-box-number {
      background: #faa73a;
    }
  }
}

.ym-activity-box.ym-activity-box--coordinator-reports {
  @media(min-width: $screen-md-min){
    width: 44.85%;
  }
  @media(min-width: $screen-lg-min){
    width: 482px;
  }
}

.ym-activity-box.ym-activity-box--captain-next-step .ym-next-step, 
.ym-activity-box.ym-activity-box--next-step .ym-next-step {
  border-color: #faa73a;
}

.ym-pc-dashboard-heart-challenge-section {
  background-color: $event-secondary-medium;
  padding: 30px 30px 45px;
  margin: 0 0 30px;
  
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      margin: 0 0 30px;
    }
  }
  
  > .row {
    .col-sm-6 {
      @media (min-width: $screen-sm-min) {
        border-right: 1px solid #9cbcc5;
      }
      
      &:first-child {
        @media (min-width: $screen-sm-min) {
          padding-right: 32px;
        }
      }
      
      &:last-child {
        @media (min-width: $screen-sm-min) {
          border-right: 0;
          padding-left: 32px;
        }
      }
    }
  }
}

.ym-pc-dashboard-heart-challenge-title {
  color: $event-secondary;
  margin: 0 0 18px;
  
  span {
    font-size: inherit;
  }
}

.ym-pc-dashboard-heart-challenge-icon {
  float: left;
  width: 102px;
  padding: 0 30px 0 12px;
}

.ym-pc-dashboard-heart-challenge-body {
  float: left;
  width: calc(100% - 102px);
}

.ym-pc-dashboard-heart-challenge-text {
  p {
    margin: 0 0 16px;
  }
}

.ym-pc-dashboard-heart-challenge-mins-activity {
  margin: 0 0 20px;
  
  @media (min-width: $screen-sm-min) {
    margin: 0;
  }
  
  .alert-danger, 
  .alert-success {
    border-radius: 10px;
    text-align: center;
    width: 305px;
    padding: 7px 25px;
  }
  
  .form-inline {
    .form-group {
      margin: 0 10px 10px 0;
      
      input[type="date"].form-control {
        width: 165px;
        max-width: 165px;
      }
      
      input[type="number"].form-control {
        width: 130px;
        max-width: 130px;
      }
    }
    
    .btn {
      text-align: center;
      width: 165px;
    }
  }
}

.ym-pc-dashboard-heart-challenge-blood-pressure {
  .btn {
    text-align: center;
    width: 246px;
  }
  
  .alert-danger, 
  .alert-success {
    border-radius: 10px;
    text-align: center;
    width: 246px;
    padding: 7px 25px;
  }
}

.ym-pc-dashboard-spread-section {
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      color: $event-grey;
      margin: 0 0 22px;
    }
  }
  
  .ym-pc-dashboard-spread-options {
    .ym-pc-dashboard-section-header {
      h5, 
      .h5 {
        color: $event-grey;
        text-transform: none;
      }
    }
    
    button {
      &:not(.btn) {
        display: inline-block;
        border: 0;
        width: 32px;
        padding: 0;
        margin: 0 8px;
        
        img {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}

.ym-pc-dashboard-coordinator-progress-box {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
}

.ym-pc-dashboard-coordinator-students-box {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
}

.ym-pc-dashboard-captain-resources-section, 
.ym-pc-dashboard-coordinator-resources-section {
  background-color: #c4d7e5;
  
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      color: $event-grey;
      margin: 0 0 32px;
    }
  }
}

.ym-pc-dashboard-captain-resources-options, 
.ym-pc-dashboard-coordinator-resources-options {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      color: $event-grey;
      text-transform: none;
    }
  }
}

.ym-pc-report-header-buttons {
  .btn, 
  a.btn {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      @media (max-width: 413px) {
        display: block;
        margin: 0 auto 12px;
      }
    }
    
    &:first-child {
      &,
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        @media (max-width: 413px) {
          margin: 0 auto 12px;
        }
      }
    }
  }
}

.ym-pc-dashboard-coordinators-message-section {
  background: #468abc;
  padding: 30px 12px;
  
  @media(min-width: $screen-sm-min) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  
}

.ym-pc-dashboard-torch-graphic {
  margin: 0 auto -30px;

  @media(min-width: $screen-sm-min){
    margin: 0 auto -50px;
  }
}