.ym-progress {
  background: $event-secondary-medium;
}

h4.ym-progress__title, 
.h4.ym-progress__title {
  color: $event-grey;
}

.ym-progress__thermometer {
  border: 8px solid #4689bb;
  box-shadow: 0 2px 0 0 #165077;
}

.ym-progress__thermometer--fill {
  background: url('../image/therm-fill.png') no-repeat top left;
  height: 35px;
}