.ym-progress {
  background: $event-secondary-medium;
}

.ym-progress__thermometer {
  border: 8px solid $event-accent;
}

.ym-progress__thermometer--fill {
  background: url('../image/therm-fill.png') no-repeat top left;
  height: 35px;
}