.pg-company {
  .ym-list__column--name {
    .btn:not(.btn-link) {
      width: 80px;
      margin-top: 3px;
    }
  }
  
  .ym-list__column--mins {
    text-align: right;
    padding-right: 15px;
  }
}

.pg-team {
  .table {
    max-width: 970px;
    margin: auto;
    
    &.ym-list {
      tbody {
        a {
          font-weight: 500;
        }
      }
    }
  }
  
  .ym-list__column--name {
    width: 80%;
    text-align: left;
    
    @media (min-width: $screen-sm-min) {
      width: 43%;
    }
    
    .btn:not(.btn-link) {
      width: 80px;
      margin-top: 3px;
    }
  }
  
  .ym-list__column--amount {
    text-align: center;
    width: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .ym-list__column--mins {
    text-align: right;
    padding-right: 15px;
  }
}