$headline-font: 'Montserrat';
$event-font: 'Raleway';

$event-primary: #d31a1f;
$event-primary-dark: #be161d;
$event-secondary: #045879;
$event-secondary-dark: #3d7ba8;
$event-secondary-medium: #c3ebf6;
$event-secondary-light: #c3ebf6;
$event-accent: #f99d25;
$event-accent-medium: #feedd7;
$event-accent-light: #feebd3;
$event-grey: #000000;
$border-gray: #e8e8e8;
$inactive-grey: #c2c2c2;
$error-color: #fcddde;