<div>
  <h2 class="h5">
    Fundraising with your mobile device
  </h2>
  <p>
    Download the mobile app by searching Jump/Hoops in the Apple App Store or Google Play
  </p>
  <div>
    <a href="https://itunes.apple.com/us/app/ym-primary/id548389448?mt=8" target="_blank">
      <img src="../aha-luminate/dist/youth-markets/image/apple-store-logo.png" alt="Download the iPhone App">
    </a> 
    <a href="https://play.google.com/store/apps/details?id=com.aha_jump.android.communicator&amp;hl=en" target="_blank">
      <img src="../aha-luminate/dist/youth-markets/image/google-play-logo.png" alt="Download the Android App">
    </a>
  </div>
  <h2 class="h5">
    Share your progress on social media
  </h2>
  <p>
    You can use social media to quickly ask your social networks (Facebook, Twitter, etc.) to join your team or make a donation toward your fundraising efforts:
  </p>
  <p>
    On your screen you will see five buttons after you log in. Choose the social media you would like to use and log in to that social media account
  </p>
  <p>
    If you are already signed in to your social network, then you may not be asked to re-log into the site.
  </p>
  <h2 class="h5">
    Fundraise with Facebook App
  </h2>
  <p>
    Download the Jump Rope &amp; Hoops For Heart Facebook App and send messages to friends and family to support you!
  </p>
    <a ng-href="https://apps.facebook.com/bf-ahajumpxii/add/user/{{consId}}/{{frId}}/ParticipantCenter" target="_blank">
      <img class="img-responsive center-block" src="../aha-luminate/dist/ym-primary/image/facebook-app.png" alt="" longdesc="#facebookAppDesc">
    </a>
    <div class="sr-only" id="facebookAppDesc">
      Download the Jump Rope &amp; Hoops For Heart Facebook App and send messages to friends and family to support you! Share your fundraising progress. Add your cover or profile picture and thank your donors!
    </div>
  </div>
  <h2 class="h5">
    Jump Rope &amp; Hoops For Heart Email Badge
  </h2>
  <p>
    Download the Jump Rope &amp; Hoops For Heart Email Badge to use when sending messages to friends and family.
  </p>
  <a class="btn btn-md-wide btn-secondary" ng-href="PageServer?pagename=reus_bf_email_badge&trID={{frId}}" target="_blank">
    <strong>Download Email Badge</strong> 
  </a>
</div>