<div>
  <div class="ym-list">
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/ym-primary/for-students/kids-you-are-helping/">Kids You Are Helping</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/ym-primary/for-students/fundraising-tips/ideas-on-how-to-get-your-friends-family-to-donate.html">Ideas On How To Get Your Friends and Family To Donate</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/ym-primary/for-students/fundraising-tips/">Tips To Help You Fundraise</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://american.heart.org/ym-primary/for-students/fundraising-tips/how-to-be-an-online-heart-hero.html">Videos and Tricks To Be An Online Heart Hero</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="http://www.heart.org/HEARTORG/HealthyLiving/HealthyKids/HowtoMakeaHealthyHome/How-to-Make-a-Healthy-Home_UCM_304154_SubHomePage.jsp" target="_blank">Ideas On How To Be A Healthy Family</a>
      </li>
      <li>
        <i class="fa-li fa fa-heart" hidden aria-hidden="true"></i> 
        <a href="https://jumphoops.zendesk.com/hc/en-us" target="_blank">Need Help?</a>
      </li>
    </ul>
  </div>
</div>