<div cg-busy="emailPromises">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="visible-xs">
        <div class="btn-group ng-pc-nav-btn-group" uib-dropdown>
          <button type="button" class="btn btn-secondary form-control" uib-dropdown-toggle>
            <strong>Compose</strong> <span class="caret"></span>
          </button>
          <ul class="list-unstyled dropdown-menu" uib-dropdown-menu>
            <li>
              <a ng-href="{{baseUrl}}#/email/compose">
                Compose
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/draft/list">
                <span class="badge">{{messageCounts.drafts}}</span>
                Drafts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/sentMessage/list">
                <span class="badge">{{messageCounts.sentMessages}}</span> 
                Sent Messages
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
                <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
                All Contacts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
                <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
                Never Emailed
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
                Needs Follow-Up
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
                Unthanked Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
                Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
                Non-Donors
              </a>
            </li>
            <li ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_teammates/list">
                <span class="badge">{{contactCounts.email_rpt_show_teammates}}</span>
                Teammates
              </a>
            </li>
            <li ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nonteammates/list">
                <span class="badge">{{contactCounts.email_rpt_show_nonteammates}}</span>
                Non-Teammates
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_captains/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_captains}}</span>
                District Team Champions
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
                District Participants
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prevFrId && prevFrId != ''" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Past District Participants
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hidden-xs">
        <a disabled class="btn btn-secondary form-control">
          <strong>Compose</strong>
        </a>
        <div class="list-group ng-pc-nav-list-group">
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/draft/list">
            <span class="badge">{{messageCounts.drafts}}</span> 
            Drafts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/sentMessage/list">
            <span class="badge">{{messageCounts.sentMessages}}</span> 
            Sent Mail
          </a>
        </div>
        <div class="list-group ng-pc-nav-list-group">
          <h2 class="h5 list-group-item-heading">
            Contacts
          </h2>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
            <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
            All Contacts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
            <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
            Never Emailed
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
            Needs Follow-Up
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
            Unthanked Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
            Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
            Non-Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_teammates/list" ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_teammates}}</span>
            Teammates
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nonteammates/list" ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_nonteammates}}</span>
            Non-Teammates
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_captains/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_captains}}</span>
            District Team Champions
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
            District Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prevFrId && prevFrId != ''" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Past District Participants
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div uib-alert class="alert-danger" role="alert" ng-if="sendEmailError" ng-cloak>
        <span ng-bind-html="sendEmailError"></span>
      </div>
      <div uib-alert class="alert-success" role="alert" ng-if="sendEmailSuccess" ng-cloak>
        Your email has been sent.
      </div>
      <form name="emailComposerForm" method="POST" novalidate ng-submit="previewEmail()">
        <div class="form-group">
          <label for="emailComposer-recipients" class="sr-only">Recipients:</label>
          <textarea class="form-control" id="emailComposer-recipients" name="recipients" ng-model="emailComposer.recipients" placeholder="Recipients (separate multiple email addresses with a comma)" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
        </div>
        <div class="form-group" ng-if="suggestedMessages.length > 0">
          <label for="emailComposer-suggested_message_id" class="sr-only">Sample Message:</label>
          <select class="form-control input-lg" id="emailComposer-suggested_message_id" name="suggested_message_id" ng-model="emailComposer.suggested_message_id" ng-change="loadSuggestedMessage()">
            <option value="">Choose a sample message</option>
            <option ng-repeat="suggestedMessage in suggestedMessages" value="{{suggestedMessage.messageId}}">
              {{suggestedMessage.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="emailComposer-subject" class="sr-only">Subject</label>
          <input type="text" class="form-control input-lg" id="emailComposer-subject" name="subject" ng-model="emailComposer.subject" placeholder="Subject" autocorrect="on" autocapitalize="on" spellcheck="true">
        </div>
        <div class="form-group">
          <div class="checkbox" custom-checkbox ng-class="{'checked': emailComposer.prepend_salutation}" ng-if="personalizedSalutationEnabled">
            <label>
              <input type="checkbox" ng-model="emailComposer.prepend_salutation"> Include personalized greeting
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="taHtmlElement{{emailComposer.serial}}" class="sr-only">Email message entry:</label>
          <div text-angular name="message_body" ng-model="emailComposer.message_body" ta-toolbar="{{textEditorToolbar}}" ta-text-editor-class="border-around" ta-html-editor-class="border-around" serial="{{emailComposer.serial}}"></div>
        </div>
        <div class="form-group clearfix">
          <div class="pull-left">
            <button type="submit" class="btn btn-primary">
              <strong>Preview &amp; Send</strong>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>