<div cg-busy="reportPromises">
  <div class="ym-pc-reports-lists" ng-class="{'ym-pc-reports--no-tabs': participantRegistration.aTeamCaptain != 'true' && participantRegistration.companyInformation.isCompanyCoordinator != 'true'}">
    <uib-tabset active="activeReportTab">
      <uib-tab index="0" heading="{{participantRegistration.companyInformation.isCompanyCoordinator != 'true' ? 'Team Detail' : 'District Detail'}}" ng-if="participantRegistration.aTeamCaptain == 'true' || participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
        <div class="ym-pc-report-header">
          <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h2 class="h5">
                <span ng-if="participantRegistration.companyInformation.isCompanyCoordinator != 'true'" ng-cloak>Team Detail Report</span>
                <span ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>District Detail Report</span>
              </h2>
            </div>
            <div class="col-md-4">
              <div class="ym-pc-report-header-buttons" ng-if="districtDetailParticipants.participants && districtDetailParticipants.participants.length > 0" ng-cloak>
                <button type="button" class="btn btn-md-wide btn-secondary" aria-label="Download Report" csv-header="districtDetailParticipants.downloadHeaders" ng-csv="districtDetailParticipants.downloadData" filename="District_Detail_Report.csv">
                  <i class="fa fa-download" hidden aria-hidden="true"></i>&nbsp;<strong>Download</strong>
                </button> 
                <button type="button" class="btn btn-md-wide btn-secondary" ng-click="emailAllCompanyParticipants()">
                  <i class="fa fa-envelope" hidden aria-hidden="true"></i>&nbsp;<strong>Email Participants</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="districtDetailParticipants.participants && districtDetailParticipants.participants.length == 0" ng-cloak>
          <div class="text-center">
            No participants to display.
          </div>
        </div>
        <div ng-if="districtDetailParticipants.participants && districtDetailParticipants.participants.length > 0" ng-cloak>
          <div class="text-center visible-xs-block">
            <p><em>Scroll right to view all information</em></p>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <caption class="sr-only">
                District Detail Report
              </caption>
              <thead>
                <tr>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'teamName' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-left">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('teamName')">
                        <strong>Team</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'teamName' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'teamName', 'fa-caret-up': districtDetailParticipants.sortColumn == 'teamName' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'teamName'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'teamName' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'firstName' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-left">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('firstName')">
                        <strong>Name</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'firstName' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'firstName', 'fa-caret-up': districtDetailParticipants.sortColumn == 'firstName' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'firstName'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'firstName' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'email' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-left">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('email')">
                        <strong>Email Address</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'email' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'email', 'fa-caret-up': districtDetailParticipants.sortColumn == 'email' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'email'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'email' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'amount' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('amount')">
                        <strong>Amount</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'amount' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'amount', 'fa-caret-up': districtDetailParticipants.sortColumn == 'amount' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'amount'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'amount' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'emailsSent' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('emailsSent')">
                        <strong>Emails</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'emailsSent' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'emailsSent', 'fa-caret-up': districtDetailParticipants.sortColumn == 'emailsSent' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'emailsSent'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'emailsSent' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'tshirtSize' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('tshirtSize')">
                        <strong>T-shirt</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'tshirtSize' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'tshirtSize', 'fa-caret-up': districtDetailParticipants.sortColumn == 'tshirtSize' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'tshirtSize'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'tshirtSize' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'bloodPressureCheck' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('bloodPressureCheck')">
                        <strong>Blood Pressure <br />Check</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'bloodPressureCheck' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'bloodPressureCheck', 'fa-caret-up': districtDetailParticipants.sortColumn == 'bloodPressureCheck' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'bloodPressureCheck'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'bloodPressureCheck' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{districtDetailParticipants.sortColumn != 'minsActivity' ? 'none' : (districtDetailParticipants.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderDistrictDetailParticipants('minsActivity')">
                        <strong>Min. Activity</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (districtDetailParticipants.sortColumn == 'minsActivity' && !districtDetailParticipants.sortAscending) || districtDetailParticipants.sortColumn != 'minsActivity', 'fa-caret-up': districtDetailParticipants.sortColumn == 'minsActivity' && districtDetailParticipants.sortAscending, 'inactive': districtDetailParticipants.sortColumn != 'minsActivity'}" ng-if="districtDetailParticipants.participants.length"><span class="sr-only">Sortable. {{districtDetailParticipants.sortColumn != 'minsActivity' ? 'Not sorted.' : (districtDetailParticipants.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="districtDetailParticipant in districtDetailParticipants.participants">
                  <td>
                    <div class="text-left">
                      {{districtDetailParticipant.teamName}}
                    </div>
                  </td>
                  <td>
                    <div class="text-left">
                      <span ng-bind-html="districtDetailParticipant.firstName"></span> <span ng-bind-html="districtDetailParticipant.lastName"></span>
                    </div>
                  </td>
                  <td>
                    <div class="text-left">
                      {{districtDetailParticipant.email}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{districtDetailParticipant.amountFormatted}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{districtDetailParticipant.emailsSent}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <span ng-bind-html="districtDetailParticipant.tshirtSize"></span>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <span ng-bind-html="districtDetailParticipant.bloodPressureCheck"></span>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <span ng-bind-html="districtDetailParticipant.minsActivity"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Donors">
        <div class="ym-pc-report-header">
          <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h2 class="h5">
                My Donors
              </h2>
            </div>
            <div class="col-md-4">
              <div class="ym-pc-report-header-buttons" ng-if="participantGifts.gifts && participantGifts.gifts.length > 0" ng-cloak>
                <a class="btn btn-md-wide btn-secondary" aria-label="Download Personal Donors" ng-href="TRParticipantDownload/Personal_Donations.csv?download_type=personal_donations&amp;fr_id={{frId}}" target="_blank">
                  <i class="fa fa-download" hidden aria-hidden="true"></i>&nbsp;<strong>Download</strong>
                </a>
                <button type="button" class="btn btn-md-wide btn-secondary" aria-label="Thank All Personal Donors" ng-click="thankAllParticipantDonors()">
                  <i class="fa fa-envelope" hidden aria-hidden="true"></i>&nbsp;<strong>Thank All</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="participantGifts.gifts && participantGifts.gifts.length == 0" ng-cloak>
          <div class="text-center">
            No donors to display.
          </div>
        </div>
        <div ng-if="participantGifts.gifts && participantGifts.gifts.length > 0" ng-cloak>
          <div class="text-center visible-xs-block">
            <p><em>Scroll right to view all information</em></p>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <caption class="sr-only">
                My Donors Report
              </caption>
              <thead>
                <tr>
                  <th scope="col" aria-sort="{{participantGifts.sortColumn != 'cons_first_name' ? 'none' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-left">
                      <button type="button" class="btn btn-link" ng-click="orderParticipantGifts('cons_first_name')">
                        <strong>Name</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantGifts.sortColumn == 'cons_first_name' && !participantGifts.sortAscending) || participantGifts.sortColumn != 'cons_first_name', 'fa-caret-up': participantGifts.sortColumn == 'cons_first_name' && participantGifts.sortAscending, 'inactive': participantGifts.sortColumn != 'cons_first_name'}" ng-if="participantGifts.gifts.length"><span class="sr-only">Sortable. {{participantGifts.sortColumn != 'cons_first_name' ? 'Not sorted.' : (participantGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{participantGifts.sortColumn != 'amount' ? 'none' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderParticipantGifts('amount')">
                        <strong>Amount</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantGifts.sortColumn == 'amount' && !participantGifts.sortAscending) || participantGifts.sortColumn != 'amount', 'fa-caret-up': participantGifts.sortColumn == 'amount' && participantGifts.sortAscending, 'inactive': participantGifts.sortColumn != 'amount'}" ng-if="participantGifts.gifts.length"><span class="sr-only">Sortable. {{participantGifts.sortColumn != 'amount' ? 'Not sorted.' : (participantGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{participantGifts.sortColumn != 'date_recorded' ? 'none' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-right">
                      <button type="button" class="btn btn-link" ng-click="orderParticipantGifts('date_recorded')">
                        <strong>Date</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantGifts.sortColumn == 'date_recorded' && !participantGifts.sortAscending) || participantGifts.sortColumn != 'date_recorded', 'fa-caret-up': participantGifts.sortColumn == 'date_recorded' && participantGifts.sortAscending, 'inactive': participantGifts.sortColumn != 'date_recorded'}" ng-if="participantGifts.gifts.length"><span class="sr-only">Sortable. {{participantGifts.sortColumn != 'date_recorded' ? 'Not sorted.' : (participantGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="participantGift in participantGifts.gifts">
                  <td>
                    <div class="text-left">
                      <div ng-if="!participantGift.name.first || participantGift.name.first == ''">
                        (no name)
                      </div>
                      <div ng-if="participantGift.name.first && participantGift.name.first != ''">
                        <span ng-bind-html="participantGift.name.first"></span> <span ng-bind-html="participantGift.name.last"></span>
                      </div>
                      <div class="ym-pc-reports-lists__acknowledge">
                        <div class="ym-pc-reports-lists__thanks" ng-if="participantGift.acknowledged != 'true'">
                          <button type="button" class="btn btn-md-wide btn-primary" aria-label="Thank {{participantGift.name.first}} {{participantGift.name.last}}" ng-click="thankParticipantDonor(participantGift)">
                            <i class="fa fa-envelope" hidden aria-hidden="true"></i>&nbsp;<strong>Thank</strong>
                          </button>
                        </div>
                        <div class="ym-pc-reports-lists__note" ng-if="participantGift.giftMessage">
                          <a href="" ng-click="participantGift.showMessage = !participantGift.showMessage">
                            <strong>
                              See Note&nbsp;<i class="fa fa-chevron-up"></i>
                            </strong>
                          </a>
                          <div class="ym-pc-reports-lists__note--show" ng-show="participantGift.showMessage">
                            {{participantGift.giftMessage}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{participantGift.giftAmountFormatted}}
                    </div>
                  </td>
                  <td>
                    <div class="text-right">
                      {{participantGift.date | date : 'M/d/yy'}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="2" heading="Team Donors" ng-if="companyInfo.teamCount > 1 && participantRegistration.aTeamCaptain == 'true'" ng-cloak>
        <div class="ym-pc-report-header">
          <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h2 class="h5">
                Team Donors
              </h2>
            </div>
            <div class="col-md-4">
              <div class="ym-pc-report-header-buttons" ng-if="teamGifts.gifts && teamGifts.gifts.length > 0" ng-cloak>
                <a class="btn btn-md-wide btn-secondary" aria-label="Download Team Donors" ng-href="TRParticipantDownload/Team_Donations.csv?download_type=team_donations&amp;fr_id={{frId}}" target="_blank">
                  <i class="fa fa-download" hidden aria-hidden="true"></i>&nbsp;<strong>Download</strong>
                </a>
                <button type="button" class="btn btn-md-wide btn-secondary" aria-label="Thank All Team Donors" ng-click="thankAllTeamDonors()">
                  <i class="fa fa-envelope" hidden aria-hidden="true"></i>&nbsp;<strong>Thank All</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="teamGifts.gifts && teamGifts.gifts.length == 0" ng-cloak>
          <div class="text-center">
            No donors to display.
          </div>
        </div>
        <div ng-if="teamGifts.gifts && teamGifts.gifts.length > 0" ng-cloak>
          <div class="text-center visible-xs-block">
            <p><em>Scroll right to view all information</em></p>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <caption class="sr-only">
                Team Donors Report
              </caption>
              <thead>
                <tr>
                  <th scope="col" aria-sort="{{teamGifts.sortColumn != 'cons_first_name' ? 'none' : (teamGifts.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-left">
                      <button type="button" class="btn btn-link" ng-click="orderTeamGifts('cons_first_name')">
                        <strong>Name</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (teamGifts.sortColumn == 'cons_first_name' && !teamGifts.sortAscending) || teamGifts.sortColumn != 'cons_first_name', 'fa-caret-up': teamGifts.sortColumn == 'cons_first_name' && teamGifts.sortAscending, 'inactive': teamGifts.sortColumn != 'cons_first_name'}" ng-if="teamGifts.gifts.length"><span class="sr-only">Sortable. {{teamGifts.sortColumn != 'cons_first_name' ? 'Not sorted.' : (teamGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{teamGifts.sortColumn != 'amount' ? 'none' : (teamGifts.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderTeamGifts('amount')">
                        <strong>Amount</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (teamGifts.sortColumn == 'amount' && !teamGifts.sortAscending) || teamGifts.sortColumn != 'amount', 'fa-caret-up': teamGifts.sortColumn == 'amount' && teamGifts.sortAscending, 'inactive': teamGifts.sortColumn != 'amount'}" ng-if="teamGifts.gifts.length"><span class="sr-only">Sortable. {{teamGifts.sortColumn != 'amount' ? 'Not sorted.' : (teamGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{teamGifts.sortColumn != 'date_recorded' ? 'none' : (teamGifts.sortAscending ? 'ascending' : 'descending')}}">
                    <div class="text-right">
                      <button type="button" class="btn btn-link" ng-click="orderTeamGifts('date_recorded')">
                        <strong>Date</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (teamGifts.sortColumn == 'date_recorded' && !teamGifts.sortAscending) || teamGifts.sortColumn != 'date_recorded', 'fa-caret-up': teamGifts.sortColumn == 'date_recorded' && teamGifts.sortAscending, 'inactive': teamGifts.sortColumn != 'date_recorded'}" ng-if="teamGifts.gifts.length"><span class="sr-only">Sortable. {{teamGifts.sortColumn != 'date_recorded' ? 'Not sorted.' : (teamGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="teamGift in teamGifts.gifts">
                  <td>
                    <div class="text-left">
                      <div ng-if="!teamGift.name.first || teamGift.name.first == ''">
                        (no name)
                      </div>
                      <div ng-if="teamGift.name.first && teamGift.name.first != ''">
                        <span ng-bind-html="teamGift.name.first"></span> <span ng-bind-html="teamGift.name.last"></span>
                      </div>
                      <div ng-if="teamGift.acknowledged != 'true'">
                        <button type="button" class="btn btn-md-wide btn-primary" aria-label="Thank {{teamGift.name.first}} {{teamGift.name.last}}" ng-click="thankTeamDonor(teamGift)">
                          <i class="fa fa-envelope" hidden aria-hidden="true"></i>&nbsp;<strong>Thank</strong>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{teamGift.giftAmountFormatted}}
                    </div>
                  </td>
                  <td>
                    <div class="text-right">
                      {{teamGift.date | date : 'M/d/yy'}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>