<div>
  <h2 class="h5">
    Fundraising with your mobile device
  </h2>
  <p>
    Download the mobile app by searching Jump/Hoops in the Apple App Store or Google Play
  </p>
  <h2 class="h5">
    Share your progress on social media
  </h2>
  <p>
    You can use social media to quickly ask your social networks (Facebook, Twitter, etc.) to join your team or make a donation toward your fundraising efforts:
  </p>
  <p>
    On your screen you will see five buttons after you log in. Choose the social media you would like to use and log in to that social media account
  </p>
  <p>
    If you are already signed in to your social network, then you may not be asked to re-log into the site.
  </p>
  <h2 class="h5">
    Fundraise with Facebook App
  </h2>
  <p>
    Download the Jump Rope &amp; Hoops For Heart Facebook App and send messages to friends and family to support you!
  </p>
  <div>
    <img class="img-responsive center-block" src="../aha-luminate/dist/middle-school/image/facebook-app.png" alt="">
  </div>
</div>