<div>
  <div class="ym-pc-dashboard-section-header">
    <h2 class="h3">
      Teacher Resources
    </h2>
  </div>
  <ul>
    <li>
      <a href="http://american.heart.org/middle-school/resources/for-teachers/2018-middle-school-volunteer.pdf" target="_blank">Volunteer Guide</a>
    </li>
    <li>
      <a href="http://american.heart.org/middle-school/resources/for-teachers/2018-online-instruction-sheet.pdf" target="_blank">Online Instruction Sheet</a>
    </li>
    <li>
      <a href="http://american.heart.org/middle-school/resources/for-teachers/middle-school-parent.pdf" target="_blank">Parent Newsletter</a>
    </li>
    <li>
      <a href="http://american.heart.org/middle-school/resources/for-teachers/middle-school-parent-1.pdf" target="_blank">Parent Newsletter - Spanish</a>
    </li>
  </ul>
</div>
