<div>
  <div class="ym-pc-dashboard-section-header">
    <h2 class="h3">
      Teacher Resources
    </h2>
  </div>
  <ul>
    <li>
      <a href="http://american.heart.org/middle-school/resources/the-great-replay-game-guide-2017.pdf" target="_blank">Game Guide</a>
    </li>
    <li>
      <a href="http://american.heart.org/middle-school/resources/for-teachers/2018-middle-school-volunteer.pdf" target="_blank">Volunteer Guide</a>
    </li>
    <li>
      <a href="http://american.heart.org/middle-school/resources/thegreatreplayonlineinstructionsheet.pdf" target="_blank">Online Instruction Sheet</a>
    </li>
  </ul>
</div>
