<div itemscope itemtype="http://schema.org/Person" ng-controller="PersonalPageCtrl" ng-cloak>
  <div class="hidden" hidden aria-hidden="true">
    <div itemprop="name">
      [[E48:[[S80:trID]]-[[S334:px]]:cons.first_name]] [[E48:[[S80:trID]]-[[S334:px]]:cons.last_name]]
    </div>
    [[?xx::x[[E48:[[S80:trID]]-[[S334:px]]:team-id]]x::::
      <div itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">[[E48:[[S80:trID]]-[[S334:px]]:team-name]]</span>
      </div>
      [[?xx::x[[E43:[[S80:trID]]:company-id:[[E48:[[S80:trID]]-[[S334:px]]:team-id]]]]x::::
        <div itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
          <span itemprop="name">[[E43:[[S80:trID]]:company-name:[[E48:[[S80:trID]]-[[S334:px]]:team-id]]]]</span>
        </div>
      ]]
    ]]
    [[?xx::x[[C4:graphic_upload]]x::
      <img src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/district-heart/image/personal-default.jpg" alt="" itemprop="image">
    ::
      <img src="[[C4:graphic_upload]]" alt="" itemprop="image">
    ]]
  </div>
  <div class="ym-page-section ym-page-section__top">
    <div class="col-md-6 ym-user-image" ng-init="personalPagePhoto1.customUrl = '[[C4:graphic_upload]]'; personalPagePhoto1.caption = '[[T6:[[C1:graphic_caption]]]]'" ng-style="{'background-image': (personalPagePhoto1.customUrl && personalPagePhoto1.customUrl != '') ? ('url(' + personalPagePhoto1.customUrl + ')') : ('url(' + personalPagePhoto1.defaultUrl + ')')}">
      <div class="ym-user-image-inner">
        [[?
          [[?xx::x[[S1:cons_id]]x::::
            [[?x[[S1:cons_id]]x::x[[S334:px]]x::T::]]
          ]]
        ::T::
          <button type="button" class="btn btn-md-wide btn-toggle" ng-click="editPersonalPhoto1()">
            <span class="fa fa-camera"></span> Edit Photo
          </button>
        ::]]
        <img class="hidden-md hidden-lg" ng-src="{{personalPagePhoto1.customUrl && personalPagePhoto1.customUrl != '' ? personalPagePhoto1.customUrl : personalPagePhoto1.defaultUrl}}" alt="{{personalPagePhoto1.caption != '' ? personalPagePhoto1.caption : 'Student Photo'}}" ng-cloak>
      </div>
      <div class="caption" ng-if="personalPagePhoto1.caption && personalPagePhoto1.caption != ''" ng-cloak>
        <span ng-bind-html="personalPagePhoto1.caption"></span>
      </div>
    </div>
    <div class="col-md-6 ym-progress ym-secondary-medium-color">
      <h2 class="ym-progress__title h4">
        Help me raise more life-saving donations
      </h2>
      <a aria-label="Donate to help me raise funds" class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S80:trID]]:form-id]]&amp;FR_ID=[[S80:trID]]&amp;PROXY_ID=[[S334:px]]&amp;PROXY_TYPE=20">
        Donate
      </a>
      <div class="ym-progress__thermometer" name="Personal Progress Bar" aria-valuetext="{{personalProgress.percent}} percent of fundraising progress" role="progressbar" aria-valuenow="{{personalProgress.percent}}" aria-valuemin="0" aria-valuemax="100">
        <div class="ym-progress__thermometer--fill" ng-style="{'width': personalProgress.percent + '%'}"></div>
      </div>
      <div class="ym-progress__stats">
        <div class="ym-progress__amount col-sm-6">
          <p>
            I've raised <strong>[[E130:"[[E48:[[S80:trID]]-[[S334:px]]:dollars]]" ".00" "" replaceall]]</strong>
          </p>
        </div>
        <div class="ym-progress__goal col-sm-6">
          <p>
            My goal is <strong>[[E130:"[[E48:[[S80:trID]]-[[S334:px]]:goal]]" ".00" "" replaceall]]</strong>
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="ym-progress__date" ng-if="eventDate && eventDate != '' && eventDate != 'User Provided No Response'" ng-cloak>
          <p>
            My event date is <strong><span ng-bind-html="eventDate"></span></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__main">
    <div class="ym-story" ng-class="prizes.length == 0 ? 'col-md-12' : 'col-md-6'">
      <h2 class="ym-headline">
        My Story
      </h2>
      [[?
        [[?xx::x[[S1:cons_id]]x::::
          [[?x[[S1:cons_id]]x::x[[S334:px]]x::T::]]
        ]]
      ::T::
        <div class="ym-story-edit-btns">
          <button type="button" class="btn btn-md-wide btn-toggle" ng-click="editPersonalPageContent()" ng-if="personalPageContent.mode == 'view'">
            <span class="fa fa-pencil"></span> Edit Story
          </button>
          <div ng-if="personalPageContent.mode == 'edit'" ng-cloak>
            <button type="button" class="btn btn-md-wide btn-primary" ng-click="savePersonalPageContent()">
              <span class="fa fa-pencil"></span> <strong>Save Story</strong>
            </button> 
            <button type="button" class="btn btn-md-wide btn-toggle" ng-click="resetPersonalPageContent()">
              Cancel
            </button>
          </div>
        </div>
      ::]]
      <div class="hidden js--default-page-content" hidden aria-hidden="true" ng-non-bindable>
        [[C6:fr_rich_text]]
      </div>
      <div ng-show="personalPageContent.mode == 'view'">
        <div ng-bind-html="personalPageContent.rich_text">
          <div ng-non-bindable>
            [[C6:fr_rich_text]]
          </div>
        </div>
      </div>
      [[?
        [[?xx::x[[S1:cons_id]]x::::
          [[?x[[S1:cons_id]]x::x[[S334:px]]x::T::]]
        ]]
      ::T::
        <div class="ym-page-content-editor" ng-show="personalPageContent.mode == 'edit'" ng-cloak>
          <label for="taHtmlElement{{personalPageContent.serial}}" class="sr-only">Edit your personal story:</label>
          <div text-angular name="ng_rich_text" ng-model="personalPageContent.ng_rich_text" ta-toolbar="{{personalPageContent.textEditorToolbar}}" serial="{{personalPageContent.serial}}"></div>
        </div>
      ::]]
    </div>
    <div class="col-md-6 ym-user-interactions" ng-if="prizes.length > 0">
      <div class="ym-badges" >
        <h2 class="ym-headline">
          Check Out My Badges
        </h2>
        <div class="ym-badges__item" ng-repeat="prize in prizes" ng-cloak>
          <img class="img-responsive" ng-src="https://s3.amazonaws.com/aha-jumphoops-production/fy18/assets/badges/dhc/{{prize.id}}_delivered.png" alt="{{prize.label}}">
          <div>
            <span ng-bind-html="prize.label"></span> <span class="sr-only">(earned)</span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__list ym-accent-color">
    <div class="ym-donate-cta" ng-class="personalDonors.donors.length < 1 ? 'col-sm-12' : 'col-sm-6'">
      <h2 class="h5">
        Donate to [[E48:[[S80:trID]]-[[S334:px]]:cons.first_name]]
      </h2>
      <div ng-if="personalDonors.donors.length > 0" ng-cloak>
        <p>
          <strong>Add your name to the list</strong>
        </p>
      </div>
      <div ng-if="personalDonors.donors.length < 1" ng-cloak>
        <p>
          <strong>Be the first to donate</strong>
        </p>
      </div>
      <a aria-label="Donate to [[E48:[[S80:trID]]-[[S334:px]]:cons.first_name]]" class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S80:trID]]:form-id]]&amp;FR_ID=[[S80:trID]]&amp;PROXY_ID=[[S334:px]]&amp;PROXY_TYPE=20">
        Donate
      </a>
    </div>
    <div class="ym-list" ng-class="!personalDonors.donors || personalDonors.donors.length == 0 ? 'hidden' : 'col-sm-6'" role="list" aria-label="Top Donors List" ng-cloak>
      <h2 class="h5">
        Top Donors
      </h2>
      <ul class="ym-donor-list">
        <li class="ym-donor-list__row" ng-repeat="personalDonor in personalDonors.donors" role="listitem" ng-if="personalDonors.donors.length > 0" ng-cloak>
          <div class="clearfix">
            <span class="ym-donor-list__row--name">{{personalDonor.name}}</span> 
            <span class="ym-donor-list__row--amount">{{personalDonor.amountFormatted}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="hidden" hidden aria-hidden="true">
    <div class="js--personal-donors">
      [[C5:fr_status_2]]
    </div>
  </div>
</div>