<div itemscope itemtype="http://schema.org/Organization" ng-controller="TeamPageCtrl" ng-cloak>
  <div class="hidden" hidden aria-hidden="true">
    <div itemprop="name">
      [[E43:[[S80:trID]]:name:[[S334:team_id]]]]
    </div>
    [[?xx::x[[E43:[[S80:trID]]:company-id:[[S334:team_id]]]]x::::
      <div itemprop="parentOrganization" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">[[E43:[[S80:trID]]:company-name:[[S334:team_id]]]]</span>
      </div>
    ]]
    [[?xx::x[[C4:graphic_upload]]x::
      <img src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/district-heart/image/team-default.jpg" alt="" itemprop="image">
    ::
      <img src="[[C4:graphic_upload]]" alt="" itemprop="image">
    ]]
  </div>
  <div class="ym-page-section ym-page-section__top">
    <div class="col-md-6 ym-user-image" ng-init="teamPagePhoto1.customUrl = '[[C4:graphic_upload]]'; teamPagePhoto1.caption = '[[T6:[[C1:graphic_caption]]]]'" ng-style="{'background-image': (teamPagePhoto1.customUrl && teamPagePhoto1.customUrl != '') ? ('url(' + teamPagePhoto1.customUrl + ')') : ('url(' + teamPagePhoto1.defaultUrl + ')')}">
      <div class="ym-user-image-inner">
        [[?
          [[?xx::x[[S1:cons_id]]x::::
            [[?x[[E48:[[S80:trID]]:team-id]]xTRUEx::x[[S334:team_id]]x[[E48:[[S80:trID]]-[[S1:cons_id]]:if-is-captain]]x::T::]]
          ]]
        ::T::
          <button type="button" class="btn btn-md-wide btn-toggle" ng-click="editTeamPhoto1()">
            <span class="fa fa-camera"></span> Edit Photo
          </button>
        ::]]
        <img class="hidden-md hidden-lg" ng-src="{{teamPagePhoto1.customUrl && teamPagePhoto1.customUrl != '' ? teamPagePhoto1.customUrl : teamPagePhoto1.defaultUrl}}" alt="{{teamPagePhoto1.caption != '' ? teamPagePhoto1.caption : 'Team Photo'}}" ng-cloak>
      </div>
      <div class="caption" ng-if="teamPagePhoto1.caption && teamPagePhoto1.caption != ''" ng-cloak>
        <span ng-bind-html="teamPagePhoto1.caption"></span>
      </div>
    </div>
    <div class="col-md-6 ym-progress ym-secondary-medium-color">
      <h2 class="ym-progress__title h4">
        Help us raise more life-saving donations!
      </h2>
      <div class="ym-progress__cta">
        <a class="btn btn-lg btn-primary" aria-label='Sign Up with [[T6:[[E43:[[S80:trID]]:name:[[S334:team_id]]]]]]' href="TRR?fr_id=[[S334:fr_id]]&amp;pg=tfind&amp;fr_tjoin=[[S334:team_id]]&amp;s_frTJoin=[[S334:team_id]]&amp;s_frCompanyId=[[E43:[[S80:trID]]:company-id:[[S334:team_id]]]]">
          Sign Up
        </a>
        <a class="btn btn-lg btn-primary" aria-label='Donate to [[T6:[[E43:[[S80:trID]]:name:[[S334:team_id]]]]]]' href="Donation2?df_id=[[E42:[[S334:fr_id]]:form-id]]&amp;FR_ID=[[S334:fr_id]]&amp;PROXY_TYPE=22&amp;PROXY_ID=[[S334:team_id]]">
          Donate
        </a>
      </div>
      <div class="ym-progress__thermometer" ng-if="teamProgress.goal && teamProgress.goal != 0" name="Team Progress Bar" aria-valuetext="{{teamProgress.percent}} percent of fundraising progress" role="progressbar" aria-valuenow="{{teamProgress.percent}}" aria-valuemin="0" aria-valuemax="100" ng-cloak>
        <div class="ym-progress__thermometer--fill" ng-style="{'width': teamProgress.percent + '%'}"></div>
      </div>
      <div class="ym-progress__stats">
        <div class="ym-progress__amount col-sm-6">
          <p>
            We've raised <strong><span ng-bind-html="teamProgress.amountRaisedFormatted"></span></strong>
          </p>
        </div>
        <div class="ym-progress__goal col-sm-6">
          <div ng-if="teamProgress.goalFormatted && teamProgress.goalFormatted != '' && teamProgress.goalFormatted != '$0'" ng-cloak>
            <p>
              Our goal is <strong><span ng-bind-html="teamProgress.goalFormatted"></span></strong>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ym-progress__date" ng-if="eventDate && eventDate != '' && eventDate != 'User Provided No Response'" ng-cloak>
          <p>
            Our event date is <strong><span ng-bind-html="eventDate"></span></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__main" ng-show="participantCount > 0 && (activity1amt != 0 || activity2amt != 0)" ng-cloak>
    <div class="container">
      <div class="ym-our-stats ym-promo-block">
        <h2 class="ym-headline">
          Our Stats
        </h2>
        <div class="ym-promo-block__item ym-promo-block__item--members ym-promo-block--circle">
          <h2 class="ym-headline">
            {{participantCount}}
          </h2>
          <div ng-if="participantCount == 1" ng-cloak>
            <p>
              participant registered. <span ng-if="participantGoal && participantGoal != 0" ng-cloak>Help us meet our goal of {{participantGoal|number}} participants!</span>
            </p>
          </div>
          <div ng-if="participantCount > 1" ng-cloak>
            <p>
              participants registered. <span ng-if="participantGoal && participantGoal != 0" ng-cloak>Help us meet our goal of {{participantGoal|number}} participants!</span>
            </p>
          </div>
        </div>
        <div class="ym-promo-block__item ym-promo-block--circle" ng-if="activity1amt != 0" ng-cloak>
          <div class="h2 ym-headline">
            {{activity1amt}}          
          </div>
          <div ng-if="activity1amt == 1" ng-cloak>
            <p>
              total minute of activity achieved by all of our participants!
            </p>
          </div>
          <div ng-if="activity1amt != 1" ng-cloak>
            <p>
              total minutes of activity achieved by all of our participants!
            </p>
          </div>
        </div>
        <div class="ym-promo-block__item ym-promo-block--circle" ng-if="activity2amt != 0" ng-cloak>
          <div class="h2 ym-headline">
            {{activity2amt}}
          </div>
          <div ng-if="activity2amt == 1" ng-cloak>
            <p>
              participant has had their blood pressure checked!
            </p>
          </div>
          <div ng-if="activity2amt != 1" ng-cloak>
            <p>
              participants have had their blood pressure checked!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ym-page-section ym-page-section__list ym-accent-color">
    <div class="row">
      <div class="col-xs-12 ym-story text-center">
        <h2 class="ym-headline">
          Our Team is Heart Healthy!
        </h2>
        [[?
          [[?xx::x[[S1:cons_id]]x::::
            [[?x[[E48:[[S80:trID]]:team-id]]xTRUEx::x[[S334:team_id]]x[[E48:[[S80:trID]]-[[S1:cons_id]]:if-is-captain]]x::T::]]
          ]]
        ::T::
          <div class="ym-story-edit-btns">
            <button type="button" class="btn btn-md-wide btn-toggle" ng-click="editTeamPageContent()" ng-if="teamPageContent.mode == 'view'">
              <span class="fa fa-pencil"></span> Edit Story
            </button>
            <div ng-if="teamPageContent.mode == 'edit'" ng-cloak>
              <button type="button" class="btn btn-md-wide btn-primary" ng-click="saveTeamPageContent()">
                <span class="fa fa-pencil"></span> <strong>Save Story</strong>
              </button> 
              <button type="button" class="btn btn-md-wide btn-toggle" ng-click="resetTeamPageContent()">
                Cancel
              </button>
            </div>
          </div>
        ::]]
        <div class="hidden js--default-page-content" hidden aria-hidden="true" ng-non-bindable>
          [[C6:fr_rich_text]]
        </div>
        <div ng-show="teamPageContent.mode == 'view'">
          <div ng-bind-html="teamPageContent.rich_text">
            <div ng-non-bindable>
              [[C6:fr_rich_text]]
            </div>
          </div>
        </div>
        [[?
          [[?xx::x[[S1:cons_id]]x::::
            [[?x[[E48:[[S80:trID]]:team-id]]xTRUEx::x[[S334:team_id]]x[[E48:[[S80:trID]]-[[S1:cons_id]]:if-is-captain]]x::T::]]
          ]]
        ::T::
          <div class="ym-page-content-editor" ng-show="teamPageContent.mode == 'edit'" ng-cloak>
            <label for="taHtmlElement{{teamPageContent.serial}}" class="sr-only">Edit your team's story:</label>
            <div text-angular name="ng_rich_text" ng-model="teamPageContent.ng_rich_text" ta-toolbar="{{teamPageContent.textEditorToolbar}}" serial="{{teamPageContent.serial}}"></div>
          </div>
        ::]]
      </div>
    </div>
  </div>
  <div class="ym-page-section ym-page-section__roster" ng-if="teamParticipants.totalNumber > 0" ng-cloak>
    <h2 class="h5">
      Our Team Members
    </h2>
    <div class="ym-roster-search ym-roster-search--participant">
      <form class="form-inline form-inline--mobile-full-width" name="teamParticipantSearchForm" method="POST" ng-submit="searchTeamParticipants()">
        <div class="ym-roster-search-title">
          Participant Search:
        </div>
        <div class="form-group">
          <label for="teamParticipantSearch-ng_first_name" class="sr-only">First Name:</label>
          <input type="text" class="form-control" id="teamParticipantSearch-ng_first_name" name="ng_first_name" ng-model="teamParticipantSearch.ng_first_name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="teamParticipantSearch-ng_last_name" class="sr-only">Last Name:</label>
          <input type="text" class="form-control" id="teamParticipantSearch-ng_last_name" name="ng_last_name" ng-model="teamParticipantSearch.ng_last_name" placeholder="Last Name">
        </div>
        <button type="submit" class="btn btn-md-wide">
          <strong>Search</strong>
        </button>
      </form>
    </div>
    <div class="text-center visible-xs-block">
      <p><em>Scroll right to view all information</em></p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table--padded ym-list ym-list--participant-list">
        <caption class="sr-only">
          Our Team Members
        </caption>
        <thead class="ym-list__header">
          <tr>
            <th class="ym-list__column ym-list__column--name" scope="col" aria-sort="{{participantListSetting.sortColumn != 'fullName' ? 'none' : (participantListSetting.sortAscending ? 'ascending' : 'descending')}}">
              <button type="button" class="btn btn-link" ng-click="orderParticipants('fullName')">
                <strong>Participant Name</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantListSetting.sortColumn == 'fullName' && !participantListSetting.sortAscending) || participantListSetting.sortColumn != 'fullName', 'fa-caret-up': participantListSetting.sortColumn == 'fullName' && participantListSetting.sortAscending, 'inactive': participantListSetting.sortColumn != 'fullName'}"><span class="sr-only">Sortable. {{participantListSetting.sortColumn != 'fullName' ? 'Not sorted.' : (participantListSetting.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
              </button>
            </th>
            <th class="ym-list__column ym-list__column--amount" scope="col" aria-sort="{{participantListSetting.sortColumn != 'amountRaised' ? 'none' : (participantListSetting.sortAscending ? 'ascending' : 'descending')}}">
              <button type="button" class="btn btn-link" ng-click="orderParticipants('amountRaised')">
                <strong>Amount</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantListSetting.sortColumn == 'amountRaised' && !participantListSetting.sortAscending) || participantListSetting.sortColumn != 'amountRaised', 'fa-caret-up': participantListSetting.sortColumn == 'amountRaised' && participantListSetting.sortAscending, 'inactive': participantListSetting.sortColumn != 'amountRaised'}"><span class="sr-only">Sortable. {{participantListSetting.sortColumn != 'amountRaised' ? 'Not sorted.' : (participantListSetting.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
              </button>
            </th>
            <th class="ym-list__column ym-list__column--mins" scope="col" aria-sort="{{participantListSetting.sortColumn != 'minsActivity' ? 'none' : (participantListSetting.sortAscending ? 'ascending' : 'descending')}}">
              <button type="button" class="btn btn-link" ng-click="orderParticipants('minsActivity')">
                <strong>Min. of Activity</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantListSetting.sortColumn == 'minsActivity' && !participantListSetting.sortAscending) || participantListSetting.sortColumn != 'minsActivity', 'fa-caret-up': participantListSetting.sortColumn == 'minsActivity' && participantListSetting.sortAscending, 'inactive': participantListSetting.sortColumn != 'minsActivity'}"><span class="sr-only">Sortable. {{participantListSetting.sortColumn != 'minsActivity' ? 'Not sorted.' : (participantListSetting.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="ym-list__row ym-list__row--no-results" ng-if="teamParticipants.participants && teamParticipants.participants.length == 0" ng-cloak>
            <td class="ym-list__column" colspan="3">
              No participants found.
            </td>
          </tr>
          <tr class="ym-list__row" ng-repeat="participant in teamParticipants.participants | filter:paginateParticipants" ng-cloak>
            <td class="ym-list__column ym-list__column--name">
              <a ng-href="TR?fr_id={{participant.eventId}}&amp;pg=personal&amp;px={{participant.consId}}"><span ng-bind-html="participant.fullName"></span></a>
              <div>
                <a class="btn btn-primary btn-md" aria-label="Donate to {{participant.fullName}}" ng-href="Donation2?df_id={{participant.donationFormId}}&amp;FR_ID={{participant.eventId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{participant.consId}}">
                  <strong>Donate</strong>
                </a>
              </div>
            </td>
            <td class="ym-list__column ym-list__column--amount">
              <span>{{participant.amountRaisedFormatted}}</span>
            </td>
            <td class="ym-list__column ym-list__column--mins">
              <span>{{participant.minsActivity|number}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ym-pagination text-center" ng-show="participantListSetting.totalNumber > participantListSetting.paginationItemsPerPage">
      <ul uib-pagination ng-model="participantListSetting.currentPage" total-items="participantListSetting.totalNumber" items-per-page="participantListSetting.paginationItemsPerPage" max-size="participantListSetting.paginationMaxSize" boundary-links="participantListSetting.totalNumber > (participantListSetting.paginationItemsPerPage * participantListSetting.paginationMaxSize)"></ul>
    </div>
    <hr class="ym-section-divider">
  </div>
  <div class="ym-page-section ym-team-coordinator-thanks" ng-if="coordinatorName && coordinatorName != ''" ng-cloak>
    <img src="../[[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/district-heart/image/district-torch-graphic.png"" class="img-responsive" alt="Torch Graphic">
    <div class="ym-team-coordinator-thanks-inner">
      Thank you to our coordinator, <span ng-bind-html="coordinatorName"></span>, for leading our heart-healthy challenge!
    </div>
  </div>
  <div class="ym-page-section ym-team-page-options">
    <div class="ym-team-page-options-inner">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="h5">
            Join Our Team
          </h2>
          <a aria-label="Join Our Team" class="btn btn-primary btn-md" href="TRR?fr_id=[[S334:fr_id]]&amp;pg=tfind&amp;fr_tjoin=[[S334:team_id]]&amp;s_frTJoin=[[S334:team_id]]&amp;s_frCompanyId=[[E43:[[S80:trID]]:company-id:[[S334:team_id]]]]">
            <strong>Sign Up</strong>
          </a>
        </div>
        <div class="col-sm-4">
          <h2 class="h5">
            Donate to Our Team
          </h2>
          <a aria-label="Donate to Our Team" class="btn btn-primary btn-md" href="Donation2?df_id=[[E42:[[S334:fr_id]]:form-id]]&amp;FR_ID=[[S334:fr_id]]&amp;PROXY_TYPE=22&amp;PROXY_ID=[[S334:team_id]]">
            <strong>Donate</strong>
          </a>
        </div>
        <div class="col-sm-4">
          <h2 class="h5">
            Visit Our District Page
          </h2>
          <a aria-label="Visit Our District Page" class="btn btn-primary btn-md" href="TR?fr_id=[[S334:fr_id]]&amp;pg=company&amp;company_id=[[E43:[[S80:trID]]:company-id:[[S334:team_id]]]]">
            <strong>District Page</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>