select {
  &,
  &.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right: 0.75rem\9;
    background-image: none\9;
    background: url('../image/ym-select-carot.png') right 0.75rem center no-repeat $brand-white;
    color: $event-secondary;

    &::-ms-expand {
      display: none;
    }
  }
}

.ym-page-section__donor-search {
  .ym-roster-search .form-inline {
    @media(min-width: $screen-sm-min) {
      .form-group .form-control {
        max-width: 110px;
      }
    }

    @media(max-width: 631px) {
      .btn {
        display: block;
        margin: 5px auto 0;
      }
    }
  }

  .table {
    min-width: 650px;
  }

  .ym-roster-search {
    @media(max-width: $screen-xs) {
      .ym-roster-search-title {
        margin-bottom: 10px;
      }

      .form-inline {
        .form-group {
          display: block;

          .form-control {
            width: 100%;
            max-width: none;
            margin-right: 0;
          }
        }
      }
    }
  }
}

.ym-roster-search {
  text-align: center;
  margin: 0 0 18px;
  
  .form-inline {
    background-color: #e1f5fa;
    padding: 15px 20px;
    margin: 0 auto;
    
    @media (min-width: $screen-sm-min) {
      width: 630px;
      padding: 14px 22px;
    }

    .ym-roster-search-title {
      margin: 0 0 5px 0;

      @media (min-width: 630px) {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 0;

      }
    }
    
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 5px;
      vertical-align: middle;
      
      .form-control {
        display: inline-block;
        text-align: left;
        width: auto;
        max-width: 125px;
        margin-bottom: 10px;
        vertical-align: middle;
        
        @media (min-width: 480px) {
          margin-bottom: 0;
        }
        
        @media (min-width: $screen-sm-min) {
          max-width: 162px;
        }
      }
      
      .form-control--wide {
        max-width: 155px;
        margin-bottom: 0;
        
        @media (min-width: $screen-sm-min) {
          max-width: 162px;
        }
      }
    }
    
    .btn {
      background-color: #004d68;
      color: $brand-white;
      margin-bottom: 10px;

      @media (min-width: 480px) {
        margin-bottom: 0;
      }
    }
  }

  .form-inline--mobile-full-width {
    margin: 0 -25px;
    padding: 15px 5px;

    @media (min-width: $screen-sm-min) {
      margin: 0 auto;
      padding: 15px 20px;
    }

  }

  &.ym-roster-search--participant {
    .form-inline--mobile-full-width .btn {
      margin: 0 auto;
      display: block;

      @media(min-width: $screen-xs) {
        display: inline-block;
      }
    }
  }
}
