select {
  &, 
  &.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right: 0.75rem\9;
    background-image: none\9;
    background: url('../image/ym-select-carot.png') right 0.75rem center no-repeat $brand-white;
    color: $event-secondary;
    
    &::-ms-expand {
      display: none;
    }
  }
}

.ym-page-section__donor-search {
  .ym-roster-search .form-inline {
    @media(min-width: $screen-sm-min) {
      .form-group .form-control {
        max-width: 110px;
      }
    }  

    @media(max-width: 631px) {
      .btn {
        display: block;
        margin: 5px auto 0;
      }
    }
  }

  .table {
    min-width: 650px;
  }
}