.ym-hero-top__find-your-school {
  margin-top: 20px;
  padding-bottom: 24px;
  
  @media (min-width: $screen-sm-min) {
    margin-top: 0;
    padding-bottom: 20px;
  }
  
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.ym-hero__text {
  h1 {
    font-size: 30px;
  }
}