.ym-page-section__top {
  .ym-progress {
    background: $event-accent-medium;
  }
}

.ym-story {
  h1, 
  .h1 {
    margin: 10px 0 20px;
  }
}

.ym-section-divider {
  border: 0;
  border-top: 1px solid $event-secondary;
  height: 1px;
  margin: 0;
}

.ym-page-section__list {
  background: $event-accent;
}

.ym-team-coordinator-thanks {
  background: $brand-white;
  padding: 18px;
}

.ym-team-coordinator-thanks-inner {
  background-color: $event-accent;
  color: $brand-white;
  margin: 12px 12px 0;
}

.ym-team-page-options {
  background: $brand-white;
  padding: 18px;
}

.ym-team-page-options-inner {
  background-color: $event-accent-medium;
  text-align: center;
  margin: 0 12px 12px;
  
  h5, 
  .h5 {
    color: $event-secondary;
    margin: 0;
  }
  
  .btn {
  }
}