.ym-page-section__top {
  .ym-progress {
    background: $event-accent-medium;
  }
}

.ym-story {
  h1, 
  .h1 {
    margin: 10px 0 20px;
  }
}

.ym-section-divider {
  border: 0;
  border-top: 1px solid $event-secondary;
  height: 1px;
  margin: 0;
}

.ym-page-section__list {
  background: $event-accent;
}

.ym-team-coordinator-thanks {
  background: $brand-white;
  padding: 12px 0;
  
  @media (min-width: $screen-sm-min) {
    padding: 18px;
  }
}

.ym-team-coordinator-thanks-inner {
  background-color: $event-accent;
  color: $brand-white;
  text-align: center;
  padding: 24px 30px;
  margin: 0 0 3px;
  
  @media (min-width: $screen-sm-min) {
    margin: 12px 12px 0;
  }
}

.ym-team-page-options {
  background: $brand-white;
  padding: 12px 0;
  
  @media (min-width: $screen-sm-min) {
    padding: 18px;
  }
}

.ym-team-page-options-inner {
  background-color: $event-accent-medium;
  text-align: center;
  padding: 30px;
  margin: 3px 0 8px;
  
  @media (min-width: $screen-sm-min) {
    margin: 0 12px 12px;
  }
  
  .col-sm-4 {
    @media (max-width: $screen-xs-max) {
      margin: 0 0 40px;
    }
    
    &:last-child {
      @media (max-width: $screen-xs-max) {
        margin: 0;
      }
    }
  }
  
  h5, 
  .h5 {
    color: $event-secondary;
    margin: 0 0 18px;
  }
  
  .btn {
    width: 154px;
  }
}