.ym-page-section__top {
  .ym-progress {
    background: $event-accent-medium;
  }
}

.ym-story {
  h1, 
  .h1 {
    margin: 10px 0 20px;
  }
}

.ym-section-divider {
  border: 0;
  border-top: 1px solid $event-secondary;
  height: 1px;
  margin: 0;
}

.ym-page-section__list {
  background: $event-accent;
}