@import "../../youth-markets/sass/variables.scss";
@import "variables.scss";
@import "../../youth-markets/sass/mixins.scss";

@import "../../youth-markets/sass/participant.scss";

.ng-pc-nav--coordinator {
  a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      @media (min-width: 670px) {
        width: 20%;
      }

      &.ng-pc-nav-item--resources {
        padding: 12px 6px 0;
        
        @media (min-width: 670px) {
          padding: 14px 12px 0;
        }
      }
      
      &.ng-pc-nav-item--student-view {
        padding: 3px 6px 0;
        
        @media (min-width: 670px) {
          padding: 3px 6px 0;
        }
        
        @media (min-width: 1035px) {
          padding: 14px 12px 0;
        }
        
        > span {
          max-width: 74px;
          
          @media (min-width: 670px) {
            max-width: 90px;
          }
          
          @media (min-width: 1035px) {
            max-width: none;
          }
        }
      }
    }
  }
}

.ym-pc-dashboard-progress-section {
  .row {
    .ym-pc-dashboard-progress-section__column {
      &:first-child {
        padding: 0;
      }
    }
  }
}

.ym-pc-dashboard-progress-box {
  padding: 20px;
  margin: 0 0 15px;
  
  @media (min-width: $screen-md-min) {
    margin: 0 0 30px;
  }
  
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
}

.ym-pc-dashboard-progress-type,
.ym-pc-dashboard-captain-page-type, 
.ym-pc-dashboard-coordinator-page-type {
  a {
    &, 
    &:link, 
    &:visited {
      background-color: rgb(40, 79, 73);
      background-color: rgba(40, 79, 73, 0.2);
      color: rgb(255, 255, 255);
      color: rgba(40, 79, 73, 1);
    }
  }
}

.ym-pc-dashboard-badges-box {
  padding: 20px;
  
  .ym-pc-dashboard-section-header {
    position: relative;
    
    h5, 
    .h5 {
      text-transform: none;
      margin: 0 0 18px !important;
      
      @media (min-width: $screen-lg-min) {
        margin: 0 0 12px !important;
      }
    }
  }
  
  .btn, 
  a.btn {
    &, 
    &:link, 
    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
      margin: 0 0 4px;
      
      @media (min-width: $screen-lg-min) {
        position: absolute;
        right: 0;
        top: 0;
        padding: 7px 10px;
        margin: 0;
      }
    }
  }
  
  .ym-pc-dashboard-badges-icons {
    width: 212px;
    margin: 0 auto;
    
    @media (min-width: 414px) {
      width: 318px;
    }
    
    @media (min-width: $screen-md-min) {
      width: 414px;
    }
    
    @media (min-width: $screen-lg-min) {
      width: 450px;
    }
  }
  
  .ym-pc-dashboard-badges-icon {
    float: left;
    text-align: center;
    width: 76px;
    margin: 20px 15px 0;
    
    @media (min-width: $screen-md-min) {
      width: 98px;
      margin: 20px 20px 0;
    }
    
    @media (min-width: $screen-lg-min) {
      width: 110px;
    }
    
    &:nth-child(3), 
    &:nth-child(5), 
    &:nth-child(7), 
    &:nth-child(9) {
      @media (max-width: 413px) {
        clear: both;
      }
    }
    
    &:nth-child(4), 
    &:nth-child(7) {
      @media (min-width: 414px) {
        clear: both;
      }
    }
    
    img {
      display: block;
      width: 100%;
    }
  }
}

.ym-pc-dashboard-email-challenge-box {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
  
  .ym-pc-dashboard-email-challenge-option {
    text-align: center;
    margin: 0 0 20px;
    
    p {
      margin: 0 0 18px;
    }
  }
  
  form {
    textarea.form-control[readonly] {
      background-color: $brand-white;
      border: 0;
      border-radius: 0;
      font-size: 13px;
      height: 470px;
      padding: 28px;
    }
  }
}

.ym-activity-box {
  background: $event-accent-medium;
  
  h5, 
  .h5 {
    text-transform: none;
  }
}

.ym-pc-dashboard-heart-challenge-section {
  background-color: $event-secondary-medium;
  padding: 30px 30px 45px;
  margin: 0 0 30px;
  
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      margin: 0 0 30px;
    }
  }
}

.ym-pc-dashboard-heart-challenge-title {
  color: $event-secondary;
  margin: 0 0 18px;

  span {
    font-size: inherit;
  }
}

.ym-pc-dashboard-heart-challenge-text {
  p {
    margin: 0 0 16px;
  }
}

.ym-pc-dashboard-heart-challenge-mins-activity {
  margin: 0 0 20px;
  
  @media (min-width: $screen-sm-min) {
    margin: 0;
  }
  
  .alert-success {
    border-radius: 10px;
    text-align: center;
    width: 305px;
    padding: 7px 25px;
  }
  
  .form-inline {
    .form-group {
      margin: 0 10px 10px 0;
      
      input[type="date"].form-control {
        width: 165px;
        max-width: 165px;
      }
      
      input[type="number"].form-control {
        width: 130px;
        max-width: 130px;
      }
    }
    
    .btn {
      text-align: center;
      width: 165px;
    }
  }
}

.ym-pc-dashboard-heart-challenge-blood-pressure {
  .btn {
    text-align: center;
    width: 246px;
  }
  
  .alert-success {
    border-radius: 10px;
    text-align: center;
    width: 246px;
    padding: 7px 25px;
  }
}

.ym-pc-dashboard-spread-section {
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      margin: 0 0 22px;
    }
  }
  
  .ym-pc-dashboard-spread-options {
    .ym-pc-dashboard-section-header {
      h5, 
      .h5 {
        text-transform: none;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-progress-section {
  .row {
    .ym-pc-dashboard-coordinator-progress-section__column {
      &:first-child {
        padding: 0;
      }
    }
  }
}

.ym-pc-dashboard-coordinator-progress-box {
  padding: 20px;
  margin: 0 0 15px;
  
  @media (min-width: $screen-md-min) {
    margin: 0 0 30px;
  }
  
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
}

.ym-activity-box.ym-activity-box--coordinator-pages {
  background: $event-secondary-medium;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  
  @media (min-width: $screen-sm-min) {
    margin: 0;
  }
  
  @media (min-width: $screen-md-min) {
    margin: 0;
  }
  
  h5, 
  .h5 {
    text-align: center;
  }
}

.ym-pc-dashboard-coordinator-page-type {
  a {
    &,
    &:link,
    &:visited {
      background-color: rgb(40, 79, 73);
      background-color: rgba(40, 79, 73, 0.2);
      color: rgb(255, 255, 255);
      color: rgba(40, 79, 73, 1);
    }
  }
}

.ym-pc-dashboard-coordinator-students-box {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
  
  .ym-pc-dashboard-coordinator-email-challenge-option {
    text-align: center;
    margin: 20px 0;
    
    p {
      margin: 0 0 18px;
    }
  }
  
  form {
    textarea.form-control[readonly] {
      background-color: $brand-white;
      border: 0;
      border-radius: 0;
      font-size: 13px;
      height: 470px;
      padding: 28px;
      
      @media (min-width: $screen-sm-min) {
        height: 326px;
      }
      
      @media (min-width: $screen-lg-min) {
        height: 302px;
      }
    }
  }
}

.ym-pc-dashboard-captain-resources-section, 
.ym-pc-dashboard-coordinator-resources-section {
  .ym-pc-dashboard-section-header {
    h3, 
    .h3 {
      margin: 0 0 32px;
    }
  }
}

.ym-pc-dashboard-captain-resources-options, 
.ym-pc-dashboard-coordinator-resources-options {
  .ym-pc-dashboard-section-header {
    h5, 
    .h5 {
      text-transform: none;
    }
  }
}

.ym-pc-report-header-buttons {
  .btn, 
  a.btn {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      @media (max-width: 413px) {
        display: block;
        margin: 0 0 12px;
      }
    }
  }
}

.ym-pc-dashboard-section-header h2 {
  text-transform: uppercase;
}