.ym-promo-block__item {
  @media (max-width: $screen-xs-max) {
    border-bottom: 0;
  }
}

.pg-company {
  .ym-our-stats {
    @media (min-width: $screen-sm-min) {
      max-width: 632px;
      margin: 10px auto 20px;
    }
    
    @media (min-width: $screen-md-min) {
      max-width: 918px;
      margin: 20px auto 30px;
    }
    
    @media (min-width: 1071px) {
      max-width: 960px;
    }
  }
  
  .ym-promo-block__item {
    @media (min-width: $screen-sm-min) {
      margin: 0 10px;
    }
    
    @media (min-width: $screen-md-min) {
      margin: 0 40px;
    }
    
    h2, 
    .h2 {
      @media (min-width: $screen-sm-min) {
        margin-top: 30px;
      }
    }
  }
}

.pg-team {
  .ym-our-stats {
    @media (min-width: $screen-sm-min) {
      max-width: 632px;
      margin: 10px auto 20px;
    }
    
    @media (min-width: $screen-md-min) {
      max-width: 918px;
      margin: 20px auto 30px;
    }
    
    @media (min-width: 1071px) {
      max-width: 960px;
    }
  }
  
  .ym-promo-block__item {
    @media (min-width: $screen-sm-min) {
      margin: 0 10px;
    }
    
    @media (min-width: $screen-md-min) {
      margin: 0 40px;
    }
    
    h2, 
    .h2 {
      @media (min-width: $screen-sm-min) {
        margin-top: 30px;
      }
    }
  }
}