.ym-promo-block__item {
  @media (max-width: $screen-xs-max) {
    border-bottom: 0;
  }
}

.pg-company {
  .ym-promo-block__item {
    @media (min-width: $screen-sm-min) {
      margin: 0 40px;
    }
  }
}

.pg-team {
  .ym-promo-block__item {
    @media (min-width: $screen-sm-min) {
      margin: 0 40px;
    }
  }
}