$headline-font: 'Oswald';
$event-font: 'Raleway';

$event-primary: #ed1c24;
$event-primary-dark: #be161d;
$event-secondary: #045879;
$event-secondary-dark: #023549;
$event-secondary-medium: #c3ebf6;
$event-secondary-light: #5abde1;
$event-accent: #19a4d5;
$event-accent-medium: #fbf26f;
$event-accent-light: #f0ed5d;
$event-grey: #000000;
$border-gray: #e8e8e8;
$inactive-grey: #c2c2c2;
$error-color: #fcddde;