<form method="POST" novalidate ng-submit="updateCoordinatorMessage()">
  <div class="modal-header">
    <h2 class="h5 modal-title">
      Create/Update an encouraging message for your students
    </h2>
  </div>
  <div class="modal-body">
    <div uib-alert class="alert-danger" ng-if="personalGoalInfo.errorMessage">
      <div ng-bind-html="personalGoalInfo.errorMessage"></div>
    </div>
    <div class="form-group">
      <label for="coordinatorMessage" class="sr-only">Goal</label>
      <div class="input-group">
        <input type="text" class="form-control" id="coordinatorMessage" ng-model="coordinatorMessage.text" aria-label="Coordinator Message" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-toggle" ng-click="cancelEditCoordinatorMessage()">
          Cancel
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">
          <strong>Save</strong>
        </button>
      </div>
    </div>
  </div>
<form>