<div class="modal-header">
  <div class="modal-header__btns modal-header__btns--block-xxs">
    <button type="button" class="btn btn-toggle" ng-class="{'disabled': sendEmailPending}" ng-disabled="sendEmailPending" ng-click="cancelEmailPreview()">
      Close
    </button>
    <button type="button" class="btn btn-primary" ng-class="{'disabled': sendEmailPending}" ng-disabled="sendEmailPending" ng-click="sendEmail()">
      <strong>Send</strong>
    </button>
  </div>
  <h2 class="h5 modal-title">
    Preview
  </h2>
</div>
<div class="modal-body">
  <label>
    Subject:
  </label>
  <p>
    <span ng-bind-html="emailComposer.subject"></span>
  </p>
  <div class="hidden" ng-if="stationeryChoices.length > 0">
    <label for="email-preview-stationery">
      Stationery:
    </label>
    <div class="form-group">
      <div class="row clearfix">
        <div class="col-sm-6">
          <select class="form-control" id="email-preview-stationery" ng-model="emailComposer.layout_id" ng-change="selectStationery()">
            <option value="">None</option>
            <option ng-repeat="stationeryChoice in stationeryChoices" value="{{stationeryChoice.layoutId}}">
              {{stationeryChoice.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <label>
    Message:
  </label>
  <div class="ng-pc-modal-email-message-body">
    <div ng-bind-html="emailPreview.body"></div>
  </div>
</div>