<div class="ym-team-list">
    <div class="ym-team-list__row" ng-repeat="team in teams">
      <div class="ym-team-list__column ym-team-list__column--name">
        <a ng-href="TR?fr_id={{team.EventId}}&amp;pg=team&amp;team_id={{team.id}}">{{team.name}}</a>
        <div class="visible-xs visible-md" ng-if="team.captainFirstName">{{team.captainFirstName + ' ' + team.captainLastName}}</div>
      </div>
      <div class="heart-company-team-list__column heart-company-team-list__column--captain hidden-xs hidden-md">
        <div ng-if="team.captainFirstName">
          {{team.captainFirstName + ' ' + team.captainLastName}}
        </div>
      </div>
      <div class="heart-company-team-list__column heart-company-team-list__column--amount">
        <strong>{{team.amountRaisedFormatted}}</strong>
      </div>
      <div class="heart-company-team-list__column heart-company-team-list__column--cta hidden-xs">
        <a class="btn btn-lg btn-primary" ng-href="{{team.joinTeamURL}}" ng-if="team.joinTeamURL">Join</a>
      </div>
    </div>
</div>