[[?COMMENT::::::
   NOT PART OF DEPLOYMENT PROCESS. MUST BE MANUALLY COPIED TO PAGEBUILDER.
]]

[[?xTx::x[[A24]]x::
  <script>
    var myHtmlEditor = 'Gfr_htmltextarea';
  </script>
  <script src="../js/ajax_mce.js"></script>
::]]
<script>
  fr_part_radio_select = function (elem, useFlair) {}
  document.show_addons = [];
  document.hide_addons = [];
</script>
<div class="ym-registration-page-container ym-registration-page-container--ptype" ng-controller="RegistrationPtypeCtrl">
  <div class="row clearfix">
    <div class="col-sm-6 col-sm-offset-3">
      [[?xxnullx::x[[A5]]x::::
        <div class="alert alert-success">
          [[A5]]
        </div>
      ]]
      [[?xyz.xnullynullz.xynullz.xnullyz::x[[A4]]y[[A6]]z::::
        <div class="alert alert-danger">
          [[?xy.xnully::x[[A4]]y::
            [[M0:friendraiser:generic_error]]
          ::
            [[A4]]
          ]]
        </div>
      ]]
      [[?[[A6]]::ERR_TRANS_TOO_MUCH::
        <div class="alert alert-danger">
          [[M0:friendraiser:error_transaction_too_much]]
        </div>
      ::]]
      <form method="POST" ng-submit="submitPtype()">
        <div class="section-container" id="part_type_section_container">
          <div class="manageable-content" data-container="edit_pt_title_container">
            <h2 class="h5" id="pt_title_container">
              [[C1:fr_pt_title]]
            </h2>
          </div>
          <div class="manageable-content" data-container="edit_pt_instruction_container">
            <span id="pt_instruction_container">[[C1:fr_pt_instruction]]</span>
          </div>
          <div class="hidden js--registration-ptype-part-types">
            [[A13]]
          </div>
          [[?xTx::x[[A16]]x::
            [[?[[A6]]::ERR_BAD_GIFT::
              <div class="alert alert-danger">
                [[M0:friendraiser:error_invalid_amt_user]]
              </div>
            ::]]
            <div class="manageable-content" data-container="edit_part_type_additional_gift_section_header">
              <div id="part_type_additional_gift_section_header">
                [[C1:fr_gift_hdr]]
              </div>
            </div>
            [[?xx::x[[A33]]x::::
              <div class="hidden js--registration-ptype-donation-levels">
                [[A33]]
              </div>
              <div class="ym-registration-ptype-donation-levels">
                <button type="button" class="btn btn-toggle" ng-repeat="donationLevel in donationLevels.levels" ng-class="{'btn-toggle--selected': donationLevels.activeLevel.amount == donationLevel.amount}" ng-click="toggleDonationLevel(donationLevel.amount)" ng-cloak>
                  <span ng-bind-html="donationLevel.amountFormatted" ng-if="!donationLevel.isOtherAmount && !donationLevel.isNoDonation"></span>
                  <span ng-if="donationLevel.isOtherAmount">Other</span>
                  <span ng-if="donationLevel.isNoDonation">No, Thanks</span>
                </button> 
                <div class="ym-registration-ptype-donation-message">
                  <span ng-bind-html="donationLevels.activeLevel.askMessage"></span>
                </div>
              </div>
            ]]
          ::]]
          [[?xTx::x[[A17]]x::
            [[?[[A6]]::ERR_BAD_GOAL::
              <div class="alert alert-danger">
                [[M0:friendraiser:error_invalid_goal_amt]]
              </div>
            ::]]
            <div class="manageable-content" data-container="edit_fund_goal_container">
              <label for="fr_goal" id="fund_goal_container">[[?xx::x[[C1:fr_your_fundraising_goal_field]]x::[[M0:friendraiser:your_fundraising_goal_field]]::[[C1:fr_your_fundraising_goal_field]]]]</label>
            </div>
            <input type="text" class="form-control" name="fr_goal" id="participationOptions-fr_goal" ng-model="participationOptions.fr_goal" placeholder="[[?xx::x[[A18]]x::::[[?xx::x[[C1:fr_suggested_goal_field]]x::[[M0:friendraiser:suggested_goal_field]]::[[C1:fr_suggested_goal_field]]]] [[A18]]]]" maxlength="15">
          ::]]
          <div class="ym-registration-form-footer">
            <div class="clearfix">
              [[?xTx::x[[A45]]x::::
                <div class="pull-right">
                  <button type="[[?xTx::x[[A12]]x::button::submit]]" class="btn btn-primary">
                    <span>[[M1:friendraiser:join_team_step_next_button]]</span> <i class="fa fa-chevron-right"></i>
                  </button>
                </div>
              ]]
              [[?xxnullx::x[[A21]]x::
                [[?xTx::x[[A47]]x::::
                  <div class="pull-left">
                    <button type="[[?xTx::x[[A12]]x::button::submit]]" class="btn btn-toggle" ng-click="previousStep()">
                      <i class="fa fa-chevron-left"></i> <span>[[M1:friendraiser:join_team_step_prev_button]]</span>
                    </button>
                  </div>
                ]]
              ::]]
            </div>
          </div>
        </div>
        [[S66:util/SpamControlComponentResponsive.tpt]]
      </form>
    </div>
  </div>
  <div class="hidden">
    <form class="js--default-ptype-form" action="[[A1]]" method="POST">
      <input type="hidden" name="fr_id" value="[[A2]]">
      <input type="hidden" name="pg" value="[[A7]]">
      <input type="hidden" name="extra_person" value="[[A21]]">
      <input type="hidden" name="company_id" value="[[A42]]">
      <input type="text" name="fr_part_radio" ng-model="participationOptions.fr_part_radio">
      <input type="text" name="donation_level_form_[[A2]]" ng-model="participationOptions.ng_donation_level">
      <input type="hidden" name="donation_level_custom_idsubmitted" value="true">
      <input type="hidden" name="donation_level_custom_id_donation_levels_submit" value="true">
      <input type="text" name="fr_goal" ng-model="participationOptions.fr_goal">
      <input type="hidden" name="next_step.x" value="[[M1:friendraiser:join_team_step_next_button]]" ng-if="!ng_go_back">
      <input type="hidden" name="previous_step.x" value="[[M1:friendraiser:join_team_step_prev_button]]" ng-if="ng_go_back">
    </form>
  </div>
  [[?xTx::x[[A24]]x::
    <div id="edit_pt_title_container" class="EditContainer" style="display: none;">
      [[C:ajax-custompage-edit-component:edit_pt_title_container]]
    </div>
    <div id="edit_pt_instruction_container" class="EditContainer" style="display: none;">
      [[C:ajax-custompage-edit-component:edit_pt_instruction_container]]
    </div>
    <div id="edit_addl_gift_container" class="EditContainer" style="display: none;">
      [[C:ajax-custompage-edit-component:edit_addl_gift_container]]
    </div>
    <div id="edit_fund_goal_container" class="EditContainer" style="display: none;">
      [[C:ajax-custompage-edit-component:edit_fund_goal_container]]
    </div>
    <div id="edit_goal_hdr_container" class="EditContainer" style="display: none;">
      [[C:ajax-custompage-edit-component:edit_goal_hdr_container]]
    </div>
    <div id="edit_part_type_additional_gift_section_header" class="EditContainer" style="display: none;">
      [[C:ajax-custompage-edit-component:edit_part_type_additional_gift_section_header]]
    </div>
    <div id="edit_fr_html_container" class="EditContainer">
      [[C:ajax-custompage-edit-component:edit_fr_html_container]]
    </div>
    <input id="edit_btn_title" type="hidden" value="[[M0:friendraiser_emgmt:preview_edit_link]]">
    <script>
      hide_element('edit_fr_html_container');
      Y.use('emc-reg-editor', function(Y) {
        jQuery(function() {
          jQuery('.ym-registration-page-container').manageEMCEditable({
            windowTitle: '[[T6:[[M0:friendraiser_emgmt:editor_window_title]]]]'
          });
        });
      });
    </script>
  ::]]
</div>