<form action="{{teamraiserAPIPath}}" method="POST" enctype="multipart/form-data" target="edit-personal-photo-1-shim">
  <input type="hidden" name="v" value="1.0">
  <input type="hidden" name="api_key" value="{{apiKey}}">
  <input type="hidden" name="method" value="uploadPersonalPhoto">
  <input type="hidden" name="fr_id" value="{{frId}}">
  <input type="hidden" name="graphic_upload_upload" value="true">
  <input type="hidden" name="success_redirect" value="{{nonsecurePath + '../aha-luminate/dist/heart-walk/html/page-edit/frame/edit-photo.html?photo_type=personal&amp;success=true&amp;photo_number=1&amp;error_code=${uploadPersonalPhotoResponse/code}&amp;error_message=${uploadPersonalPhotoResponse/message}'}}">
  <input type="hidden" name="error_redirect" value="{{nonsecurePath + '../aha-luminate/dist/heart-walk/html/page-edit/frame/edit-photo.html?photo_type=personal&amp;photo_number=1&amp;error_code=${errorResponse/code}&amp;error_message=${errorResponse/message}'}}">
  <input type="hidden" name="auth" value="{{authToken}}">
  <input type="hidden" name="JSESSIONID" value="{{sessionCookie}}">
  <div class="modal-header">
    <h2 class="modal-title">
      Edit Photo
    </h2>
  </div>
  <div class="modal-body">
    <div uib-alert class="alert-danger" ng-if="updatePersonalPhoto1Error.message">
      {{updatePersonalPhoto1Error.message}}
    </div>
    <div uib-alert class="alert-warning">
      Images must be .jpg files. Uploaded images will be automatically resized to fit. For best results, resize your image to 970x370 before uploading. The maximum acceptable file size is 8Mb and dimension is 16 Megapixels.
    </div>
    <div class="form-group">
      <label for="personal-photo-1-file">
        Select an image to upload:
      </label>
      <input type="file" name="graphic_upload_file" id="personal-photo-1-file">
    </div>
    <div class="form-group" ng-if="!personalPhoto1IsDefault">
      or <a href="#" ng-click="deletePersonalPhoto1($event)">revert to default photo</a>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-primary-inverted" ng-click="cancelEditPersonalPhoto1()">
          Cancel
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </div>
</form>
<div class="hidden" hidden aria-hidden="true">
  <form class="js--delete-personal-photo-1-form" action="{{teamraiserAPIPath}}" method="POST" enctype="multipart/form-data" target="edit-personal-photo-1-shim">
    <input type="hidden" name="v" value="1.0">
    <input type="hidden" name="api_key" value="{{apiKey}}">
    <input type="hidden" name="method" value="removePersonalPhoto">
    <input type="hidden" name="fr_id" value="{{frId}}">
    <input type="hidden" name="graphic_upload_delete" value="true">
    <input type="hidden" name="success_redirect" value="{{nonsecurePath + '../aha-luminate/dist/heart-walk/html/page-edit/frame/edit-photo.html?photo_type=personal&amp;success=true&amp;photo_number=2&amp;error_code=${removePersonalPhotoResponse/code}&amp;error_message=${removePersonalPhotoResponse/message}'}}">
    <input type="hidden" name="error_redirect" value="{{nonsecurePath + '../aha-luminate/dist/heart-walk/html/page-edit/frame/edit-photo.html?photo_type=personal&amp;photo_number=2&amp;error_code=${errorResponse/code}&amp;error_message=${errorResponse/message}'}}">
    <input type="hidden" name="auth" value="{{authToken}}">
    <input type="hidden" name="JSESSIONID" value="{{sessionCookie}}">
  </form>
  <iframe name="edit-personal-photo-1-shim" id="edit-personal-photo-1-shim" src="../aha-luminate/dist/heart-walk/html/page-edit/frame/edit-photo.html"></iframe>
</div>