[[?COMMENT::::::
   NOT PART OF DEPLOYMENT PROCESS. MUST BE MANUALLY COPIED TO PAGEBUILDER.
]]

[[?[[S8]]::/admin/::
  <!-- on admin-facing page -->
::
  <!-- on user-facing page -->
  [[?xTx::x[[A26]]x::
    <!-- manage mode -->
    <script>
      var myHtmlEditor = 'Gfr_wysiwygtextarea';
    </script>
    <script src="../js/ajax_mce.js"></script>
  ::]]
  [[?[[A13]]::new::
    <!-- new team -->
    [[?xx-1x::x[[A36]]x::
      <!-- company_id is null -->
      <style>
        body {
          display: none;
        }
      </style>
      <script>
        window.location = 'https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]TR?fr_id=[[A2]]';
      </script>
    ::
      <!-- company_id is not null -->
      <div class="ym-registration-page-container ym-registration-page-container--tfind" ng-controller="RegistrationTfindCtrl" ng-init="frTmOpt = 'new'; newTeamInfo.companyId = '[[T6:[[A36]]]]'; newTeamInfo.fr_team_name = '[[T6:[[A16]]]]'; newTeamInfo.fr_team_goal = '[[T6:[[A17]]]]'">
        <div class="ym-registration-page-header">
          <h2 class="h4">
            Start a Team
          </h2>
          [[?xyz.xnullynullz.xynullz.xnullyz::x[[A4]]y[[A6]]z::::
            <div class="alert alert-danger">
              [[?xy.xnully::x[[A4]]y::
                [[M0:friendraiser:generic_error]]
              ::
                [[A4]]
              ]]
              [[?
                [[?[[A6]]::error_team_name_required::T::]]
                [[?[[A6]]::error_team_name_not_unique::T::]]
                [[?[[A6]]::error_invalid_team_goal::T::]]
                [[?[[A6]]::error_invalid_fund_goal::T::]]
                [[?[[A6]]::error_bad_goal::T::]]
              ::T::
                <ul>
                  [[?[[A6]]::error_team_name_required::
                    <li>
                      [[M0:friendraiser:error_team_name_required]]
                    </li>
                  ::]]
                  [[?[[A6]]::error_team_name_not_unique::
                    <li>
                      [[M0:friendraiser:error_team_name_not_unique]]
                    </li>
                  ::]]
                  [[?[[A6]]::error_invalid_team_goal::
                    <li>
                      [[M0:friendraiser:error_invalid_team_goal]]
                    </li>
                  ::]]
                  [[?[[A6]]::error_invalid_fund_goal::
                    <li>
                      [[M0:personalfundraising:error_invalid_team_goal]]
                    </li>
                  ::]]
                  [[?[[A6]]::error_bad_goal::
                    <li>
                      [[M0:friendraiser:error_bad_goal]]
                    </li>
                  ::]]
                </ul>
              ::]]
            </div>
          ]]
        </div>
        <form class="ym-registration-tfind-create-form" name="newTeamForm" method="POST" novalidate ng-submit="submitTfindCreate()">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group [[?[[?[[A6]]::error_team_name_required::T::]][[?[[A6]]::error_team_name_not_unique::T::]]::T::has-error::]]" ng-class="{'has-error': newTeamForm.$submitted && newTeamForm.fr_team_name.$invalid}">
                <label class="control-label" for="newTeamInfo-fr_team_name">
                  [[?xx::x[[C1:fr_team_field]]x::
                    [[M0:friendraiser:team_field]]
                  ::
                    [[C1:fr_team_field]]
                  ]]
                </label>
                <input type="text" class="form-control input-lg" name="fr_team_name" id="newTeamInfo-fr_team_name" ng-model="newTeamInfo.fr_team_name" maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group [[?[[?[[A6]]::error_invalid_team_goal::T::]][[?[[A6]]::error_invalid_fund_goal::T::]][[?[[A6]]::error_bad_goal::T::]]::T::has-error::]]" ng-class="{'has-error': newTeamForm.$submitted && newTeamForm.fr_team_goal.$invalid}">
                <label class="control-label" for="newTeamInfo-fr_team_goal">
                  [[?xx::x[[C1:fr_team_goal_field]]x::
                    [[M0:friendraiser:team_goal_field]]
                  ::
                    [[C1:fr_team_goal_field]]
                  ]]
                </label>
                <input type="text" class="form-control input-lg" name="fr_team_goal" id="newTeamInfo-fr_team_goal" ng-model="newTeamInfo.fr_team_goal" placeholder="[[?xx::x[[A39]]x::::[[M0:friendraiser:suggested_team_goal_field]] [[A39]]]]" maxlength="17" required>
              </div>
            </div>
          </div>
          <div class="ym-registration-form-footer">
            <div class="ym-registration-form-footer-btns">
              <div class="clearfix">
                <div class="visible-xs">
                  <button type="[[?xTx::x[[A12]]x::button::submit]]" class="btn btn-primary">
                    <strong>Next</strong> <i class="fa fa-chevron-right"></i>
                  </button>
                </div>
                <div class="pull-right hidden-xs">
                  <button type="[[?xTx::x[[A12]]x::button::submit]]" class="btn btn-primary">
                    <strong>Next</strong> <i class="fa fa-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          [[S66:util/SpamControlComponentResponsive.tpt]]
        </form>
        <div class="text-center">
          <p>
            Prefer not to start a team?
          </p>
          <a class="btn btn-primary" href="TRR?fr_id=[[A2]]&amp;pg=tfind&amp;fr_tm_opt=existing&amp;skip_login_page=true&amp;s_frTJoin=&amp;company_id=[[S80:frCompanyId]]&amp;s_frCompanyId=[[S80:frCompanyId]]">
            <strong>Join a Team</strong>
          </a>
        </div>
        <div class="hidden" hidden aria-hidden="true">
          <form class="js--default-tfind-create-form" action="[[A1]]" method="POST">
            <input type="hidden" name="fr_id" value="[[A2]]">
            <input type="hidden" name="pg" value="[[A7]]">
            <input type="hidden" name="fr_cstm_tm" value="t">
            <input type="hidden" name="fr_tm_opt" value="[[A13]]">
            <input type="hidden" name="company_id" value="[[A36]]">
            <input type="text" name="fr_team_name" ng-model="newTeamInfo.fr_team_name">
            <input type="text" name="fr_team_goal" ng-model="newTeamInfo.fr_team_goal">
            <input type="hidden" name="fr_co_list" value="[[S80:frCompanyId]]">
            <input type="hidden" name="s_frCompanyId" value="[[S80:frCompanyId]]">
            <input type="hidden" name="s_frTJoin" value="">
            <input type="hidden" name="next_step.x" value="[[M1:friendraiser:join_team_step_next_button]]">
          </form>
        </form>
      </div>
    ]]
  ::
    <!-- existing team -->
    [[?xx-1x::x[[A36]]x::
      <!-- company_id is null -->
      <style>
        body {
          display: none;
        }
      </style>
      <script>
        window.location = 'https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]TR?fr_id=[[A2]]';
      </script>
    ::
      <!-- company_id is not null -->
      <div class="ym-registration-page-container ym-registration-page-container--tfind" ng-controller="RegistrationTfindCtrl" ng-init="frTmOpt = 'existing'; teamSearch.companyId = '[[T6:[[A36]]]]'; teamSearch.ng_team_name = '[[T6:[[A16]]]]'; teamSearch.teamName = '[[T6:[[A16]]]]'">
        <div ng-if="teamList.teams" ng-cloak>
          <div class="ym-registration-page-header">
            <div class="manageable-editor" data-container="edit_title_container">
              <h2 class="h4" id="title_container">
                [[C1:fr_team_title]]
              </h2>
            </div>
            [[?xyz.xnullynullz.xynullz.xnullyz::x[[A4]]y[[A6]]z::::
              <div class="alert alert-danger">
                [[?xy.xnully::x[[A4]]y::
                  [[M0:friendraiser:generic_error]]
                ::
                  [[A4]]
                ]]
              </div>
            ]]
            <p class="ym-section-header">
              Find your team in the list below or search:
            </p>
          </div>
          <form class="form-inline ym-registration-tfind-form" name="teamSearchForm" method="POST" novalidate ng-submit="submitTfindSearch()">
            <div class="form-group">
              <label class="sr-only" for="teamSearch-ng_team_name">
                [[?xx::x[[C1:fr_team_field]]x::
                  [[M0:friendraiser:team_field]]
                ::
                  [[C1:fr_team_field]]
                ]]
              </label>
              <input type="text" class="form-control input-lg" name="ng_team_name" id="teamSearch-ng_team_name" ng-model="teamSearch.ng_team_name">
            </div>
            <button type="submit" class="btn btn-md btn-secondary">
              <strong>[[C1:fr_team_search_button]]</strong>
            </button>
          </form>
          <div class="ym-registration-tfind-results">
            <div class="ym-registration-tfind-no-results" ng-if="teamList.teams.length == 0" ng-cloak>
              No teams to display.
            </div>
            <div ng-if="teamList.teams.length > 0" ng-cloak>
              <div class="ym-registration-tfind-no-results" ng-if="(teamList.teams|filter:{name: teamSearch.teamName}).length == 0">
                No teams found matching "<span ng-bind-html="teamSearch.teamName"></span>".
              </div>
              <div class="table-responsive">
                <div class="table table-striped" ng-if="(teamList.teams|filter:{name: teamSearch.teamName}).length > 0">
                  <div class="table-body">
                    <div class="table-row" ng-repeat="team in teamList.teams|filter:{name: teamSearch.teamName}">
                      <div class="table-cell">
                        <a ng-href="TRR?fr_id={{team.EventId}}&amp;pg=tfind&amp;fr_tm_opt=existing&amp;fr_tjoin={{team.id}}&amp;s_frTJoin={{team.id}}&amp;s_frCompanyId={{team.companyId}}&amp;skip_login_page=true"><span ng-bind-html="team.name"></span></a>
                      </div>
                      <div class="table-cell table-cell--righted">
                        <a class="btn btn-md btn-primary" ng-href="TRR?fr_id={{team.EventId}}&amp;pg=tfind&amp;fr_tm_opt=existing&amp;fr_tjoin={{team.id}}&amp;s_frTJoin={{team.id}}&amp;s_frCompanyId={{team.companyId}}&amp;skip_login_page=true">
                          <strong>Join Team</strong> <i class="fa fa-chevron-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    ]]
  ]]
  [[?xTx::x[[A26]]x::
    <!-- manage mode -->
    <div id="edit_title_container" class="EditContainer" style="display: none;">
      [[C:ajax-custompage-edit-component:edit_title_container]]
    </div>
    <input id="edit_btn_title" type="hidden" value="[[M0:friendraiser_emgmt:preview_edit_link]]">
    <script>
      hide_element('edit_fr_wysiwyg_container');
      Y.use('emc-reg-editor', function(Y) {
        jQuery(function() {
          jQuery('.ym-registration-page-container').manageEMCEditable({
            windowTitle: '[[T6:[[M0:friendraiser_emgmt:editor_window_title]]]]'
          });
        });
      });
    </script>
  ::]]
]]