[[?COMMENT::::::
   NOT PART OF DEPLOYMENT PROCESS. MUST BE MANUALLY COPIED TO PAGEBUILDER.
]]

[[?xTx::x[[A24]]x::
  <!-- manage mode -->
  <script>
    var myHtmlEditor = 'Gfr_htmltextarea';
  </script>
  <script src="../js/ajax_mce.js"></script>
::]]
<div class="ym-registration-page-container ym-registration-page-container--reg" ng-controller="RegistrationRegCtrl">
  <div ng-show="registrationCustomQuestions" ng-cloak>
    <div class="ym-registration-page-header">
      <div class="manageable-content" data-container="edit_title_container">
        <h2 class="h4" id="title_container">
          [[C1:fr_reg_title]]
        </h2>
      </div>
      [[?xxnullx::x[[A5]]x::::
        <div class="alert alert-success" role="alert">
          [[A5]]
        </div>
      ]]
      <div class="alert alert-danger" role="alert" ng-class="{'hidden': [[?xyz.xnullynullz.xynullz.xnullyz::x[[A4]]y[[A6]]z::true::]] && (!registrationInfoErrors || !registrationInfoErrors.errors || registrationInfoErrors.errors.length == 0)}" ng-cloak>
        [[?xy.xnully::x[[A4]]y::
          [[M0:friendraiser:generic_error]]
        ::
          [[A4]]
        ]]
        <ul ng-if="registrationInfoErrors.errors.length > 0" ng-cloak>
          <li ng-repeat="registrationInfoError in registrationInfoErrors.errors">
            <span ng-bind-html="registrationInfoError.text"></span>
          </li>
        </ul>
      </div>
    </div>
    <form class="ym-registration-reg-form" method="POST" novalidate ng-submit="submitReg()">
      <div class="hidden js--registration-reg-contact-info">
        [[A13]]
      </div>
      <div class="manageable-content" data-container="edit_contact_info_hdr_container">
        <p class="ym-section-header" id="contact_info_hdr_container">
          [[C1:cons_info_contact_info_header]]
        </p>
      </div>
      <div class="row" ng-if="registrationQuestions.cons_first_name || registrationQuestions.cons_last_name" ng-cloak>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': registrationQuestions.cons_first_name.hasError}" ng-if="registrationQuestions.cons_first_name" ng-cloak>
            <label class="control-label" for="registrationInfo-cons_first_name">
              Student First Name:
            </label>
            <input type="text" class="form-control input-lg" name="ng_cons_first_name" id="registrationInfo-cons_first_name" ng-model="registrationInfo.cons_first_name" maxlength="{{registrationQuestions.cons_first_name.maxLength}}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': registrationQuestions.cons_last_name.hasError}" ng-if="registrationQuestions.cons_last_name" ng-cloak>
            <label class="control-label" for="registrationInfo-cons_last_name">
              Student Last Name:
            </label>
            <input type="text" class="form-control input-lg" name="ng_cons_last_name" id="registrationInfo-cons_last_name" ng-model="registrationInfo.cons_last_name" maxlength="{{registrationQuestions.cons_last_name.maxLength}}">
          </div>
        </div>
      </div>
      <div class="ym-registration-row--bottomed" ng-if="registrationQuestions.cons_email" ng-cloak>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-class="{'has-error': registrationQuestions.cons_email.hasError}" ng-if="registrationQuestions.cons_email" ng-cloak>
              <label class="control-label" for="registrationInfo-cons_email">
                Email Address:
              </label>
              <input type="email" class="form-control input-lg" name="ng_cons_email" id="registrationInfo-cons_email" ng-model="registrationInfo.cons_email" maxlength="{{registrationQuestions.cons_email.maxLength}}">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" ng-class="{'has-error': registrationQuestions[registrationCustomQuestions.ym_high_school_email_type].hasError}" ng-if="registrationCustomQuestions.ym_high_school_email_type" ng-cloak>
              <label class="control-label" for="registrationInfo-{{registrationCustomQuestions.ym_high_school_email_type}}">
                <span ng-bind-html="registrationQuestions[registrationCustomQuestions.ym_high_school_email_type].label"></span>
              </label>
              <select class="form-control input-lg" name="ng_{{registrationCustomQuestions.ym_high_school_email_type}}" id="registrationInfo-{{registrationCustomQuestions.ym_high_school_email_type}}" ng-model="registrationInfo[registrationCustomQuestions.ym_high_school_email_type]">
                <option ng-repeat="questionOption in registrationQuestions[registrationCustomQuestions.ym_high_school_email_type].options" value="{{questionOption.value}}">{{questionOption.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden js--registration-reg-opt-ins">
        [[?xxnullx::x[[A23]]x::::
          [[A23]]
        ]]
        [[?xxnullx::x[[A20]]x::::
          [[?xxnullxBASELINEx::x[[S0:TPV_FR_CSTM_REG_OPTIN]]x::
            <input type="checkbox" name="fr_email_opt_in" id="fr_email_opt_in" [[?[[A20]]::T::checked::]]>
          :: 
            [[?xOPTINx::x[[S0:TPV_FR_CSTM_REG_OPTIN]]x:: 
              <input type="hidden" name="fr_email_opt_in" id="fr_email_opt_in" value="on">
            ::]]
          ]]
        ]]
      </div>
      <div class="checkbox" custom-checkbox ng-class="{'checked': registrationInfo.fr_email_opt_in}" ng-if="registrationQuestions.fr_email_opt_in" ng-cloak>
        <label for="registrationInfo-fr_email_opt_in">
          <input type="checkbox" name="ng_fr_email_opt_in" id="registrationInfo-fr_email_opt_in" ng-model="registrationInfo.fr_email_opt_in"> 
          <span class="manageable-content" data-container="edit_opt_in_container">
            <span id="opt_in_label">
              [[?xx::x[[C1:fr_gift_notice_opt_in_checkbox]]x::
                [[M0:friendraiser:gift_notice_opt_in_checkbox]]
              ::
                [[C1:fr_gift_notice_opt_in_checkbox]]
              ]]
            </span>
          </span>
        </label>
      </div>
      <div class="checkbox" custom-checkbox ng-class="{'checked': registrationInfo.cons_email_opt_in}" ng-if="registrationQuestions.cons_email_opt_in" ng-cloak>
        <label for="registrationInfo-cons_email_opt_in">
          <input type="checkbox" name="ng_cons_email_opt_in" id="registrationInfo-cons_email_opt_in" ng-model="registrationInfo.cons_email_opt_in"> 
          <span ng-bind-html="registrationQuestions.cons_email_opt_in.label"></span>
        </label>
      </div>
      <div class="ym-registration-row--bottomed" ng-cloak>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-class="{'has-error': registrationQuestions[registrationCustomQuestions.ym_high_school_grade].hasError}" ng-if="registrationCustomQuestions.ym_high_school_grade" ng-cloak>
              <label class="control-label" for="registrationInfo-{{registrationCustomQuestions.ym_high_school_grade}}">
                <span ng-bind-html="registrationQuestions[registrationCustomQuestions.ym_high_school_grade].label"></span>
              </label>
              <select class="form-control input-lg" name="ng_{{registrationCustomQuestions.ym_high_school_grade}}" id="registrationInfo-{{registrationCustomQuestions.ym_high_school_grade}}" ng-model="registrationInfo[registrationCustomQuestions.ym_high_school_grade]">
                <option ng-repeat="questionOption in registrationQuestions[registrationCustomQuestions.ym_high_school_grade].options" value="{{questionOption.value}}">{{questionOption.text}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" ng-class="{'has-error': registrationQuestions[registrationCustomQuestions.ym_high_school_teacher_name].hasError}" ng-if="registrationCustomQuestions.ym_high_school_teacher_name" ng-cloak>
              <label class="control-label" for="registrationInfo-{{registrationCustomQuestions.ym_high_school_teacher_name}}">
                <span ng-bind-html="registrationQuestions[registrationCustomQuestions.ym_high_school_teacher_name].label"></span>
              </label>
              <input type="text" class="form-control input-lg" name="ng_{{registrationCustomQuestions.ym_high_school_teacher_name}}" id="registrationInfo-{{registrationCustomQuestions.ym_high_school_teacher_name}}" ng-model="registrationInfo[registrationCustomQuestions.ym_high_school_teacher_name]" maxlength="{{registrationQuestions[registrationCustomQuestions.ym_high_school_teacher_name].maxLength}}">
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="registrationCustomQuestions.ym_high_school_school" ng-cloak>
        <div class="col-xs-12">
          <div class="form-group" ng-class="{'has-error': registrationQuestions[registrationCustomQuestions.ym_high_school_school].hasError}" ng-if="registrationCustomQuestions.ym_high_school_school" ng-cloak>
            <label class="control-label" for="registrationInfo-{{registrationCustomQuestions.ym_high_school_school}}">
              <span ng-bind-html="registrationQuestions[registrationCustomQuestions.ym_high_school_school].label"></span>
            </label>
            <input type="text" class="form-control input-lg" name="ng_{{registrationCustomQuestions.ym_high_school_school}}" id="registrationInfo-{{registrationCustomQuestions.ym_high_school_school}}" ng-model="registrationInfo[registrationCustomQuestions.ym_high_school_school]" maxlength="{{registrationQuestions[registrationCustomQuestions.ym_high_school_school].maxLength}}">
          </div>
        </div>
      </div>
      <div class="row" ng-if="registrationCustomQuestions.ym_high_school_school_city" ng-cloak>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': registrationQuestions[registrationCustomQuestions.ym_high_school_school_city].hasError}" ng-if="registrationCustomQuestions.ym_high_school_school_city" ng-cloak>
            <label class="control-label" for="registrationInfo-{{registrationCustomQuestions.ym_high_school_school_city}}">
              <span ng-bind-html="registrationQuestions[registrationCustomQuestions.ym_high_school_school_city].label"></span>
            </label>
            <input type="text" class="form-control input-lg" name="ng_{{registrationCustomQuestions.ym_high_school_school_city}}" id="registrationInfo-{{registrationCustomQuestions.ym_high_school_school_city}}" ng-model="registrationInfo[registrationCustomQuestions.ym_high_school_school_city]" maxlength="{{registrationQuestions[registrationCustomQuestions.ym_high_school_school_city].maxLength}}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': registrationQuestions[registrationCustomQuestions.ym_high_school_school_state].hasError}" ng-if="registrationCustomQuestions.ym_high_school_school_state" ng-cloak>
            <label class="control-label" for="registrationInfo-{{registrationCustomQuestions.ym_high_school_school_state}}">
              <span ng-bind-html="registrationQuestions[registrationCustomQuestions.ym_high_school_school_state].label"></span>
            </label>
            <select class="form-control input-lg" name="ng_{{registrationCustomQuestions.ym_high_school_school_state}}" id="registrationInfo-{{registrationCustomQuestions.ym_high_school_school_state}}" ng-model="registrationInfo[registrationCustomQuestions.ym_high_school_school_state]">
              <option ng-repeat="questionOption in registrationQuestions[registrationCustomQuestions.ym_high_school_school_state].options" value="{{questionOption.value}}">{{questionOption.text}}</option>
            </select>
          </div>
        </div>
      </div>
      [[?xx::x[[A16]]x::::
        <div class="hidden js--registration-reg-login-info">
          [[?xxnullx::x[[A16]]x::::
            [[A16]]
          ]]
        </div>
        <div ng-if="registrationQuestions.cons_user_name || registrationQuestions.cons_password || registrationQuestions.cons_rep_password" ng-cloak>
          <hr class="ym-section-divider">
          <div class="manageable-content" data-container="edit_password_hdr_container">
            <p class="ym-section-header" id="password_hdr_container">
              [[C1:fr_password_hdr]]
            </p>
          </div>
          <div class="row" ng-if="registrationQuestions.cons_user_name" ng-cloak>
            <div class="col-xs-12">
              <div class="form-group" ng-class="{'has-error': registrationQuestions.cons_user_name.hasError}">
                <label class="control-label" for="registrationInfo-cons_user_name">
                  <span ng-bind-html="registrationQuestions.cons_user_name.label"></span>
                </label>
                <input type="text" class="form-control input-lg" name="ng_cons_user_name" id="registrationInfo-cons_user_name" ng-model="registrationInfo.cons_user_name" maxlength="{{registrationQuestions.cons_user_name.maxLength}}">
                <div class="help-block">
                  User Name may contain letters, digits, and special characters.
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-if="registrationQuestions.cons_password || registrationQuestions.cons_rep_password" ng-cloak>
            <div class="col-sm-6">
              <div class="form-group" ng-class="{'has-error': registrationQuestions.cons_password.hasError}" ng-if="registrationQuestions.cons_password" ng-cloak>
                <label class="control-label" for="registrationInfo-cons_password">
                  <span ng-bind-html="registrationQuestions.cons_password.label"></span>
                </label>
                <input type="password" class="form-control input-lg" name="ng_cons_password" id="registrationInfo-cons_password" ng-model="registrationInfo.cons_password" maxlength="{{registrationQuestions.cons_password.maxLength}}">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" ng-class="{'has-error': registrationQuestions.cons_rep_password.hasError}" ng-if="registrationQuestions.cons_rep_password" ng-cloak>
                <label class="control-label" for="registrationInfo-cons_rep_password">
                  <span ng-bind-html="registrationQuestions.cons_rep_password.label"></span>
                </label>
                <input type="password" class="form-control input-lg" name="ng_cons_rep_password" id="registrationInfo-cons_rep_password" ng-model="registrationInfo.cons_rep_password" maxlength="{{registrationQuestions.cons_rep_password.maxLength}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="help-block">
                Password must be 5-20 characters.  Password may contain letters, digits and special characters
              </div>
            </div>
          </div>
        </div>
      ]]
      [[?xTx::x[[A24]]x::
        <!-- manage mode -->
        <hr class="ym-section-divider">
        <div class="hidden js--registration-reg-additional-info">
          <div class="manageable-content" data-container="edit_questions_hdr_container">
            <p class="ym-section-header" id="questions_hdr_container">
              [[C1:fr_questions_hdr]]
            </p>
          </div>
        </div>
      ::
        [[?xxnullx::x[[A19]]x::::
          <div class="hidden js--registration-reg-additional-info">
            [[A19]]
          </div>
          [[?xtruex::x[[A29]]x::
            <div ng-if="registrationAdditionalQuestions" ng-cloak>
              <hr class="ym-section-divider">
              <div class="manageable-content" data-container="edit_questions_hdr_container">
                <p class="ym-section-header" id="questions_hdr_container">
                  [[C1:fr_questions_hdr]]
                </p>
              </div>
              <div ng-repeat="(key, value) in registrationAdditionalQuestions">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group" ng-class="{'has-error': registrationQuestions[key].hasError}">
                      <label class="control-label" for="registrationInfo-{{key}}">
                        <span ng-bind-html="registrationQuestions[key].label"></span>
                      </label>
                      <div ng-if="registrationQuestions[key].type != 'textarea' && registrationQuestions[key].type != 'select'">
                        <input type="text" class="form-control input-lg" name="ng_{{key}}" id="registrationInfo-{{key}}" ng-model="registrationInfo[key]" maxlength="{{registrationQuestions[key].maxLength}}">
                      </div>
                      <div ng-if="registrationQuestions[key].type == 'textarea'">
                        <textarea class="form-control" name="ng_{{key}}" id="registrationInfo-{{key}}" ng-model="registrationInfo[key]" maxlength="{{registrationQuestions[key].maxLength}}"></textarea>
                      </div>
                      <div ng-if="registrationQuestions[key].type == 'select'">
                        <select class="form-control input-lg" name="ng_{{key}}" id="registrationInfo-{{key}}" ng-model="registrationInfo[key]">
                          <option ng-repeat="questionOption in registrationQuestions[key].options" value="{{questionOption.value}}">{{questionOption.text}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ::]]
        ]]
      ]]
      <div class="ym-registration-reg-waiver" ng-if="participationType.waiver.content" ng-cloak>
        <p class="ym-section-header" id="questions_hdr_container">
          Waiver Agreement
        </p>
        <div class="form-group">
          <label class="control-label">
            Do you agree to the waiver?
          </label>
          <div class="form-control">
            <div ng-bind-html="participationType.waiver.content"></div>
          </div>
        </div>
        <div class="ym-registration-reg-waiver-btns">
          <div class="clearfix">
            <div class="pull-left">
              <button type="button" class="btn btn-toggle" ng-class="{'active': acceptWaiver == 'yes'}" ng-click="toggleAcceptWaiver('yes')">
                Yes, I agree
              </button>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-toggle" ng-class="{'active': acceptWaiver == 'no'}" ng-click="toggleAcceptWaiver('no')">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="ym-registration-form-footer">
        <div class="ym-registration-form-footer-btns">
          <div class="clearfix">
            <div class="pull-right">
              <button type="[[?xTx::x[[A12]]x::button::submit]]" class="btn btn-primary">
                <strong>Next</strong> <i class="fa fa-chevron-right"></i>
              </button>
            </div>
            <div class="pull-left">
              <button type="[[?xTx::x[[A12]]x::button::submit]]" class="btn btn-toggle" ng-click="previousStep()">
                <i class="fa fa-chevron-left"></i> <strong>Previous</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
      [[S66:util/SpamControlComponentResponsive.tpt]]
    </form>
  </div>
  <div class="hidden" hidden aria-hidden="true">
    <form class="js--default-reg-form" action="[[A1]]" method="POST">
      <input type="hidden" name="fr_id" value="[[A2]]">
      <input type="hidden" name="pg" value="[[A7]]">
      <input type="hidden" name="cons_email_format" value="1">
      <div ng-repeat="(key, value) in registrationHiddenFields">
        <input type="hidden" name="{{key}}" value="{{value}}">
      </div>
      <div ng-repeat="(key, value) in registrationInfo">
        <input type="hidden" name="{{key}}" value="{{value}}">
      </div>
      <input type="hidden" name="s_frCompanyId" value="[[S80:frCompanyId]]">
      <input type="hidden" name="s_frTJoin" value="[[S80:frTJoin]]">
      <input type="hidden" name="next_step.x" value="[[M1:friendraiser:join_team_step_next_button]]" ng-if="!ng_go_back">
      <input type="hidden" name="previous_step.x" value="[[M1:friendraiser:join_team_step_prev_button]]" ng-if="ng_go_back">
    </form>
  </div>
</div>
[[?xTx::x[[A24]]x::
  <!-- manage mode -->
  <div id="edit_title_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_title_container]]
  </div>
  <div id="edit_contact_hdr_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_contact_hdr_container]]
  </div>
  <div id="edit_contact_info_hdr_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_contact_info_hdr_container]]
  </div>
  <div id="edit_opt_in_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_opt_in_container]]
  </div>
  <div id="edit_password_hdr_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_password_hdr_container]]
  </div>
  <div id="edit_questions_hdr_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_questions_hdr_container]]
  </div>
  <div id="edit_privacy_options_hdr_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_privacy_options_hdr_container]]
  </div>
  <div id="edit_privacy_options_hint_container" class="EditContainer" style="display: none;">
    [[C:ajax-custompage-edit-component:edit_privacy_options_hint_container]]
  </div>
  <div id="edit_fr_html_container" class="EditContainer">
    [[C:ajax-custompage-edit-component:edit_fr_html_container]]
  </div>
  <input id="edit_btn_title" type="hidden" value="[[M0:friendraiser_emgmt:preview_edit_link]]">
  <script>
    hide_element('edit_fr_html_container');
    Y.use('emc-reg-editor', function(Y) {
      jQuery(function() {
        jQuery('.ym-registration-page-container').manageEMCEditable({
          windowTitle: '[[T6:[[M0:friendraiser_emgmt:editor_window_title]]]]'
        });
      });
    });
  </script>
::]]