[[?COMMENT::::::
   NOT PART OF DEPLOYMENT PROCESS. MUST BE MANUALLY COPIED TO PAGEBUILDER.
]]

[[?xTx::x[[A8]]x::
  <!-- manage mode -->
  <script>
    var myHtmlEditor = 'Gfr_htmltextarea';
  </script>
  <script src="../js/ajax_mce.js"></script>
::]]
<div class="ym-registration-page-container ym-registration-page-container--payment" ng-controller="RegistrationPaymentCtrl">
  <div ng-cloak>
    <div class="ym-registration-page-header">
      <div class="manageable-content" data-container="edit_title_container">
        <h2 class="h4" id="pt_title_container">
          [[C1:fr_reg_payment_page_title]]
        </h2>
      </div>
      [[?xxnullx::x[[A0]]x::::
        <div class="alert alert-danger" role="alert">
          [[A0]]
          <ul ng-if="paymentInfoErrors.errors.length > 0" ng-cloak>
            <li ng-repeat="paymentInfoError in paymentInfoErrors.errors">
              <span ng-bind-html="paymentInfoError.text"></span>
            </li>
          </ul>
        </div>
      ]]
    </div>
    <form class="ym-registration-payment-form" method="POST" novalidate ng-submit="submitPayment()">
      <div class="hidden js--registration-payment-billing-info">
        [[C:selectlist-title-element:billing_title]]
        [[C:text-element:billing_first_name]]
        [[C:text-element:billing_last_name]]
        [[C:selectlist-suffix-element:billing_suffix]]
        [[C:text-element:billing_addr_street1]]
        [[C:text-element:billing_addr_street2]]
        [[C:text-element:billing_addr_city]]
        [[C:selectlist-state-element:billing_addr_state]]
        [[C:text-element:billing_addr_zip]]
        [[C:selectlist-country-element:billing_addr_country]]
      </div>
      <div>
        <p class="ym-section-header">
          [[M0:friendraiser:reg_payment_page_billing_header]]
        </p>
      </div>
      <div class="row" ng-if="paymentQuestions.billing_first_namename || paymentQuestions.billing_last_namename" ng-cloak>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_first_namename.hasError}" ng-if="paymentQuestions.billing_first_namename" ng-cloak>
            <label class="control-label" for="paymentInfo-billing_first_namename">
              Billing First Name:
            </label>
            <input type="text" class="form-control input-lg" name="ng_billing_first_namename" id="paymentInfo-billing_first_namename" ng-model="paymentInfo.billing_first_namename" maxlength="{{paymentQuestions.billing_first_namename.maxLength}}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_last_namename.hasError}" ng-if="paymentQuestions.billing_last_namename" ng-cloak>
            <label class="control-label" for="billing_last_namename">
              Billing Last Name:
            </label>
            <input type="text" class="form-control input-lg" name="ng_billing_last_namename" id="paymentInfo-billing_last_namename" ng-model="paymentInfo.billing_last_namename" maxlength="{{paymentQuestions.billing_last_namename.maxLength}}">
          </div>
        </div>
      </div>
      <div class="row" ng-if="paymentQuestions.billing_addr_street1name" ng-cloak>
        <div class="col-xs-12">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_addr_street1name.hasError}">
            <label class="control-label" for="paymentInfo-billing_addr_street1name">
              Billing Address:
            </label>
            <input type="text" class="form-control input-lg" name="ng_billing_addr_street1name" id="paymentInfo-billing_addr_street1name" ng-model="paymentInfo.billing_addr_street1name" maxlength="{{paymentQuestions.billing_addr_street1name.maxLength}}">
          </div>
        </div>
      </div>
      <div class="row" ng-if="paymentQuestions.billing_addr_street2name" ng-cloak>
        <div class="col-xs-12">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_addr_street2name.hasError}">
            <label class="control-label" for="paymentInfo-billing_addr_street2name">
              Billing Address Line 2 (Optional):
            </label>
            <input type="text" class="form-control input-lg" name="ng_billing_addr_street2name" id="paymentInfo-billing_addr_street2name" ng-model="paymentInfo.billing_addr_street2name" maxlength="{{paymentQuestions.billing_addr_street2name.maxLength}}">
          </div>
        </div>
      </div>
      <div class="row" ng-if="paymentQuestions.billing_addr_cityname || paymentQuestions.billing_addr_state" ng-cloak>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_addr_cityname.hasError}" ng-if="paymentQuestions.billing_addr_cityname" ng-cloak>
            <label class="control-label" for="paymentInfo-billing_addr_cityname">
              City:
            </label>
            <input type="text" class="form-control input-lg" name="ng_billing_addr_cityname" id="paymentInfo-billing_addr_cityname" ng-model="paymentInfo.billing_addr_cityname" maxlength="{{paymentQuestions.billing_addr_cityname.maxLength}}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_addr_state.hasError}" ng-if="paymentQuestions.billing_addr_state" ng-cloak>
            <label class="control-label" for="paymentInfo-billing_addr_state">
              State/Province:
            </label>
            <select class="form-control input-lg" name="ng_billing_addr_state" id="paymentInfo-billing_addr_state" ng-model="paymentInfo.billing_addr_state">
              <option ng-repeat="questionOption in paymentQuestions.billing_addr_state.options" value="{{questionOption.value}}">{{questionOption.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" ng-if="paymentQuestions.billing_addr_zipname || paymentQuestions.billing_addr_country" ng-cloak>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_addr_zipname.hasError}" ng-if="paymentQuestions.billing_addr_zipname" ng-cloak>
            <label class="control-label" for="paymentInfo-billing_addr_zipname">
              ZIP/Postal Code:
            </label>
            <input type="text" class="form-control input-lg" name="ng_billing_addr_zipname" id="paymentInfo-billing_addr_zipname" ng-model="paymentInfo.billing_addr_zipname" maxlength="{{paymentQuestions.billing_addr_zipname.maxLength}}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': paymentQuestions.billing_addr_country.hasError}" ng-if="paymentQuestions.billing_addr_country" ng-cloak>
            <label class="control-label" for="paymentInfo-billing_addr_country">
              Country:
            </label>
            <select class="form-control input-lg" name="ng_billing_addr_country" id="paymentInfo-billing_addr_country" ng-model="paymentInfo.billing_addr_country">
              <option ng-repeat="questionOption in paymentQuestions.billing_addr_country.options" value="{{questionOption.value}}">{{questionOption.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <hr class="ym-section-divider">
      <div class="hidden js--registration-payment-account-info">
        [[?xx::x[[C:payment-type-element:responsive_payment_type]]x::
          [[C:payment-type-element:payment_type]]
        ::
          [[C:payment-type-element:responsive_payment_type]]
        ]]
      </div>
      <p class="ym-section-header">
        Your Payment Information:
      </p>
      <div class="row" ng-if="paymentQuestions.responsive_payment_typepay_typeradio" ng-cloak>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="ym-registration-payment-type">
            <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn" ng-class="{'btn-toggle': paymentInfo.responsive_payment_typepay_typeradio == 'paypal', 'btn-primary': paymentInfo.responsive_payment_typepay_typeradio == 'credit'}" ng-click="togglePaymentType('credit')">
                  <strong>Credit Card</strong>
                </button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn" ng-class="{'btn-toggle': paymentInfo.responsive_payment_typepay_typeradio == 'credit', 'btn-primary': paymentInfo.responsive_payment_typepay_typeradio == 'paypal'}" ng-click="togglePaymentType('paypal')">
                  <strong>PayPal</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="paymentInfo.responsive_payment_typepay_typeradio == 'credit'" ng-cloak>
        <div class="row" ng-if="paymentQuestions.responsive_payment_typecc_numbername" ng-cloak>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="form-group" ng-class="{'has-error': paymentQuestions.responsive_payment_typecc_numbername.hasError}">
              <label class="control-label" for="paymentInfo-responsive_payment_typecc_numbername">
                Credit Card Number:
              </label>
              <input type="text" class="form-control input-lg" name="ng_responsive_payment_typecc_numbername" id="paymentInfo-responsive_payment_typecc_numbername" ng-model="paymentInfo.responsive_payment_typecc_numbername" maxlength="{{paymentQuestions.responsive_payment_typecc_numbername.maxLength}}">
            </div>
          </div>
        </div>
        <div class="row" ng-if="paymentQuestions.responsive_payment_typecc_exp_date_MONTH || paymentQuestions.responsive_payment_typecc_exp_date_YEAR || paymentQuestions.responsive_payment_typecc_cvvname" ng-cloak>
          <div class="col-xs-6 col-sm-4">
            <div class="form-group" ng-class="{'has-error': paymentQuestions.responsive_payment_typecc_exp_date_MONTH.hasError}" ng-if="paymentQuestions.responsive_payment_typecc_exp_date_MONTH" ng-cloak>
              <label class="control-label" for="paymentInfo-responsive_payment_typecc_exp_date_MONTH">
                Expiration Month:
              </label>
              <select class="form-control input-lg" name="ng_responsive_payment_typecc_exp_date_MONTH" id="paymentInfo-responsive_payment_typecc_exp_date_MONTH" ng-model="paymentInfo.responsive_payment_typecc_exp_date_MONTH">
                <option ng-repeat="questionOption in paymentQuestions.responsive_payment_typecc_exp_date_MONTH.options" value="{{questionOption.value}}">{{questionOption.text}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div class="form-group" ng-class="{'has-error': paymentQuestions.responsive_payment_typecc_exp_date_YEAR.hasError}" ng-if="paymentQuestions.responsive_payment_typecc_exp_date_YEAR" ng-cloak>
              <label class="control-label" for="paymentInfo-responsive_payment_typecc_exp_date_YEAR">
                Expiration Year:
              </label>
              <select class="form-control input-lg" name="ng_responsive_payment_typecc_exp_date_YEAR" id="paymentInfo-responsive_payment_typecc_exp_date_YEAR" ng-model="paymentInfo.responsive_payment_typecc_exp_date_YEAR">
                <option ng-repeat="questionOption in paymentQuestions.responsive_payment_typecc_exp_date_YEAR.options" value="{{questionOption.value}}">{{questionOption.text}}</option>
              </select>
            </div>
          </div>
          <div class="hidden-xs col-sm-4">
            <div class="form-group" ng-class="{'has-error': paymentQuestions.responsive_payment_typecc_cvvname.hasError}" ng-if="paymentQuestions.responsive_payment_typecc_cvvname" ng-cloak>
              <label class="control-label" for="paymentInfo-responsive_payment_typecc_cvvname">
                CVV:
              </label>
              <input type="text" class="form-control input-lg" name="ng_responsive_payment_typecc_cvvname" id="paymentInfo-responsive_payment_typecc_cvvname" ng-model="paymentInfo.responsive_payment_typecc_cvvname" maxlength="{{paymentQuestions.responsive_payment_typecc_cvvname.maxLength}}">
            </div>
          </div>
        </div>
        <div class="row visible-xs" ng-if="paymentQuestions.responsive_payment_typecc_cvvname" ng-cloak>
          <div class="col-xs-6">
            <div class="form-group" ng-class="{'has-error': paymentQuestions.responsive_payment_typecc_cvvname.hasError}" ng-if="paymentQuestions.responsive_payment_typecc_cvvname" ng-cloak>
              <label class="control-label" for="paymentInfo-responsive_payment_typecc_cvvname">
                CVV:
              </label>
              <input type="text" class="form-control input-lg" name="ng_responsive_payment_typecc_cvvname" id="paymentInfo-responsive_payment_typecc_cvvname" ng-model="paymentInfo.responsive_payment_typecc_cvvname" maxlength="{{paymentQuestions.responsive_payment_typecc_cvvname.maxLength}}">
            </div>
          </div>
          <div class="col-xs-6"></div>
        </div>
      </div>
      <div class="ym-registration-form-footer">
        <div class="ym-registration-form-footer-btns">
          <div class="clearfix">
            <div class="pull-right">
              <button type="[[?xTx::x[[A7]]x::button::submit]]" class="btn btn-primary">
                <strong>Donate [[E130:"[[A9]]" ".00" "" replaceall]]</strong> <i class="fa fa-chevron-right"></i>
              </button>
            </div>
            <div class="pull-left">
              <button type="[[?xTx::x[[A7]]x::button::submit]]" class="btn btn-toggle" ng-click="previousStep()">
                <i class="fa fa-chevron-left"></i> <strong>Previous</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="hidden" hidden aria-hidden="true">
    <form class="js--default-payment-form" action="[[A1]]" method="POST">
      <input type="hidden" name="fr_id" value="[[A2]]">
      <input type="hidden" name="pg" value="[[A5]]">
      <div ng-repeat="(key, value) in paymentHiddenFields">
        <input type="hidden" name="{{key}}" value="{{value}}">
      </div>
      <div ng-repeat="(key, value) in paymentInfo">
        <input type="hidden" name="{{key}}" value="{{value}}">
      </div>
      <input type="hidden" name="s_frCompanyId" value="[[S80:frCompanyId]]">
      <input type="hidden" name="s_frTJoin" value="[[S80:frTJoin]]">
      <input type="hidden" name="btn_next" value="[[M0:friendraiser:reg_payment_page_next_button_label]]" ng-if="!ng_go_back">
      <input type="hidden" name="btn_prev" value="[[M0:friendraiser:reg_payment_page_prev_button_label]]" ng-if="ng_go_back">
    </form>
  </div>
</div>
<div id="external_payment_wait_dlg" class="yui-panel-container">
  <div class="hd">
    [[M0:friendraiser:reg_payment_page_lightbox_title]]
  </div>
  <div class="bd">
    <p>
      [[M0:friendraiser:reg_payment_page_lightbox_title]]
    </p>
  </div>
</div>
<script>
  preEnhance('external_payment_wait_dlg');
  Y.use('jquery-ui', 'boxinator', function(Y) {
    jQuery(function() {
      jQuery('body').addClass('yui-skin-convio');
      jQuery(document).bind('redirect-external', function() {
        var wait_dlg = new Y.Convio.widget.Boxinator('#external_payment_wait_dlg', Y.Convio.widget.Boxinator.USER_LIGHTBOX);
        postEnhance('external_payment_wait_dlg');
        wait_dlg.show();
      });
    });
  });
</script>