<ul class="list-unstyled list-group">
  <li class="list-group-item" ng-repeat="contact in contacts">
    <div class="clearfix">
      <div class="pull-left">
        <div class="checkbox" ng-class="{'checked': contact.selected}">
          <input type="checkbox" id="ym-contact-list--{{contact.id}}" value="{{contact.id}}" ng-checked="contact.selected" ng-click="toggleContact(contact)">
          <label for="ym-contact-list--{{contact.id}}">             
            <a ng-click="selectContact(contact)">
              <span ng-if="contact.firstName">
                {{contact.firstName}}{{contact.lastName ? ' ' + contact.lastName : ''}}{{contact.email ? ' &lt;' + contact.email + '&gt;' : ''}}
              </span>
              <span ng-if="!contact.firstName">
                &lt;{{contact.email}}&gt;
              </span>
            </a>
            <span ng-if="!selectContact">
              <span ng-if="contact.firstName">
                {{contact.firstName}}{{contact.lastName ? ' ' + contact.lastName : ''}}{{contact.email ? ' &lt;' + contact.email + '&gt;' : ''}}
              </span>
              <span ng-if="!contact.firstName">
                &lt;{{contact.email}}&gt;
              </span>
            </span>
          </label>
        </div>
      </div>
      <div class="pull-right">
        <button href="" ng-click="deleteContact(contact.id)">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
  </li>
</ul>