<div ng-controller="PersonalPageCtrl" ng-cloak>
  <div class="ym-page-section ym-page-section__top">
    <div class="col-md-6 ym-user-image" style="background-image:url('[[C4:graphic_upload]]');">
      <img class="hidden-md hidden-lg" src="[[C4:graphic_upload]]" alt="[[?xx::x[[C1:graphic_caption]]x::Personal Fundraising Page Photo::[[C1:graphic_caption]]]]">
      [[?xx::x[[C1:graphic_caption]]x::::
        <div class="caption">
          [[C1:graphic_caption]]
        </div>
      ]]
    </div>
    <div class="col-md-6 ym-progress ym-secondary-medium-color">
      <h2 class="ym-progress__title h4">
        Help me raise more life-saving donations
      </h2>
      <a class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S80:trID]]:form-id]]&amp;FR_ID=[[S80:trID]]&amp;PROXY_ID=[[S334:px]]&amp;PROXY_TYPE=20">
        Donate
      </a>
      <div class="ym-progress__thermometer">
        <div class="ym-progress__thermometer--fill" ng-style="{'width': personalProgress.percent + '%'}"></div>
      </div>
      <div class="ym-progress__stats">
        <div class="ym-progress__amount col-sm-6">
          <p>
            I've raised <strong>[[E130:"[[E48:[[S80:trID]]-[[S334:px]]:dollars]]" ".00" "" replaceall]]</strong>
          </p>
        </div>
        <div class="ym-progress__goal col-sm-6">
          <p>
            My goal is <strong>[[E130:"[[E48:[[S80:trID]]-[[S334:px]]:goal]]" ".00" "" replaceall]]</strong>
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="ym-progress__date" ng-if="eventDate != 'User Provided No Response'" ng-cloak>
          <p>
            My event date is <strong><span ng-bind-html="eventDate"></span></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__main">
    <div class="col-md-6 ym-story">
      <h3 class="ym-headline">
        My Story
      </h3>
      [[C6:fr_rich_text]]
    </div>
    <div class="col-md-6 ym-user-interactions">
      <div class="ym-badges" ng-if="prizes.length > 0">
        <h3 class="ym-headline">
          Check Out My Badges
        </h3>
        <div class="ym-badges__item" ng-repeat="prize in prizes" ng-cloak>
          <img class="img-responsive" ng-src="https://s3.amazonaws.com/aha-jumphoops-production/fy18/assets/badges/{{prize.id}}_delivered.png" alt="{{prize.label}}" />
          <div ng-bind-html="prize.label"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ym-page-section ym-page-section__list ym-accent-color">
    <div class="ym-donate-cta" ng-class="personalDonors.donors.length < 1 ? 'col-sm-12' : 'col-sm-6'">
      <h3 class="h5">
        Donate to [[E48:[[S80:trID]]-[[S334:px]]:cons.first_name]]
      </h3>
      <div ng-if="personalDonors.donors.length > 0" ng-cloak>
        <p>
          <strong>Add your name to the list</strong>
        </p>
      </div>
      <div ng-if="personalDonors.donors.length < 1" ng-cloak>
        <p>
          <strong>Be the first to donate</strong>
        </p>
      </div>
      <a class="btn btn-primary btn-lg" href="Donation2?df_id=[[E42:[[S80:trID]]:form-id]]&amp;FR_ID=[[S80:trID]]&amp;PROXY_ID=[[S334:px]]&amp;PROXY_TYPE=20">
        Donate
      </a>
    </div>
    <div class="ym-list" ng-class="personalDonors.donors.length < 1 ? 'hidden' : 'col-sm-6'">
      <h3 class="h5">
        Top Fundraisers
      </h3>
      <div class="ym-donor-list">
        <div class="ym-donor-list__row" ng-repeat="personalDonor in personalDonors.donors" ng-if="personalDonors.donors.length > 0" ng-cloak>
          <span class="ym-donor-list__row--name">{{personalDonor.name}}</span>
          <span class="ym-donor-list__row--amount">{{personalDonor.amountFormatted}}</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="hidden">
    <div class="js--personal-donors">
      [[C5:fr_status_2]]
    </div>
  </div>
</div>