<div cg-busy="emailPromises">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="visible-xs">
        <div class="btn-group ng-pc-nav-btn-group" uib-dropdown>
          <button type="button" class="btn btn-secondary form-control" uib-dropdown-toggle>
            <strong>{{messageTypeName}}</strong> <span class="caret"></span>
          </button>
          <ul class="list-unstyled dropdown-menu" uib-dropdown-menu>
            <li>
              <a ng-href="{{baseUrl}}#/email/compose">
                Compose
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/draft/list">
                <span class="badge">{{messageCounts.drafts}}</span>
                Drafts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/sentMessage/list">
                <span class="badge">{{messageCounts.sentMessages}}</span> 
                Sent Messages
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
                <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
                All Contacts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
                <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
                Never Emailed
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
                Needs Follow-Up
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
                Unthanked Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
                Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
                Non-Donors
              </a>
            </li>
            <li ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_teammates/list">
                <span class="badge">{{contactCounts.email_rpt_show_teammates}}</span>
                Teammates
              </a>
            </li>
            <li ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nonteammates/list">
                <span class="badge">{{contactCounts.email_rpt_show_nonteammates}}</span>
                Non-Teammates
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_captains/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_captains}}</span>
                School Team Captains
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
                School Participants
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Past School Participants
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hidden-xs">
        <a class="btn btn-secondary form-control" ng-href="{{baseUrl}}#/email/compose">
          <strong>Compose</strong>
        </a>
        <div class="list-group ng-pc-nav-list-group">
          <a class="list-group-item" ng-class="{'active': messageType == 'draft'}" ng-href="{{baseUrl}}#/email/message/draft/list">
            <span class="badge">{{messageCounts.drafts}}</span> 
            Drafts
          </a>
          <a class="list-group-item" ng-class="{'active': messageType == 'sentMessage'}" ng-href="{{baseUrl}}#/email/message/sentMessage/list">
            <span class="badge">{{messageCounts.sentMessages}}</span> 
            Sent Mail
          </a>
        </div>
        <div class="list-group ng-pc-nav-list-group">
          <h2 class="h5 list-group-item-heading">
            Contacts
          </h2>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
            <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
            All Contacts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
            <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
            Never Emailed
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
            Needs Follow-Up
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
            Unthanked Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
            Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
            Non-Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_teammates/list" ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_teammates}}</span>
            Teammates
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nonteammates/list" ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_nonteammates}}</span>
            Non-Teammates
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_captains/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_captains}}</span>
            School Team Captains
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
            School Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Past School Participants
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            <span ng-bind-html="messageTypeName"></span>
          </span>
        </div>
        <div class="panel-body" ng-if="emailMessages.totalNumber == 0">
          <div ng-if="messageType == 'draft'">
            You don't have any saved drafts.
          </div>
          <div ng-if="messageType == 'sentMessage'">
            You haven't sent any emails yet.
          </div>
        </div>
        <pc-email-message-list messages="emailMessages.messages" select-message="selectMessage" delete-message="deleteMessage" ng-if="emailMessages.totalNumber > 0"></pc-email-message-list>
        <div class="panel-footer" ng-if="emailMessages.totalNumber > 10">
          <div class="ym-list-pagination">
            <nav>
              <ul class="list-unstyled" uib-pagination items-per-page="10" total-items="emailMessages.totalNumber" max-size="10" ng-model="emailMessages.page" ng-change="getEmailMessages()"></ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>