<div cg-busy="emailPromises">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="visible-xs">
        <div class="btn-group ng-pc-nav-btn-group" uib-dropdown>
          <button type="button" class="btn btn-secondary form-control" uib-dropdown-toggle>
            <strong>{{filterName}}</strong> <span class="caret"></span>
          </button>
          <ul class="list-unstyled dropdown-menu" uib-dropdown-menu>
            <li>
              <a ng-href="{{baseUrl}}#/email/compose">
                Compose
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/draft/list">
                <span class="badge">{{messageCounts.drafts}}</span>
                Drafts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/sentMessage/list">
                <span class="badge">{{messageCounts.sentMessages}}</span> 
                Sent Messages
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
                <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
                All Contacts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
                <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
                Never Emailed
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
                Needs Follow-Up
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
                Unthanked Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
                Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
                Non-Donors
              </a>
            </li>
            <li ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_teammates/list">
                <span class="badge">{{contactCounts.email_rpt_show_teammates}}</span>
                Teammates
              </a>
            </li>
            <li ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nonteammates/list">
                <span class="badge">{{contactCounts.email_rpt_show_nonteammates}}</span>
                Non-Teammates
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_captains/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_captains}}</span>
                School Team Captains
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
                School Participants
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Past School Participants
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hidden-xs">
        <a class="btn btn-secondary form-control" ng-href="{{baseUrl}}#/email/compose">
          <strong>Compose</strong>
        </a>
        <div class="list-group ng-pc-nav-list-group">
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/draft/list">
            <span class="badge">{{messageCounts.drafts}}</span> 
            Drafts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/sentMessage/list">
            <span class="badge">{{messageCounts.sentMessages}}</span> 
            Sent Mail
          </a>
        </div>
        <div class="list-group ng-pc-nav-list-group">
          <h2 class="h5 list-group-item-heading">
            Contacts
          </h2>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_all'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
            <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
            All Contacts
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_never_emailed'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
            <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
            Never Emailed
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_nondonors_followup'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
            Needs Follow-Up
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_unthanked_donors'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
            Unthanked Donors
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_donors'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
            Donors
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_nondonors'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
            Non-Donors
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_teammates'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_teammates/list" ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_teammates}}</span>
            Teammates
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_nonteammates'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nonteammates/list" ng-if="participantRegistration.aTeamCaptain == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_nonteammates}}</span>
            Non-Teammates
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_company_coordinator_captains'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_captains/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_captains}}</span>
            School Team Captains
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_rpt_show_company_coordinator_participants'}" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
            School Participants
          </a>
          <a class="list-group-item" ng-class="{'active': filter == 'email_custom_rpt_show_past_company_coordinator_participants'}" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Past School Participants
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div uib-alert class="alert-success" role="alert" ng-if="addContactSuccess">
        {{addContactSuccess}}
      </div>
      <div uib-alert class="alert-success" role="alert" ng-if="importContactsSuccess">
        Contacts imported successfully.
      </div>
      <div uib-alert class="alert-success" role="alert" ng-if="editContactSuccess">
        {{editContactSuccess}}
      </div>
      <div uib-alert class="alert-danger" role="alert" ng-if="deleteContactError">
        {{deleteContactError}}
      </div>
      <div uib-alert class="alert-success" role="alert" ng-if="deleteContactSuccess">
        {{deleteContactSuccess}}
      </div>
      <div class="contacts-list__actions clearfix">
        <div class="contacts-list__actions-selected">
          <button class="btn btn-primary" ng-click="emailSelectedContacts()">
            <strong>Email Selected</strong>
          </button>
        </div>
        <div class="contacts-list__actions-manage">
          <button class="btn btn-toggle" ng-click="addContact()">
            Add<span class="hidden-xs"> Contact</span>
          </button> 
          <button class="btn btn-toggle" ng-click="importContacts()">
            Import<span class="hidden-xs"> Contacts</span>
          </button>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div ng-if="!addressBookContacts.totalNumber || addressBookContacts.totalNumber == 0" ng-cloak>
            <span class="panel-title">
              {{filterName}}
            </span>
          </div>
          <div class="checkbox" custom-checkbox ng-class="{'checked': addressBookContacts.allContactsSelected}" ng-if="addressBookContacts.totalNumber && addressBookContacts.totalNumber != 0" ng-cloak>
            <label for="contact_select_all">
              <input id="contact_select_all" type="checkbox" ng-checked="addressBookContacts.allContactsSelected" ng-click="toggleAllContacts()">
              <span class="panel-title">
                {{filterName}}
              </span>
            </label>
          </div>
          <!-- TODO: search -->
        </div>
        <div class="panel-body" ng-if="!addressBookContacts.contacts" ng-cloak>
          Loading ...
        </div>
        <div class="panel-body" ng-if="contactCounts.email_rpt_show_all == '0'" ng-cloak>
          You haven't added any contacts yet.
        </div>
        <div class="panel-body" ng-if="contactCounts.email_rpt_show_all != '0' && addressBookContacts.totalNumber == 0" ng-cloak>
          No contacts to display.
        </div>
        <pc-contact-list contacts="addressBookContacts.contacts" toggle-contact="toggleContact" select-contact="selectContact" delete-contact="deleteContact" ng-if="addressBookContacts.totalNumber > 0"></pc-contact-list>
        <div class="panel-footer" ng-if="filter != 'email_custom_rpt_show_past_company_coordinator_participants' && addressBookContacts.totalNumber > 10">
          <div class="ym-list-pagination">
            <nav>
              <ul class="list-unstyled" uib-pagination items-per-page="10" total-items="addressBookContacts.totalNumber" max-size="5" ng-model="addressBookContacts.page" ng-change="getContacts()"></ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>