html {
  box-sizing: border-box;
}

* {
  &, 
  &:before, 
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

a {
  &, 
  &:link, 
  &:visited, 
  &:hover, 
  &:focus {
    font-weight: 600;
    text-decoration: underline;
  }
}