<div class="donation-form-container">
  <div class="ym-donation-headlines">
    [[?xx::x[[S1:user_name]]x::::
      <p>You are currently logged in as [[S1:first_name]] [[S1:last_name]]. <a href="UserLogin?logout=t&NEXTURL=[[T1:[[S8]]]]">Log out if you are not [[S1:first_name]] [[S1:last_name]]</a>.
    ]]
    <h2 class="h5">Your Donation to:
    [[?x20x::x[[S334:PROXY_TYPE]]x::
      [[S120:dc:participantName]]
    ::
      [[?x22x::x[[S334:PROXY_TYPE]]x::
        [[S120:dc:teamName]]
      ::
        [[S120:dc:eventName]]
      ]]
    ]]
    </h2>
    <h2 class="h4">Your Gift</h2>
  </div>
  <div class="alert alert-danger" role="alert" ng-if="paymentInfoErrors.errors.length > 0" ng-cloak>
    [[M0:friendraiser:generic_error]]
      <ul>
        <li ng-repeat="paymentInfoError in paymentInfoErrors.errors">
          <span ng-bind-html="paymentInfoError.text"></span>
        </li>
      </ul>
  </div>
  <div class="event-secondary-light ym-donation-levels">
    <div class="ym-donation-levels__type" role="list" aria-label="Choose your gift type">
      <button role="listitem" type="button" class="btn btn-toggle btn-lg ym-donation-levels__type--onetime" ng-class="{'active': donationInfo.giftType == 'onetime'}" ng-click="giftType('onetime')">One-time Gift</button>
      <button role="listitem" type="button" class="btn btn-toggle btn-lg ym-donation-levels__type--monthly" ng-class="{'active': donationInfo.giftType == 'monthly'}" ng-click="giftType('monthly');">Installment Gift</button>
    </div>
    <hr>
    <div class="ym-donation-levels__levels" role="list" aria-label="Choose Your Donation Amount">
      <div role="listitem" class="ym-donation-levels__amount" ng-repeat="donationLevel in donationLevels" ng-class="{'active': donationInfo.levelChecked == donationLevel.classLevel}" aria-describedby="message-level-{{donationLevel.levelId}}">
        <button type="button" class="btn btn-toggle btn-lg {{donationLevel.classLevel}}" ng-class="{'active': donationInfo.levelChecked == donationLevel.classLevel}" ng-if="donationLevel.userSpecified == 'false'" ng-click="selectLevel('level', donationLevel.levelId, donationLevel.amount);">
          {{donationLevel.amount}}
        </button>
        <label ng-if="donationLevel.userSpecified == 'true'" class="sr-only" for="other_amount">Other Amount</label>
        <span ng-if="donationLevel.userSpecified == 'true'" class="ym-donation-levels__dollar-sign">$</span>
        <input type="text" name="otherAmt" class="btn btn-toggle btn-enter {{donationLevel.classLevel}} other-amount" ng-class="{'active': donationInfo.levelChecked == donationLevel.classLevel}" title="other_amount" ng-if="donationLevel.userSpecified == 'true'" ng-change="enterAmount(otherAmt)" ng-keyup="selectLevel('other', donationLevel.levelId)" ng-model="otherAmt" ng-click="selectLevel('other', donationLevel.levelId)" placeholder="Other" ng-value="donationInfo.otherAmt" aria-describedby="message-level-{{donationLevel.levelId}}">
      </div>
    </div>
    <div class="help-block ng-hide" role="alert" ng-show="ProcessForm.amount.$error.amount" aria-hidden="true">Donations of all amounts are greatly appreciated.<br>Online donations have a $10 minimum</div>
    <div class="ym-donation-levels__message level{{donationLevel.levelId}}" id="message-level-{{donationLevel.levelId}}" ng-repeat="donationLevel in donationLevels" ng-class="{'active': donationInfo.levelChecked == donationLevel.classLevel}">
      <p>
        {{donationLevel.levelLabel}}
      </p>
    </div>
    <div class="ym-donation-levels__message--installment level--installment"  ng-class="{'hidden': donationInfo.giftType != 'monthly'}">
      <p>
        An installment gift allows you flexibility to give at a higher level and pay over time.
      </p>
    </div>
  </div>
</div>
