<div class="event-secondary-light ym-donation-levels">
  <div class="ym-donation-levels__type">
    <a class="btn-toggle btn-toggle--selected ym-donation-levels__type--onetime" ng-click="giftType('onetime')">One Time Gift</a>
    <a class="btn-toggle ym-donation-levels__type--monthly" ng-click="giftType('monthly');">Monthly Gift</a>
  </div>
  <hr />
  <div class="ym-donation-levels__amounts" ng-repeat="donationLevel in donationLevels">
    <a class="btn-toggle {{donationLevel.classLevel}}" ng-class="{'btn-toggle--selected': donationLevel.levelChecked == true}" ng-if="donationLevel.userSpecified == 'false'" ng-click="selectLevel(donationLevel.levelId);">
      {{donationLevel.amount}}
    </a>
    <input type="text" class="btn-toggle btn-enter" ng-if="donationLevel.userSpecified == 'true'" placeholder="Other" ng-keyup="enterAmount();">
  </div>
  <div class="ym-donation-levels__message level{{donationLevel.levelId}}" ng-repeat="donationLevel in donationLevels" ng-class="{'hidden': donationLevel.levelChecked != true}">
    <p>
      {{donationLevel.levelLabel}}
    </p>
  </div>
</div>