<ul class="list-unstyled list-group">
  <div class="hidden"> test [[S334:pagename]]</div>
  <li class="list-group-item" ng-repeat="contact in contacts">
    <div class="clearfix">
      <div class="pull-left">
        <div class="checkbox" custom-checkbox ng-class="{'checked': contact.selected}">
          <label>
            <input type="checkbox" value="{{contact.id}}" ng-checked="contact.selected" ng-click="toggleContact(contact)"> 
            <a ng-click="selectContact(contact)" ng-if="selectContact && contact.id">
              <span ng-if="contact.firstName">
                {{contact.firstName}}{{contact.lastName ? ' ' + contact.lastName : ''}}{{contact.email ? ' &lt;' + contact.email + '&gt;' : ''}}
              </span>
              <span ng-if="!contact.firstName">
                &lt;{{contact.email}}&gt;
              </span>
            </a>
            <span ng-if="!selectContact || !contact.id">
              <span ng-if="contact.firstName">
                {{contact.firstName}}{{contact.lastName ? ' ' + contact.lastName : ''}}{{contact.email ? ' &lt;' + contact.email + '&gt;' : ''}}
              </span>
              <span ng-if="!contact.firstName">
                &lt;{{contact.email}}&gt;
              </span>
            </span>
          </label>
        </div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-link" ng-click="deleteContact(contact.id)" ng-if="contact.id">
          <span class="fa fa-trash-o"><span class="sr-only">Delete</span></span>
        </button>
      </div>
    </div>
  </li>
</ul>